[2020-08-24 18:30] keflavich commented on #1087
@amanpkaur that results in some sort of generic error message:
[code]

See if you can get this search to work through the web interface; this looks like a real bug.

[2020-08-24 18:33] amanpkaur commented on #1087
Yep, it returns the error message as implemented in the html file

[2020-08-24 18:35] keflavich commented on #1087
Ah, ok, so that's an upstream issue =(

[2020-08-24 19:02] amanpkaur commented on #1087
What should I do in this regard?

[2020-08-24 19:13] keflavich commented on #1087
Actually, I think there is no upstream issue here.  You've just queried a table that has no results.  The error message is not helpful, but there are no sources.  Try: `heasarc.query_region(coords, mission='swiftmastr', radius=50*u.arcmin)` instead.

[2020-08-24 19:23] amanpkaur commented on #1087
It seemed that I had to add "u" to the `radius` keyword for the search to work. It works for now for `swiftmastr` catalog, but fails for `swiftxrlog` and `swiftuvlog'. These are present in the mission list, but I am not sure what is happening. I can work around the master catalog for now, but it would be good to know what is the issue with these two tables. Thanks a lot for your prompt responses a

[2020-08-24 19:26] andamian commented on #1792
@mjastro & @privong - the issue is still open with ALMA TAP services. We've logged a ticket with them from the beginning. Since this is not a problem with `astroquery.alma` I'm going to close the ticket but I suggest you open your own tickets with the ALMA help desk (https://help.almascience.org). The problem is that their TAP service does not work properly with spatial constraints. This can be ea

[2020-08-25 01:12] heh15 opened #1806 "Alma.query_object finds irrelevant observations"
I tried to search for ALMA observations for some LIRGs and ULIRGs using `Alma.query_object`.  However, it seems to return more projects than the online search results. I tested it with NGC 2623 with the following command:
[code]

It returns 288 projects, with many projects (focused on high-z galaxies) clearly not including NGC 2623. However, when I search online, I only found 3 projects. My `astro

[2020-08-25 14:19] privong commented on #1792
@andamian Thanks for the update. What is the current status of your ALMA helpdesk ticket? Have they indicated they're working on it and/or provided a timeline?

[2020-08-25 16:40] keflavich commented on #1806
cc @andamian

[2020-08-25 17:17] privong commented on #1792
@andamian I've pinged some of the NA ALMA staff about this issue. However I and another NA ALMA staff member just tried to locate your ticket, but we were unable to find it. Can you please confirm that a ticket was submitted and send me the ticket number? gprivon [at] nrao
With that info I can follow up on it internally.

[2020-08-25 19:57] privong commented on #1792
@andamian Earlier today I had put some comments/questions here but deleted them to avoid confusion to anyone reading this later. I'm at the NAASC and have followed up on this with local (Charlottesville) folks.

[2020-08-26 12:43] nabobalis opened #1807 "Horizons session management"
In sunpy we have a function that runs the following (cutdown example):
[code]
and we see the following warnings in our unit tests:
[code]

Adding `query._session.close()` removes these warnings but it feels like a hack to do it this way. Is there a better way to manage the session and have it autoclose?

[2020-08-26 19:23] bsipocz opened #1808 "Add functionality to query data hasn't used for publication (or add docs about it)"
E.g. the ESO archive lists related publications for observing programmes, add a query to the docs to list on those

[2020-08-26 19:25] bsipocz commented on #1808
Do it for multiple archives, or even maybe do a meta query that does it for multiple archives.

E.g. @ceb8 - is there an easy way to dig up unpublished HST data from MAST?

[2020-09-01 14:29] bsipocz opened #1811 "Add access to MPC checker"
https://www.minorplanetcenter.net/cgi-bin/checkmp.cgi

what do you think @mommermi? I'm at a hackweek atm where having this functionality in astroquery would be so powerful

[2020-09-01 19:05] mommermi commented on #1811
We can put this on the todo list, but we already have [`astroquery.imcce.skybot`](https://astroquery.readthedocs.io/en/latest/imcce/imcce.html), which does the same thing...

[2020-09-01 20:25] bsipocz commented on #1811
ah, ok, I didn't know about that. Thanks!

[2020-09-02 01:27] abulatek opened #1812 "astroquery.Vizier query yields EOF error for the VPHAS (large) catalog"
I'm trying to access the [VPHAS catalog from VizieR](https://vizier.u-strasbg.fr/viz-bin/VizieR?-source=II/341) using astroquery, but the commands I have used to access other catalogs are not working for the VPHAS catalog (319,126,837 rows in total). The command runs successfully when I set `row_limit=50`. Here's the command I'm using:

[code]

This yields an "EOFError: Ran out of input" immediate

[2020-09-02 01:35] keflavich commented on #1812
This is a question in part to the CDS team (@aoberto, @gilleslaindais) - what should we expect when querying huge tables like this?

[2020-09-02 01:42] bsipocz commented on #1812
@abulatek - The traceback is suspicious to me, could you try to clean the cache first (from~/.astropy/cache/astroquery/Vizier/)? Or even use `cache=False`

``vphas_coords = Vizier(columns=['RAJ2000','DEJ2000'], row_limit=319126837).query_constraints(catalog='II/341/vphasp', cache=False)[0]``

[2020-09-02 03:54] abulatek commented on #1812
Using `cache=False` seemed to work—thank you for the suggestion! It did take a while to run, but it succeeded eventually.

[2020-09-02 05:08] andamian commented on #1792
@privong - sorry for the delay, I just returned from vacation. The ticket in question is https://ictjira.alma.cl/browse/ICT-17281.

[2020-09-02 05:28] bsipocz commented on #1812
@abulatek - I'm closing this then with the assumption of having a corrupt cache, but please do reopen if you see this or anything similar again.

[2020-09-02 05:28] #1812 closed

[2020-09-02 06:43] gilleslandais commented on #1812
Hi ..
to query large tables in VizieR without any constraints will throw a timeout. VizieR has indeed fixed timeout depending of the constraints set on queries. The limit in the VizieR common interface (used in astropy) is about few minutes.
The current position of the CDS to get a full catalogue consists to ask the CDS (cds-question@astro.unistra.fr) and to get URLs to get data by parts.

[2020-09-02 13:40] privong commented on #1792
@andamian No worries. Thanks for following up. I'm "watching" the ticket in JIRA, but not sure there's much I can do.

[2020-09-03 16:43] carlos-contreras-velasquez opened #1815 "noirlab API outdated?"
When I run this example:
https://astroquery.readthedocs.io/en/latest/noirlab/noirlab.html

I get this error message:

[code]

It looks like noirlab API needs some update.

[2020-09-08 18:07] nbrunett opened #1816 "em_resolution improperly converted from kHz to m for ALMA"
Should `_gen_spec_res_sql` in `astroquery/astroquery/alma/tapsql.py` also require a "center frequency" to properly convert the spectral resolution from kHz to meters? Following the derivation [here](https://pilasers.com/pages/how-to-convert-frequency-bandwidth-to-wavelength-bandwidth) it looks like you need the frequency at the center of the bandwidth, or alternatively the frequencies at the edges

[2020-09-10 09:23] saimn opened #1818 "ESO: decompressing .fits.Z files is broken"
Folowing #1613, and while looking at reading `.fits.Z` with astropy (astropy/astropy#10714) I was curious to see how astroquery managed those files.

-   Before #1613 it was done by gzip which knows how to decompress .Z files.
-   But now, Python's gzip cannot decompress .Z files so this is broken. Testing with a file from #1580 raises a `BadGzipFile: Not a gzipped file (b'\x1f\x9d') exception`.

[2020-09-10 14:39] keflavich commented on #1816
@andamian I believe @nbrunett is correct; can you fix this?

[2020-09-10 23:00] andamian commented on #1816
Looking into it @nbrunett

[2020-09-11 18:26] andamian opened #1819 "Switch alma to new download service"
Rework alma to use the new DataLink and SODA services. This allows drilling down into the content of tarballs to download individual files.

[2020-09-14 22:33] keflavich opened #1821 "Frontpage content needs cleanup"
* looks like the paper link is markdown instead of rest?
* we should really explain to users what "continuous deployment" means, and what version of astroquery they should have

this is prompted by several consecutive reports on slack that were all solved by "upgrade astroquery" - we should have the docs more clearly spell this out.

[2020-09-14 22:55] bsipocz commented on #1821
💯

Though I'm afraid this would not have helped in the last case where astroquery was almost 2 year old which I suspect might already be incompatible with the current upstream server.

[2020-09-15 19:01] adeleplunkett commented on #1806
I think something similar might happen with the example of Alma.query_region, from https://astroquery.readthedocs.io/en/latest/alma/alma.html.  It takes a very long time.  Can you please check if this works?  My astroquery version is 0.4.2.dev0.

`>>> from astropy import coordinates

...                                unit=(u.hour, u.deg))

[2020-09-16 06:58] bsipocz commented on #1807
cc @mommermi

[2020-09-18 11:21] odysseus9672 opened #1822 "Tap failing for NOAO Legacy Survey"
I'm trying to do <A HREF="https://datalab.noao.edu/decals/dataAccess.php">TAP access to the Legacy Survey</A>. I'm following the <A HREF="https://astroquery.readthedocs.io/en/latest/utils/tap.html">TAP/TAP+</A> to develop the usage. I run the following:
[code]
and I get the error output:
[code]
Since this is a TAP query, I can't figure out why the code is running into a line in `tableSaxParser.py`

[2020-09-21 04:42] andamian opened #1824 "Drop support for Python 3.5"
Both `astropy` and `astroquery` are out of 3.5 so I don't see a reason to continue in supporting it.

[2020-09-21 16:06] bsipocz commented on #1824
Certainly code clear up is a bit overdue, but full agree that nothing new should support <3.6

[2020-09-21 16:41] andamian commented on #1824
Wrong project. Sorry.

[2020-09-21 16:41] #1824 closed

[2020-09-21 17:10] bsipocz commented on #1824
no worries. We could have also transferred the issue :)

[2020-09-22 13:06] gilleslandais opened #1826 "VizieR query_string failure"
(coming from a VizieR user)
exception is raised when query_string method is applied on a Vizier object:

eg: the following code works:
Vizier.query_object("WASP-1",radius=6*u.arcsec, catalog='WISE')

eg: the following code fails:
v = Vizier(columns=['W1mag','e_W1mag', 'W2mag', 'e_W2mag'])
v.query_object("WASP-1",radius=6*u.arcsec, catalog='WISE')

The second URL executed in VizieR returns a valid

[2020-09-22 20:52] mommermi commented on #1807
Weird. I cannot reproduce this behavior using something like

    from astroquery.jplhorizons import Horizons
    query = Horizons('Ceres')
    result = query.vectors()

under Python 3.8.5. Could you provide a more complete example based on your unit tests (or can you point me somewhere)?

[2020-09-22 20:54] mommermi commented on #1795
This functionality was promised as part of [sbpy](http://sbpy.org), but will be implemented in astroquery. Unfortunately, I can't give you a timeline - but it will happen!

[2020-09-22 23:43] bsipocz commented on #1795
Thanks @mommermi. Timelines are very difficult these days, but knowing that it's coming is superb!

[2020-09-22 23:46] bsipocz commented on #1807
@nabobalis - These are wild guesses, but what is the version of astroquery for the tests where you see these? Is that latest deployed or latest tagged? What about astropy? is this with the dev, or a released one from the 4.0.x series?

[2020-09-23 08:14] nabobalis commented on #1807
All good questions, I will get back with an answer over the next few days. Thanks

[2020-09-25 19:45] EfremBraun commented on #1637
I'd like to give this a bump, as the bug renders HEASARC Queries useless. Most of the examples given on https://astroquery.readthedocs.io/en/latest/heasarc/heasarc.html no longer work.

[2020-09-26 14:15] rhuang-astro commented on #1637
I have exactly the same problem with @EfremBraun

[2020-09-26 23:07] keflavich commented on #1637
This problem is deeper than identified by @pllim, unfortunately.  It looks like the upstream API has changed; these queries are returning things like:
[code]
so either the queries were blank and the error message is misleading, or the query was poorly specified.  I'm investigating further.

[2020-09-26 23:16] keflavich commented on #1637
@EfremBraun your problem is that `rospublic` no longer exists.  I'm not sure what it was originally pointing to, but maybe `rospspc`.  However, correcting this problem led to another: the returned catalog appears malformatted.  Errors like this:
`ValueError: Invalid format for column 'COUNT_RATE': could not display values in this column using this format (Unable to parse format string "{:10.4f}" f

[2020-09-26 23:24] keflavich commented on #1637
@caseyjlaw your error is that there is no FIRST data at dec=-90, which I suspect you knew but you were using it as a MWE?  This query works for me:
[code]
but I'll add a better error message

[2020-09-28 15:30] nabobalis commented on #1807
Doing this again I can not create a simple example that errors. It only errors within the sunpy test suite:

[code]
The code this function calls:
https://github.com/sunpy/sunpy/blob/master/sunpy/coordinates/ephemeris.py#L200
Which I have a cut down version here:
[code]
This does not raise the error that I get in the test suite.

[2020-09-28 20:13] bsipocz commented on #1807
For astroquery, is it picking up the deployed dev version, or the tagged version? If you have a test header with the version, it would be extremely useful to see that. Do you have a link to the failing build?

[2020-09-28 20:16] nabobalis commented on #1807
I will see if I can dig up a build. But I can replicate it locally when I remove the session close line in sunpy.

I am using astroquery==0.4.1 locally and in the CI.

[2020-09-28 20:58] bsipocz commented on #1807
E.g what https://github.com/astropy/pytest-astropy-header returns :)

As you can reproduce it locally, would you mind trying with the versions `pip install --pre` gives you? It should be https://pypi.org/project/astroquery/0.4.2.dev6366/ for astroquery and 4.1rc2 for astropy.

[2020-09-28 21:04] nabobalis commented on #1807
Stable packages
[code]

Pre packages:
Successfully installed astropy-4.1rc2 astroquery-0.4.2.dev0 mimeparse-0.1.3 pyvo-1.1

[code]

[2020-09-28 23:30] andamian opened #1830 "Improve the robustness of astroquery requests"
I'm proposing a few improvements to deal with networking errors in CADC and ALMA and  possibly `astroquery` in general.

- Re-try mechanism for transient errors. Some servers might respond with an Http 503 error when overloaded or temporarily offline. The library should retry when encounters these errors. 503 even has a mechanism for this where the server could send a `Retry-After` field in the re

[2020-09-28 23:58] keflavich commented on #1830
We do have the middle one:
https://github.com/astropy/astroquery/blob/c28ff416fbcbc9b12c5e9a082b48bfcc6186356a/astroquery/query.py#L307

[2020-09-29 00:16] keflavich commented on #1830
We have a really simplistic retry implemented in NRAO, but I think we could use that in `astroquery.query` too.

The "is it up" checks would be *great*, I didn't know any of those exist.

[2020-09-29 07:12] bsipocz commented on #1830
@andamian  - these all sounds great to me. I agree with @keflavich that the second in the list should be covered, but improvements to the caching is a regularly raised item.

[2020-09-30 00:08] rhuang-astro opened #1831 "Vizier catalog description"
Hi,

In the tutorial, the description of the catalog can be printed after find_catalogs.
[code]
But I query the region with Vizier, it returns the catalog with name and table, without description.
So how can I get such description if I have catalogs name (e.g I/252/out) already within astroquery.

[2020-10-03 00:26] esabol commented on #1637
@EfremBraun: The HEASARC catalog `rospublic` has been deprecated for 16 years. :) We (the HEASARC) recently switched to a new database system, and it's not in the new database. You really should be using the HEASARC catalog `rosmaster` instead.

[2020-10-03 00:57] rhuang-astro commented on #1637
Maybe someone should modify the examples given on https://astroquery.readthedocs.io/en/latest/heasarc/heasarc.html.
Most of them are rospublic.

[2020-10-05 13:22] EfremBraun commented on #1637
That indeed fixes it. I'll fix the examples in the docs now.

[2020-10-05 17:39] bsipocz commented on #1637
I believe all the issues here have been addressed and fixed therefore I'm closing the issue. If you find it otherwise please reopen.

[2020-10-05 17:39] #1637 closed

[2020-10-05 20:25] bsipocz commented on #1826
@gilleslandais - What versions do you use? Your example code above works for me:

[code]

[2020-10-06 07:27] gilleslandais commented on #1826
I note the same issue in  Python 3.6.9 and Python.3.8.2 with astroquery (0.4.1).
I suspect that the cache hides the error?

from astroquery.vizier import Vizier
import astropy.units as u
Vizier.query_object("WASP-1",radius=6*u.arcsec, catalog='WISE',cache=False)
v = Vizier(columns=['W1mag','e_W1mag', 'W2mag', 'e_W2mag'])
v.query_object("WASP-1",radius=6*u.arcsec, catalog='WISE', cache=False)
 ....

[2020-10-07 14:37] #1675 closed

[2020-10-07 14:37] #1609 closed

[2020-10-09 11:43] prajwel opened #1836 "sha.query raises ValueError"
Hi,

While using Astroquery, I came across the following error. Other coordinates that I have tried seems to work without any problem.

[code]

[2020-10-09 14:47] bsipocz commented on #1836
Thanks for the report.

 it seems we have an empty return table which has zero number of columns and the parser cannot yet handle that.

[2020-10-09 15:02] bsipocz commented on #1836
I'm leaving it as `package-novice` issue, with the clear task to add a check for empty return in the following file, around this location. Have a `NoResultsWarning` insteand and grafully return an empy table. Similar warning and empty table return was done in https://github.com/astropy/astroquery/pull/1829/ .

:

[code]

[2020-10-09 15:06] bsipocz commented on #1826
clearing the cache is often a solution so I leave this open as a documentation issue, but I wonder where we could better document it.

@gilleslandais - Would there be a place somewhere in the documentation where you would have found it if this info were there?

[2020-10-09 18:06] nandita11 commented on #1836
Hello @bsipocz . I am an outreachy applicant. Can I take this issue up? Kindly do let me some steps that I need to follow after this(I have cloned the repo and set upstream)

[2020-10-09 18:45] bsipocz commented on #1836
Certainly, please go ahead.

[2020-10-09 20:44] bsipocz opened #1838 "Gracefully return a NoResultsWarning and empty table"
We recently saw a few regressions that result from not properly handling empty query returns. I would be useful to go through the modules and double check that the result parsing methods are not choking on empty results.

Recent examples #1836 and #1829

[2020-10-10 08:26] esabol opened #1840 "Replace rospublic in astroquery/heasarc/tests/test_heasarc_remote.py"
`astroquery/heasarc/tests/test_heasarc_remote.py` has multiple references to `rospublic`. This is no longer a valid HEASARC table after having been deprecated 16 years ago, so all these tests will fail. Replace with `rosmaster` or some other table. The number of rows in the results may need to updated to reflect the query results of the new test table.

[2020-10-10 14:15] damivik commented on #1217
Hi @bsipocz
I'm an outreachy applicant. Can I attempt this issue?

[2020-10-11 01:48] keflavich commented on #1840
Thanks @esabol.  A PR to fix this would be welcome.  I've labeled this issue as good for a package novice, too.

[2020-10-11 09:29] ghost opened #1841 "STOP_TIME -> rename to DATE_END?"
TODO in astroquery/astroquery/eso/tests/data/vvv_sgra_form.html (25)

[code]

[2020-10-11 09:44] damivik opened #1842 "Document FermiLATClass attributes TODO in astroquery/fermi/core.py : 20"

[2020-10-11 09:58] ghost opened #1843 "Gallery example7: fix deprecations, KeyError, and address todo"
Edit:

- The example raises a deprecation warning:

It raises a KeyError:

[code]

And contains a TODO item (which I think should just be deleted, as it's an example and not a fully-fledged pipeline piece):

TODO in astroquery/docs/gallery-examples/example7_alma.py (152)
[code]

[2020-10-11 10:00] damivik opened #1844 "Insert link to an actual catalog. TODO in astroquery/docs/astrometry_net/astrometry_net.rst:54"

[2020-10-11 10:04] ghost opened #1845 "Explain how to set config item for api key or how to get it into keyring"
TODO in astroquery/docs/astrometry_net/astrometry_net.rst (21)
[code]

[2020-10-11 10:11] ghost opened #1846 "Include a parallel_map function in astroquery.utils"
TODO in astroquery/docs/api.rst (231)
[code]

[2020-10-11 10:35] damivik opened #1847 "Document GamaClass. References TODO in astroquery/astroquery/gama/core.py:15"

[2020-10-11 10:37] damivik opened #1848 "Document GetFermilatDatafile. Reference TODO in astroquery/astroquery/fermi/core.py:121"

[2020-10-11 10:40] damivik opened #1849 "Fail with useful failure messages on genuine failures. Reference to TODO in astroquery/fermi/core.pyGetFermilatDatafile:122"

[2020-10-12 01:58] ceb8 commented on #1797
This was an upstream issue with the database that has now been fixed. So I'm going to close the issue, but please let us know if you see this again @gbrammer. Thanks!

[2020-10-12 04:21] masolimano commented on #1580
Hello there, I think I'm having a related issue. I am trying to retrieve the following files:
[code]

using the command `eso.retrieve_data(dpid_list, unzip=False)`. But I get the following `TypeError`:

[code]
I'm using astroquery version 0.4.1.

Any workaround?

[2020-10-12 06:49] gilleslandais commented on #1826
and what about the  initial error ? By removing the cache, can you reproduce the problem?

[2020-10-12 13:03] daisycodes commented on #1840
Hello, as my first contribution, I would like to work on this issue of no one else is working on it.

[2020-10-12 13:08] ceb8 opened #1851 "Readthedocs build failing as of September"
The readthedocs build list shows failures for since 1 month, 3 weeks before 10/12/20.

The error shown is `ModuleNotFoundError: No module named 'sphinx_astropy'`

[2020-10-12 17:05] ceb8 commented on #1150
@pllim There is now an option to download a single file by URI, which allows the user to specify the output location directly. See PR https://github.com/astropy/astroquery/pull/1825. I can't direct you to the docs, because they aren't building at the moment, but I am working on that.

[2020-10-12 17:09] pllim commented on #1150
Thanks for the update, @ceb8 ! When will this be on PyPI (whether as `--pre` or proper release)?

[2020-10-12 17:11] ceb8 commented on #1150
I believe it's on Pypi as `--pre` right now, it's only the doc builds that are failing not the pypi ones.

[2020-10-12 17:23] pllim commented on #1150
Okay. I thought deploy won't happen unless CI passes? But maybe my memory is outdated. Thanks!

[2020-10-12 17:23] #1150 closed

[2020-10-12 17:33] ceb8 commented on #1150
@pllim The CI is passing fine, it's at readthedocs that the failure is happening, which is why it gets deployed to Pypi ok (and also probably why we didn't notice right away).

[2020-10-12 17:51] ceb8 commented on #1142
Hi @Mayankattifr, the columns returned through astroquery are all the columns available through that particular API call.

[2020-10-12 17:51] #1142 closed

[2020-10-12 17:53] ceb8 commented on #1755
@ccossou This seems to be a result of a hiccup in your internet connection, do you still get this error? I was able to download the curl file just now when I tried, so please let me know if you are still seeing the problem behavior.

[2020-10-12 18:13] ceb8 commented on #676
`UkidssClass` is a child class of `BaseWFAUClass`, which is where the login occurs.

Many other modules such as nrao, and cosmosim use the keyring and can be used as a guide.

[2020-10-12 18:16] ceb8 commented on #556
You can get HLA data through the MAST module. Set `obs_collection="HLA"` in a criteria query.

[2020-10-12 18:18] bsipocz commented on #556
Is this a doc issue then to add a HLA example to e.g. the mast or esasky doc?

[2020-10-12 18:20] ceb8 commented on #556
It was originally raised in 2015, which was before the MAST module existed, I don't know about ESASky. So it might just be deprecated.

[2020-10-12 18:31] bsipocz commented on #556
oh, fair enough, I didn't look at the date :) Let's close it then.

[2020-10-12 18:31] #556 closed

[2020-10-12 19:21] bsipocz commented on #1851
RTD has been fixed by  https://github.com/astropy/astroquery/commit/37997088f60582aa3f980b0a0b91802cee5cbc5d

[2020-10-12 19:21] #1851 closed

[2020-10-12 19:22] bsipocz commented on #1851
Thanks for spotting, this slipped through when #1805 got merged

[2020-10-12 20:42] bsipocz commented on #1826
I couldn't reproduce the initial problem, my working hypothesis that you had something in your cache that caused the issue in the first place.

[2020-10-12 21:51] bsipocz commented on #1840
Since CI doesn't run the remote tests, you can double check whether things are working in your PR locally with:

`python setup.py test -P heasarc -R`

Which will run all tests, including remotes for the heasarc module

[2020-10-13 05:32] daisycodes commented on #1840
Hi @bsipocz , I tried the above command without my change and I get this

[code]

[2020-10-13 06:09] bsipocz commented on #1840
There is a typo in the name of the module, it should spell heasarc (it stands for High Energy Astrophysics Science Archive Research Center)

[2020-10-13 08:19] daisycodes commented on #1840
Thanks @bsipocz . Works now but there are some failed tests. I'm posting the terminal output here, I'm sorry if it's very long but I wasn't which section of the output might be useful to you so I copied everything

[code]

[2020-10-13 08:38] daisycodes commented on #1840
PR https://github.com/astropy/astroquery/pull/1852

[2020-10-13 11:53] daisycodes commented on #1110
I would like to help fix this if no one else is working on it.

[2020-10-13 12:02] damivik commented on #1849
References TODO in astroquery/fermi/core (122).

[code]

[2020-10-13 18:48] mfonism commented on #1572
@bsipocz I'd love to take this up.

I'll make one commit per module, and when the PR gets accepted I can squash them all into one.

[2020-10-13 19:06] bsipocz commented on #1572
Sounds like a good plan @mfonism!

Also, given that there are a lot of modules, I would suggest to make a checklist here in the issue to track which ones you have checked and fixed, so you can open a PR before fixing all of them (it also makes it possible for someone else also working on this for a subset of the modules.)

The only tricky bit is making sure that all tests are passing, both local a

[2020-10-13 20:50] #1840 closed

[2020-10-14 02:54] tinumide commented on #1037
@bsipocz I would love to work on this issue

[2020-10-14 04:21] tinumide commented on #777
Hi @bsipocz ! I would love to work on this

[2020-10-14 05:44] bsipocz commented on #1217
@damivik - welcome, and let us know if you have any questions.

[2020-10-14 12:03] aida-ahmadi commented on #1806
Is there an update on this @andamian? I am using `astroquery` version `0.4.2.dev6380` and running into the same issues mentioned above.

For the example at https://astroquery.readthedocs.io/en/latest/alma/alma.html#querying-targets-and-regions I find len(m83_data) is 3460. @keflavich's example notebooks (e.g. https://nbviewer.jupyter.org/gist/keflavich/bb12b772d6668cf9181a) also give different out

[2020-10-14 17:32] ceb8 commented on #1191
Closing this issue as this warning now exists.

[2020-10-14 17:32] #1191 closed

[2020-10-14 17:54] embray opened #1856 "ESASky.query_region_maps: expected property missing from Herschel data"
The following example results in an exception, `KeyError: 'isSurveyMission'`:

[code]

It seems the expected property `isSurveyMission` is not present in the JSON response.   I was able to work around it like so, but I don't know if it's the most responsible solution:

[code]

After I apply this fix I get:

[code]

which seems reasonable (the VOTable warnings are no surprise I suppose :)

Original

[2020-10-14 18:02] andamian commented on #1806
@aida-ahmadi & @heh15 - This is related to #1792. My understanding is that ALMA already has a patch for their TAP Web service that it's making its way to production. The ALMA ticket is still open.

If you are *really really stuck* you can use the hack below to access the *test* ALMA services that we run at the CADC. But a big WARNING: this is just a test environment: data might not be up-to-date,

[2020-10-14 18:11] pllim opened #1857 "DOC: Team page?"
I am just thinking that it would be nice to have a Team page for `astroquery` that states clearly which individuals or organizations are responsible for which sub-module listed at https://astroquery.readthedocs.io/en/latest/#available-services .

[2020-10-14 18:19] bsipocz commented on #1857
See https://github.com/astropy/astroquery/pull/1446 and #1444

[2020-10-14 18:19] #1857 closed

[2020-10-14 18:22] pllim commented on #1857
Ah, thanks for pointing that out! I searched for "team" and didn't get any hits. Sorry for the noise.

[2020-10-14 18:25] pllim commented on #1856
#1446 says maybe @imbasimba can advise?

Yeah... 😬

[2020-10-14 20:18] aida-ahmadi commented on #1806
Thanks for the update @andamian!

[2020-10-14 21:13] nandita11 commented on #1838
@bsipocz can I take this up? This can be split up and keep a track of various modules

[2020-10-15 04:28] tinumide commented on #777
Does anyone think there could be any exceptions in using `requests.Response.content` especially when the result would be acted upon by another method.

[2020-10-15 04:49] tinumide commented on #423
@bsipocz this issue has been merged. Is there still something to be done ?

[2020-10-15 04:51] tinumide commented on #520
Would love to take a go at this

[2020-10-15 05:00] bsipocz commented on #520
Let's wait with this one a bit, and discuss it first, I'm not sure the kwarg is preferable any more.

@keflavich @ceb8  - what do you think, should we still at verbose kwargs, or rather use the logger? @andamian good arguments was pushing my thinking towards the logger only setup rather than verbose printing

[2020-10-15 05:01] bsipocz commented on #423
Thank you, you're right it didn't get the xref closure.

[2020-10-15 05:01] #423 closed

[2020-10-15 05:37] imbasimba commented on #1856
Thanks for reporting this. We have changed the jsons slightly in the latest release of ESASky & forgot to properly change the astroquery module. I'll fix it today.

Cheers,
Henrik

[2020-10-15 16:58] imbasimba commented on #1856
Fixed in this PR #1858

Cheers,
Henrik

[2020-10-15 17:34] mfonism commented on #1572
# Checklist

- [x] alfalfa (#1859)
- [ ] alma
- [ ] astrometry_net
- [ ] atomic
- [ ] besancon
- [ ] cadc
- [ ] casda
- [ ] cds
- [ ] cosmosim
- [ ] dace
- [ ] esa
- [ ] esasky
- [ ] eso
- [ ] exoplanet_orbit_database
- [ ] fermi
- [ ] gaia
- [ ] gama
- [ ] gemini
- [ ] heasarc
- [ ] hitran
- [ ] ibe
- [ ] image_cutouts
- [ ] imcce
- [ ] irsa
- [ ] irsa_dust
- [ ] jplhorizons
- [ ] jplsbdb
- [ ] j

[2020-10-15 17:35] mfonism commented on #1572
__IMPORTANT__

If you're working on a fix for the aforementioned issue (or plan to work on one) please indicate which module you plan to work on in a comment below. And also, when you're done with your fix, please indicate that it has been fixed, and link to the resulting PR in your comment.

I will update the above checklist accordingly.

This will go a long way to prevent duplication of efforts.

[2020-10-15 19:30] dinaSap commented on #943
@bsipocz Hi, I'm an Outreachy applicant and would like to work on this one. Can I work on this? And I have a question, I have a question, what is the organization system of source files? If I want to find file related
 to ESO documentation, where I can find it? I think I need to go to docs folder and after that where I need to look for source code? Thanks. Dina Saparbaeva

[2020-10-15 20:14] daisycodes commented on #1694
Hello @bsipocz , I would like to work on this. Can I get some direction on how to go about it? I didn't see a `query_region` method but `query_region_async` see https://github.com/astropy/astroquery/blob/master/astroquery/vizier/core.py#L265. Is that the method I need to work with? Also what do you mean by vectorize?

[2020-10-15 22:55] andamian commented on #1806
@aida-ahmadi  & @heh15 - Good news: the ALMA patch has made it to the production servers. You get this now:

[code]
which I think is what you expect. I hope this solves the problem but please let me know if you have other issues.

And sorry for the delay.

[2020-10-15 23:00] andamian commented on #1792
@mjastro & @privong : ALMA has fixed their TAP services. Now this works:

[code]
Sorry for the delay and please let me know if this not solve the problem to your satisfaction.

[2020-10-16 01:07] heh15 commented on #1806
Thanks for the help @andamian! The issue is now fixed for me.

[2020-10-16 02:51] travisthieme opened #1860 "Unable to query lines from Splatalogue"
Is there any reason the following code

[code]

gives me the following output:

[code]

The website gives the following example:

[code]
But this also gives me the same result

[code]

**Version:**  0.4.1
**Python:** 3.8, 3.7
**Jupyterlab:** 2.1.5
**Ipython:** 7.16.1

Installed via ```conda install -c astropy astroquery```

Tried in Jupyterlab and Ipython using Python 3.7 and 3.8 with same results

[2020-10-16 06:00] #1806 closed

[2020-10-16 06:23] ccossou commented on #1755
Indeed, it works now. What's weird is that I could replicate that multiple times and consistently got "#!/bin/b".

Thanks for your help. Closing

[2020-10-16 06:23] #1755 closed

[2020-10-16 12:16] daisycodes commented on #1667
@bsipocz is this across the repo or just a specific module? Asking because of the tag *MNT* in the ticket title. Also do we want to split this? I would love to submit a PR on this but seems this might be a big one and might take a while to completely review. I did a `2to3 astroquery` on the repo and the diff it generated is kind of huge.

[2020-10-16 12:17] daisycodes commented on #1667
Oh wait, this might not be as big as I thought. Just realized `2to3` was also refactoring files inside my virtual environment. I think that's why the diff was huge.

[2020-10-16 15:08] ceb8 commented on #1755
@ccossou  Oh that is weird. Probably the disconnect was happening on our end then, although it's weird that it consistently succeeded in getting the first few bytes through. My guess would be it was some sort of unexpected down time manifesting weirdly, but if it happens again let us know.

[2020-10-17 10:22] tinumide commented on #777
Hi @bsipocz, @ceb8 , while working on this issue I made a commit for every change I made in a file. I was wondering if it is a good idea to squash the commits before making a PR since there are a number of them.

[2020-10-17 13:19] heh15 opened #1863 "Alma.query() doesn't return results"
I tried to write a function for ALMA archival search using `Alma.query()` (which includes both functions of `Alma.query_region()` and `Alma.query_object()`). However, it turns out that `Alma.query()` doesn't return any result while `Alma.query_region()` or `Alma.query_object` behaves normally. Here is my code for comparison:
[code]
The two results are supposed to be the same. However, `Alma.query_

[2020-10-18 10:11] yvan237 commented on #1838
Hey @bsipocz, I am an outreachy applicant and I would like to work on this as my first contribution to this project.

[2020-10-18 17:47] nandita11 commented on #1357
Can I take this up @bsipocz ?

[2020-10-18 18:56] bsipocz commented on #1357
@nandita11 - yes, absolutely. However, I would advise to wait until the maintainers discuss whether the verbose kwarg or switching to logging is the more preferable.

@keflavich @ceb8 - what do you think, should we still at verbose kwargs, or rather use the logger? @andamian good arguments was pushing my thinking towards the logger only setup rather than verbose printing

[2020-10-18 19:00] Knusper commented on #1357
Sorry, I think there is a misunderstanding here. This issue is not about turning verbose off and on (this was fixed). This is about an issue with the spinner spamming the output on some systems.

[2020-10-18 20:40] saimn opened #1866 "Warnings/logging messages when importing sub-packages"
Ref https://github.com/astropy/astropy/pull/10893.
Importing all astroquery sub-packages raises a bunch of warning and logging messages:
[code]

[2020-10-18 20:48] bsipocz commented on #1866
Of these some are on the radar, and some I think should stay:

- https://github.com/astropy/astroquery/issues/1722 is about turning off the TAP info.
- the import warnings are better kept, but the pyvo one can be turned to an error as pyvo is now a mandatory dependency
- we should delete the lcogt module rather than issuing the warning
- maybe we need to reconsider the alfaalfa, sha, ogle warnings

[2020-10-18 20:50] bsipocz commented on #1866
@saimn  - you mentioned some deprecations, are any of those relevant for astroquery? (pyregions and html5lib ones are ignored, but all the rest should be dealt with)

[2020-10-18 21:47] saimn commented on #1866
No sorry, I meant taht `generate_config` already filters deprecation warnings, but it seems that there are no such warning for astroquery. Btw to reproduce and import all sub-packages:
[code]

[2020-10-19 12:39] ceb8 commented on #1357
@Knusper That was my bad, I didn't read it closely enough.

@nandita11 Given the above clarification this isn't actually a novice ticket.

[2020-10-19 13:01] ceb8 commented on #777
@tinumide Go ahead and squash. Squashing at merge is also an option though.

[2020-10-19 14:29] nandita11 commented on #1572
@mfonism I can help with the following packages, if that's okay!

[ ] fermi
[ ] gaia
[ ] gama
[ ] gemini
[ ] heasarc

[2020-10-19 14:33] UdokaVrede commented on #1841
Hi I am AN outreachy intern how can I reproduce this please

[2020-10-19 14:37] mfonism commented on #1572
Sure @nandita11.

I'll update the checklist with your name against the five packages.

[2020-10-19 19:07] tinumide commented on #777
Alright. Thanks

[2020-10-20 16:12] UdokaVrede commented on #1239
can I take this up

[2020-10-20 17:30] bsipocz commented on #1239
I'm afraid this is a bit miscategorized to be package-novice in a sense it is best suited for users running into cache issues. E.g. we cannot give much guidance on where to document these things to be the most effective, where the users would most likely see it.
Maybe a frequent solutions to issues on the opening page,  Troubleshouting?

So you certainly have a go with it, but it would be the most

[2020-10-20 17:40] UdokaVrede commented on #1239
I DID NOT KNOW IT WAS THIS VAST, I WOULD SKIP THIS WHILE I GET FAMILIAR
WITH ASTROPY. I WOULD APPRECIATE LINKS TO package-novice issues.Thanks

On Tue, Oct 20, 2020 at 6:30 PM Brigitta Sipőcz <notifications@github.com>
wrote:

[2020-10-20 20:09] Knusper commented on #1357
I think the bug title also should be changed.

Title: Downloads from ESO archive spam shell.  Description: see https://github.com/astropy/astroquery/issues/1357#issuecomment-483878012

The relevant code that spams the output is around here: https://github.com/astropy/astroquery/blob/e7ea01c520660251c18b5fefe10f4054b4ced64c/astroquery/query.py#L374

There appears also be a related issue opened by @

[2020-10-20 20:19] Knusper commented on #1357
Ah, and by the way - I was wrong about the verbose switch being fixed.  So this bug here is actually two bugs - if verbose is turned on (cannot be turned off at the moment), it should not be excessively and meaninglessly verbose...

[2020-10-21 05:51] daisycodes commented on #1572
@mfonism I would like to help with the following **hitran, ibe, image_cutouts, imcce, irsa**.

@HarrietAkot I think this might be a good place to help out since you can't find package-novice tickets to work on.

[2020-10-21 07:56] HarrietAkot commented on #1572
Thanks. I will look into it.

On Wed, Oct 21, 2020, 8:51 AM Ngowo Merilyn <notifications@github.com>
wrote:

[2020-10-21 07:57] mfonism commented on #1572
That would be awesome, @daisycodes. I've updated the checklist with your name against the packages you mentioned.

[2020-10-23 07:07] #1037 closed

[2020-10-23 07:23] #1856 closed

[2020-10-23 22:50] bsipocz opened #1870 "Cleanup python2"
I cannot believe we didn't have an issue for this, it was on my radar to do when I needed a fun project (I like removing code).

This is a big cleanup effort, but it can be broken down to smaller pieces. Hardly any of the components need any experience with astroquery itself, thus the package-novice label, however, I don't expect this to be a low effort issue. The only ask is to be careful when us

[2020-10-24 06:47] HarrietAkot commented on #1870
Hello @bsipocz . I am an outreachy applicant. can I take up this issue?

[2020-10-24 06:53] bsipocz commented on #1870
Yes, absolutely. Please approach it modularly though as I would expect the whole python <3.6 cleanup would be quite substantial.

[2020-10-24 06:56] HarrietAkot commented on #1870
Thank you for your response. I will get to it as soon as possible

On Sat, Oct 24, 2020, 9:53 AM Brigitta Sipőcz <notifications@github.com>
wrote:

[2020-10-24 20:51] sebaucillon commented on #1572
@mfonism Hi. I'd like to give xmatch a try. I will get back to you when done to take on more.

[2020-10-24 20:59] mfonism commented on #1572
Go ahead, @sebaucillon. I've updated the checklist with your name against `xmatch`. Can you consider taking on `vamdc` to `wfau` when you're done with this one?

[2020-10-24 22:47] sebaucillon commented on #1572
Yes I would. I unfortunately haven't figured out how to test astroquery before submitting my pull request to master but I'll get on with `wfau` and `vsa` after that.

[2020-10-24 23:23] sebaucillon commented on #1217
Hello @bsipocz and @damivik
Is this as simple as revising the document file for gaia and making sure dr1 is replaced to dr2 or must there be some explanation as well (new features etc)?
I'd like to work on this issue as well.

[2020-10-24 23:41] bsipocz commented on #1217
Yes, this supposed to be that simple, but all the examples have to run and the outputs should be updated accordingly.

[2020-10-25 22:50] sebaucillon commented on #1217
I need to get myself better equipment. I had to switch to my work laptop and it's somehow not recognising astropy package, so I am unable to test anything I edit. This is bad :(

[2020-10-26 00:16] tinumide commented on #1803
Hi @bsipocz, I would love to jump on this

[2020-10-26 00:24] tinumide commented on #1808
Hi @bsipocz, I am not really clear on the description of this issue. Is it saying to add a functionality to query data that hasn't yet been used in a publication? Would really love to give it a shot.

[2020-10-26 00:32] sebaucillon commented on #1572
Hi @mfonism
I have looked into `xmatch`, `wfau`, `vsa` and `vamdc`.
`vamdc` is clear of this issue.
The others are still in my fork. I have not made a pull request because I do not have a way to test them due to issues with my working environment. You are all welcome to test my changes for me, I'd appreciate it greatly.
Ciao.

[2020-10-26 08:12] ygrange commented on #1808
The way I read this (and if I recall correcly I was present when this was discussed) that is exactly the question @tinumide. The idea is to have a way to query public, unpublished data.

[2020-10-27 03:58] tinumide commented on #1748
My proposed name for the classes would be <classname>ObservationClass e.g MastObservationClass. That way there would be a reference to the modules they are coming from. If this is okay I would like to go ahead and implement it.

[2020-10-27 04:27] tinumide commented on #1808
Thanks a lot for the clarity @ygrange. What would be the difference between querying published data and querying unpublished data.I am relatively new here, and I don't mind getting all the help that I can ☺️

[2020-10-27 05:20] bsipocz commented on #1808
@ygrange - wasn't it even your idea? I have to admit I forgot who pitched it.

@tinumide - this is basically a new tool, or a very detailed, case study like documentation to help data discovery. Many dataset has in fact never been used in a publication, for various reasons. And some archives link the publications back to the telescope proposals/data, but we don't know about an easy way to e.g. sel

[2020-10-27 05:42] bsipocz commented on #1748
@ceb8 has to comment on what would be the preference, otherwise 👍 for the idea to pick up this issue.

[2020-10-27 15:50] nataliekorzh commented on #1535
Hi @pllim I'd love to give this a try

[2020-10-27 16:07] pllim commented on #1535
Thanks for your interest. I am just a user, you'll have to ask @ceb8 .

[2020-10-28 08:04] tinumide commented on #1748
Thanks @bsipocz. @ceb8 what do you think?

[2020-10-29 11:48] tinumide commented on #1572
Hi @mfonism, I would like to take on the s series, `sdss`, `sha`, `simbad`, `skyview`, `solarsystem`, `splatalogue` and `svo_fps`.

[2020-10-29 12:23] tinumide commented on #1808
Thanks @bsipocz . I would probably check on it later if it has not been resolved yet

[2020-10-29 14:47] mkelley commented on #1075
By the way, JPL Small-Body Database Search Engine was added in #1214 .

[2020-10-29 17:24] tinumide commented on #948
Hi @bsipocz , I would love to work on this issue

[2020-10-30 02:50] bsipocz commented on #948
Please do!

[2020-10-30 02:52] bsipocz commented on #948
To get some inspiration, you can start with e.g some of the code snippets from the tests, adding some narrative story for them. At this point basically anything would be better than what we have in the docs.

[2020-10-31 00:40] jmangum opened #1882 "Error when trying to extract metadata for ALMA project using Alma.query_sia"
Simple query to grab metadata for a single ALMA project.

[code]

[2020-10-31 02:14] bsipocz commented on #1882
cc @andamian

[2020-10-31 12:22] jmangum commented on #1882
Note that I was able to get this database query to work using the query_tap method, but the result does not seem to have a colnames attribute.  Table operations, like vstack, did not work correctly with this query_tap result, making this result not usable for my purposes.
```alchemi_data = Alma.query_tap("select * from ivoa.obscore where proposal_id like '2017.1.00161.L'")```

[2020-10-31 23:26] bsipocz commented on #1863
cc @andamian @keflavich

[2020-11-01 06:25] bsipocz commented on #861
Ahh, I cannot yet close this off as there are two more usage, one in gaia and the other is in dace. But we're close now.

[2020-11-02 01:27] #1821 closed

[2020-11-02 15:53] nataliekorzh commented on #1708
I'm going to get started on this.

[2020-11-02 18:00] ceb8 commented on #1748
I thinks that sounds reasonable. And then you would also turn `Observations` into `MastObservations`.

[2020-11-02 23:30] andamian commented on #1863
@heh15 - that's happening because `query` expects degree units. This works fine:
[code]
It's not hard to make it deal with the transformation and it's probably a good idea.

[2020-11-03 02:25] heh15 commented on #1863
Thanks for the help! It works for me.

[2020-11-03 07:31] tinumide commented on #1748
Great. Thanks @ceb8

[2020-11-04 17:00] astrophysaxist opened #1886 "CADC Grabbing cutouts from a get_image_list URL"
Hi, I've written a small bit of code to query the CADC archive for HST data cutout. I use get_image_list to retrieve the image filenames, but I've noticed that the code I came up with to grab the fits data cutout isn't always reliable for all queries. Sometimes I get back an empty list. I've traced this to a HTTP 409 error that I seem to be getting. Any clues on what might be going wrong here?

A

[2020-11-04 17:17] keflavich commented on #1886
Does the HTTP 409 error come with any message?

cc @andamian

[2020-11-04 18:07] astrophysaxist commented on #1886
Yes, "Conflict". Last set of messages in the Traceback are:

/usr/lib/python3.6/urllib/request.py in http_error_default(self, req, fp, code, msg, hdrs)
    648 class HTTPDefaultErrorHandler(BaseHandler):
    649     def http_error_default(self, req, fp, code, msg, hdrs):
--> 650         raise HTTPError(req.full_url, code, msg, hdrs, fp)
    651
    652 class HTTPRedirectHandler(BaseHandler):

HTTP

[2020-11-04 18:39] keflavich commented on #1886
Thanks for reporting.  That seems like a server-side issue, so our resident CADC expert may have a look.

[2020-11-04 20:16] andamian commented on #1886
@astrophysaxist - cutouts are only performed for files stored at the CADC. CADC is a mirror for `MAST` but the way it works on an eventual consistency paradigm. Hence, some files (like the example above) are in the process of being transferred over and the downloads come from MAST but they don't have a `cutouts` service. Sorry for the sub-optimal solution, but I think the best you could do is to t

[2020-11-04 21:48] bsipocz commented on #1886
should we maybe expose those errors from the payload to the user?

[2020-11-05 00:29] andamian commented on #1886
Not sure there's anything we can do about it. The spec on HTTP Error 409 says:
```The server SHOULD generate a payload that includes enough information for a user to recognize the source of the conflict.```
The `requests` library makes the message available in `err.response.text`.

[2020-11-05 02:21] astrophysaxist commented on #1886
Thanks for explaining that @andamian! I do see that response back when I use urllib.error.HTTPError to catch the exception. Is there a tractable example of the cutout operation/service I could use to code a workaround this after catching the exception?

[2020-11-05 02:47] bsipocz commented on #1886
Oh, if there isn't anything useful coming back from the payload, then of course it doesn't make sense to expose it to the users.

[2020-11-05 21:47] andamian commented on #1886
@astrophysaxist - I haven't tried it myself, but CADC has a package that might do what you are after, i.e. save the entire file and do the cutout locally (or it might be able to do it while streaming): https://pypi.org/project/cadccutout/. So in your code, when you encounter the 409, in the `except` block request the entire file and use the `cadccutout` package to do the actual cutout. Note that t

[2020-11-05 23:41] heh15 opened #1888 "'public=True' in Alma.query() returns more results"
When I ran 'Alma.query()', I found that if I set 'public=True', it returns more results than when I set 'public=False'. Here is an example of my code:
[code]
The 'public=True' returns 621 results while the other one returns 55 results. It doesn't make sense to me since I expect 'public=False' will return all projects whether it is public or not. Could you confirm if this is my problem or it is act

[2020-11-06 03:03] bsipocz commented on #1888
The `public=False` option indeed returns only the non public data, rather than all.
[code]

@andamian @keflavich - is this a side effect of the refactor in https://github.com/astropy/astroquery/pull/1689, or also a server side change? Based on docs we have, I also would have assumed that all data should be returned with `False`, though that first example doesn't seem to work for me any more, it re

[2020-11-06 21:21] andamian commented on #1888
This rings a bell and I recall fixing it - it could be in one of the outstanding PRs. I'll have to double-check.

[2020-11-07 02:45] bsipocz commented on #1888
If it's waiting for review, do ping me/us, so it's less likely to slip through (we've been quite busy with the intern PRs in this past many weeks, and I know that there is now a bit of backlog for the observatories).

[2020-11-07 03:11] bsipocz commented on #444
Now looking into the code in the PR, and rereading the details of the feature request here, I don't think any more that this opening up the browser type of functionality fits well within astroquery.

We certainly need functionality to download cutouts though, as far as I see we only provide options to download the full plates as fits, but not the functionality to get the cutout images to be used e

[2020-11-08 22:49] bsipocz opened #1889 "Changelog should be exposed to the narrative docs"
similarly to https://docs.astropy.org/en/stable/changelog.html

[2020-11-09 18:35] fulsdavid commented on #1811
@mommermi , I would still encourage you to push for the MPChecker at the Minor Planet Center along with the JPL SB Identification functionality as well. For very recently discovered objects, there tend to be differences in what MCP and JPL report when doing queries.

[2020-11-10 02:28] wkerzendorf opened #1891 "MAST no result break"
I can fix it later - found that warnings was not imported.
[code]

[2020-11-10 03:01] bsipocz commented on #1891
this has been fixed, please upgrade your astroquery version.

https://github.com/astropy/astroquery/pull/1768

[2020-11-10 03:01] #1891 closed

[2020-11-11 13:32] seweissman opened #1892 "Unescaped URIs when making download requests in astroquery.mast are causing failed downloads"
@eteq reports that he is having trouble retrieving some files from this query:

[code]
In the downloaded results there are catalog files that contain the text `dataset parameter is required` instead of the catalog data.

The issue appears to be that some MAST URIs contain query parameters and the URIs are not escaped when passed to `_download_file`. The resulting request to the MAST download servi

[2020-11-11 16:48] josephsdavid opened #1893 "Query lines broken"
Hello, Splatalogue.query_lines() is completely broken for me, I cannot even reproduce the documentation:

[code]
If i manually query on the web form, everything works, but the library itself seems to be not grabbing the results

[2020-11-11 17:47] keflavich commented on #1893
Update your version of astroquery.  The splatalogue URLs have changed:
[code]

[2020-11-11 17:52] josephsdavid commented on #1893
my hero! Thank you :)

[2020-11-11 17:55] #1893 closed

[2020-11-11 21:30] bsipocz opened #1894 "Add issue template"
A short issue template may be useful here, to e.g. point out to check whether the latest version of astroquery is being used as quite often bugs are already fixed, and releases available on pypi.

[2020-11-16 13:16] muHashh opened #1898 "'ObservationsClass' object has no attribute 'download_file'"
Astroquery==0.4.1 running on WSL2 Ubuntu 20.04 LTS. Observed the same behavhiour on native Ubuntu 20.10, and an external jupyter notebook server.

I am trying to download light curves (TESS) from MAST and it is telling me the function does not exist. I've tried using the newest dev version from Nov 10. Still the same.

Here is the exact error and the data URI I am using as the input:

![image](htt

[2020-11-16 19:40] pllim opened #1899 "TST: Use GitHub Actions"
Please see https://groups.google.com/g/astropy-dev/c/45frnTEAX-U

[2020-11-16 19:41] bsipocz commented on #1899
It's in the works of a local branch of mine. The minor complication is that it's better if we also switch to tox, etc, so it takes a bit more time to sort out.

[2020-11-16 20:28] pllim commented on #1899
Thanks and good luck!

[2020-11-17 11:24] cosmicpudding opened #1900 "504 Server Error in X-Match query"
I have been using astroquery's wrapper around X-Match to run crossmatches against big surveys, and strangely it fails for certain surveys which is new behaviour. I see the following error:

`   d = XMatch.query(cat1=open(masterlist),cat2='vizier:%s' % code, max_distance=angular_sep * u.arcsec,colRA1='ra',colDec1='dec')
  File "/Users/moss/anaconda/lib/python3.6/site-packages/astroquery/xmatch/core

[2020-11-17 11:25] cosmicpudding commented on #1900
p.s. it looks like it also failed for SDSS... so maybe an issue with how it connects to the large catalogues? I did try to look through existing issues but couldn't find anything about this.

[2020-11-17 14:12] keflavich commented on #1900
@tboch @fxpineau can either of you help with this?

[2020-11-17 14:24] fxpineau commented on #1900
Thank you @keflavich.
@cosmicpudding what is the size (number of rows) and the sky distribution (allsky, small area) of your input table?
(I have not changed the xmatch server configuration, so I wonder if this is a new behavior or not)

[2020-11-17 14:33] cosmicpudding commented on #1900
Thanks @fxpineau and @keflavich for looking at this! The input catalogues for these crossmatches have on order 700,000 rows, and it's pretty much all (southern) sky. I did check the limits and it suggested that if there were more than 2 million matches it would truncate but didn't seem to imply a limit otherwise, and the file size is only 20 MB or so (I think 100 MB is the limit?).

[2020-11-17 14:38] cosmicpudding commented on #1900
I guess it's new behaviour since the last time I was using this part of the code, which was in April 2020, though last time I did it the number of rows was about half of what it is now, so it's possible that the current table size could be hitting a limit somewhere?

[2020-11-17 14:48] fxpineau commented on #1900
Thank you @cosmicpudding.
See the edit of my comment below: 700,000 rows and half the sky may be too much for the synchronous service.
Although 100 MB is the upload limit, it accounts for possible columns others than the positions.
The 2 million is an output limit (in case of large radius and/or not very large tables and/or limited area with a large catalogue).
I would recommend to split the input

[2020-11-17 21:34] alipnick commented on #1740
I'm having this same issue (along with Issue #1737) with the astroquery 0.4.1.
[code]
The returned links are only the raw (ASDM) and auxilliary files. If I use `expand_tarfriles=True` I can see all the image files as well, but I actually want the large tarfile rather than the individual FITS files.

[2020-11-17 21:39] alipnick commented on #1737
I'm having this issue with astroquery version 0.4.1.
[code]
The Traceback shows that the url has an extra "/" after "asax" that should not be there. Resetting the Alma.dataarchive_url seems to fix the issue:
[code]

[2020-11-17 23:33] cosmicpudding commented on #1900
Thanks @fxpineau - I can definitely split things into smaller chunks before uploading and will post here once I've done that to confirm how it goes. I haven't worked with HEALPix much before - is there an easy way (e.g. using astropy) to sort rows by HEALPix order? Not entirely sure where to start with that so a pointer would be really helpful!

[2020-11-18 08:12] cosmicpudding commented on #1900
p.s. I found this: https://astropy-healpix.readthedocs.io/_/downloads/en/v0.4/pdf/ (so probably should be able to figure the HEALPix index thing out) :)

[2020-11-18 09:21] cosmicpudding commented on #1900
As a random side thought, I've now written code to take the input catalogue, convert it to SkyCoord then HEALPix, add that column to the initial table and then write out various CSVs for each index. Though I'm keeping them, they could easily be temporary CSVs that are generated just for the purpose of uploading to XMatch and then throwing away. Is this something that could be embedded into astroqu

[2020-11-18 11:53] cosmicpudding commented on #1900
Two small updates.

1) To give an idea of HEALPix conversion runtime (presumably it could be optimised way better):
`Reading catalogues...
706296 633224
Constructing coordinate list..
Calculating HEALPix using pool...
Adding HEALPix info to table...
Total time: 14.56 min`

2) Breaking the catalogue into 50k chunks worked, and ALLWISE is now returning a response. Thanks @fxpineau!

[2020-11-18 13:18] keflavich commented on #1900
@cosmicpudding Yes, that sort of functionality would be very welcome!  Can you submit it as a PR?

@fxpineau you mentioned that the original table was too big for the synchronous service.  Is there an asynchronous service we do not yet have an interface to?

[2020-11-19 05:42] cosmicpudding commented on #1900
@keflavich I can try! I'm not exactly sure where this code should sit in terms of architecture but I'll have a look at what is there already and try to have a go at inserting what I did.

[2020-11-19 08:42] fxpineau commented on #1900
@keflavich

The jobs submitted on the CDS XMatch web page are executed asynchronously, but so far there is no async HTTP API.

[2020-11-22 00:06] KenMighell opened #1903 "skyview.SkyView.get_images bug with 2MASS-J survey data"

[2020-11-22 00:06] #1903 closed

[2020-11-22 00:24] KenMighell opened #1904 "An example where SkyView.get_images() fails with the 2MASS-J survey"
The following code snippet
[code]
produces the following exception "HTTP Error 404: Not Found"

If the radius argument value is changed from 3.000 * u.arcmin to 2.991 * u.arcmin
or 3.001 * u.arcmin , the SkyView.get_images function works as expected.

If the survey argument value is changed from '2MASS-J' to '2MASS-K' or '2MASS-H',
the SkyView.get_images function works as expected.

The target is

[2020-11-22 01:28] keflavich commented on #1904
Could you try clearing your cache (remove files in `~/.astropy/cache/astroquery/skyview/`) and try again?  I think you had one unfortunate failure that got cached.

[2020-11-22 02:42] KenMighell commented on #1904
I removed all files in the cache (~/.astropy/cache/astroquery/skyview/).  I tried again and the problem is gone.  Looks like
an unfortunate failure got cached.  Thanks @keflavich  for this solution.  This issue can be closed.

[2020-11-22 02:51] #1904 closed

[2020-11-22 17:52] JosephKarpinski opened #1905 "Multiple Examples in "A Gallery of Queries" Not Working"
Hi,

Tried to run the examples in "A Gallery of Queries"  https://astroquery.readthedocs.io/en/latest/gallery.html
Lots of issues.

Example 6

Grab some data from ALMA, then analyze it using the Spectral Cube package after identifying some spectral lines in the data.

--------------------------------------------------------------------------
InvalidQueryError                         Traceback (mos

[2020-11-23 14:43] HNLala commented on #1900
@fxpineau

Thanks for this tip.
Just to be sure, one should use the nested ordering scheme for creating the HEALPix index before sorting the rows?

[2020-11-23 16:48] fxpineau commented on #1900
You are welcome.

Yes: the **nested** scheme has nice indexation properties (since it relies on one z-ordre curve per base cell).

[2020-11-24 19:22] havok2063 opened #1906 "Jwst.Edb.GetTimeseries service request no longer works"
The service request to retrieve mnemonic information from the JWST engineering database no longer works.    Using `astroquery 0.4` I get the following error:

[code]

After updating to `0.4.1` I get a different error:
[code]

[2020-11-24 19:58] bsipocz commented on #1906
Try to upgrade to the latest version with `pip install -U --pre astroquery`. We continuously deploy, and therefore there are bugfixes out there since the last 0.4.1 tagged release.

[2020-11-24 21:05] havok2063 commented on #1906
Tested with `0.4.2.dev6449` and I get the original error that I did with `0.4.0`.

[2020-11-25 19:38] #1535 closed

[2020-11-26 14:16] abhisek176 opened #1907 "Photo-z from SDSS"
Can someone please let me know how to extract photo-z information from SDSS objID. I assume it's not yet implemented in astroquery?! Is there any other python tools. SQL query is tedious .. :(

[2020-12-01 22:28] Venustiano opened #1910 "Gaia.load_tables(only_names=True) no longer works"
Running the following code

[code]
produces the following errors

[code]

[code]

[2020-12-01 22:30] keflavich commented on #1910
Confirmed, I can reproduce the issue locally.  Unfortunately I have no clue.  Need the Gaia team to help us here.

[2020-12-01 22:49] elliesch commented on #1910
I am getting a similar issue using `Gaia.launch_job_async`

Here's my code:
[code]

This throws the following HTTP connection error:
[code]

[2020-12-02 00:17] keflavich commented on #1910
This looks like an upstream error, maybe.  Thanks for reporting!

[2020-12-02 21:21] AllenDowney commented on #1910
Can confirm I have the same problem.

I sent an email to the Gaia Helpdesk to see if they are aware of a problem on their end.  I will report back.

It looks like they are gearing up for the Early Data Release 3, so something might have broken in the excitement.

[2020-12-02 21:32] AllenDowney commented on #1910
If the problem is at the Gaia server, it might be good to make a note of the response it's sending now: maybe `astroquery` could handle the error condition more gracefully.

[2020-12-02 21:34] AllenDowney commented on #1910
Here's the response from Gaia Helpdesk:

https://www.cosmos.esa.int/web/gaia/edr3-code

[2020-12-04 03:12] keflavich commented on #1910
Can anyone verify if this is back up, and if so, close this?

[2020-12-04 04:25] keflavich commented on #1905
While many of these are likely broken, note that there is at least one example that is not meant to be run, but just to serve as an example, since it uses my private login information.

[2020-12-04 07:55] Venustiano commented on #1910
I can confirm that
Gaia.load_tables(only_names=True)
is  working again.

Best,

On Fri, Dec 4, 2020 at 4:12 AM Adam Ginsburg <notifications@github.com>
wrote:

[2020-12-04 10:09] jantoniadis opened #1912 "XMatch.query issue with EDR3"
Running the following:

    from astroquery.xmatch import XMatch
    from astropy import units as u

    gaia_cross_matches = XMatch.query(
                       cat1=open('updated_pulsar_params.csv'),
                       cat2='vizier:I/350/gaiaedr3', max_distance=20*u.arcsec,
                        colRA1='raj', colDec1='decj',colRA2='ra_epoch2000',colDec2='dec_epoch2000',cache=True)

produc

[2020-12-04 10:31] fxpineau commented on #1912
The CDS XMatch HTTP API response is supposed to be compliant with the [IVOA DALI](https://www.ivoa.net/documents/DALI/) recommandation.

[2020-12-04 10:40] #1910 closed

[2020-12-04 13:14] fxpineau commented on #1912
@jantoniadis  @keflavich

The CDS XMatch HTTP API response is supposed to be compliant with the [IVOA DALI](https://www.ivoa.net/documents/DALI/) recommendation.
In case of error, a VOTable containing a detailed error message is returned in addition to the HTTP code (400 status here).
It would help to print the fulll error message (or the full VOTable content) in case of failure.

In the particula

[2020-12-04 13:54] AllenDowney commented on #1910
Before closing this, can I suggest it would be a valuable enhancement if astroquery would generate an interpretable error message if the Gaia server is down?  In my communication with the Gaia help desk, they expressed interest in helping with this.

[2020-12-04 14:42] keflavich opened #1913 "GAIA: Return a clear error message if the server is down"
If the server is down, we'd like to have a clear error message saying whether the downtime is expected.  See #1910

[2020-12-04 14:44] keflavich commented on #1912
@fxpineau we'd appreciate help implementing that!  So, should there be an attached VOTable, even though there's an HTTPError?

[2020-12-04 15:54] jantoniadis commented on #1912
This does not seem to be an XMatch API issue. The following:

`curl -X POST -F request=xmatch -F distMaxArcsec=20.0 -F RESPONSEFORMAT=csv -F cat1=@updated_pulsar_params.csv -F colRA1=raj -F colDec1=decj -F cat2=vizier:I/350/gaiaedr3 http://cdsxmatch.u-strasbg.fr/xmatch/api/v1/sync > my_result.cs`

doesn't return an error.

[2020-12-04 16:11] HNLala commented on #1912
When I tried to run the query without specifying colRA2 and colDec2, I get the following error:
[code]

[2020-12-04 16:41] fxpineau commented on #1912
@keflavich

I understand, but so far my python skills are very low.
I only have a small experience of python wrappers around Rust codes.

The output is a VOTable either if the query succeed and you asked for a VOTable output, or if the query fails.
You can try for example (missing `cat1` parameter):
[code]
(the `-i` prints the HTTP status), you should get something like:
[code]
The first part is (

[2020-12-04 16:47] HNLala commented on #1912
@fxpineau

"I/350/gaiaedr3" in XMatch().get_available_tables() returns False.

I tried to run the query with XMatch.query(..., cache=False) but the problem persisted.

I turned cache=False in  `get_available_tables(self, cache=True)` in core.py and the query works very well then.

@keflavich

Maybe, passing on the 'cache' user-input in this line will help: `return table_id in self.get_available_ta

[2020-12-04 16:49] fxpineau commented on #1912
@HNLala

In both cases the set of parameters sent to the xmatch service seems to be erroneous.

[2020-12-04 17:00] HNLala commented on #1912
@fxpineau
@jantoniadis

After this, I guess the option without specifying colRA2 and colDec2 seems to be the correct one. The error message returned in that case from XMatch.query() doesn't take into account the cache bug.

[2020-12-07 18:11] tvwenger opened #1915 "BUG: don't cache errors for SkyView"
I am querying SkyView (WISE 3.4, 12, and 22 data) using an on-sky positions. Occasionally and randomly (as far as I can tell), a query will return an HTTPError: 404 (not found). If I try to run the query again on the machine, then it will fail with the same error. If I add another decimal to the precision of the position, then it will succeed. If I run the original query on a different machine, th

[2020-12-07 18:13] keflavich commented on #1915
That's exactly correct: skyview sometimes fails, and (unfortunately) the failures are getting cached.

The solution for now is to delete the failed cached items from `~/.astropy/cache/astroquery/SkyView/`.

[2020-12-07 18:15] keflavich commented on #1915
Duplicate of #1904

[2020-12-07 18:15] tvwenger commented on #1915
@keflavich Awesome, thanks for the lightning fast response and solution.

[2020-12-07 18:16] keflavich commented on #1915
np.  The fact that this is regularly happening suggests we need a better error-catcher in SkyView so we _don't_ cache errors.

[2020-12-08 08:03] rhuang-astro opened #1916 "ESASKY image"
Hi,

None of the example code in esasky tutorial related to images works for me.
https://astroquery.readthedocs.io/en/latest/esasky/esasky.html

For example:
[code]
Does it work for you?

I want to fetch chandra's image.

[2020-12-08 14:56] #1708 closed

[2020-12-08 14:59] keflavich commented on #1916
@imbasimba can you help?

[2020-12-08 15:36] imbasimba commented on #1916
Hi @rhuang-astro,

Indeed that tutorial is very outdated. Some days ago I did update that tutorial as well as addressing many of the issues you have encountered & it is all coming with this pull request
https://github.com/astropy/astroquery/pull/1909

I'll have to look closer on that VO Table issue though.

Regarding Chandra, this module does not yet support downloading of Chandra images, because

[2020-12-08 15:54] rhuang-astro commented on #1916
It's great!  The last works for me.
Is the Chandra images that you mentioned here the mosiaced Chandra image in http://sky.esa.int/?

Thank you for your quick reply!

[2020-12-08 16:09] imbasimba commented on #1916
We do have one Chandra HiPS available in ESASky, which you can see here:
[Chandra HiPS in ESASky](https://sky.esa.int/?target=266.9076916035187%20-28.799222965912925&hips=Chandra+RGB&fov=180&cooframe=J2000&sci=true&lang=en)

On a side note, that VO table issue was a tiny error on the ESASky backend, so I was able to hotfix it directly. So you should no longer get any TableParseErrors.
Thanks for l

[2020-12-08 16:18] rhuang-astro commented on #1916
Awesome!

[2020-12-08 16:53] imbasimba commented on #1916
@rhuang-astro

I just added proper Chandra image download support. I pushed it [here](https://github.com/astropy/astroquery/pull/1909) and you'll have it as soon as it goes through the astroquery review process.

Cheers,
Henrik

[2020-12-08 17:45] ceb8 opened #1917 "MAST: products request on empty obervation table yields results"
Given in empty table (with the correct columns) or empty string to `Observations.query_criteria` returns 73 results.

**Example with an empty table:**
[code]
0

[code]
73

**Example with an empty string:**
[code]
73

[2020-12-08 17:47] ceb8 commented on #1917
@nataliekorzh will be taking a look at this.

[2020-12-10 11:41] Mixpap opened #1919 "Alma query InvalidQueryError"
Alma query using name or region gives InvalidQueryError.
[code]
gives
```InvalidQueryError: The following parameters are not accepted by the ALMA query service: ['ra_dec', 'result_view', 'format', 'download', 'public_data', 'science_observations']```

or trying ```python
Alma.query_object('B0420-014')```
gives
```InvalidQueryError: The following parameters are not accepted by the ALMA query servic

[2020-12-10 12:57] keflavich commented on #1919
I cannot reproduce this.  What version of astroquery are you using?  I suggest updating astroquery and retrying.

[2020-12-10 13:08] Mixpap commented on #1919
yeah sorry I forgot the version, it is ```'0.4.1'```.

[2020-12-10 13:31] Mixpap commented on #1919
Tried creating a new conda python 3.7 enviroment and installing only astroquery through conda-forge. Still the problem exists.
At the first try, the error is ```ValueError: The query validation failed for unknown reasons.  Try again?```

[2020-12-10 13:38] keflavich commented on #1919
0.4.1 is out of date and will not work.  Follow the instructions here:
https://astroquery.readthedocs.io/en/latest/#installation
`pip install --pre astroquery`

[2020-12-10 15:24] Mixpap commented on #1919
```pip install --pre astroquery --upgrade``` downloads ```astroquery-0.4.2.dev6449``` which solves the problem. The conda packages (through channel conda-forge) are still on 0.4.1.
Thanks @keflavich

[2020-12-10 15:24] #1919 closed

[2020-12-10 20:52] tomdonaldson opened #1920 "Problem installing clean astroquery"
I'm getting an error trying to install a clean version of astroquery.  Hopefully it's a transient issue and will resolve itself  shortly, but if not here is what I did:
[code]

The error is:
[code]

[2020-12-10 21:40] pllim commented on #1920
I see that `astroquery` is still using `astropy-helpers` to generate the version:

https://github.com/astropy/astroquery/blob/fc70b94d13fa44789fe69e133bc264eff872d97a/setup.py#L68-L69

This issue might be naturally solved by applying APE 17 (#1668).

[2020-12-10 22:34] bsipocz commented on #1920
I don't see this error, and can't recall anyone else running into it. What is your pip version? (I'm not on the latest one, so would guess this may be a side effect of the new resolver).

[2020-12-10 22:39] pllim commented on #1920
For me, no error with `pip 20.2.4` but same error with `pip 20.3.1`. (`pip` was installed with `conda` in Python 3.8 env.)

[2020-12-10 22:43] bsipocz commented on #1920
oh, great, I see a new 🔥 on the horizon.

What was still on my todo list is to tag 0.4.2, so I'll get to it hopefully during the weekend, and I believe that would be the quickest workaround (the CD is broken at the moment anyway, so this issue would not pop up for the near future anyway).

Thanks @tomdonaldson for reporting this

[2020-12-16 20:03] mtazzari commented on #1905
Hi @keflavich , having the same issue here.
I am not able to run any alma query...
As posted above, even just this one doesn't work:
[code]
Questions:
1) Any idea where this broke and how to solve it?
2) Any other way to access the ALMA Archive programmatically apart from astroquery, until this gets fixed?
Thanks!

[2020-12-16 20:10] bsipocz commented on #1905
@mtazzari - The example works for me, do you have the latest version installed? (use `pip install -U --pre astroquery` rather than conda)

[2020-12-16 20:24] mtazzari commented on #1905
Wow thank you @bsipocz it works for me now!
I did install astroquery 0.4 with pip within a conda environment. And I had the problem with this version.
Then I uninstalled 0.4 and `pip install astroquery==0.3.9` to check if a previous version was working. I had different issues, with astropy missing modules..
Now I've tried your solution `pip install -U --pre astroquery` and it works as expected (at

[2020-12-16 20:40] bsipocz commented on #1905
Rule of thumb for astroquery (as opposed to other packages where old version combinations should keep working): always go with the very latest version. We cannot guarantee any backward compatibility due to changes on the remote servers. E.g. this problem I suspect was due to the alma API changes earlier this year, and since the whole server-side changed this time we can't do anything about it with

[2020-12-16 20:59] mtazzari commented on #1905
Thanks for the tip. Just wondering:
1) is `astroquery` the only "official" Python package to access the ALMA Archive?
2) Are the ALMA Archive APIs used by `astroquery` documented anywhere? I.e. a swagger docs of some sort.. Thanks!

[2020-12-16 21:03] JosephKarpinski commented on #1905
You may want to give the ESO portal a look.
Easy to signup. Has a section for Alma data.

https://www.eso.org/sso/login?service=https%3A%2F%2Fwww.eso.org%2Fsso%2Foauth2.0%2FcallbackAuthorize%3Fclient_id%3Dclientid%26redirect_uri%3Dhttps%253A%252F%252Fwww.eso.org%252FUserPortal%252Fsignin%26response_type%3Did_token%2Btoken%26client_name%3DCasOAuthClient

[cid:70F0AF31-D3EE-4171-BC9B-FA3C5FC1BE42-L0

[2020-12-16 21:14] keflavich commented on #1905
@mtazzari astroquery is not exactly "official", but it _is_ supported by ALMA via contributions from @andamian .

The ALMA archive APIs are, as far as I know, still undocumented.  @andamian may be able to say more.  The original interface to the ALMA archive that I wrote reconstructed an API from the web interface.  There is now a genuine API, but last I asked, documentation was not a priority.

@

[2020-12-17 10:54] mtazzari commented on #1905
Thank you Adam!
To have the ALMA Archive APIs were documented - even with an automatically-generated swagger output - would be a great step forward. It's a major astronomical archive and frankly the programmatic access to it is very poorly documented.
Kudos to you and all the astroquery developers: the `Alma` class is **very** useful as it is but a proper documentation of the ALMA database (to be

[2020-12-24 18:58] andamian commented on #1905
@mtazzari - ALMA has recently released services based on IVOA specs. You'd probably find useful the docs for their `TAP` service based on `ObsCore` model. Documentation is available at https://almascience.org/tap. There's also a `Datalink` service at https://almascience.org/datalink but that is less well documented. Hope this helps. Also, please keep in mind that relevant suggestions or contributi

[2020-12-24 21:09] keflavich commented on #1737
I can't reproduce this issue.  The original version works fine for me:
[code]

version:
[code]

[2020-12-25 00:14] keflavich commented on #1740
With the current version of astroquery,  I get:
[code]

This looks like it includes the full tarfiles (e.g., `2018.1.01131.S_uid___A001_X133d_X3b51_001_of_001.tar`).

[2020-12-29 01:30] keflavich commented on #1423
This issue is real, and fixable:
[code]
can get the mission list at least.  I'll dig forward and see if you already implemented this...

[2021-01-03 03:16] odysseus9672 commented on #1423
I'm confused. Did the old fix in #1424 stop working?

[2021-01-03 03:20] keflavich commented on #1423
Apparently that issue was... approved but not merged?  It looks like I approved it, then you closed it?  That change was never incorporated, though:
https://github.com/astropy/astroquery/blob/master/astroquery/ibe/core.py#L279
https://github.com/astropy/astroquery/blame/dc9bbe232f2a0ebf71ed6d2a1673a871da22fb73/astroquery/ibe/core.py#L279

[2021-01-03 15:03] odysseus9672 commented on #1423
Ah, I see. I can't reopen the old fix now, but it was exceedingly simple. It was a one line change, actually. Since I can't just reopen the old issue, I'll submit a new pull request.

[2021-01-03 15:39] keflavich commented on #1423
Re-solved in #1923, so I'm closing this one.   But indeed, #1430 kinda ate the original.

[2021-01-03 15:39] #1423 closed

[2021-01-04 16:04] HerculesJack opened #1924 "sdss sql not parsing results correctly for old dr"
Hi, I was trying to do this with astroquery:

[code]

The same SQL command does return an object on the SDSS website, but it returns nothing with the astroquery code above.

![图片](https://user-images.githubusercontent.com/34429853/103553538-8bd05e80-4ee8-11eb-8f1a-deb803a985b6.png)

Then I tried this:

[code]

And found the issue is probably because astroquery did not parse the result correctly.

[2021-01-04 16:41] keflavich commented on #1924
Thanks for noting this!  Would you be willing to submit the proposed change as a pull request?

[2021-01-04 17:06] HerculesJack commented on #1924
Sure, I'd be happy to do this. :)  Although I'm not sure if other functions calling `_parse_result` also need this change, so I'd need some time to check it.

[2021-01-04 19:57] bsipocz commented on #1924
Nice investigating. We seem to be testing with the whole range of DRs, but only locally. So if you could add some similar logic to the remote tests that would be great, and I think enough to make sure the parsing works for all cases.

[2021-01-05 10:17] #1916 closed

[2021-01-06 17:40] keflavich commented on #1494
An MWE reproducing the issue:
[code]
This fails.  If we look at the `response.txt` in the debugger, it looks like:
[code]
which suggests nothing was uploaded.

However, in the debugger, `fh` does have contents:
[code]

Maybe this is an issue with using the `StringIO` approach, instead of writing a tempfile?  I don't think so, but I'm not certain.

The code in question:
https://github.com/astropy/a

[2021-01-06 17:47] keflavich commented on #1494
Ah, [this ](https://stackoverflow.com/a/29780174/814354) is the solution:
[code]

[2021-01-06 17:47] MikeeRead commented on #1494
I've had a quick look at the code.

The service is expecting a multipart/form-data request. As far as I can see the python requests module if given the files parameter as a dictionary (?)  then multipart/form-data is sent. In the code I can maybe see where this takes place.

However the "file.txt uploaded file size: 0 bytes, 0 rows loaded" suggests none of the file contents are getting sent/read.

[2021-01-06 19:10] keflavich commented on #1494
OK, that's only a partial solution; the response is now:
[code]

so the data went up, but nothing came back?

[2021-01-06 19:27] bsipocz commented on #1494
Yep, I get an IOException. However, when doing the `wget` suggested above, it yields the same initial parsing result as we see when fixing the recovered bug in the `file` kwarg

[code]

[2021-01-06 19:32] bsipocz commented on #1494
The `response.url` is this one:

'http://horus.roe.ac.uk:8080/vdfs/CrossID?database=VVVDR4&programmeID=120&sys=J&ra=161.26477294&dec=-59.68443085&radius=0.016666666666666666&from=source&formaction=region&xSize=&ySize=&boxAlignment=RADec&emailAddress=&format=VOT&compress=NONE&rows=1&select=default&where=&disp=&baseTable=source&whereClause=%28priOrSec%3C%3D0+OR+priOrSec%3DframeSetID%29&qType=form&se

[2021-01-06 19:56] MikeeRead commented on #1494
There seem to have been a couple of successful uploads from 97.126.126.188 but no file output has been requested though that shouldn't truncate the output but I'm not seeing any errors. i.e. the requests seem to work and HTML is returned but no link to download the results as none requested.

[2021-01-06 20:18] bsipocz commented on #1494
ah, ok, thank for the pointer, that will hopefully get us to the fix.

[2021-01-06 21:37] keflavich commented on #1494
@MikeeRead are we passing the right information to trigger a download, or are you saying that we need to put in a separate request to get the subsequent download?   Or is it simply that, for the coordinates we're requesting, there's nothing to download because the results are null?

Or is there really a problem upstream and the results coming back are incorrectly truncated?

Sorry, I'm not sure ex

[2021-01-06 22:37] MikeeRead commented on #1494
My suspicion is that the complete right information is not being sent. If it was then you should see a full results page and link to the results file if that has been requested.

The service was designed to handle input provided by the web form so incomplete or possibly extra parameters are causing it to behave oddly.

Can you provide the latest list full list of parameters being passed and to wha

[2021-01-06 23:41] bsipocz commented on #1494
I have this payload dict (there has been indeed a few unused elements passed back that are don't see in the webform (view-source:http://horus.roe.ac.uk:8080/vdfs/VcrossID_form.jsp):
[code]

 That results this URL:
[code]

[2021-01-07 09:38] MikeeRead commented on #1494
hmm not sure what's going on when I take those params and submit them via perl/wget

$paramVal{"database"}="VVVDR4"; # database
$paramVal{"radius"}="5.0";             # search radius
$paramVal{"programmeID"}="120";        # 101 is LAS
$paramVal{"baseTable"}="source";       # source sourceView or detection
$paramVal{"selectList"}="default"; # list of attributes eg ra,dec
$paramVal{"whereClause"}="(

[2021-01-07 14:18] keflavich commented on #1494
Ah, I think this is the problem: we aren't leaving the connection open.  I'll try to figure out how to handle that...

[2021-01-07 15:22] keflavich commented on #1494
I'm not really sure how we're supposed to handle this.  It looks like VSA is returning a "complete" HTTP response - saying it's done -  before it has sent anything past the word `Programme:`.  To re-load the site, we'd need to re-post the file, which I don't think is intended.

Our `_check_page` function was clearly intended to handle this problem, but it doesn't work when part of the requested da

[2021-01-07 18:57] MikeeRead commented on #1494
Well I can only get it to work using wget/browser which seems to wait for the full response to finish/close. I can't remember why I used perl plus calling wget rather than doing it all in perl, I presume I just got it working quicker. I've used the script quite a few times to successfully crossID millions of coords looping through batches of 10,000 or so.

At some level partial data being sent bac

[2021-01-07 23:48] drtobybrown commented on #1920
I'm getting the same error with pip 20.3.1. Works using pip 20.2.4

[2021-01-11 18:06] andamian opened #1930 "Update the URL for the SIA service in ALMA"
ALMA has changed the path to the service from `sia` to `sia2`. This need to be reflected in the library.

[2021-01-11 18:47] #1930 closed

[2021-01-12 02:10] bsipocz opened #1932 "Extend CI: remote tests, crons, docs warnings"
After #1925 there are still a few things that need to be taken care of to get back to the CI level we had before:

- [x] add corn runs for remote data tests, see #1936
- [x] fix the docs build test so it fails when there are warnings. This probably requires APE17
- [ ] add back auto-deployment.
- [x] use nightly astropy for devdeps

[2021-01-12 14:24] drtobybrown opened #1934 "Failure to write astroquery result table with column format `object` to fits file"
[code]

Throws `ValueError: Illegal format `object`.`

Possibly related to astropy/astropy#7480.

[2021-01-12 14:25] pllim commented on #1934
Not sure where this power came from but turns out I could transfer the issue. It is in `astroquery` now. 😸

[2021-01-12 16:11] pllim commented on #1932
Not sure if you noticed but the oldest dependencies job runs astropy 4.1, not 3.1 as set in `tox.ini`. Example log: https://github.com/astropy/astroquery/runs/1685763696?check_suite_focus=true

[2021-01-12 18:01] drtobybrown commented on #1934
Ok thanks all - and thanks @pllim for transferring

@taldcroft I had to update to astroquery 0.4.2 following #1919 (downgrading pip to do so a la #1920

[2021-01-12 19:48] pllim commented on #1932
For the nightly astropy, I thought @cadair set it up, but I don't know how to use it.

[2021-01-15 16:10] keflavich commented on #1756
Solved by #1757

[2021-01-15 16:10] #1756 closed

[2021-01-17 06:08] odysseus9672 opened #1951 "Pip install of astroquery 0.4.2.devXXXX fails"
I'm trying to pip install one of the newer version of astroquery that incorporates a necessary bug fix to its `mast` component. On doing so, I get the following error:
[code]

Poking around the source tarball, I can find the following line in `setup.py`:
[code]
I don't know if the above code is relevant. I do know that the correct version is in the file `PKG-INFO`. So, maybe change the `setup.py`

[2021-01-17 06:13] odysseus9672 commented on #1951
Duplicate issue to  #1920

[2021-01-17 06:13] #1951 closed

[2021-01-17 06:19] odysseus9672 commented on #1915
Also duplicate of #1643 .

[2021-01-19 21:05] tinumide opened #1953 "BESANCON: create login method in module"
The Besancon portal now requires a user to be logged in before accessing the model forms therefore a login method needs to be implemented in the Besancon module.

[2021-01-19 21:12] tinumide opened #1954 "NOIRLAB: version check fails"
Noirlab raises this exception `The astroquery.noirlab module module is expecting an older version of the https://astroarchive.noao.edu API services ` the API is of version 5.0 but the module checks for version 2.0 as the latest version.

[2021-01-20 19:41] SolSysMiner opened #1955 "JPL Horizons Queries package returns "unknown object" for known objects"
OS: Linux

Interpreter: **Python 3.9.1**

**Astroquery: 0.4.1**

Code:
[code]
invoked with, for example, pdes = '2021 BS1', a recently discovered Solar System object

Error returned:
[code]

Therefore, the object is unknown to the system, but we know for sure that it is part of the database.

Additional queries returned the following:

[code]

DES= 54106533 is "2021 BS1" in the database. This is j

[2021-01-22 15:51] SolSysMiner commented on #1955
I had to clear out ~/.astropy/cache/astroquery/Horizons to make it re-download the updated list. Just this did the trick. Therefore, it was a caching-related issue; first time I see one of these with this package.

[2021-01-22 15:51] #1955 closed

[2021-01-22 18:44] adeleplunkett opened #1957 "astroquery.alma table gives spatial resolution in units of degrees but should be arcseconds"
[code]

The code returns a table that includes s_resolution (spatial resolution) with units of deg, but looking at the same project in the [ASAX](https://almascience.nrao.edu/asax/), the same angular resolution value should instead have units of arcsec.

[2021-01-23 00:08] keflavich commented on #1957
Yep, confirmed.  @andamian we might want to special-case this, or request that ALMA fix it if it's in the metadata we're receiving.

[2021-01-25 16:49] andamian commented on #1957
Also confirmed. It's a service problem as the `IVOA ObsCore` standard that the service follows specify the unit as `arcsec` so I prefer a fix there. I've open a ticket with `ALMA` (https://help.almascience.org/tickets/16017 - here for cross reference). Let's wait and see what they have to say about it first. We'll fix it here only if it cannot be done upstream.

@adeleplunkett - thanks for reporti

[2021-01-26 19:04] adeleplunkett commented on #1957
I see there is an ICT ticket at ALMA for this now.

In addition to the units issue, I have a more minor point.  I think that the documentation [here ](https://astroquery.readthedocs.io/en/latest/alma/alma.html) refers to this keyword as spatial_resolution, when it seems that it should be listed there as s_resolution.

[2021-01-26 20:59] adeleplunkett opened #1959 "Alma.query_object() parameter public=False may not behave as in documentation"
`obs = Alma.query_object('M83', public=False)
obs['data_rights']`

The above commands will return all of the Proprietary data, while indicating public=True returns all Public data.

This is different than the [documentation](https://astroquery.readthedocs.io/en/latest/alma/alma.html), as in:

For example, if you want to find all projects with a particular PI, you could do:
`rslt = Alma.query_objec

[2021-01-27 01:48] astromsshin commented on #1826
I think their might be a problem in how the Vizier class handles the columns options. In the version 0.4.1, astroquery/vizier/core.py has the _args_to_payload function which produces the data for the post method in requests for Vizier votable CGI.

[code]

seems wrong. The columns_out is Python list object instead of string. Does it need to be changed? I have changed that part to `body['-out'] = '

[2021-01-27 13:33] JohnPritchard opened #1962 "vizier query_region returning empty TableList"
Hi,

Since at least Monday 25/01/2021, query_region requests to Vizier have been returning empty TableLists: e.g.:

I am getting this with a range of astroquery versions, 0.4 to 0.4.2.dev6449, and in both macOS and Linux environments, so I am guessing Vizier has changed something in their API.

Any ideas how to fix this?

[2021-01-27 14:22] keflavich commented on #1962
I confirm: this looks like a bug, maybe an upstream issue?  If I search the gaia2 catalog at these coordinates, there are _lots_ of hits, so it's not a genuinely empty catalog.

cc the Vizier maintainers, I need to get their names linked...

[2021-01-27 14:25] JohnPritchard commented on #1962
I have reached out to the CDS to ask for info, maybe it's simply that they have some down servers (has happened before), or maybe they did something to the "API" on their end. Will keep you posted.

[2021-01-28 08:14] gilleslandais commented on #1826
Hello -
it is an error following a recent security update in VizieR. Problems come indeed  from -out= which list columns in an array containing ' - I will deblock the situation before having a good practice!

[2021-01-28 09:54] gilleslandais commented on #1826
it is fixed - can you check?

regarding the URL generated by astroquery, I noted that the -out parameter (to list the expected columns) is not filled correctly - The correct usage of -out is to list columns separated by ',' (or to repeat -out for each column expected).

The current astroquery version works, because iastroquery completes the URL with  -out.add parameter (with the same column list).

[2021-01-28 13:49] JohnPritchard commented on #1962
Today it seems to be working again. So I am guessing it was an issue on the CDS end, and my email to them prompted them to take action...
This ticket can probably be closed now.

[2021-01-28 17:19] keflavich commented on #1962
@gilleslandais could you verify that you guys solved this?  Is it related to #1826?

[2021-01-28 23:11] astromsshin commented on #1826
The change seems working although it doesn't look best to send all column parameters as arguments to the out.add parameter instead of separating out.add and out columns. I guess the design of Vizier class cannot be changed to have additional columns as a separate argument in addition to columns, considering the coherence of the class design with others.

[2021-01-29 19:52] carise commented on #1075
Hi @mommermi! We at [Asteroid Institute](https://github.com/B612-Asteroid-Institute/) have been wanting to create a query tool for NEODyS. If work hasn't been started on it to contribute to astroquery, would it be ok for us to contribute it?

[2021-01-29 20:16] mkelley commented on #1075
Hi @carise , I'm not sure if Michael will reply, but I can comment.  At sbpy, we don't have any specific plans for NEODyS and I'm not aware of any work on this elsewhere.  So, your contribution sounds good to me.

[2021-02-03 02:29] davetyp opened #1978 "Horizons query fails for mysterious reason related to significant figures"
The code below will raise an error.  However, if any of the contants (jdut, lat, lon, elevation) to have merely one less place past the decimal point, the result is returned just fine.  The URI for the code below returns a valid result when pasted into a web browser. However, the raw_response does not match what is received in a web browser. Seems therefore to be an astroquery parsing issue.
NOTE:

[2021-02-03 19:40] s-goldman opened #1979 "astroquery.mast.Observations.download_products not downloading file"
When trying to download Spitzer data the `astroquery.mast.Observations.download_products` creates a directory structure for the first couple directories but then stops and doesn't download the file. Downloading HST data this way is working fine, and the html link for downloading the data works fine.

<img width="1872" alt="Screen Shot 2021-02-03 at 2 30 51 PM" src="https://user-
<img width="1869"

[2021-02-06 20:53] iHD992 opened #1981 "Can not access GAIA data"
Code:
[code]

Result:
[code]

[2021-02-08 09:52] SilvioLeccia commented on #1408
Hello!
I have the same problem reported by dagnic.
I do not perform more than 1 or 2 queries per second but I have "ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))".
Before Christmas I had not this error and I worked with a list of 1000 sources. Now every 5/10 sources I have to restart the code.
Can someone give me an help on how to sol

[2021-02-08 11:23] SilvioLeccia opened #1983 "Simbad ConnectionError (same of Issue #1408, closed)"
Hello!
I have the same problem reported by dagnic in issue #1408 (closed).
When I try to  query Simbad to get info on classification on objects from their position in the sky, sometimes, it fails with:
 "ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))".
I don't perform several queries in 1 second, and before Christmas I didn't have this

[2021-02-08 11:37] keflavich commented on #1983
cc @aoberto

[2021-02-08 11:39] keflavich commented on #1981
What result do you expect?  Are you sure your SQL query is valid?

[2021-02-08 13:21] aoberto commented on #1983
Hello Silvio,
I could not see any issue from Simbad. Can you give an example of your code, the astroquery version, and sources where it fails ? But it seems that for issue #1408 the error, was from python connector

regards

[2021-02-08 13:53] SilvioLeccia commented on #1983
Thank you for your answer.

The code have to take a list of sources, from ra & dec perform the query, while some diagnostic plot are displayed.

The code doesn't fails on a specific object. When it fails, I restart from the same object and I have no problems for 5/6 stars, then fails again.
I think that I am on one source for 10-15 seconds, so... my rate is about 1 query every 10s.

The astro quer

[2021-02-08 16:09] iHD992 commented on #1981
Indeed, the query is invalid. It seems the database structure has been changed since this tutorial has been written:
https://learn.astropy.org/rst-tutorials/gaia-galactic-orbits.html?highlight=filtertutorials

This query works: `query_text = '''SELECT TOP 512 ra, dec, parallax, pmra, pmdec
FROM gaiaedr3.gaia_source
WHERE parallax_over_error > 10 AND
    parallax > 0.16
ORDER BY random_index
'''`

[2021-02-08 16:09] #1981 closed

[2021-02-08 17:03] aoberto commented on #1983
To be sure to have to latest version of astroquery, you can try to upgrade it (depends on how you installed it, may be : `sudo pip install --upgrade astroquery`.
I tried a simpler code derived from yours, and I get all the answers, no Connection errors (see bellow). Some users, get also this error, if the `Simbad` object was created in a loop, and, just moving the code in a function .... I was ask

[2021-02-08 20:31] ceb8 commented on #1979
Hi @s-goldman! Can you provide a code snippet that demonstrates this issue?

[2021-02-08 20:33] ceb8 opened #1984 "CI test failures"
There are some ongoing test failures when the CI runs that need to be dealt with.

See https://github.com/astropy/astroquery/actions/runs/546937323.

[2021-02-08 20:37] s-goldman commented on #1979
@ceb8  Thanks for looking into this!
`from astroquery.mast import Observations`
`data_products = Observations.get_product_list('19000129592')`
`manifest = Observations.download_products(data_products, productType="SCIENCE")`

[2021-02-08 21:03] ceb8 commented on #1979
@s-goldman  There definitely is some kind of bug going on there. I'll look into it, but as a work-around you can do:

[code]

[2021-02-08 21:07] s-goldman commented on #1979
I'm just glad to hear I'm not crazy. Thanks for the tip, i'll give that a try.

[2021-02-09 09:02] SilvioLeccia commented on #1983
Thank you for your work and interest on this topic.

At the end of message  a list of 40 objects. Where there is the arrow, is where I have the connection problem.  I underline that where I restart the code, the first source is which had the connection problems, and in the new run, I have no problem until the next stop.
I updated, as suggested, the astroquery and now I have astroquery-0.4.1.

In t

[2021-02-09 23:14] keflavich commented on #1882
This may now be solved:
[code]

[2021-02-09 23:34] andamian commented on #1882
Yes, the service has been fixed a while ago. For some reason, this ticket was off my radar to update it when that happened. Sorry!

[2021-02-10 00:54] jmangum commented on #1882
I have astroquery-0.4.1 installed, and this query does not work:
`In [1]: from astroquery.alma import Alma

In [2]: alchemi_data = Alma.query_sia(proposal_id='2017.1.00161.L')
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-2-861b88ca714a> in <module>
----> 1 alchemi_data = Alma.q

[2021-02-10 01:41] jmangum opened #1986 "pip install of latest fails"
Appears that conda and pip packages are out-of-date, so tried pip install of bleeding-edge.  That too unfortunately fails:
[code]

[2021-02-10 05:35] bsipocz commented on #1986
Have you tried to install from pypi with `pip install -U --pre astroquery`? That way you would pick up a latest released version. Arguably we haven't yet fixed CD since travis went down, so it may be indeed a bit out of sync from master.

Alternatively, to install the latest top of the default branch, please follow the suggestions of the documentation https://astroquery.readthedocs.io/en/latest/#b

[2021-02-10 11:30] jmangum commented on #1986
Thank you for the suggestion.  I really just want to install the latest top, so tried the first pip install you suggested.  That failed also:
[code]

[2021-02-10 18:26] andamian commented on #1986
@bsipocz I can confirm that no pre-releases work for me either. They all fail with the above error before `pip` settles to `0.4.1`.

[2021-02-10 18:28] andamian commented on #1882
Not released yet. You'd need a pre-release version but they seem to be broken at the moment as you've noticed (#1986). If you need it urgently, I suggest installing it from `GitHub` with command `pip install -e 'git+https://github.com/astropy/astroquery@master#egg=astroquery'`. That works.

[2021-02-10 18:38] bsipocz commented on #1986
that is https://github.com/astropy/astroquery/issues/1920. to work it around, try either to downgrade pip to 20.2.x, or use the git+https link from above.

[2021-02-10 19:00] jmangum commented on #1882
Thank you both.  Not in a big rush, but would like to start manipulating some ALMA metadata.  Tried installing from GitHub and that worked.  Thanks!

[2021-02-11 10:51] mapfiable opened #1990 "Coordinates of identifier divided by two"
I've already asked the question on [stackoverflow](https://stackoverflow.com/q/66152929/5472354), but I just realized that it probably makes much more sense to ask here.

I'm trying to use `astroquery` to find objects in my images. For some images it works, for others it doesn't and I don't understand why. E.g. for the commented out `qry` it works, but for the other one, the coordinates seem to ha

[2021-02-11 12:41] keflavich commented on #1990
I don't see the duplication problem. In the example you've listed, each coordinate is unique.

However, neither query appears to be hitting the correct part of the sky.  Maybe this is a problem with the region syntax.  @aoberto - can you chime in on this

[2021-02-11 12:50] mapfiable commented on #1990
Thanks for checking!

I'm not sure what you are referring to. The main issue that I have is that I want to look for objects in the `239.6645 -19.13481` region, but all the results are around `117.9486170008536, -9.3056044051835`, so roughly half of that. It seems like the coordinates of the identifier are divided by two before searching the area around it defined by the FOV. Are you saying you don

[2021-02-11 12:56] keflavich commented on #1990
For the other case, too, though, I see wrong coordinates returned.  e.g.:
[code]

Are you sure any of your queries with `region`s worked?

[2021-02-11 13:03] mapfiable commented on #1990
Oohh, that's really weird. For the other one it works for me:

[code]

When I transform those back to my image coordinates, it looks fine (although a bit shifted, but that's probably because of the not 100% correct pointing).

How can I check which `astroquery` version I am running? Anything else that might help?

[2021-02-11 14:03] keflavich commented on #1990
I don't think this is an astroquery issue, though I'm not 100% sure - astroquery doesn't change anything about the criteria query.  Try running these criteria queries directly on SIMBAD.

[2021-02-11 15:09] mapfiable commented on #1990
You're right. There seems to be a problem [with SIMBAD](http://simbad.u-strasbg.fr/simbad/sim-sam?Criteria=region%28rotatedbox%2C+239.6645+-19.13481%2C+2.208d+2.208d%2C+18.77721%29+%26+Vmag+%3C+11.0+%26+Vmag+%3E+-27.0&submit=submit+query&OutputMode=LIST&maxObject=10000&CriteriaFile=):
![grafik](https://user-images.githubusercontent.com/48512334/107654997-72f35f80-6c83-11eb-8584-bd1dd976fde1.png)

[2021-02-11 15:17] aoberto commented on #1990
Hello, I confirm there is an issue here in Simbad during parsing coordinates from input.
I will dig into and fix it as soon as possible.
Anais

[2021-02-11 17:00] mapfiable commented on #1990
Thanks a lot!

[2021-02-15 04:34] huiyang-astro opened #1991 "Vizier.query_region matching with multiple coordinates"
I was trying to use Vizier.query_region to match with multiple coordinates at the same time from my own source list. An example can be something like below:

from astropy.io import fits, ascii as ascii_io
import astropy.units as u
from astroquery.vizier import Vizier
import astropy.coordinates as coord

df  = ascii_io.read("mytable.csv", format="csv", header_start=0, data_start=1) # mytable.csv co

[2021-02-15 09:09] aoberto commented on #1990
Thanks for having reported this issue, the query using box/rotatedbox are now correct. Sorry about that.
Anais

[2021-02-15 10:37] mapfiable commented on #1990
No worries, thank you! However, I cannot confirm it on my end. The results for my query are still off.

[2021-02-16 14:33] biqingfor opened #1993 "vizier.query_region gives error rather than no object found"
I have a script that uses query_region to search for objects within certain sq deg of a catalogue. Field centre RA and DEC provided. I am getting "TableLists can only be indexed with the ""named keys and integers.” error. After some testings, it seems that the error comes from the field centre falls outside the survey catalogue region.  I would have thought that the warning should be “no object fo

[2021-02-16 14:36] keflavich commented on #1993
Could you please include a specific example that fails in this way?

[2021-02-16 14:56] jwoillez commented on #1993
@keflavich I have a fix for that one. It seems the behavior changed on the VizieR side. It's the same issue as in e.g. #1991 and probably some more. I had to work on #1992 to understand what was going on...

[2021-02-17 02:59] biqingfor commented on #1993
Yes, here is a specific example. Note, I set the timeout to be a large value because the connection to vizier in Strasbourg is not good for whatever reason. It is not relevant here but thought I would mention. I am now using a mirror site. As you can see, I tried with a declination of -5.0, which didn't give me an error.

from astropy import units as u
from astropy.coordinates import SkyCoord
from

[2021-02-18 10:37] mapfiable commented on #1990
@keflavich ok so, I found a new issue. Not sure if this is related to the changes made how SIMBAD handles box/rotatedbox queries now but the following query seems to work in [SIMBAD](http://simbad.u-strasbg.fr/simbad/sim-sam?Criteria=region%28rotatedbox%2C+53.77369+%2B17.36241%2C+2.208d+2.208d%2C+159.63966%29+%26+Vmag+%3C+11.0+%26+Vmag+%3E+-27.0&submit=submit+query&OutputMode=LIST&maxObject=10000&

[2021-02-19 20:43] olyoberdorf opened #1995 "Gemini: default radius to None if coordinates is None"
radius has no purpose if coordinates are not set

[2021-02-19 20:49] olyoberdorf opened #1996 "Gemini: notengineering and NotFail defaults should respect explicit search terms"
Right now the search URL constructed specifies notengineering and NotFail.  But if a user has added explicit terms that contradict these, they should be omitted.

[2021-02-19 20:52] olyoberdorf opened #1997 "Gemini: getfile should be flexible about the filename"
The API can return filenames from the Gemini service that end in .bz2, but the download request wants the .fits filename.  This maks the intuitive use of the astroquery module fail.  i.e. something like this should work as the user would expect

[code]

[2021-02-20 00:39] ivv101 commented on #1962
It still doesn't work: even the example in the documentation --https://astroquery.readthedocs.io/en/latest/vizier/vizier.html#query-with-table -- produces an empty TableList.
I was wondering if it could be mentioned in the documentation  that querying with Tables is temporarily not working -- would be very helpful.

We need to query several thousands of coordinates and because tables don't work, w

[2021-02-20 02:24] keflavich commented on #1962
@ivv101 we don't put temporary issues into the docs, generally - that's what the issue tracker is for.

This might be an upstream issue.  I'll ask CDS for help.

[2021-02-22 14:56] keflavich commented on #1962
@gilleslandais reported (by email) that this is a potentially-recurring issue having to do with switching between the "main" and "backup" servers.   If we query using TAP instead of ADQL, we may be able to get this error message: `<INFO name="QUERY_STATUS" value="ERROR">Upload aborted: this functionality is disabled in this TAP service!</INFO>` and pass it on to users, but at the moment it seems o

[2021-02-24 04:29] hyeinyoon opened #2001 "vizier.query_region output errors with the FIRST catalogue"
Hi, I have a script that searches for all objects within a certain sky coverage. I found Vizier.query_region returns only 50 objects with the FIRST catalogues (VIII/92/first14) even if I choose different directions of the sky. I have checked that the query works well and returns correct outputs with other catalogues (e.g. NVSS - VIII/65/nvss, a few thousands objects are found). I am wondering if i

[2021-02-24 07:40] sklandrausis opened #2002 "Error using irsa catalogs"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.8/site-packages/astroquery/irsa/core.py", line 425, in list_catalogs
    root = tree.fromstring(response.content)
  File "/usr/lib64/python3.8/xml/etree/ElementTree.py", line 1320, in XML
    parser.feed(text)
xml.etree.ElementTree.ParseError: XML or text declaration not at start of entity: line

[2021-02-24 10:29] clgreenwell opened #2003 "Searching Chandra data with astroquery.esasky.query_object_maps returns wrong objects"
When searching for Chandra measurements with astroquery.esasky.query_object_maps, the results returned can be several degrees off the input coordinates. I tested the same program with XMM instead and it works fine. Here is a working example:

[code]

Which outputs:

1.77185950000001 20.207457
output coordinates:
350.5374527924661 40.88206224433065
Separation: 22.77901873075805 deg
356.005929894037

[2021-02-24 12:40] keflavich commented on #2001
This issue is addressed in the documentation:
https://astroquery.readthedocs.io/en/latest/vizier/vizier.html#get-a-whole-catalog

[2021-02-24 12:40] #2001 closed

[2021-02-24 12:49] keflavich commented on #2002
I can't reproduce this exactly, but I got a timeout error from IRSA this morning:
[code]

[2021-02-24 12:53] keflavich commented on #2003
I can reproduce this.  That's rather weird behavior.

A brief tip: `results[0]` is already a table, so you don't need to make it into one.  Also, you can loop over the table rows instead of their indices, e.g.:
[code]

[2021-02-24 13:05] clgreenwell commented on #2003
Thanks - yes, it is strange. Glad it's not just me.

Good point about the table. The loop over indices is partly because it's a simplified example of a longer script, but it might be that I can improve the main code with that. Thanks for the tips!

[2021-02-25 12:36] jmangum opened #2005 "astroquery.alma appears to return an incomplete and duplicated antenna listing"
Using the following:
[code]
...it appears that the antenna_arrays listing contains multiple instances of a given antenna (but on different antenna pads)...
[code]
Several antennas are repeated in the above listing (i.e. DV07).  Is this listing the combination of all antenna pad:antenna pairs that were observed in all sessions observed for a given scheduling block?

Also, it appears that the listin

[2021-02-25 13:24] keflavich commented on #2005
@jmangum have you verified that the antenna number issue is an astroquery issue, not an ALMA archive issue?

The `...` issue is real, apparently.  @andamian, where are string limit lengths being imposed?  Is that upstream or in our tooling here?

[2021-02-25 13:49] jmangum commented on #2005
@keflavich I am not sure how I would check the ALMA archive side of this issue.  The antenna_arrays column does not seem to be provided with the ALMA archive web interface.

[2021-02-28 17:25] schirmermischa opened #2007 "Cone-search for all known non-sidereal targets"
Hello, I'm writing a tool to overlay all known non-sidereal targets from the MPC over an astrometrically calibrated FITS image with known DATE-OBS. Reading the astroquery documentation, I do not find a suitable tool in the MPC class. I can only make queries for a specific object. Would it be possible to implement a cone search within some search radius, at a given RA / DEC / DATE-OBS and geographi

[2021-03-02 16:13] andamian commented on #2005
`Alma.help_tap()` shows that the size of `antenna_arrays` field is limited to 660 which is the size of the `...` values. I'm going to enquire ALMA developers about that limitation.

[2021-03-02 19:08] jwoillez commented on #1962
@ivv101 @keflavich I have a fix for this query-with-table issue. It seems that the upstream query-with-list mechanism changed.

[2021-03-03 15:19] #1979 closed

[2021-03-06 09:21] astromark opened #2008 "Astroquery list catalogs error"
### Description

When trying to list IRSA catalogs I receive a 'parse error'.

### Expected behavior

Receive a list of IRSA catalogs.

### Actual behavior

Received this traceback.
[code]

### Steps to Reproduce

[code]

### System Details
Linux-5.4.0-65-generic-x86_64-with-debian-bullseye-sid
Python 3.7.9 (default, Aug 31 2020, 12:42:55)
[GCC 7.3.0]
Numpy 1.19.2
astropy 4.0.2
Scipy 1.5.2
Matplot

[2021-03-07 13:44] keflavich commented on #2008
I confirm this is happening.  The error message is:
[code]

[2021-03-09 15:28] pllim opened #2009 "MNT: Rename default branch from master to main"
Please rename your default branch from `master` to `main` as part of astropy/astropy-project#151 , preferably by 2021-03-22. Also a friendly reminder to check documentation, workflows, etc., and update them accordingly. Please don't forget to communicate this change to your users and stakeholders. To summarize:

- [ ] Rename branch from `master` to `main`, preferably by 2021-03-22.
- [ ] Update do

[2021-03-10 18:07] HugoDelgado commented on #1856
I had trouble updating to the latest versions of astroquery in my Mac through Conda. Apparently my Mac has several directories for python. Your solution was the easiest and worked. Thanks

[2021-03-11 17:40] lgbouma opened #2013 "The NASA Exoplanet Archive is moving to TAP"
Hi exoplaneteering astroquery experts ,

Updates have been posted at the exoplanet archive that indicate they are moving to a TAP-based table system. For instance, the recently posted planetary systems tables (`ps` and `pscomppars`) are only accessible through TAP, rather than the API service. See:

https://exoplanetarchive.ipac.caltech.edu/docs/TAP/usingTAP.html
https://exoplanetarchive.ipac.calt

[2021-03-15 05:53] ekerrison opened #2014 "querying other NED tables"
Hi, I've read the docs and astroquery.ned.get_table() can take one of the following as a table argument: ‘photometry’|’positions’|’diameters’|’redshifts’|’references’|’object_notes’.

Is it possible to query the other tables available in ned? in particular the 'Classifications' table?

[2021-03-15 13:27] PhilippeSalome opened #2015 "alma.get_data_info (following https://astroquery.readthedocs.io/en/latest/alma/alma.html) --> non-string array"
It seems that get_data_info gives a TypeError.

[code]

[2021-03-15 13:52] keflavich commented on #2015
cc @andamian

[2021-03-15 14:51] mapfiable commented on #1990
Hi, sorry for bothering again, but I still get the wrong results using `astroquery`. Are there any updates?

[2021-03-15 15:03] keflavich commented on #1990
@aoberto can you address this?

[2021-03-15 18:17] havok2063 opened #2016 "astroquery fails to authenticate with MAST API token"
When trying to download a file behind MAST auth access, e.g. url="https://mast.stsci.edu/portal_jwst/Download/file?uri=mast:JWST/product/jw00736-o039_t001_miri_ch3-medium_s3d.fits", astroquery fails with an HTTP 401 "unauthorized for url" error.  However, it works successfully when I try a raw get with `requests`, passing in my MAST_API_TOKEN manually.   I'm using `astroquery=0.4.2.dev6635`.  The

[2021-03-15 21:09] andamian commented on #2015
Looking into it.

[2021-03-17 14:48] mapfiable opened #2019 "Is there a way to reduce entries from multi-star systems to a single entry?"
When using `astroquery` to search an area in the sky for objects that satisfy certain criteria, it of course returns all the objects that do--as it should--, including stars from binary systems. In an image however, binary systems usually only appear as a single point source, which is all I am interested in: identifying the point source as a solar system. I don't care if the system has more than o

[2021-03-17 15:03] keflavich commented on #2019
In short, no, because the results from astroquery depend entirely on which service you're querying.  Each service will return entirely different types of data - for some services, you might get only single systems, while from other services, you might get multiple entries for a binary.  SIMBAD may distinguish between these.  However, for unresolved binaries, the conventional standard in astronomy,

[2021-03-17 15:14] mapfiable commented on #2019
I see. Thanks a lot for the super fast reply!

I don't specify any catalog so I assume every relevant catalog is searched, no? So that way entries might also double. Would it make sense to use the identifiers to see which entries point to the same solar system? Otherwise I might just use the coordinates, define some reasonable offset objects must have and reduce my data that way.

[2021-03-17 15:19] keflavich commented on #2019
You can't use astroquery without specifying a service - are you querying vizier?  MAST? IRSA? ESA? etc.  They all return entirely different types of result.

Yes, coordinate-based selection probably is what you're looking for

[2021-03-17 15:26] mapfiable commented on #2019
As far as I understand, I don't (conciously) specify one. Here's the query that I use:

[code]
Does this maybe imply a certain catalog or is there a default one? Sorry for my ignorance!

[2021-03-17 15:32] keflavich commented on #2019
You are using the SIMBAD service.  They have a very specific curated catalog.

[2021-03-17 15:42] mapfiable commented on #2019
Oh, I'm sorry, I didn't know that's what you meant. I thought you meant which catalog I specify *within* SIMBAD. Obviously, I'm not very savvy yet in all this. Them being curated, what does that mean for me?

[2021-03-17 15:46] keflavich commented on #2019
The SIMBAD catalog is its own unique thing, and is one catalog afaik - it is curated by a team of scientists at CDS.  You should look into their documentation if you want to know more about how individual stars are stored.  Try looking up a known binary system and see how it is reported.

Curated also means that it contains strong selection biases - not all stars are in SIMBAD.

[2021-03-17 16:07] mapfiable commented on #2019
Thank you, this is some very good information! Would you recommend a different catalog instead? I don't care so much about very faint objects, although I can't really give you a magnitude range. Now that you mention their selection bias, I already did observe that for some of the clearly visible objects no match was found. I couldn't really explain it.

I thought SIMBAD had the option to specify t

[2021-03-17 16:58] keflavich commented on #2019
I can't really offer further advice; it depends totally on what you're trying to learn.

Vizier is what you want if you want to search the full contents of specific catalogs.  SIMBAD contains measurements from some catalogs, which allows the search you highlighted, but it doesn't guarantee - afaik - that the whole catalog is included.

[2021-03-17 17:26] aoberto commented on #2019
I would recommend this documentation http://simbad.u-strasbg.fr/guide/simbad.htx to understand which objects/catalogues are in SIMBAD.
The criteria we called `cat=` means that we kept the name coming from a specific catalogue, but the catalogue may not be fully ingested in SIMBAD.
For binaries, you can use the criteria `otypes='**' ` to select only parent system (defined as it for at least one cat

[2021-03-18 08:50] mapfiable commented on #2019
No worries, @keflavich, thank you! I might give vizier a shot in the future then.

Thanks a lot, @aoberto! When I use `otypes='**'`, does that mean I will only search for binary systems, or will I also find single-star systems? Which is the catalog this criterion is defined for? If I use it, but don't limit the serach to that catalog, will it still work? Out of curiosity: Why are certain catalogs

[2021-03-18 14:09] pacargile commented on #1962
@jwoillez Any update on your PR to fix this issue? I really don't want to get black-listed from Vizier because I spammed their servers with thousands of individual queries.

[2021-03-18 14:27] aoberto commented on #2019
The aim of SIMBAD is to give a bibliography on objects in the sky. So the objects in a large catalogue that do not have any other publication, usually are not in SIMBAD (in practice, it could be a bit more complex, historic catalogues, depending on the size of the catalogue ...).
The critrion `otypes='**'` will use an information associated to published catalogues (HD, WDS, ...) or papers that cla

[2021-03-18 15:23] mapfiable commented on #2019
Thank you @aoberto for the elaborate response. I will try out `(otypes='*' & parents=0)` and see what works best!

[2021-03-18 19:33] bsipocz commented on #2019
OK, so let's close this issue here as this is neither about an astroquery bug or feature.

@mapfiable - if you are not a member of it yet, I would suggest checking out the "python users in astronomy" facebook group. It has many thousand astronomers as members, and questions like this are well suited for that forum as people there may have different tricks and tips to do what you aim to do here.

A

[2021-03-18 19:33] #2019 closed

[2021-03-19 06:48] jwoillez commented on #1962
I just added a note to #2012. I may have forgotten to state that the PR was ready for review. It also look like it is the busy season, away from astroquery. @pacargile, you can always use the branch used for the PR in the meantime. And report if it works for you in #2012 or here. Would be nice if other users test that branch.

[2021-03-19 09:42] mapfiable commented on #2019
Thanks for the suggestion @bsipocz, I didn't know about that group. I will check it out! I wasn't really sure if this was the appropriate place to ask this kind of question, but I didn't know where else to turn. I thought about stackoverflow, but I fear that `astroquery` is still to obscure for that platform. I knew that here I would at least reach the right people straight away. In a way though I

[2021-03-19 17:21] pacargile commented on #1962
@jwoillez Using your fork, I was able to get the example [query-with-table](https://astroquery.readthedocs.io/en/latest/vizier/vizier.html#query-with-table) to work without issue. However, I tried it with my own query to Gaia ER3 with an astropy SkyCoord object. I ran into a VOTable parsing error:

[code]

The result is:

[code]

My astropy version is 4.1.

Thanks for your work on this issue!

[2021-03-19 19:12] pacargile commented on #1962
@jwoillez I've tracked down the issue having to do with giving the Vizier object (e.g., Vizier(columns=["**", "+_r"]) ). My example above works when the query is simplified to:

[code]

[2021-03-20 06:43] jwoillez commented on #1962
@pacargile Thanks for the bug report. Good thing you could test. I try to push a fix over the week-end.

[2021-03-20 08:17] jwoillez commented on #1962
@pacargile A fix for your issue was added to PR #2012. Want to try again?

[2021-03-20 09:07] jwoillez commented on #1502
@philastrophist Sorry for the late feedback. Your syntax is off. All keywords inside the `query_constraint()` call are constraints on columns. The syntax you are after is:

`shen11 = Vizier(catalog='J/ApJS/194/45', columns=['**']).query_constraints(z='> 0.34 & < 0.4')`

[2021-03-20 09:14] jwoillez commented on #1502
@ysBach With PR #2012, I cannot reproduce the issue and can obtain all 25 requested columns. No idea if this is a change on the `Vizier` side, or a code change on the `astroquery` side.

@keflavich, @bsipocz, I recommend closing this issue, or I mark it as fixed in #2012. Let me know.

[2021-03-20 09:27] jwoillez commented on #1993
@biqingfor `nhicat_result` is an `Empty TableList`. Unless you know there should be targets within 5deg of the specified coordinate, I would say we have an expected behavior. Can you please check?

Also note that you should use `width=6*u.deg` instead.

[2021-03-20 16:29] jwoillez commented on #1826
@astromsshin, @gilleslandais, the two issues you report should be fixed by #2012. Please check if you can?

[2021-03-20 16:34] jwoillez commented on #1574
@bsipocz, @keflavich, could this issue be closed?

[2021-03-20 16:48] #1574 closed

[2021-03-20 18:39] #1502 closed

[2021-03-20 18:39] #1826 closed

[2021-03-20 18:39] #1962 closed

[2021-03-24 21:28] ptbraunschweig opened #2025 "Gaia.query_object ignores "columns" if "radius" is provided"
When a value for "radius" is passed to Gaia.query_object, the value of "columns" is ignored. This does not occur if "radius" is left blank and "width" and "height" are specified instead.

**Example:**

from astroquery.gaia import Gaia
from astropy import units
from astropy.coordinates import SkyCoord

radius = 10 * units.arcsec
ra = 0 * units.degree
dec = 0 * units.degree
c = SkyCoord(ra=ra, dec=d

[2021-03-25 20:53] pllim opened #2027 "MNT: Have a plan to retire vo_conesearch"
At Astropy Coordination Meeting 2021, @tomdonaldson mentioned a desire to replace `vo_conesearch` with something else (probably with something in `pyvo`?). We need to formulate a transition plan with a timeline.

[2021-03-26 04:27] bsipocz commented on #2027
Would you have that something else in astroquery or rather a "how-to" for using pyvo for doing cone search?

[2021-03-26 12:39] tomdonaldson commented on #2027
Since `pyvo` already supports doing a VO standard cone search, this may mostly be an exercise in clearly documenting the alternative approach in the `vo_conesearch` documentation, then deprecating `vo_conesearch`.  I want to look more carefully at what value-added features `vo_conesearch` offers to see if there are things that should be added to `pyvo`.

Based on the decisions we've had before reg

[2021-03-26 13:31] pllim commented on #2027
In the spirit of [PEP 20](https://www.python.org/dev/peps/pep-0020/), "There should be one-- and preferably only one --obvious way to do it," I agree with you that PyVO should be the true home of cone search, and will be happy to work with you to make that happen. We can start with documentation, but I still want a path towards deprecation and eventual removal.

Besides the API here, I do keep a d

[2021-03-26 21:41] Gabriel-p opened #2028 "Versioning needs some attention"
There are some issues with the versioning of this package:

* Girhub lists 0.3.9 as [the latest](https://github.com/astropy/astroquery) release (from 2018)
* The [Releases](https://github.com/astropy/astroquery/releases) section shows 0.3.10 and 0.4.0 as tagged but not released
* The installed version from [conda-forge](https://anaconda.org/conda-forge/astroquery) is 0.4.1
* The version in [pip](h

[2021-03-26 21:48] keflavich commented on #2028
See https://github.com/astropy/astroquery/issues/1604

[2021-03-26 21:48] Gabriel-p opened #2029 "Vizier.query_region() is not respecting column_filters"
I expect `Gmag=18` as the maximum magnitude, but it is not respected.

[code]

Probably related to #2025

[2021-03-26 21:51] Gabriel-p commented on #2028
Thank you. I understand from that this will be smoothed out when #1604 is addressed, so closing

[2021-03-26 21:51] #2028 closed

[2021-03-26 21:53] keflavich commented on #2028
The reminder doesn't hurt.  The age of #1604 does. 😱

[2021-03-27 06:05] jwoillez commented on #2029
@Gabriel-p You have a typo in your `column_filters`. You should replace it by `column_filters={mag_name: '<{}'.format(mag_max)}, cache=False)`.

[2021-03-27 12:38] Gabriel-p commented on #2029
You are correct, thank you!

[2021-03-27 12:38] #2029 closed

[2021-03-27 14:15] bsipocz commented on #2028
Please follow the documentation about the supported ways to install astroquery, how to get the releases. It is very clear about that releases are distributed on pypi and NOT on GitHub, please use those versions, installed by pip.

[2021-03-27 20:43] odysseus9672 opened #2030 "Vizier.query_region returns an empty table for "I/345/gaia2""
This error is popping up with Astroquery 0.4.1, the last stable, and the latest version I can install  using pip.

I have some code that works with Vizier when querying other tables, but it fails when I try to query the Gaia DR2 table. Here is a short script that searches for a couple of targets I pulled from the Gaia DR2 table, so matches should be made in all instances. The single target search

[2021-03-28 08:55] odysseus9672 commented on #2030
The absurdly large search radius, 1 degree, is a debugging attempt. Initially it was 1 arcsec.

[2021-03-29 07:07] jwoillez commented on #2030
@odysseus9672 Could you please try with the latest version from the master branch? You should be able to check the payload with the following

    from astroquery import log
    log.setLevel('DEBUG')

and you should see `<<====AstroqueryList` markers appear in there.

[2021-03-30 11:15] RuiningZHAO opened #2031 "No module named 'astropy._erfa.core'"
astropy==4.2
astroquery==0.4.1

When I import MPC from astroquery.mpc, a warning is raised
`WARNING: AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa" [astropy._erfa]`

followed by an error.
[code]
It can be fixed by replacing `from astropy._erfa.core import ErfaW

[2021-03-30 17:24] aida-ahmadi commented on #2015
Hi all, I'm waiting on this issue, wondering if it's been fixed and can be merged? Thank you!

[2021-03-30 17:30] keflavich commented on #2015
@aida-ahmadi it's merged, though your comment should have been on #2022

[2021-03-31 20:54] ceb8 commented on #1986
@tomdonaldson and I discovered another workaround to this issue:
`pip install --pre astroquery --use-deprecated=legacy-resolver`

[2021-03-31 20:55] ceb8 commented on #1920
@tomdonaldson and I discovered another workaround to this issue:
`pip install --pre astroquery --use-deprecated=legacy-resolver`

[2021-04-01 01:02] jmangum commented on #1986
Thank you for the workaround.

[2021-04-01 09:48] PhilippeSalome opened #2032 "Alma.get_data_info : expand_tarfiles=True --> the XXXexternal_ari_l_001_of_001.tar is not expanded"
The XXXXexternal_ari_l_001_of_001.tar is a directory (external) like the "products" directory named XXX_001_of_001.tar.
--> the "products" directory is well expanded with the expand_tarfiles=True in get_data_info but the "external" directory is not expanded (seen as a tar file). An exemple is given below.
--> Possibilities could be either (i) to expand all .tar when they are directories that conta

[2021-04-01 11:23] keflavich commented on #2032
@andamian

[2021-04-02 20:09] jbkalmbach commented on #1954
Also seeing the same error. Version `'0.4.2.dev6653'`

[2021-04-03 21:58] ChopsKingsland opened #2033 "astroquery not working on M1 Mac"
I am trying to use astroquery on an M1 Mac, and it just doesn't work. Firstly, to install astroquery, I had to open terminal with Rosetta (basically to emulate an Intel Mac, otherwise it wouldn't work). And now, my code won't run... My code is

[code]

and the error I'm getting is

[code]

[2021-04-03 23:24] bsipocz commented on #2033
The error is coming from astropy and not astroquery, I'm transferring the issue there.

[2021-04-09 13:10] betacygni opened #2035 "empty output in Splatalogue.query_lines"
We seem to find no results when executing:
[code]
The output is:
[code]

Other functions of astroquery/splatalogue seem to work fine. For example:
[code]

We have tried clear the cache (removing the files in ~/.astropy/cache/astroquery/Splatalogue/) as well as doing a fresh installation of astroquery. But we keep obtaining the same results.

[2021-04-09 13:51] keflavich commented on #2035
Could you verify that you're using astroquery version `'0.4.2.dev6635'` or later?

[2021-04-09 15:05] betacygni commented on #2035
Cool! It indeed was related to the version. Somehow the commands that I was using were to accessing the latest one. It works now. Thanks for the quick answer!

[2021-04-09 16:39] #2035 closed

[2021-04-09 17:17] gilleslandais opened #2036 "rich metadata proposal in VOTable"
Dear astroquery team!
in the VO context, we promote a rich VOTable called Mango (see https://github.com/ivoa/dm-usecases/wiki/mango).
It is not yet a standard, but we are very interested to have astroquery feedbacks  :-) .

The idea consists to add an annotation block in VOTable to describe celestial sources who are in the table.
The serialization is based on the Mango DM (not a standard yet)  and

[2021-04-09 17:38] bsipocz commented on #2036
I agree with Adam that this seems more like a question for astropy core, as we don't do any parsing here but rely on the astropy.io.votable module from core (or if something more complicated on top of that, on pyvo). So I would also cc @tomdonaldson here as the votable maintainer in astropy, as well as a pyvo maintainer.

[2021-04-12 21:53] Knusper opened #2038 "ESO science archive - Programmatic Access"
Hi,

the current ESO Science Archive offers programmatic access, incl. oauth.  It would be nice if astroquery can support querying the ESO archives in this way.

Relavant link:
http://archive.eso.org/cms/eso-data/programmatic-access.html

Best regards,
Christian

[2021-04-14 04:00] Knusper commented on #1357
OK - after hunting I am really sure the excessive spamming of the output comes from astropy https://github.com/astropy/astroquery/issues/1357#issuecomment-483878012

The requested verbose flag here should be easy to implement.  I will try to file a PR soon.

[2021-04-14 05:58] pllim commented on #1357
I don't think `astroquery` should be using `astropy` progress bar. It is a long-standing bug and I don't see it getting fixed anytime soon. Better to replace it with something else more modern. Also see astropy/astropy#4738

[2021-04-14 21:00] bsipocz opened #2039 "Add more narrative to customized Simbad queries"
It comes up from time to time of how to do a simbad query just for galaxies/stars/e.g. We do have some examples in the docs, but the narrative is not really detailed out which makes the discovery of the example a bit difficult.

E.g. just adding "object type" somewhere in https://astroquery.readthedocs.io/en/latest/simbad/simbad.html#query-based-on-any-criteria

[2021-04-14 21:52] bsipocz opened #2040 "Add `get_query_payload` consistently to all methods"
This is super valuable for debugging issues, e.g. I'm having troubles to catch the typo in a `Simbad.query_criteria()` call, and it doesn't have this kwarg.

Addressing the whole issue can be long, but the task is a package novice one, basically breakpoints needed to be added to return the payload strings rather than sending them to the server (and plenty of examples are available).

[2021-04-14 22:11] DinoBektesevic opened #2041 "Unfriendly Simbad.query_criteria functionality"
I either can't figure out how to, or the functionality for it isn't there but using `Simbad.query_criteria` wants me to pass full strings of my queries and will not accept SkyCoords. Currently [the documentation ](https://astroquery.readthedocs.io/en/latest/simbad/simbad.html#query-based-on-any-criteria) shows these two usage cases:

[code]

Could it be possible to add some friendliness to how thi

[2021-04-14 22:21] bsipocz commented on #2041
My thinking would be to provide a way to add criteria to the usual API methods, e.g.
[code]

 to query for stars, rather than forcing you to use `query_criteria`, and define regions by hand, etc. At the end of the day, we query the same API so this will all boil down to creating payload within astroquery.

[2021-04-15 06:22] jwoillez commented on #2040
It is not exactly what you are looking for, but if you want to check the payloads as they are sent to the servers, you can use:

    from astroquery import log
    log.setLevel('DEBUG')

[2021-04-15 15:44] bsipocz commented on #2040
Yes, you're right, that works, too. But I would think it's still valuable to unify the API, as this is a bit more noisy than what I would need:

[code]

[2021-04-16 18:41] rickynilsson commented on #2013
Hi @lgbouma and astroquery developer community,

Over the past year, we have been advertising the new Planetary Systems (`ps`) and Planetary Systems Composite Parameters (`pscomppars`) tables; these tables are replacing the `exoplanets` and `exomultpars` tables (`ps`) and the `compositepars` table (`pscomppars`).  As part of the modernization of the Archive, the new tables will be accessed through

[2021-04-17 14:31] hamogu opened #2042 "pip install fails with `has different version in metadata: '0.4.2.dev0'`"
Pip install (in this case into a conda environment that did not have astroquery before) fails with
[code]

Probably depends on the pip version:
[code]

I've been able to work around it by doing
[code]
following the advice here: https://github.com/pypa/pip/issues/9203

[2021-04-17 23:47] bsipocz commented on #2042
Yes we're aware of the issue and indeed your workaround is the currently known thing, or to downgrade pip.

Closing this a duplicate of #1986

[2021-04-17 23:47] #2042 closed

[2021-04-18 00:34] hamogu opened #2043 "Feature request: Return Coordinate objects"
There are many ways to use astroquery, but one thing that comes up in a number of services is that they return coordinates. Most notable might be searches forSIMBAD, Gaia,  2MASS catalogs, etc. but also e.g. an ALMA footprint that has a center coordinate.
Of course, one can construct astropy coordinates from the output tables, but I think it's such a common thing to do that it would be useful to h

[2021-04-18 05:51] bsipocz commented on #2043
I'm afk so searching the issues is troublesome, but I recall that we have a very old issue for this already. Our at least this came up a few times already.
The code changes shouldn't be complicated, but a lot of it, and we certainly would need some discussion first of what the best approach would be.

[2021-04-18 11:05] hamogu commented on #2043
I thought it was an obvious think to ask for an tried to search thought the issues. Since I wasn't quite sure what to search for, I then read ~50 issues that looked as if they might be close by hand. After still not finding it, decided to open a new issue. That does not mean it's not been reported before, but it's certainly not easy to find if there is an open issue for it.

[2021-04-18 13:28] #1761 closed

[2021-04-18 13:29] keflavich commented on #2043
found it!  https://github.com/astropy/astroquery/issues/604

[2021-04-18 13:38] keflavich commented on #2043
@hamogu perhaps you searched for 'coordinate object', while #604 is indexed only under SkyCoord.  Anyway, I shared Brigitta's recollection.

This is still a good idea, and this actually feels suitable as a student project since, at least for some individual cases (e.g., Vizier), it is a reasonably concrete task.

There are API/UI questions, though, as raised in the other thread - do we just add an

[2021-04-18 14:40] bsipocz commented on #2043
Given we found the other issue and it has substantial discussion already, I'm closing this as a duplicate. Let's continue the discussion on the other issue.

[2021-04-18 14:41] #2043 closed

[2021-04-20 00:44] #1996 closed

[2021-04-20 02:36] bsipocz opened #2045 "Alma remote tests are stuck"
The alma remote tests are seemingly stuck, both locally and in CI. One mocked tests are also failing with a legitime looking `FileNotFoundError`

I didn't have the time to investigate, cc-ing the alma experts instead: @keflavich @andamian

[2021-04-20 02:48] #1995 closed

[2021-04-20 17:36] andamian commented on #2045
I'll take a look. They should hit our test servers at the CADC so it's likely something wrong there. Thanks @bsipocz

[2021-04-21 21:19] bsipocz opened #2046 "Consider chop up remote tests for multiple runs"
Locally the remote tests run for 54+ mins (even without alma and xmm_newton, both of which seems to be stuck atm). I think we should consider chopping up the remote data tests to run on batches of modules. I think the default parallelism in pytest is not suitable here, as we don't want to accidentally overwhelm the services, while running different services at the same time doesn't have that poten

[2021-04-21 21:55] bsipocz commented on #2031
This has been fixed for a while, please install the latest version with ``pip install --pre astroquery``, you may also need to use `--use-deprecated=legacy-resolver `

[2021-04-21 21:55] #2031 closed

[2021-04-22 01:23] BogoCoder opened #2047 "Keep input coordinates and errors in table generated by ```Simbad.region_query```"

[2021-04-23 14:31] havok2063 commented on #2016
Can anyone help with this?

[2021-04-23 16:28] bsipocz commented on #2016
cc @ceb8

[2021-04-23 16:32] ceb8 commented on #2016
@havok2063 What happens when you log into mast via astroquery? Does it seem to recognize you?

[2021-04-23 18:10] havok2063 commented on #2016
@ceb8 Well don't I feel stupid.  🤦  I had assumed that `Observations` would automatically look for my token and use it to authenticate internally before each request.  Or I had once known about `Observations.login` but forgot.  Once I actually manually log in, it does recognize me, and downloading is successful.

[2021-04-23 18:14] bsipocz commented on #2016
@havok2063  -  is there any place in the docs that need improvement, something that would have helped you?

[2021-04-23 18:16] ceb8 commented on #2016
@havok2063 oh good! yeah, it doesn't look for a token every time, only if you log in.

[2021-04-23 18:16] ceb8 commented on #2016
I'm going to go ahead and close this issue, but please do comment if you have documentation suggestions and I will add them.

[2021-04-23 18:16] #2016 closed

[2021-04-23 18:46] havok2063 commented on #2016
@bsipocz Yeah I think so.  As a user I mainly start at Getting Started or jump straight to Downloading Data.  One reason I missed it entirely was that it was hard to find the [Accessing Proprietary Data](https://astroquery.readthedocs.io/en/latest/mast/mast.html#accessing-proprietary-data) section.  It's sort of buried at the bottom.  I think adding a note in this section that clarifies to the use

[2021-04-23 19:15] havok2063 commented on #2016
Actually nevermind about the persistence in a different terminal.  It doesn't do that.  It finds any cached file whether you are logged in or not.  The other confusing thing is if I'm not logged in, it behaves successfully and returns a "result".  I have to examine the result before knowing whether it failed due to authentication or some other error, where I was half expecting it to raise an error

[2021-04-23 19:29] ceb8 commented on #2016
Ah yes, the caching is checking for downloaded files so that happens before any authentication with the server, so it's not going to distinguish between files you downloaded requiring proprietary or not.

[2021-04-27 13:54] Long-linlin opened #2048 "astroquery.vo_conesearch"
File "D:/Pythonwork/Lib/site-packages/astroquery/vo_conesearch/core.py", line 62
    def query_region(self, coordinates, radius, *, verb=1,
                                                                         ^
SyntaxError: invalid syntax
the comma before 'verb' is an error

[2021-04-27 18:15] kfkaplan commented on #2002
I have gotten the same error
[code]

[2021-04-27 20:36] bsipocz commented on #2002
OK, I see the same error locally, and it all boils down to the response of `b'<?xml version="1.0"?>\n\n<Holdings archive="IRSA">\n\n<?xml version="1.0"?>\n<error> input string is too large to be copied to output buffer </error>\n'`

[2021-04-27 20:40] bsipocz commented on #2048
What is your python version?

[2021-04-28 12:16] Long-linlin commented on #2048
python 2.7

[2021-04-28 12:58] bsipocz commented on #2048
Astroquery is python3 only for a while. You may have success using an older version, but I would think many modules would not work due to changes in the remote APIs

[2021-04-28 12:58] #2048 closed

[2021-04-30 02:30] Knusper commented on #1357
For now I have monkey patched astroquery for my project to avoid the excessive verbosity:
[code]

[2021-04-30 11:41] keflavich commented on #1357
Yes, `tqdm` would be fine.

Your monkeypatch just removes the filename reporting, though - is the issue not with the progressbar?

[2021-04-30 13:18] alipnick commented on #2005
Hi all, the solution for this should be implemented in an ALMA archive release coming out at the end of May.

[2021-04-30 14:21] Knusper commented on #1357
No, from what I understand, the progress bar is fine. But for downloads
from the ESO archive no file size is known - so here `ProgressBarOrSpinner`
will yield a  spinner.

 As I wrote in my bug report in astropy [1]
If the line is too long for the terminal, which is the case when the
filename and the URL is displayed, then every spinner update will create a
new line.
Thus I just made the line shor

[2021-04-30 16:08] keflavich commented on #1357
Ah, yes, that makes sense, and is a fair workaround.  But indeed, the best solution is to avoid the spamming in the progressbar

[2021-05-04 04:48] tamhanepd commented on #2008
I can confirm. I am getting the same error.

[code]

[code]

The `catalog` keyword is essential for `Irsa` queries. Are catalogue names listed somewhere else? I can find the descriptions on the IRSA website, but I don't know the keywords to be used in astroquery search.

[2021-05-04 11:49] keflavich commented on #2008
This is an upstream issue, it appears no longer possible to get XML display of the main Gator page.
https://irsa.ipac.caltech.edu/cgi-bin/Gator/nph-scan?mode=xml

[2021-05-04 11:51] keflavich commented on #2008
https://irsa.ipac.caltech.edu/applications/Gator/GatorAid/irsa/catlist.html documents how we are supposed to retrieve this data.  There is an ascii version (https://irsa.ipac.caltech.edu/cgi-bin/Gator/nph-scan?mode=ascii) that is documented on a different page (https://irsa.ipac.caltech.edu/applications/Gator/GatorAid/irsa/catsearch.html) we can use as a workaround.

[2021-05-04 12:00] keflavich commented on #2008
I've reported the issue upstream to IRSA.

[2021-05-04 12:05] keflavich commented on #2015
closed by #2022

[2021-05-04 12:05] #2015 closed

[2021-05-04 13:38] pllim commented on #1125
Now the URL got some sort of `urldefense` prefix. 🤷
[code]

[2021-05-04 23:59] bsipocz opened #2051 "Rewise vamdc dependency install instructions once upstream is updated"
https://astroquery.readthedocs.io/en/latest/vamdc/vamdc.html currently asks for install from fork rather than a released version. Ideally this should change.

[2021-05-05 00:25] bsipocz commented on #2051
Pip install doesn't work out of the box, it would require an sdist, or a cloned git repo.

[2021-05-05 00:31] bsipocz commented on #2051
Never mind, `pip install git+https://github.com/keflavich/vamdclib.git` will work, so I'm updating the docs and CI for that.

[2021-05-05 00:59] bsipocz opened #2052 "pytest bigdata marker is not registered"
I'm not sure why this hasn't caused any issues in the past (maybe because the test was also marked as xfail for a long time?). Either case, now I see this locally:

[code]

[2021-05-05 01:26] bsipocz opened #2053 "Large number of pytest.PytestUnraisableExceptionWarning"
We have a lot of warnings coming from `astroquery.utils.commons`, when they are raised as exception in the testing suite. They are then also trigger a  somewhat criptic `pytest.PytestUnraisableExceptionWarning`.

The short summary is:

[code]

[2021-05-05 01:34] bsipocz opened #2054 "vo_conesearch errors with astropy-dev"
There are quite a few errors coming for `astroquery.vo_conesearch` when testing with the current dev version of astropy

See: https://github.com/astropy/astroquery/pull/2050/checks?check_run_id=2500552000

(and also there are a ton of warnings, but maybe we can ignore those...)

[2021-05-05 01:34] bsipocz commented on #2054
cc @pllim

[2021-05-05 01:37] bsipocz opened #2055 "Fix `UserWarning`s raised by the testing suite"
We shouldn't trigger `UserWarning` in our test suite. If we want to trigger them we should capture them in the test.

As a workaround they are ignored in `setup.cfg` for now, remove it from there once this issue is fixed.

[2021-05-05 05:52] bsipocz opened #2057 "Fix or catch all warnings raised by the tests"
This is an umbrella issue for the warning cleanup, basically the exception list in `setup.cfg` has to be minimized to the bare minimum by removin the following (after they are either fixed in the codebase or properly catched). Some specific warnings have their own issue to provide smaller starter PR options for new contributors. I would suggest to address this issue gradually during a course of mu

[2021-05-05 05:59] bsipocz opened #2058 "Cleanup files generated by tests"
There are at least 3 files generated by `esa_hubble` during the tests. Those should be ideally temporary files only, or at least be removed at the end of the test run.

[2021-05-05 14:46] pllim commented on #2054
Yeah, @tomdonaldson and I already fantasize about retiring `vo_conesearch` and use something more modern over at PyVO ecosystem, so it is fine to ignore all the warnings from `vo_conesearch`. I apologize for any inconvenience caused!

[2021-05-05 14:49] pllim commented on #2054
Oh, there are errors too, eh? Hmm, I'll have to investigate, but still, you can ignore the warnings.

[2021-05-05 16:41] bsipocz commented on #2054
Yes, I'm ignoring all vo warnings, some are cone search related some are coming from various votable parsings in other modules.

However the error is unrelated to the cleanup and scrictening warning handling, as they show up also in Adam's pr.

[2021-05-05 16:42] bsipocz commented on #2054
But if vo cone search is going away in the short timescale then I'm perfectly happy with ignoring the errors with an xfail for now.

[2021-05-05 17:03] pllim commented on #2054
I wouldn't hold my breath. I will see if I can fix the errors. Thanks for bringing this to my attention!

[2021-05-05 18:48] pllim commented on #2054
p.s. I don't think it's astropy-dev, I think it is the remote data part. So at least, this shouldn't block astropy 4.3, I don't think.

[2021-05-05 18:54] pllim commented on #2054
p.p.s. I am really confused now. I cannot reproduce the error locally. Investigation continues.

[2021-05-05 19:18] pllim commented on #2054
p.p.p.s. Why is JSON trying to decode what looks like a FITS header? 🤯

[2021-05-05 19:48] pllim commented on #2054
The traceback from CI makes no sense. Why am I seeing a FITS header here? It is supposed to be reading a JSON file off test data dir. I tried raising errors with filename and content, but when I did that, it gave me the stuff I expected.

[code]

[2021-05-05 20:13] pllim commented on #2054
OK I can reproduce it now but only by running `python setup.py test`, not when I run `pytest` directly. Something is modifying some sort of global state that somehow my test is sensitive to.

[2021-05-05 20:15] pllim commented on #2054
I wonder if this is naturally solved if you apply APE 17. I don't think it is a bug within `vo_conesearch`. If you want, the temporary solution can be to `xfail` it in CI.

[2021-05-05 20:18] pllim commented on #2054
Hmm... I wonder if this is caused by your monkeypatch to `astropy/utils/data.py` functions.

[2021-05-05 20:31] pllim opened #2061 "Cannot run python setup.py test cleanly without mocpy installed"
**Expectation**

I expect affected tests to be skipped if `mocpy` is not installed when I run `python setup.py test`.

**Reality**

`NameError: name 'MOC' is not defined`

[2021-05-05 20:43] pllim opened #2062 "alma tests should be using get_pkg_data_filename"
https://github.com/astropy/astroquery/blob/f7940f90a95649223ff466ad7374a88e3e755f2f/astroquery/alma/tests/test_alma.py#L18-L22

should be replaced by

[code]

**and**

the data files should be installed as package data for `'astroquery.alma.tests'` here:

https://github.com/astropy/astroquery/blob/f7940f90a95649223ff466ad7374a88e3e755f2f/astroquery/alma/setup_package.py#L10

Not sure how your CI i

[2021-05-05 20:50] bsipocz commented on #2061
yes, somehow both that one and vamdclib started to cause issues for me, too, not sure what has changed with pytest (these got passed the collection before).

[2021-05-05 20:50] keflavich commented on #2062
@andamian , can you take this?

[2021-05-05 20:50] bsipocz commented on #2062
This is fixed in #2056 already

[2021-05-05 20:55] keflavich commented on #2051
I think we should move to `pip install git+https://github.com/notlaast/vamdclib.git` as they may have maintained better than I did... but I'm not 100% sure.

[2021-05-05 20:59] bsipocz commented on #2051
ideally at some point someone makes a release to pypi and we can install that. This soltuion of installing forks is very very hacky no matter which fork we work with.

[2021-05-05 21:02] bsipocz commented on #2054
Weird as we run pytest with tox in CI. Maybe it's a minor version bug somewhere, or as you say due to the utils.data changes.

[2021-05-05 21:10] pllim commented on #2054
Okay, I strongly suspect astropy/astropy#10434 . The fix is either patch your monkeypatch in `astroquery/utils/common.py` or stop monkeypatching altogether.

[2021-05-05 21:24] pllim commented on #2054
Yeah, narrowed it down to some weird interactions between tests in `utils` and `vo_conesearch`. You get the errors you are seeing if you run this:

[code]

You get new set of errors if you run this:

[code]

🤯

[2021-05-05 21:37] bsipocz commented on #2054
ouch, that `-P` should not be order sensitive, at least I would have assumed it shouldn't...

[2021-05-05 21:39] bsipocz commented on #2054
Given this only affects the test monkeypatches, would you think it's safe to assume no users would run into issues due to this? If so, then xfail and an issue for refactoring the monkeypatch could be a way to go.

[2021-05-05 21:48] pllim commented on #2054
I might have found a fix over at #2059 . Though we're going to have this problem again manifesting next time someone touches `astropy/utils/data.py` upstream. I would very much be in support of refactoring the monkeypatching here regardless.

[2021-05-05 22:06] pllim commented on #2061
Ops, look like you already brought it up in #1745 . I should have checked. Sorry.

[2021-05-05 22:06] #2061 closed

[2021-05-05 22:07] pllim commented on #2057
As discussed in #2054, it is okay to blanket ignore all warnings from `vo_conesearch`.

[2021-05-05 22:11] pllim opened #2063 "MNT: Refactor the way astropy.utils.data is monkeypatched in tests"
Over the years, every time `astropy/utils/data.py`, particularly its `get_pkg_data_fileobj` function, is refactored, it tends to break the tests here in `astroquery`. It would be good to consider refactoring the way you mock or monkeypatch this code to avoid constant patching of the monkeypatch.

Examples:  #2059 #1711

[2021-05-05 22:40] #2054 closed

[2021-05-05 22:44] bsipocz commented on #2057
Some of the vo warnings above are indeed coming from `vo_conesearch`, but roughly half of them originate in other modules while using `astropy.io.votable`. As opposed to `vo_conesearch` (which has its days numbered), those should ideally be fixed or properly caught.

[2021-05-05 22:45] bsipocz commented on #2061
Ahh, good catch, I didn't remember that open issue, but run into this problem yesterday. 😅

[2021-05-06 16:03] rickynilsson commented on #2013
Just an update on this: we have an astroquery fork with changes that restores functionality to the method calls that broke when Archive 2.0 was released last week. Note that users who are specifically calling the deprecated tables will get errors and are prompted to use the new tables. A pull request will best sent to the main project repo tomorrow or early next week.

[2021-05-08 05:21] bsipocz commented on #1778
#1780 had added these.

[2021-05-08 05:21] #1778 closed

[2021-05-08 05:30] #2052 closed

[2021-05-08 05:30] #2062 closed

[2021-05-08 05:30] #1745 closed

[2021-05-10 09:02] PierreKervella opened #2064 "Vizier query_region not working with Astropy list as input"
The example provided in [this documentation page](https://astroquery.readthedocs.io/en/latest/vizier/vizier.html) is not working as expected:

`from astroquery.vizier import Vizier`
`agn = Vizier(catalog="VII/258/vv10",columns=['*', '_RAJ2000', '_DEJ2000']).query_constraints(Vmag="10.0..11.0")[0]`
`Vizier(catalog="II/246", column_filters={"Kmag":"<9.0"}).query_region(agn, radius="30s", inner_radiu

[2021-05-10 09:33] jwoillez commented on #2064
Hello @PierreKervella, we had some recent changes with Vizier. Can you make sure you have the current version of astroquery from the main branch? The example works for me with that one.

[2021-05-10 14:02] PierreKervella commented on #2064
Bonjour @jwoillez, just to be sure, I reinstalled from scratch anaconda and then astroquery using:
`git clone https://github.com/astropy/astroquery.git`
The installed version of astroquery is 0.4.2.dev6703 (is it the right one ?)
Unfortunately the result of the sample of commands in my original post is still the same: `Empty TableList.`

[2021-05-10 16:44] jwoillez commented on #2064
This is the good version. Can you try clearing your cache in `~/.astropy/cache/astroquery/Vizier` and run the script again?

[2021-05-10 19:20] PierreKervella commented on #2064
I cleaned the cache directory of Vizier, but without effect. I see the two new Vizier pickle cache files being created after I enter the commands, but the result is still Empty TableList. If it may help, my installed version of astropy is 4.2.1.

[2021-05-11 08:37] Abelink23 opened #2065 "Astroquery AtomicLineList query error"
### Description
I am trying to follow the guide described in:
https://astroquery.readthedocs.io/en/latest/atomic/atomic.html

### Expected behaviour
Receive a list of atomic lines.

### Actual behaviour
Received this traceback.

[code]

### System Details
macOS Catalina 10.15.7
Python 3.8.5
astropy 4.2.1
astroquery 0.4.1
beautifulsoup4 4.9.3
numpy 1.19.2

[2021-05-12 06:30] bsipocz opened #2066 "vamdc dependency is blocked by pypi"
Basically, I could not upload the release to had to roll it back from `main`. It looks very much like https://github.com/pypa/twine/issues/430, but I had no time yet to investigate. The following is the error message I got:

[code]

[2021-05-12 06:52] bsipocz commented on #2066
Hmm, PEP440 kind of answers this, so I suppose we better remove the hack around the vamdclib dependency with the conclusions that in the future we cannot have modules with non-released dependencies:

[code]

[2021-05-12 06:55] jwoillez commented on #2064
Can you post the debug messages after turning them on?

    from astroquery import log
    log.setLevel("DEBUG")

[2021-05-12 08:00] PierreKervella commented on #2064
I noticed that there was a problem in my astroquery installation: v0.4.1 was the default version in conda, although `conda list` showed v0.4.2. So I removed v0.4.1 using
`conda remove astroquery`
then installed v0.4.2.dev6703 using
`pip install --pre astroquery`
`print(astroquery.__version__)`
0.4.2.dev6703
and now I have the expected behavior:
`Out[3]:
TableList with 1 tables:
	'0:II/246/out' wit

[2021-05-12 11:36] keflavich commented on #2066
My vote is that we deprecate vamdclib.

We then remove it entirely as a dependency and just slap warnings at the import part of the module saying that you need hacks to use it.

If I had more time I'd propose another approach, but I want the minimum effort here, and until we have users really asking for this, it's not worth much time.

[2021-05-12 13:13] #2064 closed

[2021-05-12 13:55] keflavich commented on #2066
yes

[2021-05-12 14:30] tomdonaldson commented on #2036
@gilleslandais Where this sort of functionality belongs is an interesting question.

- As @bsipocz  said, the fundamental VOTable parsing (and writing) happens in astropy core (`astropy.io.votable`).

- The `pyvo` package depends on `astropy` and implements some value-added features for querying using various standards which includes some semantics and assumptions about the VOTable results based o

[2021-05-13 23:26] jorgemarpa opened #2068 "astroquery.gaia. exiting with TimeoutError [60] when using `launch_job_async()`"
I am doing an asynchronous query to Gaia using `launch_job_async()`, but when the search radius gets larger than `~ 0.7 deg` I get the time out error. For queries with smaller searches radius works ok.
When the query is launch, I can see the job on the ESA Gaia archive website, but the `astroquery` job finishes with the error before the job is finished successfully on the server side.

Here's an e

[2021-05-13 23:41] luizsl opened #2069 "Mast observations"
Hello,

I came across some difficulty using the download_file method in astroquery/mast/observations.py when downloading just one file. I got a better result in my tasks when I added to lines 536:

         # create a local file path if none is input. Use current directory as default.
         filename = os.path.basename(uri)
         if not local_path:
             local_path = os.path.join(os.pa

[2021-05-14 01:11] bsipocz commented on #2068
@jorgemarpa - Thanks for the report. The `gaia` module is a bit different than the rest so there isn't (yet) an easy way to set the timeout on the Python end.

cc @jcsegovia as he may know a workaround

[2021-05-14 01:13] bsipocz commented on #2069
@luizsl

Could you rather provide an example code that reproduces the error you see?

[2021-05-14 13:36] luizsl commented on #2069
Hello @bsipocz

In fact, there is no error.

When local_path is not defined, the file is saved in the current directory and its name is derived from the database. When I need to define local_path ('NGC613/Hubble/image.fits' e.g.), the string also includes the file name. I think it would be interesting to have an option for local_path with only the name of the directory ('NGC613/Hubble/ e.g.), the

[2021-05-14 13:50] barentsen commented on #2068
This is a bit of a long shot because it may be overridden somewhere in the call chain, but you could try setting Python's default socket timeout as follows:
[code]

[2021-05-14 15:53] rickynilsson commented on #2013
Hi @bsipocz ! Any idea why the checks were cancelled? It says "GitHub Actions has encountered an internal error when running your job."

[2021-05-14 16:03] bsipocz opened #2072 "Add pre-commit style fix"
Use autopep8 to do the trivial fixes, or just run flake with a report. In any case, it should not be black!

[2021-05-15 00:51] jorgemarpa commented on #2068
thanks for the suggestion @barentsen. I tried that before posting the issue, but it did not work.

[2021-05-15 05:16] #1061 closed

[2021-05-15 05:35] #2066 closed

[2021-05-15 07:18] bsipocz commented on #2009
We're on `main` for a while, so I suppose this can be closed now.

[2021-05-15 07:18] #2009 closed

[2021-05-15 07:19] bsipocz commented on #1986
With the new release, this problem has been now worked around. The proper solution will come with the infrastructure refactoring that will also introduce a new version number generation scheme.

[2021-05-15 07:19] #1986 closed

[2021-05-15 07:20] bsipocz commented on #1920
This is now resolved with the new 0.4.2 release. A proper solution will come with the infra refactoring, including changes to how we generate dev version numbers.

[2021-05-15 07:20] #1920 closed

[2021-05-16 01:00] jmangum commented on #1986
Thank you.

[2021-05-17 18:24] embray commented on #2063
Not that I doubt there's a reason, but I don't see it: Why does [`patch_getreadablefileobj`](https://github.com/pllim/astroquery/blob/3b1d8ec55b600540f7ce5f1223c56a697511c2b7/astroquery/utils/tests/test_utils.py#L409) need to monkeypatch so many internals of the implementation of `get_readablefile_obj` instead of just monkeypatching `get_readable_fileobj` itself?

[2021-05-20 18:39] lpsinger opened #2074 "VizierClass no longer respects the order of columns requested"
VizierClass used to return the columns in the order that the caller requested them, but does not any more. In the example below, the columns requested are `['GWGC', '_RAJ2000', '_DEJ2000', 'Dist']`. In astroquery 0.4.1, they are returned in that order. However, in astroquery 0.4.2, they are returned in a different order.

## Expected (old) behavior, astroquery 0.4.1

[code]

## Actual (new) behavi

[2021-05-20 19:26] bsipocz commented on #2074
The order of columns is still taken into account, with the caveat that the handling of the calculated columns and normal columns are separated. So the effect you see is due to 570ae4820ac70aa9acbf19b7be522b0a6386cb99.

Tagging @jwoillez who may be able to comment on this more.

[2021-05-22 12:56] DaveStrickland commented on #1544
Is there any update as to when/if this will be fixed? It's bites me in the but all the time in astropy 4.0, but I'd be happy to update to a later version if its fixed.

Or even make the changes, if its pretty trivial.

[2021-05-22 18:30] keflavich commented on #1544
@DaveStrickland the easiest thing to do might be
[code]

That will suppress this warning.

Alternatively, you can set up the configuration to include an API key.

This isn't a bug, though - the warning is intentional because the `astrometry_net` module requires an API key to function.

[2021-05-23 18:53] DaveStrickland commented on #1544
Hi @keflavich, I was imprecise in my comment, as I was really wondering about whether the message was going to be moved over to use the `warnings` system and I didn't want to mess with the log levels as I rely on DEBUG level logging for a variety of things.

However your suggestion does work, as I just realized I can just reset the log level immediately after the `from astroquery.astrometry_net im

[2021-05-23 18:54] keflavich commented on #1544
Great, I'm glad that workaround works!

I don't think we want to move to the generic warning system for this, but I don't have a particularly strong argument - if there are good arguments either way, please voice them!

[2021-05-28 14:05] SamSweere opened #2075 "XMMNewton download fails (possible memory leak)"
The newest version of astroquery (0.4.2) seems to have introduced a bug when downloading xmm-Newton data.

When running the following code:
[code]
I can see the data being downloaded as my network activity goes up. However, once the file is (probably) downloaded and it should write it to a file the memory usage goes up quite significantly. My memory consumption went up with +-8gb and stayed there.

[2021-05-28 18:39] bsipocz opened #2076 "Default config should not be on the main landing page, but in a subpage"
I guess it was #2037 that introduced the dump of the full config on the main landing page. Ideally it should be in a subpage linked from that heading here: https://astroquery.readthedocs.io/en/latest/#default-configuration-file

[2021-06-10 17:33] keflavich opened #2079 "IRSA/IBE: implement cutouts"
It is possible to download image cutouts from IRSA/IBE, but the interfaces are not yet something I understand well, and we don't have a functional implementation in astroquery.

This is an example that we might be able to spin into a successful implementation:
https://github.com/ALMA-IMF/reduction/blob/master/analysis/spitzer_plots.py#L29-L63

[2021-06-12 08:28] mattia-vaccari opened #2080 "Are astroquery.eso positional queries supported?"
The astroquery.eso docs (e.g. for query_instrument) seems to suggest positional queries via the coord1 / coord2 / box arguments should be supported

---
Target Information
------------------
    target:
    resolver: simbad (SIMBAD name), ned (NED name), none (OBJECT as specified by the observer)
    coord_sys: eq (Equatorial (FK5)), gal (Galactic)
    coord1:
    coord2:
    box:
    format: sexa

[2021-06-12 17:15] mattia-vaccari opened #2081 "astroquery.noirlab"
I see that astroquery.noirlab 0.4.2 still points to the now deprecated/defunct https://astroarchive.noao.edu rather than the new https://astroarchive.noirlab.edu

SSLError: HTTPSConnectionPool(host='astroarchive.noao.edu', port=443): Max retries exceeded with url: /api/version (Caused by SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)'),))

Simply chan

[2021-06-15 16:41] #1807 closed

[2021-06-17 21:59] astroryan97 opened #2082 "astroquery.sdss Your_browser_sent_an_invalid_request (query_region)"
Hi,

I have a list of RA and DEC positions for ~3633 objects from the NVSS that I want to query for in the SDSS and eventually download image cutouts. However, when I run the query I receive the following error message:

[code]

My question is why do I get the initial error message? I have another test file that runs and returns a query with no issues.

My code is as follows:
[code]
The data files

[2021-06-17 22:12] keflavich commented on #2082
Could you give a minimal example too?  do you get that "your browser sent an invalid request" on the first entry in the list, or only if you run the loop or run for all positions?

[2021-06-17 23:51] astroryan97 commented on #2082
Thanks for your fast response.

The "your browser sent an invalid request" error message appears when I run the query on the whole list of positions. When I run queries one by one I do get some results (about 25-50 in all). But I usually get 'None', which I assume means that there is no object in the SDSS near the position I'm querying, and that's fine because I'm not expecting the NVSS and SDSS t

[2021-06-18 01:07] rickynilsson opened #2083 "Some tests on astroquery.nasa_exoplanet_archive fail depending on order in which they are run"
Running remote and mock tests, respectively, for `astroquery.nasa_exoplanet_archive` has some tests failing depending on order in which the test files are run. Run separately they both pass. Run consecutively, like below, some tests in the last run file fail.

Case 1:
[code]

Case 2:
[code]

[2021-06-18 15:10] bsipocz commented on #2083
Traceback:

[code]

[2021-06-18 15:32] bsipocz commented on #2083
(Note: I don't see any failures for Case1 in the opening comment)

[2021-06-18 15:36] bsipocz commented on #2083
Traceback for case1 from above:

[code]

[2021-06-18 19:07] jpl-jengelke commented on #1722
Please change the default to `False`. I feel like instantiating a subclass wrapping around `GaiaClass` just to turn off this intrusive print statement.

[2021-06-18 19:41] keflavich commented on #1722
:+1: I'm also in favor of defaulting to non-verbose.   A PR would be welcome.

[2021-06-20 02:10] jpl-jengelke commented on #1722
@keflavich -- Here is your pull request: https://github.com/astropy/astroquery/pull/2085

[2021-06-20 06:53] jpl-jengelke commented on #1722
Making this change I am a little concerned that there may be instances where verbosity is helpful to verify network connections. I should note the fact that this class instantiates in verbose mode is currently an oversight. It appears that in all other parts of Gaia the verbosity is explicitly set or defaults to False. So adding this change should serve to fulfill the original intent of the code.

[2021-06-20 14:58] keflavich commented on #1722
@jpl-jengelke there are configuration mechanisms in place that would allow what you suggest.  And, indeed, verbosity can be helpful for diagnosing network issues - but instantiation of the class is probably not the right time to do that.

[2021-06-20 15:24] keflavich commented on #2081
I'm not sure what the right approach is here.  @pothiers , any suggestions?

[2021-06-20 15:33] keflavich commented on #2080
Positional queries are indeed accepted.  There is no work in progress to make them conform to the general astroquery user interface, though that would be super useful.

As it currently stands, you need to figure out how to construct the query yourself.  The [`help` example](https://astroquery.readthedocs.io/en/latest/eso/eso.html#inspecting-available-query-options) given in the docs makes reasonab

[2021-06-20 15:52] keflavich commented on #2082
It's possible that there are limits imposed by the SDSS server.  These limitations are only sometimes documented.  You might try to get some constraints on the limit by running with 1, 10, 100... items, or perhaps ask SDSS what their limits are.

Note that the astroquery sdss service _does_ search over a list of positions:
https://github.com/astropy/astroquery/blob/main/astroquery/sdss/core.py#L10

[2021-06-20 15:55] keflavich commented on #2075
@lvalerom do you have any idea what's happening here?  This may be related to #1759?

[2021-06-20 16:05] keflavich commented on #2075
@SamSweere "downgrading" astroquery is not recommended - older versions are generally not compatible with new APIs.  I don't see any changes recently that could have caused your issue.

That said, the XMM Newton tool was not using the proper download machinery.  https://github.com/astropy/astroquery/pull/2087 fixes that and should make the downloads go more smoothly (and will show a progressbar by

[2021-06-20 16:13] keflavich commented on #2065
I confirm that this is failing:
[code]

Likely this means that the hacked-together "API" is broken because of upstream changes.

[2021-06-20 18:14] keflavich commented on #2065
The problem is actually very simple, but was hard for me to find... they moved to `https`.

Bugfix in https://github.com/astropy/astroquery/pull/2088

[2021-06-20 18:28] keflavich commented on #2038
It would be nice to have someone from ESO contribute here to implement this!

[2021-06-20 18:32] keflavich commented on #2047
OK, so, the solution you mentioned is this: https://github.com/astropy/astroquery/pull/496#issuecomment-522881855

I don't think what you're asking for is possible, though - it would require an upstream change, I think.  You basically want your search coordinates as a return column, right?

@aoberto any ideas?

[2021-06-20 18:36] keflavich commented on #2014
I don't think we have a resident NED expert, so I don't know the answer.  If anyone out there can help, please chime in!

[2021-06-20 18:39] keflavich commented on #2007
@dmcollom @mommeri @mkelley can any of you help address this?

[2021-06-20 18:51] pothiers commented on #2081
I'll look for a quick work around in a couple days.  However, there is a bigger issue.  The release schedule for AstroArchive is much quicker than AstroQuery.  We would love to be able to update the AstroQuery client to make use of the far greater features of the current [AstroArchive  API](https://astroarchive.noirlab.edu/api/docs/).  Alternatively, we plan to provide a AstroArchive client that w

[2021-06-20 20:36] keflavich commented on #2081
Astroquery operates in a continuous deployment model.  The latest master is intended, at all times, to be the latest release.  We generally will not publish numbered releases except when there are major infrastructure or architecture changes.

[2021-06-21 08:47] mattia-vaccari commented on #2080
Thanks, brilliant. I think adding a note that coord1/coord2/box should confirm to the query format at a given URL and adding the example query you mentioned in your reply to the docs would be useful.

[2021-06-21 17:55] mkelley commented on #2007
Hi @schirmermischa

That can be done with the SkyBoT service: https://astroquery.readthedocs.io/en/latest/imcce/imcce.html

If you'd rather use the Minor Planet Center, they have the MPChecker, but this is not implemented in astroquery: https://minorplanetcenter.net/cgi-bin/checkmp.cgi

[2021-06-21 19:16] bsipocz commented on #2014
No, at the moment only the following are supported:

[code]

[2021-06-21 19:40] keflavich opened #2090 "Atomic: Refactor"
The Atomic package needs some refactoring as noted in #2088:

 * [ ] The `query_object` method should be removed in favor of using an `_async` method with the default wrapper
 * [ ] The keyword arguments should be changed to `**kwargs` when they have a `None` default (or... maybe we should just be adding a `*` in front of all those keyword args?  @bsipocz chime in here to clarify what you meant in

[2021-06-21 19:55] bsipocz commented on #2090
I would certainly prefer to remove all usage of `**kwargs` and to be explicit of the accepted keywords. Their order should not matter though, so we should make them kwarg only by adding the `*` in the signature.

[2021-06-21 19:59] bsipocz commented on #2090
Note: it's `package-novice` for someone who wants to learn a bit more about astroquery's internal, the cleanup should be straightforward with plenty of examples in the other modules using our `@async_to_sync` decorator.

[2021-06-21 20:18] #2065 closed

[2021-06-21 23:09] BogoCoder commented on #2047
Thank you for your comment, Adam. Yes, I basically want the search coordinates as a return column, even better if not found coordinates are returned as a row with an special label (or simply None).

[2021-06-22 17:52] #2075 closed

[2021-06-23 00:43] bsipocz commented on #2008
This has been fixed upstream, so I'm closing the issue for now. Thanks for reporting!

[2021-06-23 00:43] #2008 closed

[2021-06-23 02:23] bsipocz commented on #2002
This has been resolved upstream. If you still see the issue, please clear the cache, e.g. delete `~/.astropy/cache/astroquery/Irsa`

[2021-06-23 02:23] #2002 closed

[2021-06-23 08:51] SamSweere commented on #2075
Indeed the update fixed the problem. Thanks!

[2021-06-23 14:07] DrBrangar commented on #1601
This is a similar issue to my own: for high proper motion stars, SESAME, will think it is somewhere it isnt. This can be solved, and is in the online interface, by propagating the coordinates forward.

[2021-06-23 14:19] DrBrangar opened #2093 "Cannot Query EDR3 data"
I am trying to get GAIA EDR3 data, and while astroquery.gaia defaults to DR2, the documentation seems to suggest that inserting the following line will select the EDR3 data.
`Gaia.MAIN_GAIA_TABLE = "gaiaedr3.gaia_source"  # Select early Data Release 3`
However, when I actually go to run the query, with `Gaia.query_object()` and turn on verbose output to check, it is obviously only searching the dr

[2021-06-23 21:03] keflavich opened #2094 "ALMA: Cannot select multiple science keywords"
I attempted this query:
[code]
resulting in an exception `DALQueryError: ADQL syntax error: Encountered " <S_IDENTIFIER> "High "" at line 1, column 81.`

The problem was a malformed ADQL query:
[code]

The solution is to do the query correctly, e.g.:
[code]

[2021-06-24 19:36] bsipocz commented on #2013
I think this can be now closed with the merging of #2067

If that's not the case, please update the description to include a todo list, so we can keep track in this issue of what is still missing.

[2021-06-24 19:41] rickynilsson commented on #2013
I think that should be it, but I'll let @lgbouma have the final say since I just hijacked his issue.

[2021-06-24 20:32] lgbouma commented on #2013
@rickynilsson all good!  Happy to close, and thanks for your work on #2067 :-)

[2021-06-24 20:32] #2013 closed

[2021-06-29 22:10] #2083 closed

[2021-06-29 22:52] bsipocz opened #2096 "Cleanup old utilities"
There are some very old and outdated utilities, they should be cleaned up and change to direct usage of upstream.

E.g. we don't need `coord_to_radec`, use astropy coordinates directly, so we don't end up with code snippets like

[code]

[2021-07-01 03:50] bsipocz commented on #2045
This is kind of blocking the cron testing, so I go ahead and temporarily remote the running of the affected tests.

[2021-07-01 04:33] santiagogil96 opened #2097 "How to query for frequencies?"
Say I want to obtain every observation whose spectral window contain the frequency 96.261 GHz. In the ALMA archive site I can accomplish this by typing the desired value in the frequency constraint in the search box. However, using

Alma.query({'frequency':'96.261'}) or
Alma.query_tap("select * from ivoa.obscore WHERE frequency=96.261")

seems to only filter for the tuned frequency of the observat

[2021-07-01 08:08] bsipocz commented on #2045
Hmm, locally I cannot reproduce this anymore, so maybe one of the more recently merged files, or something upstream has fixed this (it was still stuck the last time the cron tests were run. If they pass through the alma tests the next time I'll close this issue.

[2021-07-01 18:20] adrn opened #2099 "Setting MAIN_GAIA_TABLE in astroquery.gaia.Gaia has no effect"
Minimum working example demonstrating that setting `Gaia.MAIN_GAIA_TABLE` does not lead to EDR3 results:
[code]
(Outputs a Gaia DR2 designation)

[2021-07-01 18:38] bsipocz commented on #2099
cc @jcsegovia

[2021-07-01 18:46] bsipocz opened #2100 "Unhide methods in astroquery.gaia"
E.g. currently we have `__query_object` that is called in both `query_object` and `query_object_async`, but kept inaccessible to look at from a python prompt. I see no reason for having all these three methods defined while the latter two only calls on the implementation in the first.

Instead, we should rename the hidden to `query_object_async`, and use the decorator to create the `query_object`,

[2021-07-01 18:49] bsipocz commented on #2040
Having access to the query payload would help in fixing e.g. #2099, too.

[2021-07-01 20:32] keflavich commented on #2097
@santiagogil96 Please submit this question to the ALMA helpdesk (https://help.almascience.org/) and the ALMA helpdesk team will assist you there.

[2021-07-02 18:08] DavidIsrayelyan commented on #1211
@keflavich  Good evening.
Now I have the same problem. But the version is the newest one. Is there any idea from which it may happen?

[2021-07-02 18:27] bsipocz commented on #1211
The query above works for me:

[code]

You could maybe try to clean up the cache (normally located at ~/.astropy/cache/astroquery). If you still see the issue, please post a failing example with full tracelog.

[2021-07-03 09:09] bsipocz opened #2103 "Fix mocking in ALMA tests"
#2020 introduced the need to update the mocking in tests ` test_download_data` and `test_download_and_extract`

Without knowing anything about the data model of the downloads my workarounds for the tests looks rather hacky, so I would leave this issue to be addressed by the alma experts @keflavich  and @andamian.

Bottom line: 2 remote tests are failing currently, they need to be fixed!

[2021-07-04 18:03] keflavich opened #2104 "ALMA: How can one get publication data?"
The ALMA archive shows publication data associated with each observation, but there is no such column in the return from the ALMA astroquery search.  How can we access that information?

[2021-07-05 17:29] andamian commented on #2103
I will try to run the tests myself. They run against our test servers.

[2021-07-05 18:10] bsipocz commented on #2103
Thanks!
It really is just to add more info in the Mock call, I just didn't know what the right content I need to put in there that mirrors the behaviour of the server. (I tried the fits file name, but it wasn't really right as it didn't trigger doubling the downloads, and was very much not right for the second test.)

[2021-07-06 14:09] santiagogil96 commented on #2097
Thank you for your response. Will do.

[2021-07-06 16:43] bsipocz opened #2107 "MNT: tests should use temporary files and delete them"
When using pytest directly, rather than the astropy test runner, quite a few tests are creating files that are not cleaned up after the run. The repo should be left clean of these once the tests are run. I have these after a full run with `--remote-data`.

[code]

edit: maybe add a command at the end of the remote-data tests that lists everything that got generated during the run? maybe even test

[2021-07-07 09:44] #1836 closed

[2021-07-09 18:26] bsipocz opened #2109 "Limit usage of `**kwargs` to raise error for non functional kwargs of the common API"
The following query should raise an error rather  than pass as clearly the timeout has no effect

[code]

[2021-07-09 18:29] bsipocz opened #2110 "Add more examples to modules about usage of the common API"
As far as I see only the Simbad, astrometry.net and VO conesearch modules show examples of how to adjust the query timeout. We need to find a way to make it easier for users to discover how to set it themselves, it's probably unlikely that they will visit a separate "Common API" page, but we could e.g. have the same text repeated for all the modules about the timeout and cache.

[2021-07-12 23:15] bsipocz opened #2111 "Code examples disappered from rendered docs"
This may be related to the new pytest directive (I don't think so) or some version issues at RTD. Either case, the builds should have failed and notified us before users run into this...

<img width="1037" alt="Screen Shot 2021-07-12 at 16 13 13" src="https://user-images.githubusercontent.com/6788290/125367016-3314cf00-e32c-11eb-92b1-709f6ee95c44.png">

[2021-07-12 23:47] bsipocz opened #2112 "Consider requiring minimum astropy version 4.1"
Today we run into a bug that could be traced back to https://github.com/astropy/astropy/pull/9505

The easiest workaround is to drop support for old astropy.

Less easiest to run tests, remote tests with the old dependency combination and the fix all issues that come up. At least the `nasa_exoplanet_archive` module fails on this, but I would not be surprised if there would be more.

(For a failing

[2021-07-12 23:55] bsipocz opened #2113 "More roboust remote testing"
The example in #2112 unearthed the issue that our remote-testing protocol is not sufficient enough, we could have catch the bug if the CI matrix was running remote data tests for the old dependency combination, too.

There are a few options we could do, and I raise this issue with the infrastructure team to see what is the best way forward:

- set up a system to test on module level, and run remot

[2021-07-12 23:58] bsipocz opened #2114 "We should be strict about minimum_python_version"
We dropped python3.6 support, yet users could pip install 0.4.3 on python3.6, and unrelatedly run into bugs.

Even though the bug in #2112 is not related to python3.6, users should not be able to install it, and we should not patch workarounds to keep things working for unsupported python version.

[2021-07-13 10:17] DavidIsrayelyan commented on #1211
![Screenshot from 2021-07-13 14-15-48](https://user-images.githubusercontent.com/22592990/125435141-3c91ebe1-2ef3-40af-b353-1a38f1f96ba1.png)
Here is an example of an error.

[2021-07-13 14:26] keflavich commented on #2104
ah... `bib_reference` was there the whole time.  That's the answer.

[2021-07-13 14:26] #2104 closed

[2021-07-13 14:45] bsipocz commented on #2104
can you pop a short example in the docs page, so we don't run into it again? :)

[2021-07-13 18:11] andamian commented on #2104
`Alma.help()` groups all the queryable attributes. This is the section for `Publications`:
[code]

[2021-07-14 00:46] pllim commented on #2111
I think the problem is there is no Sphinx directive defined for the new `.. doctest-remote-data::` directive in https://github.com/astropy/pytest-doctestplus/blob/main/pytest_doctestplus/sphinx/doctestplus.py . Hopefully the implementation of `.. doctest-skip::` would be a good example to follow.

So, in a way, astropy/pytest-doctestplus#137 was incomplete. Perhaps instead of testing that PR in `a

[2021-07-14 01:28] bsipocz commented on #2111
We'll, water under the bridge, I certainly should have looked at the rendered docs. But going forward I think we shouldn't revert the release, it's not yet used widely, but fix it and do a quick release with the fix.

[2021-07-17 17:32] bsipocz commented on #2111
Ohh, this is a really deep rabbit hole, I'm getting into multi layer of deprecations. I suppose astroquery very much in need of a large scale infra upgrade...

[2021-07-19 14:50] pllim commented on #2111
Please let me know if you need help. 😿

[2021-07-19 15:27] bsipocz commented on #2111
Oh, I'm all done with patching these around, just didn't open the PRs yet.

[2021-07-19 17:25] bsipocz commented on #2045
I lost track whether the affected tests got  fixed or skipped, but either way I don't see any of the remote tests being stuck (but there are a lot of them skipped). The slowest two were 51s and 33s which is OK, so I go ahead and close this issue for now.

[2021-07-19 17:25] #2045 closed

[2021-07-19 18:16] bsipocz opened #2120 "Fix docs examples for xmm newton"
The examples for e.f. `get_epic_images` are not complete, neither the narrative docs nor the docstring examples are copy-pasteable. While the logic of the examples are clear the current solution is not testable.

The docstring examples, therefore, got removed in #2119

[2021-07-19 21:40] andamian commented on #2045
Sorry - started a couple of times to look at this and every time got stuck with running any `astroquery` tests (includingin my environment and while trying to figure out what was wrong I got side tracked by other priorities. Haven't touched the tests so it was probably something wrong on the test servers. We've had a recent release and most likely that has fixed the issue. Sometimes it pays off to

[2021-07-19 22:25] bsipocz commented on #2045
Certainly, my favourite test failures and issues are the ones that are self-healing without interaction :) I may tend to open github issues for them, but the main purpose is to document, and close off if they go away. With the infra team we will though think about better ways to run remote tests to pick up genuine issues sooner, as the current approach is not working very well (the cron is basical

[2021-07-22 17:21] lvalerom commented on #2120
Hi @bsipocz, you are right. The example for `get_epic_images` is not copy-pasteable. The function needs an already downloaded observation. The step to download the observation could be added to the docs like:

[code]

[2021-07-27 15:15] deepjyotisatpathy18032 opened #2123 "SSLCertVerificationError found while running an example code of astroquery in a virtual environment"
Hello,
I tried running a basic example code using asroquery.gaia which I got from the website, in a virtual environment having python 3.7.0 and the astroquery version 0.4.3. I tried updating astroquery but still I get the same error. Below is the error:
![Screenshot 2021-07-27 at 3 37 50 AM](https://user-images.githubusercontent.com/61833438/127179579-db26650e-257a-40a4-aba8-9cfc02f3b580.png)
I re

[2021-07-28 18:33] bsipocz commented on #2113
We could even cut up the remote cron tests along the line of archives, e.g. run all ESA or all IPAC or all ALMA, and what's remaining, etc together to make it easier to set up a notification system.

[2021-07-29 19:19] keflavich opened #2124 "JPLSpec should use http, not https"
JPL's servers don't support https, so queries sent with `verify=True` (the requests default) will fail.

[2021-07-29 20:11] keflavich commented on #2124
The tracebacks looked like:
[code]

I thought this was an https-related error, but it seems to have been just a temporary error on the server.

[2021-07-29 20:11] #2124 closed

[2021-07-29 21:23] keflavich opened #2126 "Replace vamdc with "classic" CDMS interface?"
The VAMDC interface relied on a "beta" project that may be perpetual beta.

The old-school version maybe more reliable:
https://cdms.astro.uni-koeln.de/cgi-bin/cdmssearch

than the new, which is what we tried to support:
https://cdms.astro.uni-koeln.de/cdms/portal/

It would be pretty easy to whip up something analogous to jplspec for cdmssearch

[2021-07-29 21:25] keflavich commented on #1860
Old versions are not recommended.  I can't reproduce this error, though; I get a reasonable result:

[code]

Perhaps try redoing with the cache disabled? `Splatalogue.query_lines(219.56*units.GHz, 219.57*units.GHz, only_NRAO_recommended=True, only_astronomically_observed=True, cache=False)`  It's possible a bad query got cached.

[2021-07-29 21:44] bsipocz commented on #1550
All of the above examples work for me using a recent astropy and astroquery versions, so I'm closing the issue now (some caching updates were done in astropy since this issue was opened, I suspect those might have provide the fix). Please let us know if you still see the issue, so we could look into reproducing it.

[code]

[2021-07-29 21:44] #1550 closed

[2021-07-31 13:01] keflavich commented on #2123
Could you please share code snippets instead of screenshots of the code?

I tried the following and was unable to reproduce the error:
[code]

Given this is an SSL error, it might have been temporary - does the error persist?

[2021-07-31 13:10] deepjyotisatpathy18032 commented on #2123
Yes, the code mentioned by you is the code I used. I just re-run the above again and I am still getting that error. The thing is, if I use a virtual environment I get that error(only in case of gaia) but when I run the code not in a virtual environment, I don't get it.

[2021-08-01 12:12] aoberto commented on #2047
Sorry, it does not look so simple to me.
Until now, there was no input given in the output for query by coordinates.

The difficulty I see here, it that coordinates are given through a SkyCoord object, so depending of the interpretation and the output format of the coordinates, it could be too risky to recognize exactly the given coordinates in the output comparing strings.

Beside of that, errors

[2021-08-03 05:48] nkelhos opened #2127 "astroquery.jplhorizons.Horizons().vectors() xyz coordinate system"
I'm trying to get the coordinates of an asteroid via astroquery.jplhorizons, and load them into astropy, but I'm a little uncertain about the coordinate system jplhorizons outputs.

If I get an object's xyz coordinates via:
[code]

The astroquery description for these x, y, and z coordinates is shown [here](https://github.com/astropy/astroquery/blob/32b0af5e37775af09d1f780f1ecdb6759215b933/astroqu

[2021-08-03 14:23] keflavich commented on #2127
@mkelley can you help with this?

[2021-08-03 15:25] mkelley commented on #2127
Hi @nkelhos , one way to get more information on the results is to examine the raw response from Horizons.
[code]
[code]

It does appear to be using the Sun and an obliquity of the ecliptic of 84381.448 arcseconds.  See astropy/astropy#6461 for some notes on that reference plane.  Does this address your problem?

BTW, I thought that there might instead be a problem with the time scale.  In my exam

[2021-08-04 19:49] nkelhos commented on #2127
@mkelley, thanks for pointing out `raw_response`.  I think I'm now pretty convinced jpl uses the barycenter of the solarsystem.  However, from this:
[code]
its not quite clear if they use the [Mean](https://docs.astropy.org/en/stable/api/astropy.coordinates.BarycentricMeanEcliptic.html#:~:text=Barycentric%20mean%20ecliptic%20coordinates.,the%20ecliptic%20for%20that%20date.) ecliptic or [True](http

[2021-08-04 20:55] mkelley commented on #2127
Interesting plots, @nkelhos .

But that isn't consistent with the Horizons output for `location=None`, which contains:
[code]

Using `location='500@0'` gets the barycenter:
[code]

I did this once for the Sun and once for the SSB and the vectors are different:
[code]
The difference between the two is of order 0.01 au == 26 Saturn radii.  Does using '500@0' solve the problem?  I ran your code with

[2021-08-04 23:44] nkelhos commented on #2127
[code]
Oof, thanks for catching that @mkelley .  I think I didn't read the docpage [here](https://astroquery.readthedocs.io/en/latest/jplhorizons/jplhorizons.html) closely enough:
[code]
The Horizons web browser describes [more location choices](https://ssd.jpl.nasa.gov/horizons.cgi?s_loc=1#top), and it looks like the `500` part isn't necessary, unless I want RA/Dec from a particular observatory.

[2021-08-05 02:55] bsipocz opened #2129 "get_query_payload should return the sql/tap query when available"
I feel it would be more useful to have the sql/tap query returned with `get_query_payload` kwarg rather than the input dictionary when available. The logic with the kwarg is to provide a convenient way to debug problematic queries and it should return whatever is sent to the server.

E.g. instead of `{'table': 'kelttimeseries', 'format': 'ipac'}` I would like to get `"select * from kelttimeseries

[2021-08-05 03:58] bsipocz opened #2130 "Units should be parsed in the nasa_exoplanet_archive module"
One of the test cases raises a lot of warnings for unrecognized units. These should be instead handled internally in the module.

[code]

[code]

[2021-08-05 03:59] bsipocz commented on #2130
Another test query raises a warning for `day` as well.

``NasaExoplanetArchive.query_object("HAT-P-11 b")``