[2018-05-15 03:07] Mayankattifr opened #1142 "Retrieving all columns from MAST catalog with object_query"
I am Mayank Narang from the Tata Institute of Fundamental Research.  I am currently working on a project that requires me to access GALEX UV data. I was trying to use Mast catalog feature from the astroquery module.

I wanted to know is there a way of displaying all the columns for GALEX I am primarily interested in the source size columns and the FWHM column.

It would be really helpful if you co

[2018-05-15 18:26] bsipocz opened #1143 "Infrasturcture to avoid deployment"
Currently I've cancelled the deployment after I've merged some trivial non user facing changes. It would be nicer if we could just add a ``[nodeploy]`` or similar text to the final merge commit message. (And then just need to remember to add it...)

[2018-05-16 19:19] pllim commented on #872
This might not be worth it. But feel free to reopen if you disagree.

[2018-05-16 19:19] #872 closed

[2018-05-17 08:10] blakut opened #1144 "Astroquery: keyring error when importing"
Hi all,

I'm running a python script that looks for and downloads some data from the Alma archive. The script worked on my work desktop pc and on another more powerful machine used for alma data processing. Two weeks later, the script runs ok on my desktop but not on the other machine (home folder is shared between the two). I don't have root access to any of them and i probably need to tell the c

[2018-05-17 08:16] keflavich commented on #1144
Short answer: yes.  I think I've seen this before, but not sure.  Try reinstalling.  Maybe we need a specific version of keyring?

[2018-05-17 08:29] blakut commented on #1144
Our admin used his desktop to log into the machine that i was trying to use. Logging in with my account, he could import keyring and had no trouble. From mine, still getting the same error. Workaround for now is to use a second 'twin' machine which has access to the data i need, where this error is missing. Will update later if anything else turns up.
Cheers,
Toma

[2018-05-17 10:00] blakut commented on #1144
After logging out and relogging into the machine that was causing the problem, importing works again. It might be because the IT people told me they had to delete some stuff from /tmp/ a week ago or something.
Thanks for the help!

[2018-05-17 10:00] #1144 closed

[2018-05-18 20:37] adrn opened #1145 "Astropy table downloaded from Gaia fails to write to FITS"
I downloaded a table from the Gaia science archive using astroquery, and tried to write it to a FITS file:

[code]

but get an error:

[code]

Is this a bug in the way the table is constructed from the results in astroquery?

I see the word mixin, so I tried converting all columns to plain numpy arrays, and that does seem to work:
[code]

This is somewhere between a bug in astroquery and in astrop

[2018-05-21 22:36] rickyegeland opened #1146 "Vizier.get_catalogs() should throw an exception when receiving an empty RESOURCE"
A catalog I use appears to have disappeared from VizieR.  However, since I discovered the problem with astroquery I originally suspected the problem was there, not with CDS.  (I have contacted CDS about it.)

Below is the test code and output I (eventually) put together by reading astroquery source code.  An exception saying "VizieR returned an empty resource for catalog J/ApJ/457/L99" would have

[2018-05-29 19:57] gianninapr commented on #1075
As part of the sbpy project, this summer we will also start working on the addition of:

- [ ] JPL Molecular Spectroscopy Catalog (which includes the partition functions needed for sbpy spectroscopy analysis, [https://spec.jpl.nasa.gov/](url))

[2018-05-29 20:00] bsipocz commented on #1075
thanks @gianninapr! I've added it to the list to the top, too.

[2018-05-30 07:11] #824 closed

[2018-05-30 07:56] keflavich opened #1149 "HITRAN cleanup"
There are several things that need to be improved in the HITRAN module:

 * [ ] Docstrings need to show the accepted parameters in the callspec (I think we manage this in other packages?)
 * [ ] Need to be able to query multiple molecules/isotopes simultaneously (can the database support these queries?)
 * [ ] Need to add units to parsed tables

[2018-05-31 15:31] pllim opened #1150 "Can MAST Observation download to a given directory name?"
I saw this example:
[code]

And I wonder if user should be compelled to call `move` and `rmtree` like this. It would be cleaner for `Observation` to take a path name and directly put those FITS files there. c/c @ceb8 @tddesjardins

[2018-05-31 16:06] ceb8 commented on #1150
The reason that the files are downloaded into that directory tree is that the actual fits filenames are not guaranteed to be unique but the Mission/Observation ID/Filename path *is* guaranteed to be unique.

[2018-05-31 17:26] tddesjardins opened #1152 "Case of mastDownload/HST subdirectories is not consistent"
Is it possible to standardize the case of the dataset subdirectories in the mastDownload/HST directory? For example, in the same query, I have "jd5702010" and "JD5702JNQ"

[2018-05-31 17:30] pllim commented on #1152
c/c @ceb8

[2018-05-31 17:34] ceb8 commented on #1152
Can I have an example of the query you ran to get that?

[2018-05-31 18:04] pllim commented on #1152
Uppercase:

[code]

Lowercase:
[code]

[2018-05-31 18:27] bsipocz commented on #1152
I feel this is a server side issue rather than astroquery?

[2018-05-31 18:42] pllim commented on #1152
@bsipocz , yes, I feel like it is as well. That is, once this is fixed server side, no code change is necessary in `astroquery`. But @ceb8 can correct me if I am wrong.

[2018-06-04 16:46] keflavich opened #1153 "Update ADS service to use new API"
ADS will be deprecating the classic site.  We need to replace the ADS module before this happens.  We had an old discussion with @andycasey about merging in his work, but that discussion never went anywhere.  If we're lucky, ADS will provide some direct support to implement an appropriate module.

cc @aaccomazzi

[2018-06-04 17:29] aaccomazzi commented on #1153
As I mentioned to @keflavich we (ADS) will be happy to help, even if in just reviewing code to make sure it makes the most efficient use of our new API.  It would be great to get this done by the end of 2018, before ADS classic is deprecated.

[2018-06-05 23:57] keflavich opened #1155 "Continuous Release: remove 'dev'?"
The continuous release process was established in #1124, but it doesn't fully "work" yet because we're pushing .dev releases to pypi, which means that `pip install astroquery` doesn't install the latest version of astroquery.

So, what is the appropriate way to make this a fully automated release process?  Can we just drop the 'dev' from the version name?  Does that break some of the astropy-helpe

[2018-06-06 12:51] bsipocz commented on #1155
`pip install --pre astroquery` should work though.

I'll look into it how to both have the cake an eat it ;)

[2018-06-06 13:22] bsipocz opened #1157 "Add method for VizieR Photometry viewer"
Vizier has a very nice service called sed, where it returns the photometry for a given coordinate. It not exactly clear what catalogues it contain by default, but the goal here as usual, to get the same table the webform returns.

http://vizier.u-strasbg.fr/vizier/sed/

[2018-06-06 13:27] bsipocz commented on #1155
OK, my only reservation with removing the `dev` tag was that we may still want to have tagged versions. Those are the ones where we made some extra care to clean up the changelog, or made sure as many things as possible pass the remote tests, etc. And they can be then more easily conda/linux packaged.

But if we figure out a way to structure the changelog, I'm in for dropping the dev suffix and ei

[2018-06-06 15:41] keflavich commented on #1155
Yes, I still want tagged versions.  We can associate those with "minor" releases.

Should the versioning continue as 0.3.9.12332512354?

[2018-06-06 15:51] bsipocz commented on #1155
That's easy to do, but then the logic say 0.3.9 predated 0.3.9.12332512354.

Shall we just skip 0.3.9 and go to 0.3.10 next? Then we should be all good to go right now.

[2018-06-06 15:55] keflavich commented on #1155
yeah that's the way to do it

[2018-06-06 16:00] bsipocz commented on #1155
I'll look into helpers then how to increment the last digit automatically.

[2018-06-06 20:39] theresadower opened #1160 "Tap/TAP+ unsuccessful in async mode to some valid TAP services, relies on potentially optional features"
When using the astroquery.utils.tap library against several valid TAP services other than GAIA, synchronous mode queries work but asynchronous ones hang and eventually time out with exceptions.
Working on this issue for Jupyter notebooks for NAVO demos, we found the issue to be caused by how the library submits asynchronous calls using a parameter read as optional in the basic UWS standard (http:/

[2018-06-06 20:44] keflavich commented on #1160
cc @jcsegovia - can you address this issue?

[2018-06-07 13:56] bsipocz commented on #1115
This is now reality, so I'm closing the issue.

[2018-06-07 13:56] #1115 closed

[2018-06-07 15:16] keflavich commented on #1153
see https://github.com/astropy/astroquery/pull/1162

[2018-06-08 13:14] bsipocz commented on #1143
Addressed by #1166

[2018-06-08 13:14] #1143 closed

[2018-06-11 11:38] bsipocz commented on #1021
This came up yet again with the tutorials. I can reproduce locally with dev version, too.

[2018-06-11 13:55] bsipocz commented on #1021
OK, so with some cleanup, now it seems like that `get_maps()` actually works (#1167), the issue is with the hershel files themselves:

[code]

I suspect something might have changed upstream since it worked at one point, what do you think @imbasimba?

[2018-06-11 13:59] bsipocz commented on #1021
Here is a standalone failing example:

[code]

[2018-06-11 14:03] bsipocz commented on #1021
The `product_url` is definitely not right: http://archives.esac.esa.int/hsa/aio/jsp/standaloneproduct.jsp?RETRIEVAL_TYPE=STANDALONE&OBSERVATION.OBSERVATION_ID=1342205055&OBSERVING_MODE.OBSERVING_MODE_NAME=SpirePacsParallel&INSTRUMENT.INSTRUMENT_NAME=SPIRE

[2018-06-11 14:07] bsipocz opened #1168 "Check for response errors in ESASky"
It would be very useful to check whether the response is a successful one or we rather get an error back. E.g. the criptic issues like #1021 is now boiled down to receiving an 500, Internal Server Error rather than response content.

Ideally the module should exit gracefully with giving a useful error message.

[2018-06-12 09:56] imbasimba commented on #1021
@bsipocz Thanks for reporting this! I'll investigate today

[2018-06-13 11:57] jcsegovia commented on #1160
@theresadower thanks for spotting this.
Yes, TAP library launches jobs adding phase=run parameter.
I understand that there TAP implementations that cannot handle this.
I will add methods to create jobs and run jobs in order to make this library more compatible.

[2018-06-15 19:37] imbasimba commented on #1021
@bsipocz This was indeed an upstream issue, where concerned parties were notified and has since fixed the problem.
I fully agree that the ESASky module should handle this kind of error more gracefully. However I will have to fix this at some future point in time...

[2018-06-17 14:42] bsipocz commented on #1021
@imbasimba - Please have a look at https://github.com/astropy/astroquery/pull/1169, it partially does just that.

[2018-06-17 17:08] bsipocz opened #1172 "ESASky: get_maps() doesn't handle HST tar files"
This was originally reported by @bastianpeter at the astropy core repo, but really is an ESASky module bug:

[code]

The files are actually provided as `tar`s with a content of 2 fits files and 2 jpegs, and thus `astropy.io.fits` cannot (and shouldn't) really handle that.

xref: https://github.com/astropy/astropy/issues/7569

[2018-06-18 11:38] imbasimba commented on #1172
This seems like a change to the HST archive... I plan to fix this during the week, but first I need gather some information about the intent of this change and how it should be handled in ESASky

[2018-06-18 18:52] christinahedges opened #1173 "astroquery.vizier for KIC and EPIC returns IDs in int16, which is too low precision."
We're trying to use astroquery to search for targets in the Kepler/K2 input catalogs KIC and EPIC. These should return IDs that are 8 and 9 digit integers. However, when we run astroquery.vizier().query_region() we are returned an int16. This is too low precision to get a correct target ID.

The screenshot below shows a search for a target with a Kepler ID 3403340. In the returned table the ID is

[2018-06-18 18:56] keflavich commented on #1173
This is an incorrect specification in the VOTABLE returned from Vizier.
[code]
We need to report this to the Vizier folks; they should not be labeling the IDs as `short` integers when the values exceed 32768.

[2018-06-18 18:58] keflavich commented on #1173
I've reported it upstream.  In the meantime, a workaround is to do something like:
[code]
or something along those lines (I haven't tested that code...)

[2018-06-18 18:59] willfurnell opened #1174 "Is there similar (or the same) functionality as the SIMBAD basic search?"
Hi,

I'm in the process of writing a web application, and am looking at using the SIMBAD search through astroquery to get RA and Dec co-ordinates (FK5, J2000) for any given co-ordinates/name.

It looks like the SIMBAD basic search (http://simbad.u-strasbg.fr/simbad/sim-fbasic) will do all this conversion automatically no matter what the user enters which is perfect, and I was wondering if astroque

[2018-06-18 19:01] keflavich commented on #1174
No, we don't have that implemented, which is kind of weird since we've implemented all the other interfaces.  It should be really easy to do just by copying and pasting one of the existing query tools and replacing the URL with 'sim-fbasic'

[2018-06-18 19:06] willfurnell commented on #1174
Fantastic, thank you!

[2018-06-18 19:32] willfurnell commented on #1174
Looks like the query script does it automatically itself. Eg.
http://simbad.u-strasbg.fr/simbad/sim-script?submit=submit+script&script=query+vega%0D%0A

[2018-06-18 19:34] keflavich commented on #1174
Right, that's what we'd need to use.  Right now, you either have to `query_object` for an objectname or `query_region` if you know the coordinates.  Are there any other cases handled by the SIMBAD `basic` query?  If not, is it really needed?  Usually you know whether the query string is a name or a coordinate, right?

[2018-06-18 19:35] christinahedges commented on #1173
Thanks that's great, and thanks for the work around. We'll use that hack!

[2018-06-18 19:38] willfurnell commented on #1174
It looks like it takes an object name, co-ordinates or a bibcode - but yes usually you'd know whether the query string is a name or co-ordinate (you'd have get the user to specify) so yes, the need for this is debatable.

[2018-06-18 20:38] migueldvb commented on #1062
Superseded by #1075

[2018-06-18 20:38] #1062 closed

[2018-06-19 10:36] bsipocz commented on #1173
Closing as being upstream and even then a workaround is provided.

[2018-06-19 10:36] #1173 closed

[2018-06-19 11:32] bsipocz opened #1175 "nasa_ads: add examples to the narrative docs"
cc @kelockhart

[2018-06-19 11:39] bsipocz opened #1176 "nasa_ads: Add remote tests"
There are some concerns about this due to the requirement for an API key (https://github.com/astropy/astroquery/pull/1162#issuecomment-398165483), so this needs more thoughts before implementation.

cc @kelockhart

[2018-06-19 15:08] keflavich commented on #1173
This was also reported as being fixed upstream this morning.

[2018-06-22 13:29] pllim commented on #1125
Maybe this will naturally be solved when I can use what is in #1158.

[2018-06-23 18:22] mkelley commented on #1075
@mommermi @migueldvb I've drafted up a docstring for getting ephemerides with the MPC class.  How should I share that for review?  Link to my branch here or make a pull request?

[2018-06-23 20:41] migueldvb commented on #1075
Wonderful! That will be very helpful. You can open a new PR with the WIP prefix (work in progress) in the title.

[2018-06-30 07:55] krislars commented on #1157
+1 Another nice thing about this service is that VizieR converts the magnitudes into fluxes with its own internal zero points, something that astropy.units does not do [see note here](http://docs.astropy.org/en/stable/units/logarithmic_units.html#arithmetic).  So adding this service would be a nice way to add in Vegamag-to-flux capability.

[2018-07-03 13:36] lupinix opened #1178 "Python 3.7 incompatibiliy in conesearch.py"
In Python 3.7 async and await are reserved keywords (check https://docs.python.org/3/whatsnew/3.7.html). Therefore astroquery/vo_conesearch/conesearch.py cannot be imported anymore, a simple
[code]
 fails with
[code]
As a fix I suggest to rename file astroquery/vo_conesearch/async.py and fix the imports accordingly. Would that be safe (and which files import async, do we need doc changes?)? I have

[2018-07-03 14:32] pllim commented on #1178
Thanks for reporting this! And feel free to submit a patch if you already have one.

[2018-07-03 15:12] texadactyl opened #1179 "query._download_file could handle progress bar more like astropy.utils.data.download_file"
EDIT by @bsipocz:
The progress bar features in astropy cannot handle log levels natively, so instead, in the meantime, astroquery could handle progress bar more like it's done in `astropy.utils.data.download_file`.

However the downside that it's done via private functions, so it's not very appealing to add another keyword to each and every methods that does some download.

Original issue text:

W

[2018-07-04 07:25] ysBach opened #1180 "[Feature Request] Customizable location in jplhorizons module"
If I understand the [latest doc](https://astroquery.readthedocs.io/en/latest/jplhorizons/jplhorizons.html) correctly, it is not possible to use custom `location` (e.g., by specifying longitude/latitude/height).

For many amateur observations and school's observatories, it is almost essential to customize it.

[2018-07-05 17:25] lupinix commented on #1178
No patch yet, would be renaming async.py and changing the import in conesearch.py safe or are there any caveats to be expected (or other imports of async)?

[2018-07-05 18:17] bsipocz commented on #1180
cc @mkelley

[2018-07-05 23:14] pllim commented on #1178
AFAIK async is not used outside of cone search, so probably okay to rename. @keflavich or @bsipocz, any pkg wide policy on this?

[2018-07-06 03:10] marusazerjal opened #1182 "Simbad otypelist"
Many Simbad objects have 'Other object types' besides the main one. 'otype' votable field returns only one of them. How to get all of them, is there an equivalent of Simbad's `OTYPELIST`?

Example:
[code]
while [the webpage](http://simbad.u-strasbg.fr/simbad/sim-basic?Ident=pleione&submit=SIMBAD+search) lists
`Ir* (), * (*,AG,...), IR (AKARI,IRAS,...), *iC (Cl*,Cl), V* (V*,AAVSO), UV (CEL,TD1), X

[2018-07-06 09:04] keflavich commented on #1182
I don't think this is possible with the current SIMBAD interface; I tried forcing it with their script interface and got:
[code]

Could you e-mail the SIMBAD team at CDS and ask them how to do this, and forward them to this Issue?  This is a feature I'd like to have, but don't presently know how to implement it

[2018-07-06 09:33] marusazerjal commented on #1182
Thanks for the votable script, I was experimenting a bit and tried with `otypes(v)` and it seems to work:
[code]
[lines skipped]
[code]

[2018-07-06 09:36] keflavich commented on #1182
Oh!  That's not documented [here](http://simbad.u-strasbg.fr/simbad/sim-help?Page=sim-fscript), unfortunately, and that's the web page we use to validate the added VOtable keywords.

There is a hackaround you can use to get astroquery to perform this query for you:
[code]
but unfortunately I don't have a good idea of how to make that one of the 'allowed' keywords.  If you try to do it the 'right'

[2018-07-06 12:48] aoberto commented on #1182
Ok, I just added it in the documentation page

On 06/07/2018 11:36, Adam Ginsburg wrote:

[2018-07-06 15:15] reb30 opened #1186 "lower_level_energy_range in AtomicLineList not working"
I would like to use AtomicLineList to get data about transitions to the ground state of various elements. So, I use the method "lower_level_energy_range" from AtomicLineListClass as documented. However, whatever I do I can't seem to make it recognise an energy range restriction. Here is my code;

[code]

from which I get the following error messages:
[code]

I've tried everything I can think of fi

[2018-07-06 18:45] bsipocz commented on #1186
@reb30 - The `lower_level_energy_range` keyword argument needs to be a Quantity object rather than a tuple of Quantities. It's unfortunate to have this inconsistency with `wavelenght_range` that accepts both.

But even then, you've uncovered some bugs, so please try to pip install astroquery once #1187 is merged with `pip install --pre --upgrade astroquery`.

[2018-07-06 21:49] #1186 closed

[2018-07-07 19:43] #1027 closed

[2018-07-08 15:48] mkelley commented on #1180
You are correct and I think this is possible to fix.  My plan for Minor Planet Center queries (MPES) is to allow `(longitude, latitude, altitude)` and astropy's `EarthLocation` as inputs, in addition to observatory code.  However, Horizons is more powerful than the MPES and can have observers placed on sites throughout the solar system, so we should be sure to allow that here.

From the instructio

[2018-07-08 16:13] bsipocz commented on #1179
Thanks for the report, I feel this should be dealt with upstream in astropy.

[2018-07-08 17:08] bsipocz commented on #1178
@pllim - No custom policy afaik, it seems to me that that the `async` namespace was never exposed to the users in any API docs, so we can refactor it as much as we like.

[2018-07-08 19:15] texadactyl commented on #1179
@bsipocz Thank you very much for following up with Astropy.  Such diligence!  (=:

[2018-07-10 03:14] pllim commented on #1179
See #1188 for potential solution.

[2018-07-10 11:29] #1179 closed

[2018-07-10 20:47] erwanp opened #1189 "newlines in download_hitran Windows"
Hello,

I'm having trouble running the following codes on Windows:

[code]

crashes with
[code]

The **line return character** is somehow handled wrongly by `download_hitran` and as a result, one every other line in the `CO2.data` module is empty. Typical output:

[code]

I temporarily fixed it by discarding empty lines with
[code]
in `reader.py`:`read_hitran_file`, but of course, that's not the s

[2018-07-11 02:18] jhand1993 opened #1190 "Incorporate SkyQuery and CasJobs into astroquery"
Hello people of astroquery,

I am a graduate student at University of Pittsburgh who was writing a script to perform queries via various survey data set web services until I found astroquery and realized you guys had already done it.  That being said I had started working on a CasJobs interface, including authorization.  It is by no means stable and I haven't started testing it, but I decided to r

[2018-07-11 10:15] keflavich commented on #1190
So the first step is to have a look at the template module and see if you can put some of your code in that form.  I'm looking over what you've written to see if I can give more specific suggestions.  SkyServerGrabber looks like it might be reasonably similar to BaseQuery in overall structure...

[2018-07-11 10:45] bsipocz commented on #1190
Also, I wonder how much the overlap is with the functionality of the existing sdss module?

[2018-07-11 14:50] jhand1993 commented on #1190
So I'm expecting there to be tons of overlap.  Let me look into the sdss module and BaseQuery, and I will lay out a better proposal of sorts.  @bsipocz CasJobs via SkyServer definitely overlaps with the existing SDSS module.  One advantage (or extra layer of complexity) is that is allows for a user to grab data from their MyDB after organizing the data online.

[2018-07-11 16:01] Emmavt commented on #1173
I'm running into essentially the same issue with astroquery.vizier().query_object(), in that the ID is being returned as an int16, which is too low precision to get a correct EPIC target ID. The workaround posted above also works to fix this issue, but I was wondering who I should contact to report it? Any help would be greatly appreciated!

[2018-07-11 22:13] keflavich commented on #1173
Contact CDS (http://cds.u-strasbg.fr/).  If they report back, it would be good to post about it here too.

[2018-07-12 01:17] hughdickinson opened #1191 "Possibly unhandled URI format"
When trying to use the new MAST dataset on AWS, the `Observations.get_hst_s3_uris()` method seems unable to handle the `dataURI` column format that is being returned by `Observations.get_product_list()`.

In my case, the entries in the `dataURI` column are of the form:

This does not appear to correspond with the formatting expectation of the method. Moreover, the `obs_id` column (also used by the

[2018-07-12 03:21] pllim commented on #1191
@ceb8

[2018-07-12 09:23] Juanlu001 opened #1192 ""Cannot parse table column names" when trying to use Horizons"
I'm trying to reproduce the Horizons examples from the documentation, but I get a `OSError: Cannot parse table column names.` no matter what I try:

[code]

[2018-07-12 09:49] Juanlu001 commented on #1192
In fact, if I try to run those tests locally, all of the remote tests fail:

[code]

[2018-07-12 12:40] ceb8 commented on #1191
@cam72cam

[2018-07-12 13:11] bsipocz commented on #1192
cc @mommermi @mkelley

[2018-07-12 13:28] cam72cam commented on #1191
We only have the main public HST data for the currently active instruments.  Things like HLSP's and HLA still require you to hit mast directly and won't have a S3 url.

A enhancement to the get_hst_s3_uris would be to print out a warning when someone tried to get the S3 uris of data that's not on S3

[2018-07-12 16:19] #1192 closed

[2018-07-12 17:44] ceb8 opened #1194 "MAST API changes causing catalog access problems"
The newest MAST Portal release is causing problems when accessing HSC and Gaia through Astroquery.

I am working on a fix for this which will be in shortly, but wanted to get it on the record as a known issue.

[2018-07-12 17:55] mommermi commented on #1180
I will implement this with the next update.

[2018-07-12 20:21] mbietenholz opened #1195 "small error in documentation (object-notes instead of object_notes)"
On the page

http://astroquery.readthedocs.io/en/latest/ned/ned.html#reference-api
[astroquery.readthedocs.io]

In the section "Fetching other data tables for an object" it has that the kind of table to fetch can be "object-notes".   It should be "object_notes" [underscore instead of dash]

[2018-07-13 13:45] Juanlu001 commented on #1192
While I wait for the release, I saw that I can do

[code]

and everything works. This was not very well documented though, so perhaps it's not the way it should be used.

[2018-07-13 14:34] bsipocz commented on #1192
No, that's totally a valid way to change the configuration. It doesn't make much sense do change those defaults for most of the modules, but I guess some generic docs wouldn't hurt anyway.
I'm just not sure about the location, I guess not many users are looking into e.g. https://astroquery.readthedocs.io/en/latest/api.html?

[2018-07-13 14:36] Juanlu001 commented on #1192
I reached that document, and look like dev documentation to me. My two cents :)

[2018-07-13 14:45] bsipocz opened #1196 "Add some generic, user focused API docs"
E.g. the existence and possibility of changing the config items, etc.
https://github.com/astropy/astroquery/issues/1192#issuecomment-404837850

We have the API specification already, but that may not be a place a user would look for these:
https://astroquery.readthedocs.io/en/latest/api.html

[2018-07-13 15:44] saimn opened #1197 "Login not possible when keyring cannot find a valid storage"
When login on a server, I get this exception:
[code]

I don't know why exactly (no dbus, gnome-keyring or whatever) but this should not prevent to login without storing the password. I can workaround this by using `reenter_password=False` but this is not obvious (login parameters are not documented).
So I guess the simple solution would be to try/except the `keyring.get_password` call :
[code]

[2018-07-13 15:50] bsipocz commented on #1197
@saimn - What is your keyring version? We had issues with v12.0+ on CI, so if you have one of those, could you please try it with an older one, too?

[2018-07-13 15:54] saimn commented on #1197
@bsipocz - I have 12.2.1, let's try with another one.

[2018-07-13 15:58] saimn commented on #1197
I get the same error with 11.1.0 and 13.2.1.

[2018-07-13 16:03] keflavich commented on #1197
It's unfortunate that keyring is causing us problems, but I agree with the solution of `try`ing to get the password and giving up if there's a keyring-related failure

[2018-07-13 16:48] saimn commented on #995
This is indeed annoying, I'm trying to find a solution :)

[2018-07-13 17:08] #1197 closed

[2018-07-14 09:59] hettlage opened #1200 "Horizons query fails"
I try to execute the following code with the latest astroquery version installed:

[code]

This gives an error:

[code]

The problem seems to be that the HTTP request to the JPL server returns HTML rather than the expected result.

[2018-07-14 11:19] bsipocz commented on #1200
This is a duplicate of https://github.com/astropy/astroquery/issues/1192 and has been already been fixed in master.

[2018-07-14 11:19] #1200 closed

[2018-07-14 11:38] hettlage commented on #1200
Thanks a lot @bsipocz

[2018-07-14 12:54] hettlage opened #1201 "Time not supported in epoch values for JPL Horizons queries"
The following code runs fine:

[code]

According to the astroquery.jplhorizons documentation, the format for the start and stop time in the epochs dictionary should be “YYYY-MM-DD [HH:MM:SS]”. However, the following code fails:

[code]

fails with an error (`IOError: Cannot parse table column names.`), as its request to the JPL server receives the following response:

[code]

The issue seems to be

[2018-07-14 13:31] bsipocz commented on #1201
cc @mkelley @mommermi

[2018-07-16 20:34] Emmavt commented on #1173
I heard back from CDS, and the issue with EPIC (the table meta data) should now be resolved.

[2018-07-17 15:03] #1194 closed

[2018-07-17 23:23] mommermi commented on #1201
Thanks for this detailed report; this issue has been fixed in #1204

[2018-07-18 18:22] danielasmus opened #1205 "Simbad.query_region returns None's when executed in for loop"
Hello,

I am using python 2.7.11 with Ipython 3.2, astropy 2.0.6 and astroquery 0.3.9.dev0 (although when I install it, it say package astroquery-0.3.9.dev450.tar.gz) on a MAC OS 10.9.5, and I have the following issue:

I want to do a Simbad.query_region for a long list of objects, so I use a for loop to go over all the objects and do one query per object, and I test this for well-known objects an

[2018-07-18 19:45] keflavich commented on #1205
Look at `Simbad.last_response` when the result is `None`.  In particular, you can `print(Simbad.last_response.text)` to see the exact result returned from SIMBAD.  Since you're not receiving an error message, the query "succeeded" in some sense, but maybe they're returning junk?

[2018-07-19 15:34] pllim opened #1208 "Support for Hubble Source Catalog v3?"
Hubble Source Catalog v3 released -- http://archive.stsci.edu/archive_news/2018/07-Jul/index.html#article2

It might be useful as part of cone search (which depends on it being in STScI VAO registry) or MAST. cc @tomdonaldson @ceb8

[2018-07-19 16:14] keflavich opened #1209 "ESO: How do we run tests requiring login?"
See https://github.com/astropy/astroquery/pull/428.  Needed for tests of https://github.com/astropy/astroquery/pull/1184

[2018-07-19 16:32] saimn commented on #1209
Okay, so it works, adding `username = XXX` in the `astroquery.cfg` file, and using `--remote-data` !

[2018-07-19 16:34] keflavich commented on #1209
Thanks for digging into that!  We should document that somewhere other than here.

[2018-07-19 16:35] saimn commented on #1209
Actually it failed the first time, when the file was not yet in the cache, and is now passing with the file in cache. There may some edge case not properly handled when the file is not in cache yet ?

[code]

[2018-07-19 17:45] saimn commented on #1209
So this is a real bug, the downloaded files are not appended to the list of files. I don't think I broke this while refactoring the existing files detection, but anyway it will be fixed in a coming PR.

[2018-07-19 19:55] ceb8 commented on #1208
As part of this PR: #1203  I updated the astroquery.mast to include HST v3.

[2018-07-19 20:46] sbest49 opened #1211 "Fermi: Not working?"

[2018-07-23 08:20] danielasmus commented on #1205
Dear Adam,

many thanks for your suggestion. This is what I get:

In [6]: print(Simbad.last_response.text)
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>403 Forbidden</title>
</head><body>
<h1>Forbidden</h1>
<p>You don't have permission to access /simbad/sim-script
on this server.</p>
<hr>
<address>Apache/2.4.7 (Ubuntu) mod_jk/1.2.37 OpenSSL/1.0.1f Server at simbad.u-stras

[2018-07-23 12:15] bsipocz commented on #1208
I'm closing this one as #1203 should ended up in the latest release on pypi, deployed 3 days ago.

Please feel free to reopen if this is not the case.

[2018-07-23 12:15] #1208 closed

[2018-07-23 12:31] bsipocz commented on #1180
Thanks @mommermi!

@ysBach - You can try this out if you upgrade to the latest release with `pip install --pre --upgrade astroquery`.

[2018-07-23 15:02] keflavich commented on #1205
Uh, interesting.  That does not make any sense to me.  Can you access that URL via your browser?  If not, raise a question with CDS.

[2018-07-24 18:48] MatheusGysi opened #1212 "jplhorizons not working parse table"
Hello, I'm trying to use jplhorizons query  with the last version of astroquery 0.3.9.dev4742, with the example code
[code]
 but every time raises

When I print obj
[code]

[code]

Is there something that I can do to fix this problem?

Thanks

[2018-07-24 18:54] MatheusGysi commented on #1212
I'm sorry I did not found a solution before 'cause i was searching only for open issues
https://github.com/astropy/astroquery/issues/1192

[2018-07-24 18:54] #1212 closed

[2018-07-24 19:07] bsipocz commented on #1212
@MatheusGysi - Your example code above works for me. Could you try and upgrade your astroquery version to the latest release upload to pypi yesterday (https://pypi.org/project/astroquery/0.3.9.dev480/)
No conda package is available, use `pip install --pre --upgrade astroquery`

[2018-07-25 13:53] MatheusGysi commented on #1212
Thanks a lot @bsipocz

[2018-07-26 21:16] danielasmus commented on #1205
OK, after talking with the people from CDS, I found the problem: The CDS server apparently only allows 6 queries per second. If there are more requests they are blocked. So, if I add a time delay between each query, it works without problem.

[2018-07-26 21:16] #1205 closed

[2018-07-26 22:58] bsipocz commented on #1205
Actually the simbad module supports vectorized queries since #833, so what I would do is to factor out the astroquery call from your loop, and instead of creating single object SkyCoords build a vector one.

[2018-07-27 15:58] keflavich opened #1215 "Organization?"
#1214 raised an issue where there are now multiple JPL-provided services, raising the question of whether to host them under `jpl/` or `jpl_<servicename>/`.  I lean toward the former, but that is something new.

This issue prompted me to consider whether a broader reorganization might be useful.  There are now several planetary/solar system modules, several line modules, and many more generic on-s

[2018-07-27 15:59] keflavich commented on #1211
We need more details to help.  At least give an example of a failed query.

[2018-07-27 16:05] mommermi commented on #1215
I propose `astroquery/solarsystem` with submodules `mpc`, `jpl` and other services that we plan to implement as part of `sbpy`.

[2018-07-27 16:50] bsipocz commented on #1215
I'm super convinced for the super big modules, but a bit of structuring may help.
The main question is whether that would help discovering the services or make it more obscure and difficult.

E.g. `sky` is not very helpful imo, but maybe structuring all the line databases under `lines` or something similar is helpful, after all they can share an API that is different to the rest. If we go this way

[2018-07-27 16:51] keflavich commented on #1215
Right.  I'm suggesting these would be *additional* links, not replacements for the existing flat structure.

Good point that `cds/simbad` might hide more than reveal.

[2018-07-27 16:53] bsipocz commented on #1215
Yes, I don't actually mind to provide all modules in the top level namespace as well as lower down.

[2018-07-27 17:06] mommermi commented on #1215
Would you like the Solar System stuff to be top-level, too? Those modules might be different enough to warrant putting them all under one umbrella...

[2018-07-27 18:16] sbest49 commented on #1211
The page the request returns is just the same but with the fields filled in. I think that's why it doesn't find the result url.
This is the result I get:

/usr/local/lib/python3.5/dist-packages/astroquery/fermi/__init__.py:37: UserWarning: Experimental: Fermi-LAT has not yet been refactored to have its API match the rest of astroquery.
  warnings.warn("Experimental: Fermi-LAT has not yet been refa

[2018-08-01 22:38] bsipocz opened #1217 "Update gaia docs for DR2"
The default table is currently DR2, so ideally the examples should be updated to be DR2, too.

[2018-08-02 22:38] keflavich opened #1219 "Installation into CASA"
In case anyone (...me) wants to install astroquery into CASA, you can mostly follow these instructions:

http://docs.astropy.org/en/stable/install.html#installing-astropy-into-casa

but you might encounter this issue:
[code]

Unfortunately, you can't use CASA's pip to install the workaround, you have to use a system-level python2.7 pip.

This fails:
`/home/casa/packages/RHEL6/prerelease/casa-prere

[2018-08-03 11:25] #995 closed

[2018-08-03 20:14] keflavich opened #1221 "Add a [skip deploy] hook to not deploy on some merges"
As pointed out by @pllim [here](https://github.com/adamginsburg/astroquery-paper/issues/43#issuecomment-410362537), we sometimes *don't* want to deploy merged PRs.  We need a way to not do that.

[2018-08-03 22:21] bsipocz commented on #1221
This is done for a while now, see #1166.

The incantation is `[nodeploy]` in the merge commit message.

[2018-08-03 22:21] #1221 closed

[2018-08-04 16:41] low-sky commented on #1219
Me too.  But `pip.main()` is deprecated in recent versions of pip (18.0).  I tried several things including what I thought would work, namely a command line install with system python and a `--user`, but that didn't catch the right backports and CASA still won't start.

[2018-08-04 22:04] keflavich commented on #1219
cc @astrofrog, this affects the installation instructions for astropy.  I'm looking for a solution...
http://docs.astropy.org/en/stable/install.html

[2018-08-04 22:12] keflavich commented on #1219
https://pip.pypa.io/en/latest/user_guide/#using-pip-from-your-program
Their recommendation is
[code]
but they preface this by saying one should run pip from the command line.  We don't have a reason to run from within CASA, except that is was theoretically easier to direct users to run commands from within CASA than to find the right executable..... and install pip...

argh, this leads me to thing

[2018-08-04 23:14] low-sky commented on #1219
The install seems to work, but it's the call to get `backports.shutil_get_terminal_size` doesn't seem to take.  I tried bringing up the casa python and running the subprocess from there.

[2018-08-06 15:41] low-sky commented on #1219
I've tried a few different iterations of this have not been able to get a successful `backports.shutil_get_terminal_size` installation, leaving the CASA ipython broken. Since I do have working version using `casa-pip` I'll definitely proceed with that.  When it works, it works well.

[2018-08-06 15:49] keflavich commented on #1219
How weird.  For other users, casa-pip is available here: https://github.com/radio-astro-tools/casa-python

[2018-08-06 17:53] mommermi commented on #1201
this is fixed with #1207 and can be closed now

[2018-08-06 17:53] mommermi commented on #1180
this is implemented with #1207 and can be closed now

[2018-08-07 15:49] #1180 closed

[2018-08-07 15:50] #1201 closed

[2018-08-07 21:59] keflavich commented on #1219
Also, this is a long-known issue:
https://github.com/radio-astro-tools/casa-python/issues/19
Too bad I, the reporter of said issue, didn't think to look it up before posting this one...

[2018-08-08 08:38] ViviCoder opened #1222 "HITRAN readme.txt should be renamed"
The file astroquery/hitran/data/readme.txt is actively used by the hitran module.
In my opinion, it should be renamed to avoid confusion with real documentation files.

[2018-08-08 09:16] bsipocz commented on #1222
PRs are welcome.

[2018-08-08 09:16] bsipocz commented on #1222
cc @migueldvb

[2018-08-08 09:40] ViviCoder commented on #1222
I would be happy to make a pull request, but I personally do not use the module, so I do not know what a sensible name would be.

[2018-08-15 21:16] keflavich commented on #863
For now, the gallery is in an OK state, but long term, we want to move much of it to tutorials.

[2018-08-18 15:42] bsipocz opened #1224 "Add query_sql to template"
Quite a few services support raw sql queries, it would be nice to have method for it in the template module, too.

[2018-08-21 18:01] pllim opened #1225 "Panstarrs query"
xref https://github.com/astropy/astroquery/issues/896#issuecomment-312898136 (cc @ceb8 )

Is there a more "astroquery" way to do this? If not, is it in the future plan? Example below from @mkelley

[code]

[2018-08-24 20:39] nithyanandan opened #1226 "Request for LOFAR Two-metre Sky Survey (LoTSS)"
Can query for image cutouts from the LOFAR Two-metre Sky Survey (LoTSS) be added in AstroQuery? The image cutout query can be found here -- [https://vo.astron.nl/lofartier1/lofartier1_fits.xml/cutout/form](https://vo.astron.nl/lofartier1/lofartier1_fits.xml/cutout/form)

[2018-08-30 21:36] keflavich commented on #1155
Question: does our current continuous deployment approach work with conda?  Right now, it looks like all of the conda channels have v0.3.8 as the latest:
https://anaconda.org/conda-forge/astroquery
https://anaconda.org/astropy/astroquery

[2018-08-31 08:40] mattpitkin opened #1227 "Add PSRQpy to astroquery"
I was wondering if you'd consider including my package [PSRQpy](https://psrqpy.readthedocs.io/en/latest/), used for querying the ATNF pulsar catalogue, into astroquery? If you think this is a good fit I'll get started on adding it and create a PR

One further question, if I moved it into astroquery would I still be able to easily do active development on it within astroquery?

[2018-08-31 15:46] keflavich commented on #1227
Yes, we'd welcome PSRQpy to astroquery.  At a glance, you could very nearly just incorporate it as a module directly, with a few small wrappers to match the rest of the astroquery interface.

And, yes, you can still actively develop when the package is in astroquery.  We do everything via pull requests, so we'd like you to have a good test suite.

We recently moved to a "continuous deployment" mod

[2018-08-31 16:09] mattpitkin commented on #1227
Cool, I'll give this a go over the next few weeks and try and get it in decent shape for a PR. I already have a test suite that is run, so hopefully this may be enough, but I'd be happy to incorporate further tests.

[2018-09-05 21:30] gmzsebastian opened #1229 "SDSS query fails on very specific instances due to spaces in the SQL query"
Approximately one out of every 1000 queries to SDSS will give an error due to the SQL query for seemingly random differences. I've only noticed this problem in Python 2.7, but have not tested it in Python 3+.

For example this query will work
[code]

And this will fail:
[code]

The only difference between those two queries is the number of spaces before the "FROM", "LEFT", and "WHERE" commands at

[2018-09-06 00:45] bsipocz commented on #1155
No, the current approach could only work as a prerelease, that would end up on a different channel. See https://github.com/conda-forge/astroquery-feedstock/issues/7

[2018-09-11 20:45] christinahedges opened #1230 "Simbad will not return more than 20,000 rows, even if ROW_LIMIT is set higher."
I am trying to use astroquery to query Simbad. I want results from a 10 square degree field, which is roughly 100,000 hits in Simbad.

Here's a snippet of the code I'm using.

[code]

This will not return more than 20,000 rows. I can't find out why.

[2018-09-11 21:15] christinahedges commented on #1230
I've tried to use `Simbad.query_criteria()` to get around this by picking small boxes in this region, however it breaks for me. The example from the readthedocs (here https://astroquery.readthedocs.io/en/latest/simbad/simbad.html) gives an error and no data.

[code]

Returns
![image](https://user-images.githubusercontent.com/14965634/45388170-0ca71600-b5cd-11e8-9521-e4d9838c2c19.png)

[2018-09-11 21:17] christinahedges opened #1231 "Simbad.query_criteria() from the docs produces an error."
In trying to work around issue #1230 I've tried to use `Simbad.query_criteria()`, however it breaks for me. The example from the readthedocs (here https://astroquery.readthedocs.io/en/latest/simbad/simbad.html) gives an error and no data.

[code]

Returns
![image](https://user-images.githubusercontent.com/14965634/45388170-0ca71600-b5cd-11e8-9521-e4d9838c2c19.png)

[2018-09-11 21:27] christinahedges commented on #1231
This issue seems to be similar to #466 and @gully's fix can produce results.

[2018-09-11 21:57] christinahedges commented on #1231
I think the fix is to change line 262 from the Simbad core.py from

[code]

to

[code]

Which will actually return a result. I don't yet understand why the field needs to be all caps.

[2018-09-11 22:06] bsipocz commented on #1230
can you get out more than 20000 rows using the webform?

[2018-09-11 22:07] christinahedges commented on #1230
You're right the hard limit is set by the simbad webform.

[2018-09-11 22:07] #1230 closed

[2018-09-11 22:09] bsipocz commented on #1231
This seems to be serverside:

[code]

[2018-09-11 22:11] christinahedges commented on #1231
I don't think so, if I change the `_VOTABLE_FIELDS` field I get no error and a result:

![image](https://user-images.githubusercontent.com/14965634/45390647-e5544700-b5d4-11e8-9b01-b593c5e5770e.png)

[2018-09-11 22:12] bsipocz commented on #1231
well, then PRs are welcome

[2018-09-12 17:58] Roman-UCLU opened #1232 ""No table found in VOTABLE file" for Simbad MAIN_ID"
I spent quite a while trying to figure this out; all in vain. Below is the code of the simplest possible Simbad query:

[code]

Here "QSO B0003-066" is, actually, the main Simbad ID of the object ([online](http://simbad.u-strasbg.fr/simbad/sim-basic?Ident=QSO+B0003-066&submit=SIMBAD+search)). The result is the error in the issue title.

Surprisingly, when querying any of the alternative IDs (e.g.

[2018-09-12 17:59] brianmajor commented on #1160
Hi @jcsegovia & @theresadower   We at the CADC have also encountered this issue in TapPlus and would like to volunteer to make the necessary changes.  Is that alright? --Brian

[2018-09-12 18:10] bsipocz commented on #1232
What version of astroquery do you use? It works for me as expected:

[code]

[2018-09-12 18:15] Roman-UCLU commented on #1232
Thanks, bsipocz.

My version is 0.3.7...

[2018-09-12 18:57] bsipocz commented on #1232
Weird. There were some recent changes since 0.3.7 in the module, but even with that version the snippet works for me.

Could you check whether the payload and the url is same for you:
[code]

also, could you print out `Simbad.last_response.content` and `Simbad.last_table_parse_error` after the query produced the failure?

[2018-09-12 19:00] aoberto commented on #1231
Hello,

Yes it was serverside. Sorry, it was a temporary issue, I will try to figure out to avoid it in the future.

Sorry again

[2018-09-12 19:02] aoberto commented on #1232
I assume that it was the same issue than #1232 : a temporary problem in Simbad. It was resolved few hours ago, may be there is some cache ?

[2018-09-12 19:13] bsipocz commented on #1231
Thanks @aoberto for the info. I'm closing this issue then.

[2018-09-12 19:13] #1231 closed

[2018-09-12 19:15] christinahedges commented on #1231
Is the serverside error fixed? I still get the same error:
[code]

![image](https://user-images.githubusercontent.com/14965634/45447800-8b5f8a00-b685-11e8-9d04-5df2642924e7.png)

[2018-09-12 19:17] bsipocz commented on #1231
It's coming from the cache, you need to clear first. `Simbad.cache_location` shows the location.

[2018-09-12 19:18] bsipocz commented on #1232
@Roman-UCLU - please try to clear the cache, `Simbad.cache_location` tells you the location.

[2018-09-12 19:23] bsipocz opened #1233 "Add all optional kwargs of BaseQuery to the modules"
E.g. at least `cache` and `timeout`. It will help to easier debug sporadic serverside issues users run into but we cannot reproduce, see e.g. #1232

[2018-09-13 14:06] tomdonaldson opened #1234 "Tests failing on SyntaxError in local environment"
When I checkout a clean version of astroquery and try to run the tests within a new conda environment, I get errors trying to import entrypoints from within keyring (SyntaxError:  invalid escape sequence \s).

Using only default channels, here are the steps I tried:
`git clone https://github.com/astropy/astroquery.git`
`conda create -n newenv python=3.6 astropy`
`source activate newenv`
`cd astroq

[2018-09-13 14:45] GandalfSaxe opened #1235 "What is id of Earth?"
I'm trying to get some coordinates for Earth with Sun as location on [Horizons](https://ssd.jpl.nasa.gov/horizons.cgi), as here:

![image](https://user-images.githubusercontent.com/12127864/45495698-0b641d80-b774-11e8-84f2-6f3c383ef0fc.png)

However id=399 is not Earth, but `Persephone (1895 BP)`. I also tried:

- `[399]`
- `earth`
- `Earth`
- `Earth (Geocenter)`
- `Earth (Geocenter) 399`
- `earth

[2018-09-13 19:07] bsipocz commented on #1235
cc @mommermi

[2018-09-13 19:34] mommermi commented on #1235
`399` is correct, but then you also have to use `id_type='id'` when initializing your `Horizons` object. If you only use `id=399`, it will return asteroid 399, as `id_type` is by default set to `smallbody`, querying the asteroid and comet database.

[2018-09-13 19:41] bsipocz commented on #1235
If it's not yet in the docs, would it be possible to include?

[2018-09-13 19:55] mommermi commented on #1235
I think it's written up in the final paragraph [here](https://astroquery.readthedocs.io/en/latest/jplhorizons/jplhorizons.html#overview). @GandalfSaxe if you think it should be explained in a different way or more thoroughly, please let me know.

[2018-09-13 21:46] bsipocz commented on #1234
Thanks, now it's much clearer what the issue is.

the test suite is set up to catch deprecation warnings and raise them as exceptions to ensure we catch up with changes early on and not when they are already broken.
Given we don't have much control over keyring, we need to let this one warning pass.

[2018-09-14 06:35] GandalfSaxe commented on #1235
Ah ok I see. I was probably just tired when looking at the documentation. Perhaps a single example with a planet would be beneficial, but as you said, it was already there 🙂

I am having some trouble with my query though:

[code]

results in `KeyError: 'Obsrv-lon'` error when I try to extract ephemerides:

<img width="896" alt="image" src="https://user-images.githubusercontent.com/12127864/4553375

[2018-09-14 14:30] pllim commented on #1234
The solution is to use raw string, e.g., `r"\s"`.
[code]

[2018-09-14 15:01] tomdonaldson commented on #1234
Yes, but in this case the '\s' is buried in nested imports in keyring, so we can't correct it directly.

I'm still a little confused about how the versioning is handled here with respect to setting up a local test environment that's consistent with what happens when astroquery does its CI.  Is there a recommended way to do this?

I've been manually creating conda environments hoping that they matc

[2018-09-14 15:08] pllim commented on #1234
1. Report this upstream to `keyring`
2. Set `astroquery` to ignore deprecation warnings from `keyring`

https://github.com/astropy/astroquery/blob/ce8c500c28424fe841e04741d4230b8f695ee194/astroquery/conftest.py#L35

[2018-09-16 16:37] MNRK01 commented on #1235
I'm having a similar ```KeyError: 'Obsrv-lon'``` error when trying to query JPL Horizons for the Moon when observed from an earth location.

e.g.

[code]

gives me the following output:

[code]

Copying and pasting the ```obj.uri``` string into a browser works well though.

I have tried using other ```id_type```s:
[code]

which gives me an ambiguous target name error but shows that the ID for the

[2018-09-16 17:15] mommermi commented on #1235
This looks like a bug. I will look into this! Thanks!

[2018-09-17 18:11] pllim commented on #1234
Here is the `keyring` repo: https://github.com/jaraco/keyring

As far as I can search, I don't see any open nor closed issues related to this yet. If you decide to open a new issue there, it would be useful to provide them with a minimal code snippet to reproduce that warning, along with a traceback (if any).

[2018-09-17 21:35] rickyegeland commented on #1182
My work today lead me to want the `otypes` field.  I verified that `otypes` is now on the [SIMBAD documentation page](
http://simbad.u-strasbg.fr/simbad/sim-help?Page=sim-fscript).  But `otypes` does not appear when calling `list_votable_fields()`, and I get the "no such field" error mentioned above when trying `custom_simbad.add_votable_fields('otypes')`.  Doing `custom_simbad._VOTABLE_FIELDS.app

[2018-09-17 22:55] rickyegeland opened #1237 "catalog option no longer working in VizieR"
I am using astroquery 0.3.8.  The `catalog=` parameter does not appear to be restricting the catalogs output by `query_object()` or `query_region()`.  Here is an example adapted from the [documentation](https://astroquery.readthedocs.io/en/latest/vizier/vizier.html):

[code]

Output:
[code]

I have tried several `catalog=` values and the result is the same.  It seems the parameter is just being ig

[2018-09-18 20:26] keflavich opened #1239 "Improve caching documentation"
There's very little documentation on the caching process, and users sometimes complain about the cache filling up.

In short, we need documentation stating:

1) The default location is `~/.astropy/cache/astroquery`
2) [get_cache_dir](http://docs.astropy.org/en/stable/api/astropy.config.get_cache_dir.html#astropy.config.get_cache_dir) can be used to find the cache dir
3) some documentation about ho

[2018-09-18 23:21] #300 closed, assigned to nobody

[2018-09-18 23:35] keflavich commented on #1239
Dangit, I searched for 'cache' but not 'caching'.  My memory fails.

[2018-09-18 23:59] bsipocz commented on #1239
I only remembered because of the recent simbad issues 😄

[2018-09-19 00:03] keflavich commented on #1211
Right, sorry we haven't answered this.  It looks like a simple failure in the regular expression being used; we need a more flexible one?  The results look like:
[code]

and the `re` is:
[code]

Ah, this is trivial, we need to use https.

[2018-09-19 16:34] keflavich opened #1242 "Feature Request: ExoMol db"
I want parsers & query tools for http://www.exomol.com/.  Even though it's a mostly-static database, parsing and retrieving useful parameters from the files is nontrivial.

This is mostly on me, though.  I'll probably post up my not-astroquery-ready scripts here and someday convert them...

[2018-09-21 13:34] jcsegovia commented on #1160
Hi @brianmajor, @theresadower , currently, we are working in a new version of TAP+ (we are adding share capabilities, table edition and private user uploads: these capabilities are available by command line, but they have not been implemented in Astroquery module).
Also, we were planning to fix this problem with phase=run parameter.
We expect to release these changes by mid next month.
@brianmajor

[2018-09-21 19:41] sean-lockwood opened #1245 "Cannot authenticate MAST session on Linux"
I'm unable to authenticate with the `astroquery.mast.Observations.login()` method on GNU/Linux, but it works fine on OSX.

Printing out the cookie names in [`astroquery/mast/core.py`]( astroquery/astroquery/mast/core.py ) reveals that there is none with a name containing `shibsession`.  This results in the "Authentication failed!" warning in the [`if not cookieFound:` test](https://github.com/astr

[2018-09-21 19:46] keflavich commented on #1245
That's wacky.  Could you report what version of `requests` you're using on each machine?

[2018-09-21 19:48] sean-lockwood commented on #1245
Linux:  2.19.1
OSX:  2.18.4

[2018-09-21 19:48] keflavich commented on #1245
Are you able to login/authenticate via the web interface on the linux machine?

[2018-09-21 19:49] keflavich commented on #1245
@ceb8, I'm not sure what to do here, I'm just asking the most obvious first questions

[2018-09-21 19:56] sean-lockwood commented on #1245
Not sure how to do that.  It's a server I'm ssh'd into.  X11 Firefox is failing to load.  `Links` won't load the https://mast.stsci.edu page.

[2018-09-21 20:34] keflavich commented on #1245
The only solution I've found in that situation is to use VNC to start a real browser session.  Part of the point of astroquery is to not have to do that...

I'll see if I can figure anything out.

[2018-09-21 21:07] pllim commented on #1245
FWIW, in my own SSH session, I see the following:

* Failed in Python 3 because of `print url` in `gi/__init__.py` somewhere upstream.
* Failed in Python 2 when `Observations.login()` is called without providing username (`username = input("...")` resulted in `NameError`).
* Success in Python 2 with  `Observations.login("username")`.

[2018-09-21 22:02] brianmajor commented on #1160
Hi @jcsegovia

We have already created a pull request for the phase=run param problem, here:
    https://github.com/astropy/astroquery/pull/1240

Would you consider accepting this work?  I imagine it is a similar solution to what you'd come up with.  We are looking to get a working TAP client into the hands of our users sooner than later.

The new features you are adding sound exciting, looking fo

[2018-09-21 22:31] keflavich commented on #1245
Interesting.  I have:
 * success on mac
 * failure on remote Linux session
 * success logging on from the same linux machine via a browser

all tests were on python3

[2018-09-24 15:39] ceb8 commented on #1245
@keflavich @sean-lockwood @pllim Can people successfully authenticate other (non-mast) astroquery services on linux?  I recall there being some discussion that the lack of keyring in linux was causing problems and I am wondering if this is related or a separate issue.

[2018-09-24 16:02] sean-lockwood commented on #1245
@ceb8 I created an ESO account, and was able to successfully login from both systems.

[2018-09-24 19:09] ceb8 commented on #1245
@sean-lockwood OK, then unfortunately it's probably to do with Shibbolith. We'll look into it.

[2018-09-24 20:39] emeraldTree24 opened #1246 "Tap+ saving results is causing an error"
When I use the TAP tools to create a job and saving the results it causes an error.
First when launching a job asynchronously and setting dump_to_file=True, it causes 'Exception: See Other'.
Second when a job has been created and run (synchronous and asychronous) then later when calling save_results() and passing it the finished job it errors with 'AttributeError: 'Table' object has no attribute '

[2018-09-27 03:00] eteq opened #1247 "mast query fails cryptically when too many observations are requested"
The following code:
[code]
consistently fails with the following exception:
[code]

The debugger reveals the root of the problem: the response from the query is:
[code]

That is, there's a 504 error somewhere in the process of trying to get all the data.

While it may be MAST wants to fix this, I think the real problem here as far as astroquery is concerned is that the error is a `JSONDecodeError`

[2018-10-04 17:54] Fingel opened #1249 "JPL Horizons lookup fails with "Cannot parse table column names""
Using astroquery 0.3.8 from PyPi, I've noticed that our Horizons lookups have been failing:

[code]

[2018-10-04 18:11] Fingel commented on #1249
I was going to investigate this issue but it looks like it's not present on master, and indeed there is a mention of a horizons related bugfix for 0.3.9: https://github.com/astropy/astroquery/blob/10e578ae5645655327761c2831538ede69f4c17c/CHANGES#L23

[2018-10-04 18:11] #1249 closed

[2018-10-04 18:46] bsipocz commented on #1249
@Fingel - We do continuous releases to pypi, though those are classified as "pre" releases, so to install them you need to specify you're happy with them:
``pip install --pre --upgrade astroquery``

[2018-10-05 16:33] eteq commented on #1155
This problem has reared its ugly head when users asked me about it several times recently, both in the conda context and for people who don't expect/want to use ``--pre``. So  here's two proposals I'd like to suggest:

1. Have all versions be of the form `x.y.nnnn`, where n is the number of main-line commits - basically what the helpers machinery does for the "dev" case, but using a PEP 440-compli

[2018-10-05 16:34] eteq opened #1250 "Document the continuous release process"
Right now the continuous release process is a rather non-standard approach to releasing.  That's a good thing, except that it's not really documented anywhere I can see.  We probably need to resolve #1155 before bothering to tackle this, but once that's done there should probably be a page in the developer docs that lays out exactly what the various version numbers mean.

cc @bsipocz @keflavich

[2018-10-05 16:53] bsipocz commented on #1155
As I recall we were thinking about 1), but then the machinery in the helpers is not really doing what both of assumed it does (https://github.com/astropy/astropy-helpers/issues/398).

So now I'm more inclined to do something along 2), have an strictly increasing version number bumped exactly one by the new releases. I think I can do it all via travis without much overheads, but just hasn't yet got

[2018-10-05 16:54] bsipocz commented on #1250
For documentation we can always refer to the paper 😉
But I agree, things need to be fixed first.

[2018-10-09 00:35] ColinOrionChandler commented on #1192
Ran into this issue again, thanks @Juanlu001 for the conf solution, worked like a charm!

[2018-10-09 02:28] bsipocz commented on #1192
@ColinOrionChandler - Which version do you use? If it's 0.3.8, you could try to switch to the latest release with `pip install --update --pre astroquery`

[2018-10-09 03:02] bsipocz commented on #573
It would be really great to get that warning off the module. After all this time, @parejkoj and @eteq and anyone else, are you still interested in getting this done in the near future timescale?
I mean it's not just this issue, but sprinting on pushing these sdss related ones a bit down: https://github.com/astropy/astroquery/labels/sdss

[2018-10-09 16:17] ceb8 opened #1251 "parse_coordinates returning incorrect results"
astroquery.utils.commons.parse_coordinates is appending "25" to coordinates given to it:
[code]
This comes directly from the [Sesame service](http://cds.u-strasbg.fr/cgi-bin/Sesame) which is called on the given coordinate string via astropy's [SkyCoord.from_name](http://docs.astropy.org/en/stable/api/astropy.coordinates.SkyCoord.html#astropy.coordinates.SkyCoord.from_name).

Looking at the documen

[2018-10-09 17:42] bsipocz commented on #1251
@ceb8 - This looks very much like a bug. I also have a deja vu for `parse_coordinates` related refactoring plans, but can't find any trace of it.

The easiest fix seems to be to change the internal logic of `parse_coordinates` to only call on the name resolver once the string cannot be interpreted as a coordinate as is.

PR is to come soon.

[2018-10-09 17:48] ceb8 commented on #1251
@bsipocz I should have mentioned that @tomdonaldson also sent an email to the Sesame folks to make them aware of any bugs on their side.

[2018-10-09 17:50] bsipocz commented on #1251
Actually my thinking here was rushed, too, ``"51.0 -30.003"`` cannot be really passed to the coordinate constructor as is, so reordering the internals of `parse_coordinates` does nothings :(

[2018-10-09 17:52] ceb8 commented on #1251
Is that true? `SkyCoord("51.0 -30.003",unit='deg')` works for me....

[2018-10-09 17:55] bsipocz commented on #1251
yes, but only if the `unit='deg'` part is added. I'm not yet certain we can do that, but will check whether any of the services pass non degree coordinates to the function.

Anyway, I think the logic should be changed to first try to parse the string as a coordinate and only when that fails go for name resolution.

[2018-10-09 17:58] ceb8 commented on #1251
@bsipocz That makes sense.

[2018-10-10 21:02] exowanderer opened #1253 "Astroquery.mast missing components in tutorial"
I copy/pasted the `astroquery.mast` code as `https://mast-labs.stsci.io/` into AWS instance; but there two places that had substantial errors.

Notebly, here are the two lines that are giving me trouble:

[code]

It seems that the `ObservationsClass` does not contain the methods `enable_s3_hst_dataset` and `get_hst_s3_uris`.  BUT: I checked the `astroquery` github repo (from which I installed `ast

[2018-10-11 13:45] exowanderer commented on #1253
This issue was with recognizing which version python was using.

Although I installed `astroquery` from the github; there was a pre-installed version from PYPI, which was interfering with my python session. That is to say that I had 2 versions installed and python was selecting the PYPI version, which did not have the `enable_s3_hst_dataset` or `get_hst_s3_uris` methods.

[2018-10-11 13:45] #1253 closed

[2018-10-11 17:00] bsipocz commented on #1253
self solving issues are the best kind. Thanks @exowanderer for reporting back.
fyi, we do automated releases, and you can also install these versios from PyPI with the ``--pre`` option. These automated releases are in no way any less stable than the latest manually released one, so I I can wholeheartedly can suggest to use them.

``pip install --upgrade --pre astroquery``

[2018-10-11 20:15] exowanderer opened #1254 "Spontaneous `NoResultsWarning` warning"
I have been using astroquery.mast for a few days now -- including a dozen times today; but I just recently started getting a warning that says

`WARNING: NoResultsWarning: Query returned no results. [astroquery.mast.core]`

and, in fact, the command
[code]

Returns *no* observations (i.e. the `obsTable` is empty).  This is anomalous because I've been using this command all day to try and find test

[2018-10-12 15:30] exowanderer commented on #1254
It seems that the keyword for `projects` was changed to `obs_collection`. The command above works as expected now

[2018-10-12 15:30] #1254 closed

[2018-10-15 10:34] smoh opened #1257 "Accept astropy Table as upload_resource for TAP"
This is a feature request for TAP/Gaia. I think it is useful to be able to use astropy Table instance directly as `upload_resource` argument without the need to output the file to disk. Currently, it seems that the `upload_resource` argument specifically should be the filename of the file containing the table in VOTable format. I think such a feature is very useful for on-the-fly/interactive explo

[2018-10-15 21:28] #1251 closed

[2018-10-17 19:03] elnjensen commented on #1092
I ran into this as well - thanks for the posted message on how to silence those warnings.  Just a quick comment on a slightly safer way to do this.  The solution above silences all warnings of any kind in your code.  To only catch the specific warnings listed above, you can use:

`warnings.filterwarnings("ignore", message="WARNING: .*astropy.io.votable.tree")`

instead.  That way other warnings wi

[2018-10-17 19:48] ceb8 commented on #1254
This was a database issue that has since been corrected, so this query is functional again.

However, the recommended way to filter by mission is to use the key "obs_collection" rather than "project."

[2018-10-17 19:51] bsipocz commented on #1254
maybe we should raise a warning to point this out, or is this only a very soft recommendation?

[2018-10-17 19:53] ceb8 commented on #1254
@bsipocz I don't think it needs a warning, because there are legitimate use cases for filtering on project, it's just that project != obs_collection for all missions. The spontaneous failing of this query due to database changes was a database mistake and should not happen again.

[2018-10-17 21:46] exowanderer commented on #1254
There should be a warning when any flag is changed; at least a 'depreciation' warning.

There are existing, official tutorials that include the case `project='HST'`. So instead of the usage error ('warning') for "NoResultsWarning", the user could have a more constructive response: "the filter `project` has been changed to `obs_collection` for most cases; if no results are found, try `obs_collectio

[2018-10-17 23:53] ceb8 commented on #1254
@exowanderer Yes, however that column was not supposed to have been changed, so the solution in this case was to change it back rather than issue a warning. The meaning of the keywords "project" and "obs_collection" have not changed and are documented here: https://mast.stsci.edu/api/v0/_c_a_o_mfields.html.

[2018-10-18 21:33] bsipocz opened #1260 "LIGO module?"
I'm not sure whether it would make any sense to provide access to it here, but it seems that they are making the data public via https://www.gw-openscience.org/

@duncanmmacleod what do you think?

[2018-10-19 18:45] exowanderer opened #1261 "(403) Forbidden Returned from astroquery.mast.Observations"
Using the AWS tutorial on `https://mast-labs.stsci.io/` -- but for the entire WFC3/IR Image database -- I ran into hundreds of "(403) Forbidden" errors when accessing

`s3_urls = Observations.get_hst_s3_uris(filtered)`, which is just a loop over `s3_urls = Observations.get_hst_s3_uri(filtered)`

When I looked through the code, I found that the error was generated in

`$HOME/anaconda3/lib/python3.6

[2018-10-19 18:58] bsipocz commented on #1261
I'm cc-ing @ceb8, but honestly a forbidden response seems to be beyond astroquery and being a server side issue instead. Also, if possible please try provide a minimal examples, needing to run tests for 2 hours just to try to replicate a possible problem is not ideal.

[2018-10-19 19:07] bsipocz commented on #1261
something related: @ceb8 do you think it's feasible to introduce a `get_query_payload` like argument that provides a query text that can be submitted on the webform? Don't worry about it if there is no one-on-one webform equivalent, it's just sometime a good debugging functionality.

[2018-10-19 19:51] ceb8 commented on #1261
Cc-ing @cam72cam as this looks like it has to do with the AWS connection and he is more familiar with that part.

[2018-10-22 17:36] mfox22 commented on #1261
Can you provide specific examples of the image requests that failed from the set of 2213? Do these fail continually, or is the 403 intermittent?

[2018-10-22 21:05] exowanderer commented on #1261
I talked with @ivastar about this in person and she mentioned that the `astroquery.mast` would also have access to the proprietary MAST holdings; but that they are not yet up on the AWS `stpubdata` s3. Because there are ~2000 images out of ~60000 queries, this makes a lot of sense. We are pretty sure that the 2213 403 error failures are actually the proprietary images that have yet to be uploaded

[2018-10-22 21:05] #1261 closed

[2018-10-22 21:06] exowanderer commented on #1261
I should say that I will confirm that directly by selecting the exact name of the image from one of the astroquery 403 errored results and then look it up on MAST to see if its proprietary.

[2018-10-24 12:44] cam72cam commented on #1261
@exowanderer any updates?  The way you described the issue it seems that the 403 was coming from AWS calls.  This should not happen as far as I am aware.  Could you post a entry that gave a 403 so we can debug it?

As far as proprietary goes, we do not currently have any plans on putting proprietary data in stpubdata.

Would you mind re-opening the ticket?

[2018-10-24 15:53] Gabriel-p opened #1263 "Installing from conda channel downgrades Python, astropy, numpy, scipy, .."
This is what I saw today installing `astroquery`:

[code]

[2018-10-24 15:59] pllim commented on #1263
Try `--no-deps`

[2018-10-24 19:16] bsipocz commented on #1263
I'm closing this as this is more an issue of the feedstock. Also, please note that the suggested way to install astroquery is `pip install --pre astroquery`, as we do continuous delivery the conda packaging is not up to date with the pypi releases.

[2018-10-24 19:16] #1263 closed

[2018-10-24 20:15] Gabriel-p commented on #1263
Indeed, `--no-deps` works fine. Thank you!

I think the [installation instructions](https://astroquery.readthedocs.io/en/latest/#introduction) should be more clear regarding the fact that `pip` is the suggested way of installing, and that the `conda` packaging can be outdated. I did not understand that from this:

[2018-10-25 17:55] pllim commented on #1263
FWIW I also encounter inexplicable attempts in downgrading of `numpy` whenever I do a `conda update something` in my own environment that is completely unrelated to `astroquery`, so I agree with @bsipocz that this is more of a `conda` package resolution issue than an `astroquery` issue. But I also agree with updating the documentation.

[2018-10-25 21:03] bsipocz commented on #1263
Well, please suggest a rephrasing for the docs then, as I tried my best to explain that the latest and greatest releases are continuously deployed and can pip installed, while tagged versions while available from conda are for maintenance purposes and not the latest versions.

[2018-10-26 19:51] bsipocz opened #1265 "Add authentication to IRSA"
to be able to access etc ztf

[2018-10-29 16:36] cam72cam commented on #1261
It looks like a permission issue in our s3 bucket may be causing some issues.  @mfox22 is looking at our roles and rules.

[2018-10-29 20:12] mfox22 commented on #1261
I am not looking at any bucket permission issues related this this ticket. As far as I can tell from this ticket @exowanderer discovered that the failed requests are for proprietary data. If that is not the case then please list some products that are failing that you believe should not be. Thanks.

[2018-10-30 15:54] Stargrazer82301 opened #1267 "Planck Query To SkyView Now Gives 404"
Within the past few days, astroquery.SkyView is no longer able to retrieve Planck data. Whilst list_images and get_images still receive URLs from SkyView, they simply lead for 404 errors. For instance: https://skyview.gsfc.nasa.gov/tempspace/fits/skv32527833284.fits

This issue is not affecting all SkyView services. Also, Planck maps can still be retrieved from SkyView when interacting with the we

[2018-10-30 16:01] keflavich commented on #1267
Could you compare the URL of an astroquery request to one from skyview?  Maybe they changed their URL and we need to update it.

[2018-10-30 17:13] Stargrazer82301 commented on #1267
Looking at the code, I think that astroquery doesn't use URLs to sent requests to SkyView, but instead uses BeautifulSoup to actually interact with the webform.

The result URL returned by astroquery, like the example above, appears to have the same format as the ones given by SkyView when interacting with it manually. Just the ones given by astroquery all 404.

[2018-10-30 17:35] keflavich commented on #1267
OK, can you put a sample failed query here?

[2018-10-30 17:51] Stargrazer82301 commented on #1267
Here's one:

SkyView.get_image_list('80.8942 -69.7561', 'Planck 030', pixels='352', radius=astropy.units.Quantity(20.0, unit='deg'))

[2018-10-30 18:05] keflavich commented on #1267
I can't reproduce any error.  The return from running that for me was:
`https://skyview.gsfc.nasa.gov/tempspace/fits/skv445129826707.fits`

and downloading worked fine:
[code]

I'm curious what's going wrong for you.  Are you using the latest version of astroquery?

[2018-10-30 18:32] Stargrazer82301 commented on #1267
How odd. I am indeed using the latest version. In fact, I was originally using the latest release (0.3.8), and also tried updating to the latest dev release, to no avail.

The query above definitely doesn't work for me. _But_, if I pass the `pixels` kwarg as an `int` instead of a `str`, the query _does_ work. Which seems strange to say the least.

[2018-10-31 10:39] eztean opened #1269 "In a Vizier query, width and height are wrongly swapped"
I noticed this by doing simple rectangular 2MASS queries, for which the width and height are swapped in the resulting star samples. I think these are the relevant lines in the code:

https://github.com/astropy/astroquery/blob/d950234e9fd3f17824547fed77943766aa00e3a8/astroquery/vizier/core.py#L426-L427

[2018-10-31 14:15] keflavich commented on #1269
Looks like a simple fix.  A PR would be welcome.

[2018-11-01 17:23] pllim opened #1271 "Feature Request: Query MAST by footprint"
This was brought up by @hcferguson -- Is it possible to use `astroquery.mast` to find observations by a given footprint without going through HLA. cc @eteq @ceb8

[2018-11-02 21:57] AnthonyCheetham opened #1272 "Auto-logout issue with ESO retrieve_data"
The ESO portal automatically logs users out after 2hrs. When downloading large datasets using the EsoClass.retrieve_data function in https://github.com/astropy/astroquery/blob/master/astroquery/eso/core.py , this results in all remaining files being replaced by a html file of the ESO login page.

There are a few potential solutions to this. For example, the function could check whether the downloa

[2018-11-05 13:37] duncanmmacleod commented on #1260
@bsipocz, yes, there is an increasing quantity of data being made available on gw-openscience.org, but mainly in the format of 'raw' data files. I don't have much experience with astroquery, but what could be made available fairly easily is a query interface to the 'event database'.

There is a JSON API to gw-openscience.org that allow for querying simple information about the published events, so

[2018-11-06 16:22] ceb8 commented on #1271
Can you clarify what you mean by "by a given footprint"?

[2018-11-06 16:32] pllim commented on #1271
Whatever you pass to HLA? @hcferguson or @eteq should be able to clarify.

[2018-11-07 02:03] exowanderer commented on #1261
This is correct. From my knowledge, the answer to the original question is that `astroquery` is accessing proprietary root names that do not exist on the AWS HST Public Data bucket (thanks to @ivastar).  So, to me, the issue is solved.

[2018-11-07 04:33] ivastar commented on #1261
What does ```astroquery.mast.Observations.get_hst_s3_uri``` return for proprietary data? Does it still construct the expected path? What should it return? None/False? @cam72cam

[2018-11-07 12:41] cam72cam commented on #1261
The get_hst_s3_uri should raise a custom exception when a file is not able to be looked up.  We have to spider parts of S3 to try to find a file because our filenames are not always consistent with our directory names.

I still don't see how a HEAD request could be returning a 403 in that case.

Code:
https://github.com/astropy/astroquery/blob/master/astroquery/mast/core.py#L1326-L1382

[2018-11-09 19:45] mommermi commented on #1235
This has been addressed in #1268

[2018-11-10 04:42] nmiles2718 opened #1277 "Feature Request: Capability to pass a boto3 session object or profile_name to AWS"
Instead of relying on the ability of boto3 to properly find whatever credentials are stored under the [default] profile in the required `credentials` file, it would be much cleaner if we could pass either a `session` object or a `profile_name` to be used in a credential file.

At the current moment, after enabling the `s3` dataset and calling the `Observation.download_products` method it raises an

[2018-11-10 11:03] GandalfSaxe commented on #1235
Nice!

[2018-11-10 11:03] #1235 closed

[2018-11-10 19:42] bsipocz commented on #1235
@GandalfSaxe - you should be able to update now with `pip install --pre --upgrade astroquery` to have this fixed locally.

[2018-11-12 11:54] morrowkei opened #1278 "Besancon query: output text issues"
(First time commenter so I apologise if the format of this isn't quite right).

I've been using astroquery.besancon for a while now as part of my research, and I'm having some slight issues with the output. If relevant, I'm working in Jupyter Notebook.

When a query successfully runs, for example this incredibly simple query here:
![image](https://user-images.githubusercontent.com/44969678/4834551

[2018-11-12 15:40] keflavich commented on #1278
You can add the keyword `verbose=True`, which will spit out a message every 30 seconds by default (set by the value `Besancon.ping_delay`).  Actually, this is set to `True` by default.  If you see no messages after that, I'm not sure what's happening; it should loop forever printing that message until the Besançon server has the data available.

The code is just checking a specific URL, provided b

[2018-11-12 20:14] fiddycodes opened #1279 "Getting KeyError: 'a-mass' when calling ephemerides() for JPL Horizons"
I keep getting an error when attempting to query JPL horizons to get back only astromertic right ascension and declination. Here is the code I am using:

[code]

The full trace back is:
[code]
I am using windows 10 build 17134.376 version 1803.

[2018-11-13 11:59] cam72cam commented on #1277
Hi @nmiles2718, this was added 4 days ago as part of https://github.com/astropy/astroquery/pull/1275

[2018-11-13 12:27] mattgrayling opened #1280 "Possible IRSA dust query bug: inconsistent handling of sky coordinate formats"
Firstly, I'm a first time commenter so my apologies if the format of this post isn't right. I'm using astroquery.irsa_dust for my research and am having some problems using get_query_table. I'm trying to open a number of identically-formatted data tables, retrieve the RA and Dec and then query IRSA dust for the extinction data (I'm using get_query_table rather than get_extinction_table as I'm spec

[2018-11-13 14:21] morrowkei commented on #1278
So, I've followed your suggestion to add `verbose=True` explicitly, and I've had a somewhat interesting result!

When this _isn't_ added explicitly, a result as per my image in the original question appears when the simulations runs as "normal".

When it isn't added explicitly but the simulation doesn't appear to run, it looks like this:
![image](https://user-images.githubusercontent.com/44969678/

[2018-11-13 14:36] nmiles2718 commented on #1277
Well that was easy! I'll go ahead and close this issue 👍

[2018-11-13 14:36] #1277 closed

[2018-11-13 16:43] keflavich commented on #1278
@morrowkei could you copy & paste text rather than take screenshots when reporting these issues?  Text makes reproducing your errors much easier.  I still don't know exactly what's going on, but I don't believe "too fast" is a possible issue.

[2018-11-13 16:49] keflavich commented on #1280
In general, could you please copy & paste text rather than take screenshots?

I attempted your last query, and it worked without issue for me:
[code]

So, I don't know what's going wrong.  It looks like the data are somehow getting uploaded incorrectly?  Could you tell us what version of `astroquery`, `requests`, and `astropy` you're using?

[2018-11-13 17:04] mattgrayling commented on #1280
Sorry, noted, I'll provide text next time. I'm using astroquery v0.3.7, requests v2.19.1 and astropy v3.0.4, running on Python 3.7.0 on Ubuntu 18.04.1. I've also tried running it in Python 3.5.6 but had the same result.

[2018-11-13 17:07] keflavich commented on #1280
Your astroquery version is quite out of date, you should update.  The problem *may* be that IRSA has moved to https.  I don't know why it works for you some of the time - maybe they have a flaky redirect from http->https?

[2018-11-13 17:29] mattgrayling commented on #1280
Okay, I've updated and it seems to be working now. I recently installed astroquery through pip but should've tried updating it first, thanks very much for your help.

[2018-11-13 17:30] #1280 closed

[2018-11-13 23:39] nmiles2718 commented on #1277
Yep! I've been using it all day today and it works like a charm 👍

[2018-11-14 09:59] morrowkei commented on #1278
Of course, my apologies for that.

The basic query is just this:

[code]

And adding `verbose=True` turns it into this:

[code]
Noticed this morning that re-running an identical piece of code with the same variables after running it for the first time triggers the ```Awaiting Besancon file...``` without having the ```Waiting x seconds for model to finish``` afterwards, and when you use `verbose=Tr

[2018-11-14 16:27] keflavich opened #1281 "Change HTTP user-agent when running CI"
To help archives separate out user & testing statistics, we can change the HTTP user agent when running from CI.  This should be pretty easy....

[2018-11-14 17:42] mommermi commented on #1279
@fiddycodes why only query RA and Dec, if you can also have airmass for the same price ? :)
I'll take care of this!

[2018-11-14 17:55] fiddycodes commented on #1279
@mommermi I've made a programme that finds objects on plates taken from a telescope. In the full programme I query roughly 17000 dates from this plate catalogue in sets of 350. JPL Horizons will only allow me to query this amount consistently. I don't want to risk adding quantities I don't need and causing the set size to decrease. I've been querying the raw response as a workaround.

[2018-11-15 04:29] rgalvanmadrid opened #1282 "Hybrid configurations in Nrao.query_region"
Hi.

Adding a  hybrid VLA configuration in Nrao.query_region, such as 'BnA' doesn't work.  Below my attempt to reporting a traceback:

[code]

[2018-11-15 04:58] bsipocz commented on #1282
Hi @rgalvanmadrid!
Could you also copy paste the content of `traceback_error_1.py`?

[2018-11-15 05:06] rgalvanmadrid commented on #1282
import traceback

from astroquery.nrao import Nrao
import astropy.units as u
import astropy.coordinates as coord
from astropy.table import Table
import numpy as np

try:
	C_result_table = Nrao.query_region(coord.SkyCoord('19h23m44.1800s','+14d30m29.500s', \
	frame='icrs'), radius=3.75*u.arcmin, telescope='jansky_vla', obs_band='C', \
	telescope_config=['A','AB','BnA'])
except Exception as ex:
	pri

[2018-11-16 22:19] bsipocz commented on #1155
So, what about:

- We do option #2, x.y.z, in the deploy step travis changes the `z` in the version number for pypi, and deploys, but doesn't push it back to github where it stays as x.y+1.dev.nnnn?
And if figures out z from the last one pushed to pypi and increases it by one.

[2018-11-16 22:20] keflavich commented on #1155
I think that option is fine, but it would be nice if we could mention something about the release version in changelog entries, which won't really be practical with this approach

[2018-11-16 22:39] bsipocz commented on #1155
What about putting the merge commit's hash in the README or setup.py or etc?

we also don't seem to have a description any more, but that hash (and the fact that a release is auto deployed) can be added to the description. https://pypi.org/project/astroquery/#description

[2018-11-16 22:40] bsipocz commented on #1155
Or even better, it can be added to the classifiers (which we also don't have, but can add it to setup.py).

[2018-11-16 22:46] keflavich commented on #1155
Can we automate that?  Won't it still involve some pushing back into github from travis?

[2018-11-16 22:56] bsipocz commented on #1155
No, my proposal is to add this info to only the release itself to pypi. Manually released versions won't have it, or will have something different.
So the issue is still not solved how to go from one github version to a release, but the reverse way is addressed, whoever wonders which version they are having (beyond having 0.5.1298 that happened after 0.5.1297) is solvable by looking at the pypi pa

[2018-11-16 23:09] keflavich commented on #1155
ok, that's a fine approach for now, then.

[2018-11-20 02:44] bsipocz opened #1285 "deprecate alfalafa in favour of ned"
The `alfaalfa` url (http://arecibo.tc.cornell.edu/hiarchive/alfalfa/spectraFITS) point to ned, so I wonder why we keep it as a separate service (other than for historical reasons).

[2018-11-20 04:20] bsipocz opened #1286 "magpis vs nrao archive"
I wonder whether these individual surveys are accessible via the big observatory archives? If yes we may want to reduce the modules?

[2018-11-20 05:30] bsipocz opened #1287 "Rename OGLE to reflect on functionality"
I was mislead until now and believed that we have a module to query OGLE time series data rather than extinction based on ogle data.

[2018-11-20 15:44] keflavich commented on #1286
They are not.  MAGPIS is a cutout service.  Some of the surveys are hosted elsewhere, but not all.

I don't know what you mean by "nrao archive" but the NRAO does not host images at all.

[2018-11-20 15:44] #1286 closed

[2018-11-20 17:58] Gabriel-p commented on #1263
I'm sorry @bsipocz for some reason I did not get a notification for your reply.

Perhaps explicitly mention that `pip` is the recommended way of installing the package?

[2018-11-24 19:36] Mixpap commented on #1157
You cannot just convert from mag to Flux, because this conversion depends on the telescope. But you can check how Vizier does this by using their METAfltr table (http://vizier.u-strasbg.fr/viz-bin/VizieR-3?-source=METAfltr&-out.form=H)
For example if you want to transform the WISE data from Vizier to Jy (http://vizier.u-strasbg.fr/viz-bin/VizieR?-6N&-plus=-+&-source=METAphot,METAfltr&-out.form=H&c

[2018-11-25 04:46] bsipocz opened #1290 "Fix changelog bot"
our changelog has a different name

cc @pllim or @astrofrog in case they got here with a fix quicker

[2018-11-26 20:00] #1290 closed

[2018-11-27 00:31] bsipocz opened #1293 "Add python3.7 for testing"
Reminder issues that it's about time to change the default.

And while we're at it, there is no need to run so many egg builds.

[2018-11-27 13:05] cdeil opened #1295 "Change versioning to work nicely with pip"
This issue is triggered by the question by @bmatthieu3 via email:

Indeed currently users will get https://pypi.org/project/astroquery/0.3.8/  from April 2018 if they use the usual command to install or update:
[code]
Looking at https://pypi.org/project/astroquery/#history one can see that there are plenty of new releases, e.g. https://pypi.org/project/astroquery/0.3.9.dev5086/ from earlier today.

[2018-11-27 13:56] keflavich commented on #1295
@cdeil - you need to do `pip install --pre astroquery`.  We will release a new big numbered version soon, but do tell users to switch to `--pre` as well.

[2018-11-27 14:13] cdeil commented on #1295
That's good!

Like I said, I think that's weird and not a good idea. But I don't want to argue, I'm not even using astroquery myself any more, I just wanted to note the suggestion to change that again. Or introduce more frequent normal releases that `pip install astroquery` will pick up, that would do the trick as well.

[2018-11-27 20:22] bsipocz commented on #1295
Yes, the fix is in the work as well as a new manually tagged release, but anyone reading our docs should see that the current setup is to use ``--pre`` for the automated releases. It's not a secret trick but something widely communicated all over.

[2018-11-28 20:36] mkelley commented on #1279
Ah, I independently fixed this with #1284 !

[2018-11-29 18:01] jgagneastro commented on #766
I just had the same issue, and the only thing I could figure out was to modify the core.py file and add a "selcols" keyword. This can be done through the following lines in the core.py file of "astroquery":

(...)

def query_region(self, coordinates=None, catalog=None, spatial='Cone',
                     radius=10 * u.arcsec, width=None, polygon=None,
                     get_query_payload=False,

[2018-11-29 18:04] keflavich commented on #766
@jgagneastro would you consider submitting that as a pull reqest?

[2018-11-29 18:08] jgagneastro commented on #766
Absolutely. I thought I needed to be registered to some astropy group to do this - I'm cloning it right now (had installed it through pip and I don't know how to push anything from the pip version)

[2018-12-03 23:09] ceb8 commented on #1245
@sean-lockwood Is this still an issue with the new token authentication?

[2018-12-03 23:13] ceb8 opened #1298 "astroquery.mast session_info broken"
The session_info function currently throws an exception.  Tests of this functionality have been skipped until a bugfix can be put through.

[2018-12-04 15:40] sean-lockwood commented on #1245
@ceb8 : Got it working on a RHEL6 server with the latest pip-installed `0.3.9.dev0`.  Thanks!

[2018-12-04 17:34] ceb8 commented on #1245
@sean-lockwood  Excellent!  Can you close this issue then?

[2018-12-07 01:49] stargaser opened #1306 "Coordinates in IRSA queries have insufficient precision"
The `ra` and `dec` columns in IRSA queries can have insufficient precision. The first cone search example in the documentation for `astroquery.irsa` can be used to reproduce this.

[code]

When `table` is output to FITS, the precision is fine. When `table` is output to an IPAC table, the `ra` and `dec` columns carry only three decimal places which is insufficient.

A user can change the `.format`

[2018-12-07 05:15] eteq commented on #1155
@bsipocz - when this is working can you ping me so I can update the spacetelescope/notebook repo to use this machinery instead of a direct `pip install --pre` call?

[2018-12-09 21:44] adrn opened #1309 "Invalid query fails on job.set_failed(True) in astroquery.gaia"
[code]

Output:
[code]

[2018-12-09 21:46] adrn opened #1310 "astroquery.gaia docs only use gaiadr1 table"
Now that DR2 is out, the documentation could instead use examples that highlight how to query and use DR2 instead.

[2018-12-09 21:47] adrn commented on #1310
Oops - duplicate of #1217 because I don't know how to search...

[2018-12-09 21:47] #1310 closed

[2018-12-10 00:46] keflavich commented on #1309
Looks like this is probably related to the TAP 1.2.1 PR (#1266)

[2018-12-11 15:15] saimn commented on #1272
Same issue here, I will try to find a solution.

[2018-12-12 17:10] keflavich opened #1314 "Module namespace restructure?"
The flat namespace of `astroquery.xx` is getting crowded.  Do we want to restructure the namespace to be more hierarchical, either archive-centric or mission-centric?

[2018-12-12 17:23] pllim commented on #1314
In a backward compatible way or not? Also, care needs to be given in picking categories in case some services fall into more than one.

[2018-12-12 17:30] keflavich commented on #1314
@pllim - excellent question.  I don't like the idea of breaking backward compatibility at all, which inclines me toward using a flat namespace, but the flat namespace as I laid out above is pretty confusing; why isn't there a single ESA interface as there is a single MAST interface?

The distinction between surveys and missions seems important here.  GAIA is both a survey and and a mission, but th

[2018-12-12 17:44] pllim commented on #1314
Perhaps we should ask the broader community via one of the mailing lists?

[2018-12-12 17:45] keflavich commented on #1314
The intent is to ask the broader community to contribute here.  We can ask on the mailing lists, but I would like the discussion to be on this issue.

[2018-12-14 00:35] bsipocz commented on #1314
I would prefer option No2. That would keep the current logic but provide some cleanup. E.g. as you say it's kind of confusing to have everything mast live under the module, but esa and jpl and irsa are spreading all over the space.

TAP and other future tools/utilities can keep on live in utils, at least putting tap in there still makes sense.

One category where I think it would be useful to mix

[2018-12-14 00:36] bsipocz commented on #1314
This being said, I think we should do it as soon as possible, but on the other hand only if when we know we have substantial chuck of time to do it in one short burst of work to make the process as smooth as possible.

[2018-12-14 00:36] keflavich commented on #1314
We need to reach a consensus on the approach we're going to take, then schedule a work week.

[2018-12-14 14:53] pllim commented on #1314
As part of this work, perhaps also good to produce a dev guide to say something like "before you develop a new module for astroquery, please check here and there to make sure you are not re-implementing something that astroquery already provides; if you are from such and such org, please name your module like this" or something like that.

[2018-12-17 23:35] #1272 closed

[2018-12-18 19:15] #1298 closed

[2018-12-20 06:24] wtgee opened #1317 "NASA Exoplanet all columns unused in query_planet"
#1183 added in the `all_columns` parameter to `get_confirmed_planets_table` and `query_planet` methods, but it is missing on [line 104 of `query_planet`](https://github.com/astropy/astroquery/blob/1e93977c12a85f4b2c68ec258990f9d9af7485d7/astroquery/nasa_exoplanet_archive/nasa_exoplanet_archive.py#L104).

I can put together a simple fix, but it's a little unclear to me if passing this will trigger

[2018-12-21 18:43] caseyjlaw commented on #516
I'm interested in playing with VLASS data via the CADC service. I am told that there is progress on integrating CADC with astroquery. Is there anything to report there? Can I help?

[2018-12-21 19:30] alipnick opened #1319 "Executing multiple alma.stage_data() commands sometimes fails with HTTPError: 500"
When attempting to execute multiple alma.stage_data() commands, instances after the first call often fail with an HTTPError: 500 for an unknown (or not obvious to me) reason (see ipython session below).

[code]
This seems to happen intermittently, as sometimes I have had this not cause a failure which brings up another issue with alma.stage_data() where changes to the alma.archive_url variable are

[2018-12-21 19:32] pllim commented on #1319
Error code 500 usually indicate server side problem, which I don't think is something `astroquery` itself can fix. Did you try to do a `time.sleep(1)` or something, so you don't appear as a spammer to the server?

[2018-12-21 19:36] alipnick opened #1320 "Changes to alma.archive_url variable are ignored after the first alma.stage_data() call"
If more than one call to alma.stage_data() is successful (Issue #1319), subsequent calls of alma.stage_data() ignore re-definitions of the alma.archive_url variable (see ipython session below).

[code]
I should note that changing the variable alma.archive_url _before_ the first call to alma.stage_data() does work but specifically changes to the variable after the first call are ignored.

[2018-12-21 19:38] alipnick commented on #1319
I just attempted it again with my currently open session (it's been about 5 minutes) and it has still failed with HTTPError 500.

[2018-12-21 19:48] pllim commented on #1320
That is because it is cached:

https://github.com/astropy/astroquery/blob/b93761514fb5c2b54aada87dcfb41f29ad8f2830/astroquery/alma/core.py#L220-L235

Maybe ALMA maintainer can advise on how to clear the cache but from the code itself, looks like a feature and not a bug.

[2018-12-21 19:53] alipnick commented on #1320
I've tried an astroquery.alma.Conf().reset() but it didn't work to change alma.archive_url variable. But I'm also not sure if that is expected to work or not, I'm pretty out of my element at this point.

[2018-12-21 19:55] pllim commented on #1320
A hack is to do `del self.dataarchive_url` and then set `alma.archive_url` (untested) but that is indeed very hacky.

[2018-12-21 20:09] alipnick commented on #1320
Thanks for the quick work-around, I just tested it and it does work, but I would like to know how to actually clear the cache...

[2018-12-21 20:16] keflavich commented on #1320
This is somewhat intentional.  You should create a new Alma instance for
each stage_data query.

More detail later; on mobile

On Fri, Dec 21, 2018, 15:09 alipnick <notifications@github.com wrote:

[2018-12-21 20:50] alipnick commented on #1319
More weirdness, even though the command fails, I still receive an email from the archive alerting me of a successful query.

[2018-12-21 20:52] alipnick commented on #1319
Is #434 / #435 a related issue?

[2018-12-22 19:52] keflavich commented on #516
@andamian Do you have anything to add here?

See also https://github.com/astropy/astroquery/pull/913, which should have been linked to this issue originally.

[2018-12-28 21:34] caseyjlaw commented on #516
I can see the basic idea in the `cadc-tap` library, but it does not look ready enough for me to jump in. If there are any suggestions for pieces I can test or develop, please let me know.

[2019-01-01 16:10] caseyjlaw commented on #1225
Also relevant: https://panstamps.readthedocs.io/en/latest/

[2019-01-02 18:53] bsipocz commented on #1317
Fixed by #1318

[2019-01-02 18:53] #1317 closed

[2019-01-04 15:01] alipnick commented on #1320
Hi @keflavich, can you tell me how to create a new Alma instance? I use astroquery as part of an automated script so I'm not sure I really have the option of opening up a separate session if I need to change the `alma.archive_url` variable. Unfortunately, it's very common for the connection to the NA Archive to drop so in cases where the connection is unstable, I'd like to be able to switch ARCs t

[2019-01-06 10:57] hippke opened #1326 "Vizier query_constraints returns "Empty TableList""
I try to pull a table from Vizier with some constraints, but get an "Empty TableList" result:
`from astroquery.vizier import Vizier`
`result = Vizier(columns=["*"], catalog="IV/34/epic").query_constraints(ID="247887989")`
`print(result)`

[2019-01-07 01:40] caseyjlaw opened #1327 "heasarc query_region parse problem"
Seems that the latest release introduces an issue with the heasarc region query. I am using python 3.6 and astropy 2.0.11.

This works well in astroquery v 0.3.8:
[code]

But for astroquery v 0.3.9:
[code]

Note that the error seems to return a FITS table with the same results as in a successful query (in astroquery 0.3.8). Seems that there is an issue in parsing that result to return a proper tab

[2019-01-07 17:22] keflavich commented on #1326
This is a bug.  As a workaround, do:
[code]
but I'll have a fix out shortly.

[2019-01-07 22:58] keflavich commented on #1327
I don't see this failure with the latest astropy + astroquery:
`0.3.10.dev5159 3.2.dev23515`
Can you try with a more recent version of astropy and see if it persists?

[2019-01-08 08:48] hippke commented on #1326
Thanks! Workaround works for me.

[2019-01-09 19:59] pllim opened #1329 "Infrastructure updates notice from Astropy Project"
Hello from Astropy Project!

The following updates to your package might be necessary to ensure compatibility with the latest stable version of Astropy:

- [x] MPLBACKEND is now set to Agg in `ci-helpers`, packages expecting interactive plotting should override it in `.travis.yml`
- [x] Astropy 3.1 is not compatible with Numpy <1.13 versions. If you want to keep testing these older Numpy versions,

[2019-01-14 15:43] drtgrav opened #1332 "ValueError returned in jplhorizon when G is set to n.a."
When doing

    sun2object_horizons = Horizons(id=hname,location=None,epochs=cls.jd).vectors()

excepts with this final error.
File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/astroquery/jplhorizons/core.py", line 1061, in _parse_horizons
    H = float(HGline[1].rstrip('G'))
ValueError: could not convert string to float: n.a.

I would suggest adding code to retur

[2019-01-14 16:50] bsipocz commented on #1332
cc @mommermi

[2019-01-14 16:52] bsipocz commented on #1332
@drtgrav - could you please post a full example? It's very difficult to do any debugging with a single line full of otherwise unknown local variables.

[2019-01-14 17:25] drtgrav commented on #1332
[code]

[2019-01-14 17:57] mommermi commented on #1332
@drtgrav note the new behavior: if `H` is not defined, it will not be listed in the resulting table, so you will have to check `'H' in eph` or something similar

[2019-01-15 00:21] keflavich commented on #1329
We seem to have another incompatibility issue in our py2.7 tests:

["This version of Astropy (2.0.11) is incompatible with this version of pytest (4.1.0). Use pytest<3.7."](https://travis-ci.org/astropy/astroquery/jobs/477081772#L3442)

which is affecting PR #1308.  Master might be broken as a result right now?

[2019-01-15 00:38] bsipocz commented on #1329
I'll have a look at this in a bit (and also address point #2 from the list above).

[2019-01-15 00:38] bsipocz commented on #1329
yes, that's definitely the case

[2019-01-15 18:51] bsipocz commented on #1329
#1334 should fix item no2 from above and the travis failure in #1308. I'll rebase that PR once the fix is merged.

[2019-01-16 17:27] fpavogt opened #1336 "nasa_ads query returns 'None' for citations counts"
In astroquery v0.3.9 and v0.3.10 (pip installed), nasa_ads queries fail to return the number of citations associated with a given entry.

Here's a MWE:

[code]
In v0.3.9 and 0.3.10, this returns:
[code]
In v0.3.9, this returns:
[code]
Running Python 3.6.8 via a terminal shell with ipython 6.1.0 on Mac OSX 10.13.6.
Any idea on what may be going on here ?

[2019-01-16 17:28] caseyjlaw commented on #1327
I do see this error for the lastest versions on pip (astropy 3.1.1 and astroquery 0.3.9).
I've rolled back to astroquery 0.3.8 and it works fine.

[2019-01-16 17:38] keflavich commented on #1336
This is a bug in the configured fields; `citations` should be `citation`

[2019-01-16 17:46] fpavogt commented on #1336
Hum ... I think it should actually be `citation_count`, as per [the ads api doc](https://github.com/adsabs/adsabs-dev-api/blob/master/Search_API.ipynb).

Just tried to swap `citations` for `citation_count` on l.33 in __init__.py of the nasa_ads submodules, and it works fine.

[2019-01-16 17:48] keflavich commented on #1336
We probably want both `citation` and `citation_count` by default.

[2019-01-16 17:49] keflavich commented on #1336
See #1337

[2019-01-16 17:57] keflavich commented on #1327
Could you try with master?  You should be able to install with `pip install --pre`, or failing that, by following the source instructions here: https://astroquery.readthedocs.io/en/latest/#installation

I... now can reproduce this issue, though.  Hm.

[2019-01-16 18:00] keflavich commented on #1327
It appears that the issue is that we're now raising an error where before we weren't, even though maybe an error was occurring?  This is a bug for sure...

[2019-01-16 18:02] fpavogt commented on #1336
Excellent!

[2019-01-18 18:52] nbrunett opened #1340 "Release date in ALMA query not correct"
Hi

If I run

[code]

then I get

[code]

instead of dates. The web form through a browser is showing dates as expected. My attempt at giving the "version" I'm using:
help(astroquery) gives
__githash__ = 'b7d2a0f102292ff85381b95582b9441ad288ceb2'
VERSION 0.3.10.dev0

[2019-01-18 18:57] keflavich commented on #1340
I can reproduce this.  I suspect there's an upstream change/error that caused this recently.  I'll investigate when I get a chance, but I welcome anyone else's effort to figure this out!

[2019-01-18 20:39] keflavich commented on #516
@caseyjlaw I'd really like to have access to this service, and I see you've gotten [a start](https://github.com/caseyjlaw/vlass/blob/master/get_vlass.py) at a query module.  Do you think you could start piecing this into an astroquery module based on the [template](https://astroquery.readthedocs.io/en/latest/template.html)?

When are you next in Socorro?  We could try to hack it together then.

[2019-01-22 04:18] bsipocz opened #1342 "Incompability with mocpy 0.5"
All local tests for the `cds` module fail when using the latest 0.5 version of mocpy.

Example travis job: https://travis-ci.org/astropy/astroquery/jobs/482688217

e.g.:

[code]

[2019-01-25 07:56] bsipocz commented on #1329
Sadly we still support python 2, so the one remaining point from the list above is not relevant yet. I'm thus closing this now.

[2019-01-25 07:56] #1329 closed

[2019-01-25 11:02] tboch commented on #1342
@bmatthieu3 : could you have a look when you have time? Thanks

[2019-01-25 11:07] tboch commented on #1157
Catalogues returned are the ones for which there are fluxes or magnitudes properly described (ie that can be converted to fluxes).

This is an addition CDS would be happy to provide - cc @bmatthieu3
We'll send a PR when we have something available.

[2019-01-25 22:07] bsipocz commented on #1326
Fixed by #1328

[2019-01-25 22:07] #1326 closed

[2019-01-25 22:07] bsipocz commented on #1327
Fixed by #1338

[2019-01-25 22:07] #1327 closed

[2019-01-25 22:07] bsipocz commented on #1336
Fixed by #1337

[2019-01-25 22:07] #1336 closed

[2019-01-25 22:15] bsipocz commented on #1293
This has been fixed by #1334

[2019-01-25 22:15] #1293 closed

[2019-01-25 22:38] bsipocz commented on #1332
Has been fixed by #1333

[2019-01-25 22:38] #1332 closed

[2019-01-25 22:42] bsipocz commented on #1306
@stargaser - can we close this now that #1313 is merged?

[2019-01-28 13:04] amet-vikram13 commented on #1281
Hello @keflavich I would like to take up this issue. Can you just tell me where to start looking into it..

[2019-01-28 17:10] astrofrog opened #1344 "Issue installing with pip 19"
Astroquery is not installable with pip 19+ due to the presence of the pyproject.toml file (which disables all imports unless specified in the build requirements of pyproject.toml). According to @Cadair, the fix is to add the following to ``setup.py``:

https://github.com/sunpy/sunpy/pull/2906/files#diff-2eeaed663bd0d25b7e608891384b7298R18

Another option is to change baldrick so that it doesn't re

[2019-01-28 17:13] Cadair commented on #1344
No. This is a pip bug and there are many more tools other than baldrick that use `pyproject.toml` as described by PEP 518.

The easiest fix is the one the committed to SunPy and that is what I recommend you do.

[2019-01-28 17:21] stargaser commented on #1306
yes -- I see the online docs include this section. Thank you for all the help! Closing the issue.

[2019-01-28 17:21] #1306 closed

[2019-01-28 17:22] stargaser commented on #1306
I should have mentioned, the IRSA archive will also increase the precision specified for ra and dec in their VOTable outputs. They have made an internal ticket for it.

[2019-01-28 18:01] caseyjlaw commented on #516
@keflavich I am told that the CADC integration has been started in this fork: https://github.com/brianmajor/astroquery. And this is distinct from the effort back in 2017.
However, this change is coupled to some TAP changes being accepted by GAIA people. Not sure what that process is like, so it is hard to say whether this is imminent or languishing.

[2019-01-28 18:17] andamian commented on #516
@keflavich, your assesment is correct. This is very much distinct from the 2017. During the development, we found a few issues with the GAIA TAP library which we tried to correct but we were told to hold because the GAIA TAP library is going through a major re-work effort. Hence the forking.
The fork works with the current code so feel free to use and contribute, but please bare in mind that it mi

[2019-01-28 21:33] ceb8 commented on #1314
I also prefer option number 2 for the reasons @bsipocz outlines.

Additionally I think that option 1 will lead to cases where there isn't one clear home for certain classes. I.e. would tesscut stay with mast (astroquery.archive.mast.tesscut) or go in cutouts (astroquery.cutouts.tesscut).

[2019-01-28 21:33] keflavich commented on #1344
@astrofrog - whatever solution you come up with, I'm fine with.  https://github.com/astropy/astroquery/blame/master/pyproject.toml

[2019-01-28 21:34] keflavich commented on #1314
:+1:  We'll likely start a shift to (2)'s style with _new_ modules, but we won't refactor the existing ones for a while.

[2019-01-28 23:14] ijiraq commented on #516
I would also prefer to move ahead with this integration now rather than waiting for the next release of TAP modules.  @andamian can the CADC fork merge into the current astroquery in a non disruptive way (i guess) and then we can do this again once the astroquery TAP module is updated?

[2019-01-28 23:30] keflavich commented on #516
for future reference, it would be *very* helpful to the maintainers (me and @bsipocz) if you could do this development in an open pull request rather than on a branch that we don't get notified about.  It's much easier to review pull requests and help push along development if we get to be somewhat involved from the start.  It also helps us plan out when we're going to have time to review things..

[2019-01-28 23:35] andamian commented on #516
I didn't directly write that code (just reviewed it), but I was told that patches to GAIA's TAP were not accepted due to the imminent update of that library, so there were a few not-so-elegant workarounds that we had to come up with (e.g overrides of the TAP code). Bottom line, this version is not that nice but it's working and it's better to have something working now. Cleanup will need to occur

[2019-01-29 07:15] bsipocz commented on #1314
well, we can bite the bullet and call it 1.0 :)

[2019-01-29 21:48] #1344 closed

[2019-01-31 10:08] fmadec opened #1349 "Nist query not working anymore"
astroquery.test(package="nist", remote_data=True) failed
[code]

[2019-01-31 16:44] keflavich commented on #1349
I can't reproduce this locally.  My test run succeeds.  Last week, NIST was down because of the government shutdown, but your test was run today.

Could you verify that you're still seeing the error?  If you are, could you verify that you can access the NIST web pages via a browser?

[code]

[2019-02-01 10:22] fmadec commented on #1349
Yes yersterday it worked via browser.
and it is now working, although I have an other error (reproduced on 2 differents machines)

=========================================================== test session starts ===========================================================
platform linux -- Python 3.6.7, pytest-3.5.0, py-1.5.3, pluggy-0.6.0

Running tests with astroquery version 0.3.9.
Running tests

[2019-02-01 18:02] keflavich commented on #1349
OK, the tests pass, which means the original error is gone.

Please show the query you tried that failed.  The message you showed vaguely implies a problem with caching, but we need a lot more information.

[2019-02-02 00:57] sealauren opened #1351 "nasa_exoplanet_archive module would benefit from a query_star function"
At the moment there is a query_planet() function but not a query_star() function [as far as I can tell].  This would be a great feature to develop! @bmorris3

[2019-02-05 21:48] nbrunett commented on #1340
A bit of digging seems to indicate the Release date definition at the top of the XML table is different from all the rest of the fields (except for the Mosaic field which is actually showing the same problem, see below). What I see is

[code]

where there is no metadata associated with the Release date and Mosaic fields (beyond their names) while other fields have types specified. When I look at t

[2019-02-07 16:55] keflavich commented on #1340
Thanks for digging.  I can't deal with this right now, but the information will help when I can get to it.

[2019-02-07 18:15] keflavich commented on #516
@andamian Could you please update us on the status of CADC module development?  Are you working on it?  If so, where is the pull request?  We very strongly recommend that you submit a work-in-progress pull request prior to its completion if you have one.

[2019-02-07 23:10] andamian commented on #1340
Ran into the same issue.

This seems to be a problem related to the alma service not returning complete information. I can confirm that when the type and size of the fields are provided, the astroquery.alma modules works. Opened a ticket with almascience: https://help.almascience.org/index.php?/na/Tickets/Ticket/View/14715

[2019-02-07 23:15] andamian commented on #516
@keflavich, created the initial pull request: https://github.com/astropy/astroquery/pull/1354. Not quite ready as I'm dealing with a few other unexpected things. How do I ping you when PR ready? Assign you as a code reviewer?

[2019-02-07 23:23] keflavich commented on #516
Yes, that works, and/or just write a message saying 'ready for review'.  Thanks!

[2019-02-08 13:20] sashank27 commented on #1351
Hi! I would like to take up this issue. May I know where to start on this? @bsipocz

[2019-02-08 21:14] sealauren commented on #1351
I think with some basic pandas groupby logic you can fetch the stars rather
than the planets.

On Fri, Feb 8, 2019 at 3:20 AM Sashank Mishra <notifications@github.com>
wrote:

[2019-02-10 07:54] sashank27 commented on #1351
I explored the API, and I guess I would be required to use the Kepler Stellar Table, using the `keplarstellar` delivery name. Am I correct? @bsipocz @sealauren @bmorris3
Also, I am new to this, so a little help on the API would be great!

[2019-02-10 12:35] agarwalrounak commented on #1195
I will work on it.

[2019-02-11 16:41] keflavich opened #1355 "NIST queries are failing with javascript in the returns"
This was reported to me via e-mail.

Example:
[code]

Return:
[code]

Note the `t="SetM` etc - there is junk included in the output.

The reporter suggested a fix:
"The web-based search form has options to select the response format and also to disable javascript (though you need to look in the advanced options sections, see screenshots). From dev tools, I gather "remove_js=on" is the necessary re

[2019-02-12 05:42] bsipocz commented on #444
Bad surprise that we still don't have this.
This is something that can be done as a hackday project, or in prep for gsoc, etc.

[2019-02-13 21:19] agarwalrounak commented on #681
@bsipocz this issue can be closed. It was solved in PR #851

[2019-02-13 21:31] #681 closed

[2019-02-14 10:06] duncanmmacleod commented on #1260
Ok, after a long delay, I'm ready to think about this properly. There exists a python API to the Gravitational-wave Open Science Center (GWOSC) data releases, [`gwosc`](https://gwosc.readthedocs.io), so I would wrap that into an astroquery module. Is it kosher to add (optional) dependencies to astroquery? (that package is itself pure python and only depends on `six`).

I will have a go at followin

[2019-02-14 16:02] keflavich opened #1357 "ESO downloads: no 'verbose' option"
Some of the data retrieval options in the ESO module lack a `verbose` flag and are excessively verbose in at least one reported case (see astropy mailing list).  We need to make sure that all output can be silenced.

[2019-02-14 16:04] keflavich commented on #1260
Generally, we like to avoid additional dependencies, but we can allow some module-specific runtime dependencies.  They should be imported at the class or method level, though, not at the module level, so they don't become global dependencies of astroquery.

[2019-02-14 19:02] hippke opened #1358 "Import fails on Python 2.7: from astroquery.mast import Catalogs (works on Python 3)"
I can import ``from astroquery.mast import Catalogs``on Python 3, but not on Python 2:
[code]

[code]

[2019-02-14 19:11] bsipocz commented on #1358
@hippke - What is the version of your astroquery? For me the import works on python2.7:
[code]

[2019-02-14 19:14] bsipocz commented on #1358
(On the other hand, if I were you, I wouldn't spend much time now to make `tls` python2 compatible rather spend that time to switch to use the nice python3 only features either to make the code nicer, and faster...)

[2019-02-14 19:20] hippke commented on #1358
- I installed it today using ``pip install astroquery`` inside conda. With ``pip list`` I get ``astroquery 0.3.7``. This version has the bug.
- As a test, I installed from source (1 minute ago) and get ``0.3.10.dev5232``. With that version, it works.

When is the next pip release planned?

[2019-02-14 19:26] hippke commented on #1358
I see your point and I would have agreed totally, 4 weeks ago. However, I got a lot of feedback that people want to use TLS with Python 2. Explaining deprecation, conda etc. is an uphill battle for folks with a lot of legacy code. I already have a version that works with Python 2 single-threaded, and the last (known) bug is astroquery. So I like to try to make it work, at least. I won't make it fa

[2019-02-14 19:28] bsipocz commented on #1358
@hippke - you need to use `pip install --upgrade` to get it upgraded. The latest manually released version is `0.3.8`, but we are continuously (automatically) releasing astroquery. Those releases are available to pip install by `pip install --pre --upgrade astroquery`.

[2019-02-14 19:28] #1358 closed

[2019-02-14 19:30] bsipocz commented on #1358
People will need to move on, all major packages either already dropped or are dropping python2 this year. astroquery is one of the last standing one as @keflavich is very understanding with people depending on CASA. The minute they are python3 compatible we're dropping python2 support here, too.

[2019-02-14 19:37] bsipocz commented on #1260
Thank you @duncanmmacleod, this sounds great. As @keflavich said we prefer the dependencies the other way around (that packages depend on astroquery for their data access), but starting off the way you've suggested is also good for now.

[2019-02-14 23:41] #1195 closed

[2019-02-15 07:01] DBerke commented on #1355
I just tried astroquery for the first time this week and ran into this as well:

$ from astroquery.nist import Nist
$ import astropy.units as unit

$ lower_bound = 4214.82 * unit.AA
$ upper_bound = 4248.48 * unit.AA
$ table = Nist.query(lower_bound, upper_bound, linename="Fe I")

$ for col in table.colnames:
       print(col, ':\t', table[col][0])
Observed :       4214.834
Ritz :   4214.8345
Rel.

[2019-02-15 16:58] keflavich commented on #1355
See #1359

[2019-02-18 04:07] jorgehumberto opened #1360 "ESO retrieve data - Files keep failing"
HI,

I am attempting to download some ESPRESSO data from ESO's archive via the comment line using astroquery. To do so, I did the folowing (as per ESO's Support suggestion):

1. Install astroquery
2. find its location in the python path (look for the directory: site-packages/astroquery/eso)
3. create a parallel directory astroquery/esocas
4. copy the content of astroquery/eso/ into astroquery/esoc

[2019-02-18 12:46] keflavich commented on #1360
A few comments:
-screen won't affect anything
-you can modify URLs interactively, you don't need to edit the code.  e.g.:
[code]

However, I don't know what's causing your particular issue.  It could be that the login is timing out.  Are these data proprietary?  Could you retry your whole query using the approach I suggest above and post your code here?

[2019-02-18 22:26] jorgehumberto commented on #1360
Hi @keflavich

1. I suspected about screen, but just in case...

2. Thanks about the tip to modify the URl interactively! I'll give it a try.

3. Yes, the data is proprietary, but it is not a credentials issue as it downloads most files from the same programme/dataset, but fails alsays on the same file.

4. I also don't it is a login timeout, as if can fail after a long time, or a short one, and a

[2019-02-19 05:11] mrtommyb opened #1362 "Catalogs.query_criteria fails"
An example given in the MAST catalog documentation fails with a RemoteServiceError

[code]

[code]

[2019-02-19 05:13] mrtommyb commented on #1362
I would guess that @ceb8 is the right person to help with this issue. Perhaps there is a workaround for now. My use case is that I have a list many thousands of TIC IDs and I want to query the TIC at MAST.

[2019-02-19 05:18] bsipocz commented on #1362
@mrtommyb - What version of astroquery do you use? Your example works for me on master. What version of astroquery do you use? Could you try and update it with `pip install --upgrade --pre astroquery`?

[code]

[2019-02-19 05:29] mrtommyb commented on #1362
Ah, I'm on 0.3.8 which seems to be the latest in conda. I updated to 0.3.9 and confirm that this is working. Sorry, should have checked that first.

[2019-02-19 05:29] #1362 closed

[2019-02-19 06:36] bsipocz commented on #1362
There should be a 0.3.9 conda build available on the astropy conda channel, too. Nevertheless, given the moving target nature of the archives, the recommendation is to pip install astroquery from pypi. FYI we also do continuous releasing, where the new releases are available as "pre" releases, and pip installable with the command above.

[2019-02-19 10:18] agarwalrounak opened #1363 "Broken profile link in README.rst"
In the section `Additional Links` of README.rst, the link to the profile of @bsipocz redirects to https://github.com/astropy/astroquery/blob/master/github.com/bsipocz

[2019-02-19 10:18] agarwalrounak commented on #1363
I will work on it.

[2019-02-19 15:46] jorgehumberto commented on #1360
Hi @keflavich

Here is a MWE of my code with the interactive URL:

    #!/usr/bin/env python

    from astroquery.eso import Eso
    import os

    INSTRUMENT = 'ESPRESSO'
    NIGHT = '2018-09-01'
    CATG='SCIENCE'
    DATA_FOLDER = '/home/espresso/work/ESPRESSO_RAW'
    USER = 'XXX'

    eso = Eso()
    eso.ROW_LIMIT = -1
    eso.QUERY_INSTRUMENT_URL = 'http://archive.eso.org/wdb/wdb/cas'
    es

[2019-02-21 15:34] astrofrog opened #1364 "Incorrect type for columns in GAIA results"
I tried downloading a table from GAIA:

[code]

and noticed that some of the columns are object type even though they just contain strings:

[code]

This causes all kinds of issues when trying to serialize the table to different file formats.

[2019-02-21 16:03] keflavich commented on #1364
Hmm... in principle, this should be an easy fix somewhere, but it could be an upstream thing if we're relying on a votable (don't know off the top of my head).

Is your code example really correct?  The `_async` method shouldn't return a table.

[2019-02-21 16:20] addddd123 commented on #1364
I am interested in astroquery(Gsoc).
I have cloned this to my local machine.
But I don't know how to run it

On Thu, Feb 21, 2019, 9:33 PM Adam Ginsburg <notifications@github.com wrote:

[2019-02-21 19:26] #1363 closed

[2019-02-21 20:39] eteq commented on #1364
I just tried the example and it did return a table... but the table does not have a `designation`... although it does have `'phot_variable_flag'` which has the behavior @astrofrog mentioned.

[2019-02-21 20:42] addddd123 commented on #1364
Does astroquery have docs to set it locally

[2019-02-21 20:56] keflavich commented on #1364
@eteq ok, interesting, I think we need to refactor this module to match the rest of astroquery's API.

@addddd123 I don't understand your question; set what locally?  Is your question related to this issue?

[2019-02-21 20:58] addddd123 commented on #1364
No I am not concerned about issue. I had cloned this repo to my PC now i
don't know how to actually run this.

On Fri, Feb 22, 2019, 2:26 AM Adam Ginsburg <notifications@github.com wrote:

[2019-02-21 21:00] keflavich commented on #1364
Please do not post questions on unrelated issues.  You should refer to the installation documentation, which is very easy to find via google, for example:
https://astroquery.readthedocs.io/en/latest/#installation

I will delete this comment and the others that are not relevant to this issue shortly.

[2019-02-21 21:25] eteq commented on #1364
Hmm... While I think this is still an issue in the first place, I think maybe the serializing problem might be distinct - have a look at https://gist.github.com/98f17dae0bb43f569a09f737a57f5bd7, @astrofrog - it's pretty clear that removing the "object" columns doesn't really change much.  Rather... it's the presence of masked data.

[2019-02-21 21:26] keflavich commented on #1364
Yes, I agree that these are distinct problems.

[2019-02-21 21:36] eteq commented on #1364
Yep, see #8443 for the "slowness" problem (since I'm guessing that's ecsv more than it is Gaia itself)

[2019-02-22 16:13] jorgehumberto commented on #1360
hi,

To add some info to this: I have noticed that this genre of error occurs

[2019-02-22 16:14] jorgehumberto commented on #1360
Sorry, closed by mistake.

[2019-02-22 16:15] keflavich commented on #1360
I've tried exploring this a bit but I haven't reproduced it fully or had time to dig in in more detail.  I don't have any ideas yet.

[2019-02-22 16:42] jorgehumberto commented on #1360
HI @keflavich

Thanks for the update.

Cheers
Jorge

[2019-02-22 16:51] jwoillez commented on #1360
@jorgehumberto could you empty your cache and try again. I’ve notice that using the special access interface can cause issues like this. Your cache should be somewhere in ~/.astropy/cache/astroquery/eso

[2019-02-22 16:55] jwoillez commented on #1360
@keflavich it may fail because the hash used for caching does not take into account the URL change. I should have a look into it. In general, it feels like the caching mechanism is only causing problems. What are your thought on this?

[2019-02-22 17:10] keflavich commented on #1360
Generally I've been pretty happy with caching; it has enabled some use cases that are otherwise totally unavailable.  However, it is likely better to disable caching for data files (FITS files) by default, since they tend to cause problems and take a lot of space.  @bsipocz, let's talk more about this.

Why is the URL changing in this case?  I don't think we should cache data if the URL changes, u

[2019-02-22 19:10] jacobhhamer opened #1368 "astroquery.simbad missing Gaia DR2 Identifiers"
Using astroquery version 0.3.9:

For some objects, SIMBAD shows a Gaia DR2 identifier when queried on the website, but when querying with astroquery.Simbad, the Gaia DR2 identifier does not appear.  One object for which the query works is WASP-18. One object for which it fails is WASP-12.

![wasp12simbadonline](https://user-images.githubusercontent.com/25343516/53264915-df49b280-36aa-11e9-863b-7a7

[2019-02-22 19:22] keflavich commented on #1368
What's the error here?  The query you show appears to be successful for WASP-12.

[2019-02-22 19:54] jacobhhamer commented on #1368
The error is that not all of the identifiers for the object appear when queried through astroquery.simbad.Simbad.query_objectids(). Note that the browser query includes a Gaia DR2 id, but the astroquery response does not. Is this due to a mistake on my part?

[2019-02-22 20:02] keflavich commented on #1368
Clear your cache by deleting `~/.astropy/cache/astroquery/Simbad/...` or redo the query with `cache=False`:
[code]

[2019-02-22 20:09] jacobhhamer commented on #1368
Thanks! Closing issue.

[2019-02-22 20:09] #1368 closed

[2019-02-22 20:45] keflavich commented on #1340
This is an upstream issue as @andamian noted.  I'll add a (very sad) hack to fix it in the meantime

[2019-02-22 20:52] keflavich commented on #1340
See #1369

[2019-02-22 22:45] jorgehumberto commented on #1360
Hi @jwoillez

I already tried to clear the cache, to no avail.

I also had cases where the downloaded file was not a fits.Z file, but a bank login webpage, so I guess the connection somehow timed out? Is there any way to force a check to make sure the connection is still authenticated? of re-authenticate every XXX seconds or so?

Thanks
Jorge

[2019-02-22 23:40] bsipocz commented on #1360
It would be weird if caching would cause this issue. Though the authentication approach may be a good one. We don't yet have the infrastructure to do the re-authentication but it would definitely be worth checking it.

[2019-02-25 15:55] jorgehumberto commented on #1360
Hi,

I have more data that might help shed some light into this. On some cases (but no all) the files were not accessible on ESO's web interface (e.g., we got a permission denied message, although the account we're using has access to the same programme ID for other nights). But my guess is that it might be that those might be two different issues that throw the same error.

Is there a way to use

[2019-02-25 21:16] keflavich commented on #1215
I propose adding a `surveys/` subdirectory, which currently would include `magpis`, `alfalfa`, `ukidss`, `vsa`, maybe.

We probably need several namespaces to include multiple items.  For example, `magpis` is both a survey (it's the name of an actual survey and the primary hosting site for that survey) and a cutout service for other surveys, so it belongs under `surveys/` and `image_services/`.

I

[2019-02-25 21:22] bsipocz commented on #1215
I think that should be easily doable to make them available from multiple namespaces. I would argue to make the "surveys" the default, big place.

However not sure whether moving sdss there would make any sense, also vsa is the borderline case as those are dedicated telescopes, too and e.g. vsa is not serving only one survey.

[2019-02-25 21:27] keflavich commented on #1215
Right, good points.

I'm raising this because I've recently added a single-survey server (though the parent serves other things):https://github.com/astropy/astroquery/pull/1324 and I'm working on another one that's even more one-off.

[2019-02-25 21:34] bsipocz commented on #1215
Yes, that one should definitely go under a survey substructure. Or could even go under a Herchel module, but given there isn't a central archive for all its programs it may not be that useful.

[2019-02-25 21:35] bsipocz commented on #1215
however keeping alfaalfa around may not make that much sense as it point to ned anyway: https://github.com/astropy/astroquery/issues/1285

[2019-02-25 22:14] bsipocz opened #1371 "AAVSO access"
It would be really nice to have pythonic access to the AAVSO archive

[2019-02-27 14:59] jorgehumberto commented on #1360
Hi,

Ok, I think I might have found the problem. In several cases (cannot confirm that in all) the download fails for datasets that still show under construction on the ESO User Portal (different from the permission denied issue). Could it be that for some reason (i.e. timeout?) the connection is broken and the download fails? Does that make sense?

However, if I understood the function `retrieve_

[2019-02-27 16:25] keflavich commented on #1360
Could you put a screenshot of what "under construction" looks like?  Is it possible that the ESO archive is reporting an incorrect state?

[2019-03-01 07:06] eteq opened #1374 "Implement a version of download_products that yields file-like/fits objects"
For some use cases I find it awkward to be handling files and keeping track of directory structures to deal with datasets downloaded from mast.  Might it be possible to have a version of `download_products` that returns e.g. `urllib` objects for everything and/or open `HDUList` objects for data products that are fits files?

This is also potentially an alternate way to solve #1150 - implementing t

[2019-03-01 13:14] FedorGetman commented on #1360
FYI: I can confirm the same error:
[code]
with old historic system python installations (both 2.7 and 3.4).
But fresh python (latest released tar downloaded from python.org; configure & make install; add pip & pip install astroquery) work perfectly with no error.

Seems something was different in http connection: "content-length" is not present in server response for old python instances, so "leng

[2019-03-01 17:21] keflavich commented on #1374
I think we have structural inconsistency in how this is done throughout astroquery.  How is MAST doing it right now?  In general, we are supposed to return file objects rather than download to locations, but I think that varies from module to module.

[2019-03-04 02:26] #1355 closed

[2019-03-04 08:18] bsipocz opened #1376 "XMatch "Mauvaise Requête""
Consider the same example as in #1375. That query returns 2 matches. Keeping one of the matching coordinate in the input however how results in a "Bad query" response instead of the one matching result.

[code]

(Here is the result with the 5 input:
[code]

[2019-03-05 09:50] stefanocovino opened #1377 "XMatch available tables"
Dear friends,

I am not sure this is a problem or simply I am missing something.

However, there are several tables that  are available by the "vizier", i.e. 'vizier:VII/281/glade2', 'vizier:I/345/gaia2'. However, these tables are not available according to a query as:
XMatch.is_table_available('vizier:I/345/gaia2')

Is anything that can be solved from a user's side?

python 3.5
astroquery 0.3.9

[2019-03-05 10:03] bsipocz commented on #1377
Could you provide a bit more info? This works for me:

[code]

[2019-03-05 10:08] stefanocovino commented on #1377
Hi Brigitta,

thanks for your rapid reply.

This is what I get with your example:

import astroquery
astroquery.__version__
'0.3.9'
from astroquery.xmatch import XMatch
XMatch.is_table_available('vizier:I/345/gaia2')
False

I am on a Mac OSX running Mojave (10.14.2). Python 3.5 (miniconda). What else could be useful to know for this issue?

Bye,
  Stefano

[2019-03-05 10:11] bsipocz commented on #1376
This seems to be the same as the previous #968 issue. Did you @keflavich end up reporting it upstream?

[2019-03-05 16:29] keflavich commented on #1377
You need to clear your cache.  Something like:
`rm ~/.astropy/cache/astroquery/XMatch/*`
will do it, but be sure you want to delete everything there first.

[2019-03-05 16:30] keflavich commented on #1376
No, I don't think I did because I ended up finding a different error.

[2019-03-05 20:23] stefanocovino commented on #1377
Hi Adam,

thanks a lot. Now it works as expected.

Bye,
  Stefano

[2019-03-05 20:23] #1377 closed

[2019-03-06 08:18] sashank27 commented on #1351
@sealauren @bsipocz @bmorris3 Am I correct in my approach?

[2019-03-06 16:13] jorgehumberto commented on #1360
hi @keflavich

I am sorry, been unable to look into this earlier. We have found a permissions problem on the ESO side of things that causes some of the errors and are waiting on their answer (basically, the user has "apparently" all the permissions required to the programmes we are looking at but cannot download anything but calibrations).

At this moment I have found 3 occasions on which I get th

[2019-03-06 17:05] keflavich commented on #1360
Thanks.  This sounds like it is mostly an ESO issue, not an astroquery issue, right?  i.e., there's nothing we could do about it if we want to?

[2019-03-07 17:53] keflavich commented on #1351
I can't say whether that's the right approach, having no experience with this, but I suggest that you try to get something working and submit it as a PR, then ask more detailed questions.

[2019-03-07 17:58] kakirastern opened #1378 "Interested in contributing as either a GSoC 2019 project idea or volunteer work"
Hi, I am interested in contributing to Astropy's astroquery as either a GSoC 2019 project idea, or as regular volunteer work. I have been looking at the project descriptions at [https://openastronomy.org/gsoc/gsoc2019/#/projects?project=add_additional_archives_to_astroquery](https://openastronomy.org/gsoc/gsoc2019/#/projects?project=add_additional_archives_to_astroquery), and found the task of add

[2019-03-07 18:03] bsipocz commented on #1378
Hey,

I'm going to close this issue here, and let's take the discussion to slack instead. As a brief summary: the workflow is the same as for astropy. This GSoC project is kept very generic as this is actually a project that allows the most flexibility on the student side, there are way too much work to be done here, so can pick and choose what interest you most.

[2019-03-07 18:03] #1378 closed

[2019-03-07 18:06] kakirastern commented on #1378
Sure @bsipocz

[2019-03-07 18:13] bmorris3 commented on #1351
@sashank27 The correct approach would be to add a keyword argument to the `get_confirmed_planets_table` method, perhaps called `index_by_star=False`, which will indicate the star should be index as @sealauren requests. Then [these lines](https://github.com/astropy/astroquery/blob/master/astroquery/nasa_exoplanet_archive/nasa_exoplanet_archive.py#L81-L87) would be tweaked in the case that `index_by

[2019-03-07 19:22] bsipocz commented on #1351
Long term this module need to be refactored to both use the common astropy API, and also to query the archive using their API rather than hacking with the downloaded full table.

This current solution is more a quick way around than an extendable solution.

[2019-03-07 20:09] kakirastern commented on #444
Hi, I am interested in using this Issue as prep for GSoC 2019... Okay for me to open a PR?

[2019-03-08 14:59] Phantsure commented on #281
i think few of the above mentioned have been completed already, if this issue should be updated then should be marked tick.(didn't check all but to point a few fermi/tests/test_fermi.py, utils/common.py, etc )

[2019-03-08 22:08] bsipocz commented on #281
There are still plenty of `"TODO"` left, at least in these files:
[code]

[2019-03-08 22:11] bsipocz commented on #535
Publication came with 0.3.9, so I'm closing this issue.

[2019-03-08 22:11] #535 closed

[2019-03-10 20:07] Phantsure commented on #1101
does this not serve the problem? https://astroquery.readthedocs.io/en/latest/mast/mast.html#cutouts

[2019-03-11 18:25] keflavich commented on #1101
It looks like that only covers TESS cutouts, i.e., cutouts for one specific mission. We need cutout tools for other archives too.

[2019-03-11 22:55] bsipocz opened #1379 "restructure changelog"
As an attempt to avoid merge conflicts. As a side benefit I expect it would be easier for the users to see which modules have changes in a certain release.

I plan to get this done during co-working.

[2019-03-12 14:39] Phantsure commented on #1110
Should all print statements be changed or just the ones for logging(can't differentiate)?

[2019-03-12 15:14] keflavich commented on #1110
Most print statements should be `log.info`, but there may be a few one-off cases where a print statement is actually needed.  I don't know if there are any general criteria we can apply to differentiate these.

[2019-03-12 15:51] bsipocz commented on #1110
@Phantsure - one rule of thumb, all the prints after a check for the `verbose` kwarg can stay, and as @keflavich said some of the others are needed, too, so this requires a bit more work than blindly running  `sed`.

[2019-03-12 17:21] Phantsure commented on #1110
what exactly do you mean by "few one-off cases"? an example might help

[2019-03-12 17:43] Phantsure commented on #1110
did i get it, this time correctly?

[2019-03-14 08:45] fxpineau commented on #1376
I am discovering this thread (thanks to @tboch).
FYI, the bug was on the server side, due to CSV/ASCII input files containing only one or two data rows.
A user mentioned it on the CDS hotline (providing the returned VOTable containing the error stack trace) and I fixed it a week ago (on Match, 7).

[2019-03-14 09:33] vaishnav97 commented on #1281
@keflavich Which CI are you talking about here - Travis or CircleCI? I have heard of these two only. If you are talking about some other CI, then please tell me so that I can learn and start solving this issue.

[2019-03-14 14:54] keflavich commented on #1376
Thanks @fxpineau!  @bsipocz , could you confirm and then close this?

[2019-03-14 16:04] keflavich commented on #1281
Both

[2019-03-14 16:15] bsipocz commented on #1376
As I recall I run into it during class again on Monday, but will check it more carefully again.

[2019-03-15 16:58] keflavich opened #1381 "ALMA upstream: logging in no longer works"
Reported by a user and confirmed; logging in seems to be temporary or breaks somewhere.  I cannot retrieve data at the moment.

[2019-03-15 23:13] jorgehumberto commented on #1360
@keflavich

Yes, I agree. I only have a couple of suggestions that I believe might help:
a) setting up a way to verify that the connection does not timeout from time to time (more difficult to implement), e.g. every 15/30 min;
b) adding an option to the 'retrieve_data' function so it will only download the list of files and request number instead of the files. This would allow to download the data

[2019-03-16 16:29] kakirastern commented on #444
As per indirect discussion through @kelle, I will start work on this soon.

[2019-03-16 16:38] kakirastern commented on #1101
Can I work on this one as well?

[2019-03-16 19:38] waterfl0w opened #1382 "Help: mass of body from JPL Horizons"
I hope this is the right place to ask this question but it seems as if I am not able to query the mass of celestial body through the JPL Horizons module. I checked the documentation https://astroquery.readthedocs.io/en/latest/api/astroquery.jplhorizons.HorizonsClass.html#astroquery.jplhorizons.HorizonsClass but I cannot find an appropriate call.

Thank you for your time.

[2019-03-16 20:13] keflavich commented on #1381
Followup: I can't debug this at all; apparently the ALMA science archive is totally toast at the moment.  I can't log in via the web at all.  However, I was able to on Friday, so it's unclear to me what's going on.

[2019-03-16 21:00] bsipocz commented on #1101
Let's ask @ceb8 for updates, whether this is something they plan to implement at MAST or not.

[2019-03-17 09:22] Himanshu-Garg commented on #943
i am new to astropy,
so can you pls elaborate a little what we have to do here

[2019-03-17 22:13] bsipocz commented on #943
@Himanshu-Garg - if you go to the docs page, not all the methods are documented with an example: https://astroquery.readthedocs.io/en/latest/eso/eso.html (vs. https://astroquery.readthedocs.io/en/latest/api/astroquery.eso.EsoClass.html#astroquery.eso.EsoClass)

On the other hand we do have tests that could be used as a starting point for more examples in the docs.

Also, while we're at it this mod

[2019-03-18 03:02] mommermi commented on #1382
No, `jplhorizons` is not able to query masses - but `jplsbdb` is:

    from astroquery.jplsbdb import SBDB
    from astropy import constants as const
    ceres = SBDB.query('Ceres', phys=True)
    (ceres['phys_par']['GM']/const.G).to('kg')
    <Quantity 9.38382519e+20 kg>

However, please note that masses are only available for a tiny number of objects.

[2019-03-18 03:27] #1382 closed

[2019-03-18 03:48] bsipocz commented on #1376
I still get the same 400 Error when running the example above. (cache has been cleared, but it made no difference).

[2019-03-18 16:51] fxpineau commented on #1376
With @tboch, we just tested using the current version of astropy and astroquery. We first obtained an error due to the names 'ra' and 'dec' (are you using a patched version?). But renaming in e.g. 'ra1' and 'ra2', and submitting only two rows, we successfully obtain a result containing a single row.
In case of error, you obtain a VOTable containing a stack trace. It would be useful if you could pr

[2019-03-18 18:38] bsipocz commented on #1376
yes, renaming the column works, and in a few cases it also helped to change the catalog to `'vizier:II/328/allwise'`.
We'll patch the column name clashes eventually in #1375, I just haven't got back to it yet.

[2019-03-18 19:01] kakirastern commented on #1281
Hi @keflavich! Can I work on this issue?

[2019-03-18 19:04] bsipocz commented on #1281
Feel free to!

[2019-03-18 19:04] kakirastern commented on #1281
I would like to prepare for GSoC 2019 and this seems like something I should work on in order to learn about CI testing as applied to astroquery.

[2019-03-18 19:10] kakirastern commented on #444
PR #1383 opened to address this Issue.

[2019-03-18 19:12] kakirastern commented on #1233
Hi @bsipocz, is it okay for me to work on this issue in preparation for GSoC? Or should I pick something more difficult at this stage?

[2019-03-18 19:28] kakirastern commented on #395
Hi, I would like to tackle this Issue in preparation for GSoC. Can I start work on it to get used to the workflow for astroquery? I understand that this Issue was opened more than four years go... so many things may have changed since then.

[2019-03-18 19:29] kakirastern commented on #1281
@bsipocz Yup, cool! I will start work on it and open a PR to follow up soon.

[2019-03-18 19:30] keflavich commented on #395
This would be a great tool for astroquery, but I suspect it may be part of ESA's planned contribution.  I would avoid working on this one for now.  You might have a look at finishing up the related HiGal archive PR:
https://github.com/astropy/astroquery/pull/1324

[2019-03-18 19:44] kakirastern commented on #395
@keflavich Okay then, I should pick another issue to work on as you have suggested. Will check out #1324 soon.

[2019-03-18 20:29] bsipocz commented on #1233
No, this is perfectly fine and actually very useful to have!

[2019-03-18 20:33] kakirastern commented on #1233
Yup, that's awesome. Will start with this then for me to get familiar with the astroquery codebase...

[2019-03-18 21:06] bsipocz commented on #1233
Getting familiarity with `BaseQuery` will go a long way as the preferred GSoC project will most probably involve improving it.

[2019-03-18 21:08] kakirastern commented on #1233
Yeah, it is true...

[2019-03-18 22:43] keflavich commented on #1381
ALMA changed their login URL from `asa.alma.cl` to `rh-cas.alma.cl`, which broke everything.  It was still possible to log in to `asa.alma.cl`, but it stopped doing anything.  This is now solved in #1369.

[2019-03-18 22:53] bsipocz commented on #1381
🤦‍♀️

[2019-03-19 01:50] bsipocz commented on #1267
Checking this now, it works for me, too. If it's still an issue for you @Stargrazer82301, then could you please try again after clearing the cache (``rm -r ~/.astropy/cache/astroquery/``)?

[2019-03-19 01:54] bsipocz commented on #572
`Eta Carinae` is now covered by SDSS, so I assume this is the way of the server saying there is no image to return. So we need a better handling of no return data.

Trying the same example with a valid coordinate it works again. (try e.g. `'M51'`).

[2019-03-19 02:46] qbexpert opened #1386 "Suggestion For Creating a quickbooks users data base"
hi m new to git hub starting a website to get the [quickbooks ](https://www.howtofixquickbookserror.com/)users data base looking for support through this project please do help me to increase the user numbers on my website

[2019-03-19 03:07] bsipocz commented on #1386
@qbexpert - please keep the astroquery issue tracker for astroquery related issue only.

[2019-03-19 03:07] #1386 closed

[2019-03-19 05:54] Himanshu-Garg commented on #1239
Anyone on this?

[2019-03-19 06:06] bsipocz commented on #1239
no one, please go ahead!

[2019-03-19 06:08] Himanshu-Garg commented on #1239
Can you pls mention the doc where i have to insert the new info

I cannot find it in docs folder

[2019-03-19 11:17] Himanshu-Garg opened #1387 "JPL SBDB doc related query"
the doc related to SBDB [available here](https://astroquery.readthedocs.io/en/latest/jplsbdb/jplsbdb.html) -

while writing the following commands-

- from astroquery.jplsbdb import [SBDB]
- sbdb = SBDB.query('3552')
- print(sbdb)

it gives a long list like -
![Screenshot (158)](https://user-images.githubusercontent.com/43913398/54601776-f0959d00-4a65-11e9-8bab-5c4e673dee57.png)

here in elements

[2019-03-19 11:18] Himanshu-Garg commented on #1387
I am interested in updating the doc related to this, if you agrees...

[2019-03-19 12:22] Himanshu-Garg commented on #1239
here cache folder is not showing in the cloned repo because the repo cloned is of older version but the following page is available in newer version-
http://docs.astropy.org/en/stable/api/astropy.config.get_cache_dir.html#astropy.config.get_cache_dir

so, how to make changes in this page?

[2019-03-19 14:22] keflavich commented on #1387
Sounds like a good idea, go ahead and work on that change.

[2019-03-19 14:23] Himanshu-Garg commented on #1387
Sure...

[2019-03-19 14:45] vaishnav97 commented on #752
Is this open?

[2019-03-19 17:04] ceb8 commented on #1101
One of our next quarter priorities at MAST is to map out updating/expanding our cutout services, which will include putting them into Astroquery.

[2019-03-19 18:28] Stargrazer82301 commented on #1267
I am now getting good output again (didn't even need to clear the cache) - thanks for help!

[2019-03-19 18:34] #1267 closed

[2019-03-19 18:35] bsipocz commented on #1267
Glad to hear.

Feel free to open a new issue if you run into problems again.

[2019-03-20 22:48] kakirastern commented on #1101
Thanks for the reply @ceb8! I appreciate it.

[2019-03-20 22:50] kakirastern commented on #1057
I would like to use this for my GSoC project idea...

[2019-03-20 22:52] bsipocz commented on #1057
@kakirastern - let's have that telecon first.

[2019-03-20 22:54] kakirastern commented on #1057
Okay, sure @bsipocz

[2019-03-21 17:25] alipnick commented on #1320
@keflavich thanks for the solution!

[2019-03-21 17:25] #1320 closed

[2019-03-22 16:47] hectorcanovas opened #1392 "Python 3.7 / SkyView: error: db type is dbm.gnu, but the module is not available"
on Python 3.7 (OSX):
[code]
Gives me the following error, no matter if cache = False or cache = True.
** Any help/advice with this would be greatly appreciated!:

[code]

[2019-03-22 18:42] bsipocz commented on #1392
Should you please let us know your astropy and astroquery versions?
[code]

[2019-03-23 11:20] Phantsure commented on #727
I would like to work on this, but I couldn't find coordinates for which there is data available on SMA. If anyone could guide.

[2019-03-24 17:41] keflavich commented on #727
The link provided at the top of this Issue is all the information we have.  Anything else we want to do we have to reverse engineer from that site.

[2019-03-24 23:11] kakirastern commented on #1281
Just wanted to check: I suppose I will need to change both [https://github.com/astropy/astroquery/blob/master/.travis.yml](https://github.com/astropy/astroquery/blob/master/.travis.yml) and [https://github.com/astropy/astroquery/blob/master/appveyor.yml](https://github.com/astropy/astroquery/blob/master/appveyor.yml)?

[2019-03-24 23:42] kakirastern commented on #1281
I noticed the headers for the user-agent are set in [https://github.com/astropy/astroquery/blob/master/astroquery/query.py#L148](https://github.com/astropy/astroquery/blob/master/astroquery/query.py#L148) and [https://github.com/astropy/astroquery/blob/master/astroquery/utils/commons.py#L81](https://github.com/astropy/astroquery/blob/master/astroquery/utils/commons.py#L81)...

[2019-03-25 10:06] hectorcanovas commented on #1392
3.1.2

0.3.10.dev0

[2019-03-25 17:24] Phantsure commented on #727
There is a RAW file related to every observation and that is quite large(in GBs) so there should be an option to download the file from object, right?

[2019-03-26 03:24] keflavich commented on #1219
Closing this: solved with the latest astropy instructions.

[2019-03-26 03:24] #1219 closed

[2019-03-26 03:26] keflavich commented on #1182
TODO:

 * [ ] re-run `get_votable_fields` and push the update

[2019-03-26 03:29] keflavich commented on #1107
Closed by #1108

[2019-03-26 03:29] #1107 closed

[2019-03-26 03:33] keflavich commented on #722
I'm going to close this as it was likely tied to specific versions of each of these packages that may no longer exist.  Please open a new issue if this recurs.

[2019-03-26 03:33] #722 closed

[2019-03-26 03:37] keflavich commented on #213
Closing because it's too late to make this change now.

[2019-03-26 03:37] #213 closed

[2019-03-26 03:38] keflavich commented on #109
We have been dealing with disappearing services on a case-by-case basis for 6 years.  I think it's time to give up on the idea of a central repository for server URLs and just continue maintenance here.

[2019-03-26 03:38] #109 closed

[2019-03-28 12:47] alipnick opened #1395 "ALMA: Logging in works but stage_data() still requests login"
Logging in to the ALMA archive in the normal way works like usual and shows that I have authenticated. However, when I go to stage the data, I receive an error message saying that I must login. Running the alma.login() command again shows that I have been successful so it's not clear where the issue is coming from.

[code]

[2019-03-28 13:31] alipnick commented on #1395
My apologies, this appears to be a symptom of Issue #1381. I updated `_login` in `alma/core.py` to use `rh-cas.alma.cl` instead of `asa.alma.cl` and it fixed the issue.

[2019-03-28 13:31] #1395 closed

[2019-03-28 13:40] keflavich commented on #1381
Closed by #1369

[2019-03-28 13:40] #1381 closed

[2019-03-28 13:41] keflavich commented on #1395
@alipnick #1369 fixed this, so if you install the most recent astroquery, it should work again.

[2019-03-29 01:10] kakirastern commented on #1281
PR #1394 opened to deal with this issue. Ready for a review...

[2019-03-29 01:23] kakirastern commented on #759
Hi, is it okay for me to work on this issue related to astropy/astropy#5368?

[2019-03-29 01:29] kakirastern commented on #322
Hi, is it okay for me to begin work on this issue?

[2019-03-29 01:38] kakirastern commented on #1392
I think I actually encountered the same problem a while back. I heard one solution is to switch to using `sqlite`... Out of curiosity, has a similar solution already been implemented with `astroquery`?

[2019-03-29 01:41] kakirastern opened #1396 "Enabling FTP downloads in a tidier manner"
The issue has been raised somewhere else, though no issue had been opened to address it.

[2019-03-29 04:51] kakirastern commented on #322
Will start looking into how to implement this new service soon... and to follow up with a PR

[2019-03-29 09:15] kakirastern commented on #943
Hi @Himanshu-Garg, are you working on the issue? I am planning on doing some work on #322 and this issue might be related to that one. It would be great if I could have a go of this one too in preparation the new ESO service, that is if you haven't started on a PR yet... I know the work could get "ugly" (in @bsipocz's word), but I don't mind doing that.

[2019-03-29 09:17] kakirastern commented on #322
Will need some time to check out what kind of architecture to be used for the module code base though... in case something else is considering the issue as well.

[2019-03-29 11:17] Himanshu-Garg commented on #943
Sure, you can do it...

[2019-03-29 12:14] kakirastern commented on #943
@Himanshu-Garg Thanks for letting me know!

[2019-03-29 12:46] saimn commented on #1360
The timeout issue should be fixed by #1315. @jorgehumberto , did you try with the master branch or only with the latest release?

[2019-03-29 17:51] Phantsure opened #1397 "Add images option to Alfalfa tests"
Add images option in reference to `TODO` in a comment on https://github.com/astropy/astroquery/blob/master/astroquery/alfalfa/tests/test_alfalfa.py#L42

[2019-03-29 17:55] Phantsure commented on #281
#1397 added for  `astroquery/alfalfa/tests/test_alfalfa.py 35(42)`
This way right?

[2019-03-29 19:17] kakirastern commented on #759
@keflavich So would it be a good idea to enable both a cache limit by default, as well as to allow customization by the user through configuration?

[2019-03-29 19:23] keflavich commented on #759
Yes

On Fri, Mar 29, 2019, 13:17 Kris Stern <notifications@github.com> wrote:

[2019-03-29 19:32] kakirastern commented on #759
Thanks, will start work on this soon...

[2019-03-30 00:49] kakirastern commented on #1233
Note to self: Starting point is here where the `BaseQuery` class is defined at [https://github.com/astropy/astroquery/blob/master/astroquery/query.py#L142](https://github.com/astropy/astroquery/blob/master/astroquery/query.py#L142)

Aim to incorporate initially the optional kwargs `cache` and `timeout` to all modules.

[2019-03-30 00:57] kakirastern commented on #1233
**1st Batch**

**_Strategy_**: Will commit only one module first in order for reviewer to check the work, then extend to other modules in alphabetical order where possible. Starting with the subset of modules which follow a common API, as listed below:

- [ ] alma/alma
- [ ] atomic/atomic
- [ ] besancon/besancon
- [ ] cds/cds
- [ ] esasky/esasky
- [ ] eso/eso
- [ ] gaia/gaia
- [ ] gama/gama
- [ ]

[2019-03-30 18:48] bsipocz commented on #1233
@kakirastern - I would suggest to keep the note to self comments in issues and PRs to minimum. You can add them to a personal project board, wiki page, google docs, or any other means to track your work.
I know it's difficult to find the balance, but given that there are plenty people watching the different repositories as it's quite distractive to receive notifications for these entries.

[2019-03-30 19:02] kakirastern commented on #1233
@bsipocz Sure, I will try to keep to note to self comments to a minimum.

[2019-03-31 12:18] kakirastern commented on #1357
Will add this when I add some additional keywords to the ESO module as outlined in #1233...

[2019-04-02 14:26] ashleythomasbarnes opened #1398 "Footprint keyword not returned by query_region"
[code]

I am trying to query to database for a region, and use this result in make_finder_chart_from_image_and_catalog. However, I get the follow error regarding a missing key in the query table. Does the archive still return Footprints? Or am I just missing something in my query command?

[code]

for the code:

[code]

[2019-04-02 14:48] keflavich commented on #1398
The archive might have changed behavior.... I'll check later today.

[2019-04-02 17:04] keflavich commented on #1398
Use the keyword `get_html_version=True` to get the footprints again

[2019-04-02 17:46] bsipocz commented on #1398
@ashleythomasbarnes - could you please double check that this is still an issue with the latest version? There have been some ALMA related fixes recently.

You can get the latest as a prerelease: `pip install --pre --upgrade astroquery`

[2019-04-03 02:37] bsipocz commented on #804
@keflavich - you are the most familiar with functionalities in both. Are we any closer to ditch pyregions in favour of regions? E.g. now it started to trigger numpy deprecation warnings and frankly I would rather ditch it if we can than keep it on life support any longer.

[2019-04-03 02:46] bsipocz commented on #1349
I'm closing this. NIST is passing all tests for me.

@fmadec - feel free to reopen if it's still failing for you even after clearing the cache.

[2019-04-03 02:46] #1349 closed

[2019-04-03 03:09] bsipocz opened #1401 "OAC csv parsing error"
The cause of this issue is the HTML tag in the `alias` filed, that doesn't parse properly when using the csv data format.

Suggested workaround: remote data_format kwarg as it shouldn't matter for the end user what server output format we parse internally.

Cross-reference: https://github.com/astrocatalogs/OACAPI/issues/11

==============

There are a few new(ish) test failures with OAC: https://t

[2019-04-03 03:14] bsipocz commented on #1401
cc @guillochon

[2019-04-03 08:36] ashleythomasbarnes commented on #1398
Ammending :

`query = Alma.query_region(lb, radius=radius, public=False, science=False, cache=False, get_html_version=True)`

and updating:

[code]

solved the issue - @keflavich @bsipocz thanks for the feedback.

[2019-04-03 11:08] jorgehumberto commented on #1360
HI @saimn

I was using the latest release available on anaconda.

Cheers
Jorge

[2019-04-03 15:44] blakut opened #1403 "Downloading raw data"
Hi all,
Is there a way to download raw alma data alongside the products? If i use the download_and_extract_files method with  include_asdm = True and delete = False, there is no raw data being downloaded.
Cheers,
Toma

[2019-04-03 15:47] keflavich commented on #1403
The raw data are downloaded by default with _some_ packaging that ALMA does, but not all.    `download_and_extract_files` uses a regex to find files to keep (default FITS) and deletes the rest, though, so you do not want to use that tool to get raw data.  Instead, use `Alma.download_files` directly.

[2019-04-03 15:49] keflavich commented on #1403
See https://astroquery.readthedocs.io/en/latest/alma/alma.html#downloading-data - it describes how to download the raw data.

[2019-04-03 16:09] blakut commented on #1403
I am using download_files, but it doesn't download the raw data, only the
tar files which contain the products. So far 3 projects have been
downloaded, i will see if anything changes with the rest.

On Wed, Apr 3, 2019 at 5:49 PM Adam Ginsburg <notifications@github.com>
wrote:

--
Toma Bădescu

[2019-04-03 16:10] keflavich commented on #1403
Look at the list of files you get when you run `stage_data`.  If the raw files aren't in that list, they won't download, and if that's the case, the problem is probably on the archive end.

[2019-04-03 16:11] blakut commented on #1403
Ok, will do. Thanks for the help.

On Wed, Apr 3, 2019 at 6:10 PM Adam Ginsburg <notifications@github.com>
wrote:

--
Toma Bădescu

[2019-04-03 17:51] #1398 closed

[2019-04-03 18:16] bsipocz commented on #1360
Please try update then with `pip install --pre --upgrade astroquery`. For astroquery not all releases end up on conda-forge, at the moment better us the latest directly from PyPI.

[2019-04-03 20:52] kakirastern commented on #1233
Hi, just wanted to double-check that I will need to have added the list of keywords for  `_request` in the BaseQuery class as `self, method, url, params, data, headers, files, save, savedir, timeout, cache, stream, auth, continuation, verify`, and I better use the default values as listed in the code snippet:
[code]
and similar for `_download_file` as in
[code]
And, these are to be applied consist

[2019-04-04 08:54] blakut commented on #1403
So aparently after downloading all the product files in a link list, the
downloader goes back and starts getting the raw data.

On Wed, Apr 3, 2019 at 6:11 PM Toma Badescu <blakut@gmail.com> wrote:

--
Toma Bădescu

[2019-04-04 10:34] azariven opened #1404 "astroquery.gaia not working in python 2.7"
For some reason I'm constraint to using python 2.7 on a server I have no root access.

Here's the error message when I try to use the gaia module, does any one know what to do?
[code]

[2019-04-04 16:20] bsipocz commented on #1404
@azariven - what version of astroquery are you using? Latest one can be installed with
`pip install --pre --upgrade astroquery`

[2019-04-04 16:29] bsipocz opened #1405 "NIST: return only selected columns"
Currently the columns are hard wired and it's not possible either to ask for extra ones to be included or ignore some of them. Would be a nice addition to add a 'column' kwarg with the default of "all".

https://github.com/astropy/astroquery/pull/1393#issuecomment-479792987

[2019-04-05 03:31] eteq commented on #1374
@keflavich - definitely there's inconsistency. Right now MAST mainly works in that if you want the actual data (rather than metadata) you have to use `Observations.download_files`, which downloads a whole bunch of files (potentially) in a highly tiered directory.  That's often desirable for real MAST use cases, but I'm thinking it should *also* be possible to just get one file handle, because that

[2019-04-05 08:08] wheeyeon opened #1407 "Error with Splatalogue.query_lines() for specific molecules"
Hello,
I am trying to use Splatalogue.query_lines() to get line intensity data for a certain frequency range. When running the following code, I run into an error as shown below. It seems that the error only happens when the query involves '2,4-Pentadiynylidyne'. I wonder if there is a way to fix this as I would like to eventually write a code to calculate the spectrum for an arbitrary frequency r

[2019-04-05 11:47] dagnic opened #1408 "Simbad ConnectionError"
Hello,

I'm trying to query Simbad to get many sources ids. Sometimes, it fails with:

`ConnectionError: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))`

That's the case for example with `Simbad.query_objectids('1es0347-121')`.

It seems that it is time dependant. I waited a moment then retry and the error occur on another source.

Do you have any idea ?

Thanks!

[2019-04-05 12:32] dagnic commented on #1408
Maybe that deals with following assertion in the SimbadClass documentation:

I will try with `time.sleep()` between each query.

[2019-04-05 14:10] ceb8 commented on #1374
@eteq Waaaaaaaay back when we were first designing the mast package we discussed this, because the Astroquery API specs call for a get_images function. At the time we decided against implementing it because the way the specs call for the function is by coordinate, and for MAST that could be getting a HUGE number of products back not all of which are guaranteed to be images or fits files.

I think

[2019-04-05 15:15] dagnic commented on #1408
Ok, it seems to solve 104 error, but know it fails with

`ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',))`

I may use try except to retry on ConnectionError ?

[2019-04-05 16:00] keflavich commented on #1407
Right, this is almost certainly because of the comma in the molecule name.  This is likely a real bug.  We probably need to add a hack that replaces commas in the molecule name with, say, underscores.  You can look at the raw return by looking at the result from `query_lines_async` and see if you can figure out how to parse the result.

[2019-04-05 16:15] azariven commented on #1404
I'm using the latest version of astroquery-0.3.10.dev0

[2019-04-05 19:17] bsipocz commented on #1407
Oh, I even wonder whether the ascii reader should be more clever and recognize that the it should ignore the comma inside quotation marks. If it should, then it's an upstream astropy issue.
@taldcroft - what do you think?

[2019-04-05 19:29] kakirastern commented on #1357
@keflavich Are these log messages from Requests?

[2019-04-05 20:52] bsipocz commented on #1408
There is still work to be done on vectorizing the modules, however e.g. `Simbad.query_region` already understands vector coordinates while as far as I know `query_objectids` not yet.

A workaround would be indeed adding some more time between the queries. And a welcomed enhancement for astroquery would be to vectorize `query_objectids`. I don't think try/except `ConnectionError` would solve anythi

[2019-04-05 20:55] bsipocz commented on #1408
(Example how it was done for query_region: https://github.com/astropy/astroquery/pull/833)

[2019-04-05 21:33] dagnic commented on #1408
Yes, I thought to work with vector but I need to do source by source since the names have do be tested and adapted (eg: 'scox1' is not recognised by the resolver, so I changed to 'sco x-1' which is understandable by Simbad).

I added 5 seconds between each queries (that solves  `ConnectionResetError`) but not `RemoteDisconnected`. So I try and retry one time at exception and that works. But retry

[2019-04-05 21:39] bsipocz opened #1410 "Add Giles for the docs build"
I suppose we need to bite the bullet and move the docs build to circleCI to get the nice Giles link to the artifact...

[2019-04-05 21:41] keflavich commented on #1357
I don't think so.  `requests` doesn't generate any output that I'm aware of

[2019-04-05 21:51] bsipocz commented on #1357
Actually those "Downloading URL..." lines are coming from the progress bar in `query.py`, so a way to easier silence it (and/or docs how to do it) is what we need.

Otherwise it's worth the time either to invest in setting up an IDE, or build up command line tools that help in searching in the codebase rather than guessing where certain lines are coming from.

[2019-04-05 22:06] aoberto commented on #1408
Hello

The limitation is above 6 queries in one second, so your sleep of 5 second is quite enough. If you give me your IP address I can investigate in Simbad logs to check what happens.

⁣Anaïs​

Le 5 avr. 2019 à 23:33, à 23:33, dagnic <notifications@github.com> a écrit:

[2019-04-06 01:58] kakirastern commented on #1357
Yeah, now I can find it too without the underscores as indicated in the astropy email list, at [https://github.com/astropy/astroquery/blob/master/astroquery/query.py#L349](https://github.com/astropy/astroquery/blob/master/astroquery/query.py#L349)... BTW, I wanted to do some cross referencing and couldn't find the PR dealing with this and related verbosity issues as mentioned on the Slack channel.

[2019-04-06 10:01] dagnic commented on #1408
Thanks,

I had a many requests within an imported function, in which I forget to add sleep. Now it works perfectly !

[2019-04-06 10:14] dagnic opened #1411 "Simbad main identifier"
Hello,

This a proposition of improvement.

I think it would be useful that `Simbad.query_objectids()` return as the first element of the Table, the main identifier (the one given by  `Simbad.query_object()`).

[2019-04-06 13:07] pllim opened #1412 "SDSS get_spectra returns 404 on Windows"
No one else seems to run into this error but me. Everyone else was using a Mac, but I was using Windows 10. I am using a pre-release version (0.3.10.dev5280). I ran this inside a Jupyter notebook on Chrome. The session was started from inside my `conda` environment on Git Bash shell on Windows.

[code]

[code]

[2019-04-08 01:09] wheeyeon commented on #1407
It seems like the problem is the colon in certain values for "Resolved QNs". Checking from the splatalogue site shows that "Resolved QNs" for 2,4-Pentadiynylidyne is "J-1/2: 2 - 1, Ω = 1/2, f". It seems that this was split into 'J-1/2' and '2-1,&Omega;=1/2,f'. Querying for 2,4-Pentadiynylidyne at frequencies where there isn't a colon works without error. Searching for other molecules with a comma

[2019-04-09 01:13] bsipocz opened #1413 "Simbad.query_objectids get_query_payload returns the response rather than payload"
The payload in this case is super simple so it's questionable how useful to have this kwarg, nevertheless it should do what it says in the docs (and what is consistent with the other modules).

It's basically a one liner fix in `query_objectids_async` as it doesn't deal with the kwarg.

[2019-04-09 01:24] bsipocz commented on #1411
@dagnic - I'm afraid we can't do much about it here, the IDs are returned from the server unordered and we just parse that response, in the order they provide it, into a Table.
As you said the main ID is kind of already available when doing `query_object, so I would suggest you use that method to get it.

[2019-04-09 01:27] bsipocz commented on #1408
Thank you @aoberto for the assistance.

As this has been solved/worked around, I'm closing this issue. The TODO item from our side it to vectorize more of the query methods for simbad, but issue https://github.com/astropy/astroquery/issues/682 already covers that.

[2019-04-09 01:27] #1408 closed

[2019-04-10 16:16] drtobybrown opened #1414 "The Herschel Database in Marseille (HEDAM)"
The Herschel Database in Marseille hosts the public data from the Herschel Reference Survey (HRS). There's good photometry/spectroscopy, reduced maps, plus ancillary data https://hedam.lam.fr/HRS/

[2019-04-16 08:59] abostroem opened #1417 "NIST query returns JavaScript mixed into table"
I'm running astroquery version 0.3.9

The first example in the NIST documentation returns JavaScript in some of the columns:
[code]
Returns:

   Observed        Ritz      Rel.     Aki        fik     Acc.        Ei           Ek              Lower level           Upper level      Type    TP        Line
------------- ------------- ------ ---------- ---------- ---- ------------------------------ -----

[2019-04-16 09:05] bsipocz commented on #1417
This has been fixed in #1359, please try the latest release from PyPI with
`pip install --upgrade --pre astroquery`.

[2019-04-16 23:05] kakirastern commented on #1413
PR #1416 opened to address this issue.

[2019-04-16 23:17] kakirastern commented on #1357
Copying from original emails for reference by contributors...

Inquiry from user:

Response from repo maintainer:

-- Dated circa February 13, 2019
(Edited for clarity and brevity.)

[2019-04-17 20:22] cbanek commented on #1160
Hi!  I just want to chime in and say I've been seeing the same behavior against the TAP service that I use.  Sync works fine, but async does not.  It seems to be about the same PHASE issue as mentioned above.  What is the current way to have this work, or what is the timeline to have this resolved?  I see there are a few pull requests in flight.

[2019-04-18 05:22] DBerke opened #1418 "Occasional raw HTML codes in NIST results break FixedWidth Table parsing"
Atomic transition searches from NIST occasionally contain footnotes which display information when hovered over. The addition of such symbols to the HTML code returned from a query can break the parsing of the results into a useable Astropy Table object.

Specifically, the results for vanadium I contain a lot of entries where either the upper or lower energy level is marked with a dagger symbol (†

[2019-04-18 05:25] bsipocz commented on #1418
@DBerke - what astroquery version do you use?

[2019-04-18 05:32] DBerke commented on #1418
Sorry, forgot to mention that:
astroquery: 0.3.10.dev5283
astropy: 3.1.2
Should be the latest, as I pulled from upstream/upgraded both just prior to writing this to see if the behaviour persisted.

[2019-04-18 06:52] DBerke commented on #1418
Ok, I've come up with a possible fix, but would like some advice:

The problem is that the dagger character, which takes up a single space's width in the formatted table, breaks the formatting in its raw HTML multi-character encoding form. The following code works to remove it, while leaving the fixed-width formatting of the table intact by replacing it with a space:
[code]
However, I'm now thinki

[2019-04-18 15:24] keflavich commented on #1418
I'm loosely in favor of a regex to replace the HTML characters with their unicode counterparts.  This sort of hack is needed for things like NIST tables which are pseudo-fixed-width but don't have any truly fixed standard, afaik.  Is there a library for converting HTML character codes to regex?

[2019-04-18 16:36] kakirastern commented on #1233
PR #1419 opened to address this issue.

[2019-04-18 21:40] teuben commented on #1395
ah, I ran into the same just now.   conda and pip didn't work (not updated yet), so installing from source was the way I got mine to work.

[2019-04-18 21:41] bsipocz commented on #1395
`pip install --upgrade --pre astroquery` picks up the latest auto deployed release.

[2019-04-22 16:26] jmilou opened #1420 "astroquery.eso new instruments APICAM and MASCOT"
I need to access via a programmatic interface such as that provided by astroquery.eso to the achival images of the Paranal all-sky cameras APICAM and MASCOT.

These 2 cameras can be queried as any other science instruments from the ESO archive http://archive.eso.org/eso/eso_archive_main.html however they do not appear as available instruments from the astroquery.eso API.

Could it be added to the

[2019-04-22 18:25] bsipocz commented on #1420
The current way we query the archive is via the individual instrument query forms (supported instruments are listed here: http://archive.eso.org/cms/eso-data/instrument-specific-query-forms.html). The all-sky cameras don't seem to be supported by this backend.

Contributions are welcome to add workaround to provide access to those observations, but I expect this to be non trivial amount of work to

[2019-04-24 02:14] DBerke commented on #1418
That's an excellent point. I checked, and there's the `html` module in the standard Python library with the `unescape` function that converts named and numeric character references in a given string to the corresponding Unicode characters. I added `table = html.unescape(table)` to the parsing in place of what I had and it seems to work (in that it converted the known cases of `&dagger;` to &dagger

[2019-04-24 03:25] migueldvb opened #1422 "nasa_ads: Add support for the export service"
The Jupyter notebook below includes some examples of how the ADS export service can be used to output the search results in different formats:

  https://github.com/adsabs/adsabs-dev-api/blob/master/Export_API.ipynb

[2019-04-24 07:37] odysseus9672 opened #1423 "IRSA_ibe `list_mission` method not working due to an HTML parsing error of some kind."
I'm trying to use the `ibe` module of astroquery. As a first step, I wanted to go through the `list_missions`, `list_datasets`, and `list_tables` methods to get an idea for what has been implemented. When I call the `list_missions` method, though, I get nonsense.
[code]

I've manually constructed the URL and checked in my browser and using astroquery's `BaseQuery._request` and can confirm that my

[2019-04-24 07:44] odysseus9672 commented on #1423
Upon further experimentation, the problem appears to be the use of `os.path.basename`. Because the `href` `attrs` ends with a `/` it is returning an empty string.  In my test code modifying line 279 to read
[code]
produces non-trivial results.

[2019-04-24 12:51] teuben commented on #1319
I confirm the same error, for me this happens *always* on a 2nd staging for private data. It doesn't happen with public data, viz.

        data = alma.query(payload={'project_code':pid},public=False,science=True)
        uids = np.unique(data['Member ous id'])
        r1=re.compile('.*_of_.*tar$')
        for uid in uids:
              link_list = alma.stage_data(uid)                # <--- dies h

[2019-04-24 13:15] alipnick commented on #1319
In fact, another user reported this same error to the ALMA helpdesk a couple months ago. The work-around is to simply supply all the MOUS uids to alma.stage_data() so that you only run a single alma.stage_data() command. However, I don't see why it shouldn't work the way @teuben shows.

[2019-04-24 13:22] teuben commented on #1319
I had to do the one by one, because staging the whole list would not work for private data.
When I tried
              link_list = alma.stage_data(uids)
instead of one by one, it would sit there forever. I will try be more patient, and define what "forever" is.

[2019-04-24 15:28] keflavich commented on #1319
Have you tried staging MOUSes from multiple different (public) programs?  I don't think I've ever tested that case, and I'm not convinced it will necessarily work.

Note that you generally do need an independent `Session` for each `stage_data` call, i.e., you should do:
[code]
each time you call `stage_data`.  Failure to do this often results in error 504s, if I recall correctly.

[2019-04-24 15:32] keflavich commented on #1418
Yes, please submit a PR!  That sounds like a great solution.

[2019-04-24 15:38] teuben commented on #1319
The looping example I gave earlier works fine for public data, you can try to run my example
         https://github.com/teuben/study7/blob/master/test_alma2
without arguments and it will work.  It should download 6 smallish tar files. But the test_alma3 (you may need to edit some True/False and use your own PID/USR example) will only work one tar file at the time in my experience.

Of course I co

[2019-04-24 15:43] keflavich commented on #1319
Interesting.  I have definitely had problems trying to stage data from multiple different observations.

However... I believe if you give two MOUSes from the same observation, there's only one server-side operation: you get the whole observation whether you want it or not.  So if you're looping over multiple requests for the same parent observation, it might work because it doesn't have to do anyt

[2019-04-24 16:14] teuben commented on #1319
but my test_alma2 and test_alma3  are identical in their processing of the UID's, except for dealing with public (2) and non-public (3) data, yet #2 works and #3 fails on the 2nd UID.

Do you mean 'two MOUSes from the same observation' to be same as "two UID's from the same project code' ?

[2019-04-24 16:15] keflavich commented on #1319
yes

[2019-04-24 17:43] alipnick commented on #1319
I'd just like to add that I use astroquery every day and use the stage_data command with a list of MOUSs from anywhere between 1 - 40 different projects and have never had an issue.

[2019-04-24 20:07] jmilou commented on #1420
Thanks a lot for your reply. I asked the ESO archive if this was feasible and they actually explained me that this is already supported by astroquery (even though neither APICAM or MASCOT is part of the supported instruments).

Here is an example of code to download APICAM data for instance:

[code]

[2019-04-24 20:07] #1420 closed

[2019-04-24 21:03] keflavich commented on #1420
That's pretty neat.  Would you be willing to add this example to the documentation?  It's not obvious how to do this, as you noted.

[2019-04-24 21:07] jmilou commented on #1420
I can, if I get a bit of guidance on how to do that

[2019-04-24 21:13] keflavich commented on #1420
Edit the documentation under [`astroquery/docs/eso/eso.rst`](https://github.com/astropy/astroquery/blob/master/docs/eso/eso.rst) and submit a pull request.  See https://www.astropy.org/contribute.html for a lot more detail

[2019-04-25 02:00] jmilou commented on #1420
Perfect. I'll do that in the next days and submit the pull request

[2019-04-25 05:17] odysseus9672 opened #1427 "astroquery.ibe's IbeClass's list_datasets not working as intended"
After applying the fix in pull request #1426 I found that the remaining list methods don't work as intended. The origin of this error seems to be that the IRSA ibe service is images only, so that level is trivial and skipped, as you can confirm by browsing the [ibe schema](http://irsa.ipac.caltech.edu/ibe/search/) manually. I'm proposing a fix to this issue (and the rest of the list methods) in a

[2019-04-25 09:05] odysseus9672 opened #1429 "astroquery.ibe's query_region_async is non-functional"
The URL constructed for querying IRSA is incorrect. In the process of fixing this bug, I also modified the file to make clear that the simple image access (SIA) API at URSA is different enough that it really deserves a separate wrapper. The IRSA's different data fetching APIs are documented [here](https://irsa.ipac.caltech.edu/ibe/). The SIA API only grants access to a small subset of what's avail

[2019-04-25 14:55] keflavich commented on #1429
I've never understood well what purpose IBE served and why it wasn't just a subset of the IRSA module.  My preference is to incorporate all IRSA-based tasks into the IRSA module.

Thanks for your work on this already.  The last time I dug into IRSA's setup was several years ago, and I never figured it out.  IRSA offers a great deal more capability than astroquery currently supports, and it would b

[2019-04-25 14:56] keflavich commented on #1427
We can discuss the code in detail on that PR, but the astroquery API does not require these functions.  They should not be present unless they're useful.

[2019-04-26 02:11] DBerke commented on #1418
Okay, I submitted a PR: [https://github.com/astropy/astroquery/pull/1431](url)

[2019-04-26 02:17] odysseus9672 commented on #1427
The `list_missions` and `list_tables` functions are useful, `list_datasets` is not. Removed in current version of pull request #1430.

[2019-04-26 02:25] odysseus9672 commented on #1429
The reality is that IRSA has two main AIPs. The first is the catalog API to their Gator databases, and that's what's wrapped in the `irsa` module, as nearly as I can tell. The challenging part is that IRSA has two different image search APIs. The first is their SIA API. One big advantage of the SIA API is that it includes the download URL's for the image in the results. The disadvantage is that it

[2019-04-27 13:25] jmilou commented on #1420
Done: pull request #1432 [https://github.com/astropy/astroquery/pull/1432]

[2019-05-01 12:03] mar-ses opened #1434 "astroquery.gaia Some table columns contain 'bytes' objects, and cannot be used as selection. Also causing 'Job object has no attribute set_failed',"
Hello,

I've been having a problem where I try to find stars in the Gaia catalogue, knowing their 2MASS names, which are in RA-DEC format, i.e: 15341356-6000106. In `gaiadr2.tmass_best_neighbour`, these are under the column `original_ext_source_id`

So I try to crossreference between `gaiadr2.tmass_best_neighbour` and `gaiadr2.gaia_source`. However I'm getting an odd error. The following code is a

[2019-05-02 01:02] smoh commented on #1434
- The `AttributeError` indeed must be related to an internal bug unrelated.

- You must have gotten an `HTTPError` with error code 500 without any message. The problem with the modified query (where bytes were appropriately converted to a string) is that the string value you want to compare a column to needs to be inside single quotes as in `'abcde'`:
[code]
whereas the current query is
[code]

So

[2019-05-02 23:35] #1418 closed

[2019-05-02 23:50] DBerke commented on #1405
I could take a look at implementing this. Would it make more sense to retrieve only the specified columns, or to retrieve everything and drop the un-specified columns from the parsed table?

[2019-05-02 23:59] keflavich commented on #1405
I think you have to retrieve everything?  If not, minimizing the downloaded
data is optimal, but don't worry if you have to retrieve some data that
will be discarded.

On Thu, May 2, 2019, 17:50 Daniel Berke <notifications@github.com> wrote:

[2019-05-02 23:59] bsipocz commented on #1405
If it's easy to implement it would be nicer to only retrieve the specified ones, no need to generate unnecessary download traffic.

[2019-05-03 06:12] DBerke commented on #1405
Well, the `_args_to_payload` function in `NistClass` looks like it has a long sequence where things are added to the payload, e.g.:
[code]
It should be possible to make them optional based on the presence of a list of terms given to a 'columns' keyword, I'd just need to do a little investigating to figure out what controls which column (and thus which columns are actually optional in the first pla

[2019-05-05 18:41] mar-ses commented on #1434
Thank you for the help, I wasn't aware of this sorry. Happy to close this then.

[2019-05-05 18:41] #1434 closed

[2019-05-07 13:55] kakirastern opened #1436 "SSLCertVerificationError found in Learn Astropy tutorial that uses astroquery"
While executing the command `spectrum = SDSS.get_spectra(plate=1349, fiberID=216, mjd=52797)[0]` for a notebook in Learn Astropy, we encountered some errors with the following traceback:

[code]

Is it some bug in `astroquery`? Or is there something we can do in the Learn Astropy repo to fix the error?

[2019-05-07 14:12] kakirastern commented on #1436
And I double-checked and tried both the `get_spectra` and `get_images` (with `SDSS`) commands as outlined in [https://astroquery.readthedocs.io/en/latest/sdss/sdss.html#downloading-data](https://astroquery.readthedocs.io/en/latest/sdss/sdss.html#downloading-data), but a similar error is thrown.

[2019-05-07 15:41] keflavich commented on #1436
I can't reproduce this locally.  Where have you been running this command?  This is the sort of thing that might have to do with bad timestamps on the SSL certificate or something like that; those sorts of issues tend to be server-side and may resolve themselves.  Please try again on different machines and, if the issue recurs, let us know.

[2019-05-07 15:52] kakirastern commented on #1436
Hi @keflavich, yes I can confirm that this has been a server-side issue and it seems to have gone for the time being while I re-run the same code locally just moments ago. I hereby close the issue and will take a note of this transient SSL error for future reference.

[2019-05-07 15:52] #1436 closed

[2019-05-08 16:02] keflavich commented on #516
Closed by #1354

[2019-05-08 16:02] #516 closed

[2019-05-08 23:12] ebellm opened #1438 "Add support for Irsa query for ZTF lightcurves"
The existing `Irsa` module can query the [public ZTF catalog](https://www.ztf.caltech.edu/page/dr1):

[code]

However, the returned result is a short list of matching objects, and there is no way to retrieve the underlying photometry.  (This is in contrast to the behavior when issuing the same query with `catalog='ptf_lightcurves'`).

There is an [API](https://irsa.ipac.caltech.edu/docs/program_in

[2019-05-10 18:17] ellieb opened #1440 "cadc package: query_region radius argument does not work with `astropy.units.Quantity`"
Using the CADC package. Running `query_region` with radius argument as a float/int seems to work fine, however using astropy units for radius does not work.

So this works:
[code]

But running this
[code]
gives a Bad Request error:
[code]

[2019-05-10 18:25] keflavich commented on #1440
I believe this is a duplicate of https://github.com/astropy/astroquery/pull/1437, but it's helpful to have this as a separate issue.  cc @andamian

[2019-05-10 20:38] ellieb opened #1441 "cadc package: run_query in async mode does not work as expected"
Hello :wave: I am having problems with the `run_query` method in the `async` mode (https://astroquery.readthedocs.io/en/latest/cadc/cadc.html#asynchronous-query).  Using `'sync'` works as expected, but `run_query(query, 'async', ...)`  seems to always raise a 'Not Found' exception. However, when the `verbose=True` flag is passed in, a link to the job is printed, and the link gives all the informat

[2019-05-13 15:22] bsipocz commented on #1110
I reopen this as there are still prints left in the code that could be cleaned up in favour of logging.

[2019-05-13 19:31] MigoMueller opened #1442 "Feature request: JplHorizons should support packed asteroid number"
Many asteroid catalogs contain either packed numbers or designations (or both): https://www.minorplanetcenter.net/iau/info/PackedDes.html

jplhorizons does support packed asteroid designations (which is good), but not packed asteroid _numbers_ (which is bad).  Sample code to reproduce the problem:

`import astroquery`
`print(astroquery.version.version)`
`from astroquery.jplhorizons import Horizons

[2019-05-13 19:45] bsipocz commented on #1442
Thanks @MigoMueller for the issue. I've tuned down the tone a bit, but you're also of course welcome to open a pull request to fix these _shortcoming_.

[2019-05-13 21:12] MigoMueller commented on #1442
Thanks @bsipocz!
Here's a workaround that works for me.  Error handling would probably need to be improved for production code:
[code]

I'll try to include that in the code at the right place.  If I manage, I'll open a pull request.  In the meantime, I hope my workaround is useful for someone.

[2019-05-14 09:20] bsipocz commented on #1342
#1343 addressed this.

[2019-05-14 09:20] #1342 closed

[2019-05-14 09:25] bsipocz commented on #565
I'm closing this as multiple workarounds have been provided. Feel free to reopen and provide more clarification of what is needed instead of the workaround in the comment above.

[2019-05-14 09:25] #565 closed

[2019-05-14 09:37] bsipocz commented on #1174
@keflavich @willfurnell - Is there a decision on whether this is needed or not? If the latter, I would suggest to close the issue.

[2019-05-14 09:43] bsipocz opened #1443 "astropy.timeseries.TimeSeries should be returned when sensible"
The idea came up on our (UW) time domain meeting that it would be great to receive `astropy.timeseries.TimeSeries` from astroquery queries where the object is actually a timeseries.

E.g mast could support this alreay, and in the future it would be a good way to provide ZTF/LSST etc timeseries to users.

[2019-05-14 09:45] bsipocz commented on #1443
We should add labels for the affected modules, but atm I'm not 100% which could be do this right away.

cc @ceb8

[2019-05-14 14:32] #1413 closed

[2019-05-15 10:29] keflavich opened #1444 "Roles list in documentation?"
Do we want an astroquery team and role list analogous to https://www.astropy.org/team.html?

Plus:
 * We know who to ask for help

Minus:
 * Too much accountability

[2019-05-15 11:42] keflavich opened #1445 "CADC: get_images"
CADC can do image cutouts.  We'd like to have a `get_images` interface that can access the cutout services.

cc @andamian

[2019-05-15 11:43] keflavich commented on #1445
http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/en/doc/data/ documents how to do cutouts

[2019-05-15 14:22] eteq opened #1447 "have Gaia.query_*_async have a way to get the response URL"
Right now the only way in the `Gaia` module to get the results of an async query is to actually get the table.  For some use cases (e.g. debugging, votable details, etc), the URL is desirable.  So something like have the `Job` result have a `get_result_url()` method would do the job.  Then that could also be used internally in the various methods to make sure there's consistent results across the

[2019-05-16 09:34] keflavich commented on #1411
I'm closing this since we have a workaround and it is effectively only correctable via upstream changes.

[2019-05-16 09:34] #1411 closed

[2019-05-16 09:35] #1403 closed

[2019-05-16 09:40] keflavich commented on #1404
Can you add a minimum working example here?  I am not sure what query you ran to produce this error.

Also, I cannot reproduce the failure-on-import locally on my python 2.7 build.

Finally, we are dropping support for python 2 moving forward.

[2019-05-16 13:11] azariven commented on #1404
Hi Adam,

Thanks for the response! It's been a while so I can't reproduce the error as well. We found a work around back then and the problem is mitigated.

Zhuchang
________________________________
From: Adam Ginsburg [notifications@github.com]
Sent: Thursday, May 16, 2019 5:40 AM
To: astropy/astroquery
Cc: Zhuchang Zhan; Mention
Subject: Re: [astropy/astroquery] astroquery.gaia not working in py

[2019-05-16 14:02] #1404 closed

[2019-05-16 14:51] DaveStrickland opened #1450 "Add parameters to jplhorizons.vectors to specify units, form of aberration correction"
At present the vectors() function of astroquery.jplhorizons always returns GEOMETRIC cartesian states with distances in AU and rates in AU/day.

It would be useful to add parameters to the vectors() function to allow other units (km, km/day and km, km/s; Horizons codes KM-D and KM-S respectivly) and the two additional choices for aberration correction (astrometric states and apparent states, Horiz

[2019-05-19 12:30] bsipocz opened #1453 "Add machinery to control deployment with labels"
It would be nice to be able to control deployment by adding either `nodeploy` or a `deploy` label to PRs rather than trying to not forget to add the extra string to the merge message.

[2019-05-19 14:40] caseyjlaw commented on #1445
I'd love to see this for CADC data. I'm particularly interested in the VLASS radio data being managed as part of the CIRADA effort.
We currently use something similar for HEASARC in our project (https://github.com/realfastvla/rf_meta_query/blob/master/rf_meta_query/catalog_utils.py).

[2019-05-20 06:48] asoulain opened #1454 "Origin article Vizier catalog"
Hi Astroquery team,

Thanks for your work very useful.

Just a quick question: is it possible to get the informations concerning the origin article of a Vizier catalog? I use Vizier.get_catalog function, specifying an appropriate catalog (e.g. III/197), I want to get the good associated references (CDS link, publishing date, authors, etc...). Is it possible?

Best regards,
Anthony