[2019-05-20 14:28] ceb8 commented on #1443
I think this is a great idea! mast is not set up to do this right away (unless TimeSeries can handle target pixel file data, I didn't see anything about that in the docs, but I didn't look that hard), but it would be a nice thing to do in conjunction with the work suggested in this issue: https://github.com/astropy/astroquery/issues/1374

[2019-05-20 14:43] gilleslandais opened #1456 "VizieR beta release to test"
see http://cds.u-strasbg.fr/news.php?fn_mode=fullnews&fn_incl=0&fn_id=753

[2019-05-20 14:44] bsipocz opened #1457 "Contextual search in the generic vizier search box"
(e.g. say “-nebulae” etc)
Uses the “-source={keyword}” instead of “-kw={keyword}”

[2019-05-20 14:45] bsipocz commented on #1457
The `-kw` option is planned to be refactored, so it's generally better to use `-source`

[2019-05-20 15:02] bsipocz opened #1459 "Better way of working with mirrors"
Some services have several mirrors, yet we only use the first one by default rather than doing something cunning based on their geographical distance, etc.

e.g. astroquery.vizier

[2019-05-20 15:11] keflavich opened #1460 "Consider adding new Vizier votable-bin formats"
Vizier supports binary votables by specifying the "return type" as: `'votable/-b64'` or  `'votable/-b2_64'`, which are two different versions (b2 specifies which rows are blank).  If astropy can parse this, we should include it.

[2019-05-20 21:01] bsipocz commented on #1457
cc @cds-astro  (this is just a test to see whether any of you get a notifications, or whether it's even possible to tag an organization)

[2019-05-21 08:42] bsipocz commented on #1457
cc @cds-astro/cds

[2019-05-21 08:43] bsipocz commented on #1457
cc @cds-astro/cds

[2019-05-21 08:45] bmatthieu3 commented on #1457
cc @cds-astro/cds

[2019-05-21 12:01] bsipocz opened #1462 "Add method to query non circlular regions, e.g square or FOV region in Simbad"

[2019-05-21 12:14] bsipocz opened #1463 "Add more docs to XMatch"
At least 3 more examples need to be added

 - [ ] example when the input, uploaded catalog is an astropy Table
 - [ ] example to cross match two Vizier catalogs (this needs issue # being fixed)
 - [ ] showing examples how to circumvent or avoid the 2million row limit of the server. New feature requested in issue # is partly addressing this, but nevertheless an examples showing the usage should be

[2019-05-21 12:17] bsipocz opened #1464 "BUG: XMatch two Vizier catalogs then no col refs should be added"
When matching two catalogs from Vizier no reference columns should be specified, currently we're wrongly raise an exception:

[code]

[2019-05-21 12:44] bsipocz opened #1465 "Parse error VOTable in XMatch"
When there is an error in XMatch a VOTable is returned with description of the error. Parse this table and raise a more informative error than `response.reason` that comes out of `response.raise_for_status()` automatically.

xref: https://github.com/astropy/astroquery/issues/1376

[2019-05-21 12:48] bsipocz opened #1467 "Add method to access Vizier metadata"
Metadata of Vizier: it’s available as a json format table. It’s available through the readme. E.g. http://cdsarc.u-strasbg.fr/viz-bin/cat/V/127A everything in this page is basically the parsed version of the json http://cdsarc.u-strasbg.fr/viz-bin/ReadMe/V/127A?format=json&tex=true

[2019-05-21 12:56] bsipocz opened #1468 "Rework Simbad to use TAP"
Using TAP queries is more efficient for Simbad, and thus the internals of the module

[2019-05-21 16:01] bmatthieu3 opened #1470 "Generated API doc for query_region has a wrong description"
See https://astroquery.readthedocs.io/en/latest/api/astroquery.vizier.VizierClass.html#astroquery.vizier.VizierClass.query_region

The description of `query_region` (which is generated with its API doc) is identical to the description of `query_region_async`.

[2019-05-21 17:42] bsipocz commented on #1470
The difference between `query_region` and `query_region_async` is indeed whether they return a Table or the response object. And the docs is inherited from `query_region_async`. Could you please clarify what's wrong with it, you mean the first sentence (which probably shouldn't be inherited)?

[2019-05-21 17:48] keflavich commented on #1470
That's it exactly.  The docstring for `query_region` says it does something different from... `query_region`.  Oops!

[2019-05-22 07:16] bmatthieu3 commented on #1470
@bsipocz Yes the title of the doc is good but the first description sentence is the same as `query_region_async`

I also found the same issue for simbad: https://astroquery.readthedocs.io/en/latest/api/astroquery.simbad.SimbadClass.html#astroquery.simbad.SimbadClass.query_region.

[2019-05-22 07:42] bsipocz commented on #1470
oh. Then I suppose there will be many other affected modules due to the templating.

[2019-05-22 13:41] pllim opened #1471 "vo_conesearch: Handle results with variable length columns correctly for astropy 4.1"
This is a reminder to myself to follow-up if/when astropy/astropy#9505 is merged. There is a need to:

* Think about compatibility with both `astropy<4.1` and `astropy>=4.1`.
* Decode or stop decoding bytes string as appropriate, especially in the validator.

[2019-05-23 07:53] bmatthieu3 commented on #1454
Hi @asoulain

That is a good feature that could be added in the vizier module. This refers to #1467
If you need it in a short-term period there is another way to get the metadata of every catalogs/hips stored by the CDS services. This uses the *astroquery.cds* module

[code]
This will return an astropy table of 1 row storing the bibcode, the url and the title of III/197.
The data is from:

http://

[2019-05-23 20:25] alipnick commented on #1381
Just FYI, ALMA appears to have changed the URL back to `asa.alma.cl` from rh-cas with an update that was performed yesterday.

[2019-05-23 20:40] alipnick commented on #1395
Just FYI, ALMA issued an update yesterday to their CAS login service which changed the login URL *back* to `asa.alma.cl`.

[2019-05-23 21:20] keflavich commented on #1395
thank you - everything broke yesterday and it was sad =(

[2019-05-24 18:12] andamian opened #1474 "get_collections function in the cadc module"
This came from @keflavich review. I thought there was already an issue for it.

[2019-05-24 18:19] andamian commented on #1474
@keflavich do you think list of collection names is enough or it should return other details?

[2019-05-24 18:20] keflavich commented on #1474
something like a dictionary of {names: brief descriptions} is probably best

[2019-05-25 19:13] tlarbgjs01 opened #1475 "Gaia.launch_job doesn't work."
I'm querying DR2 data with launch_job.
After a minute, it shows error messages below.
I thought this was because of my computer's error.
So, I tried with another computer by installing python and astroquery from the beginning, but it failed too.
Even I tried example 1.4 of GAIA TAP+ astroquery document, it failed.
[gaia tap+ document](https://astroquery.readthedocs.io/en/latest/gaia/gaia.html)
Is

[2019-05-27 11:08] #1475 closed

[2019-05-27 16:05] keflavich commented on #1475
@tlarbgjs01 Did the problem resolve itself?

[2019-05-29 17:21] mommermi commented on #1450
@DaveStrickland: thanks for bringing this up! I will work on including an aberration option, but in the case of the units, I would prefer to go with the current solution, i.e., the user can use `astropy.units.Quantity` functionality to convert to any unit they want.

[2019-05-29 17:26] mommermi commented on #1279
@bsipocz @keflavich I think this issue can be closed.

[2019-05-29 17:28] #1279 closed

[2019-05-31 19:42] andamian opened #1480 "alma stage_data returns superset of the requested data"
For example:
`stage_data('A002_Xad2d3f_X7')` returns urls to all the data in project `2015.1.00007.S` and this includes, besides member OUD `A002_Xad2d3f_X7`, also member OUDs `A002_Xad2d3f_X9` and `A002_Xad2d3f_Xd`. IMO, filtering should be done in `stage_data` or the documentation should state that the returned set might be a superset of the requested one.

Thanks

[2019-05-31 20:04] bsipocz opened #1481 "Set up giles"
It would be super useful to be able to have a look at the rendered docs given the rate we receive major contributions.

[2019-05-31 20:10] keflavich commented on #1480
I've always wondered why the ALMA archive does this.  I'm in favor of adding optional filtering, default on, and adding docs about it.

[2019-06-03 00:17] #1178 closed

[2019-06-03 00:17] bsipocz commented on #1178
Has been addressed by #1185

[2019-06-03 04:37] #1387 closed

[2019-06-03 17:59] mommermi commented on #1450
Different aberration corrections have been implemented as part of #1478. This issue can be closed.

[2019-06-03 18:03] #1450 closed

[2019-06-04 18:09] ellieb commented on #1445
Hi @keflavich  :wave:

I'm starting to work on this right now (I'm a co-op student at the CADC), and I just want to run the specs by you to make sure I'm on the right track. So the `get_images` function will have a docstring that looks a little like this:

        """
        A coordinate-based query function

        Parameters
        ----------
        coordinates : str or `astropy.coordinates`

[2019-06-05 16:06] keflavich commented on #1445
Yes, this looks right to me.  I don't see anything that needs to be changed

[2019-06-06 15:58] DaveStrickland commented on #1450
Great, thanks for the quick turnaround! I've installed and verified it works as I expect.

[2019-06-06 19:02] bsipocz commented on #1474
added in #1482

[2019-06-06 19:02] #1474 closed

[2019-06-07 06:22] LMNT1 opened #1485 "JPL Horizonts Wildcard search"
Hello,
first i want to gratulate you - this is a very nice piece of software.

My Issue ist easy: Thema wildcard search (id='*') Returns multiple results. This is a Feature not an error, but you are raising it as Error. Amy way to get the table with search as result and not from the error Text?
Greetings

[2019-06-10 14:00] pllim opened #1487 "MAST: New function for spectral atlas ?"
Would be real nice to have the stuff mentioned in https://archive.stsci.edu/hlsp/reference-atlases to be accessible via `astroquery.mast`. cc @ceb8 and @stscicrawford

xref spacetelescope/stsynphot_refactor#73

[2019-06-11 02:58] tlarbgjs01 commented on #1475
Sorry for late reply.

I tried with other internet services and locations. Also, I reinstalled. But it didn't work too.
It lasted for some days.
By the way, the fun thing is that it was solved and worked well again...

[2019-06-14 06:31] DBerke commented on #1405
Had an hour to look into this, just noting some of my findings for when I next get time (or for anyone else who wants to work on this). In order of columns from left to right that I've been able to identify:

[code]
Control the first two columns, 'Observed  Wavelength' and 'Ritz  Wavelength'.

[code]
Controls the "Transitions Wavenumber" column.

[code]
Controls the "Rel. Int." column showing rela

[2019-06-20 17:22] bhilbert4 opened #1489 "Besancon query regular expression matching failure"
Hello,
I've been having some trouble with Besancon model queries lately. Queries that used to work for me now return a regular expression matching error when it looks for a file of some sort. This error seems to pop up for any galactic longitude/latitude pair that I choose. Below is an example of the failure that I'm seeing.
thanks,
Bryan

[code]

[2019-06-21 02:06] keflavich commented on #1489
This sounds like a real error that probably indicates their data table format has changed.

[2019-06-23 19:01] ojustino opened #1490 "Return number of SIMBAD objects in paper associated with bibcode"
Hello -- as the title says, I'm trying to provide `astroquery` with a bibcode and get back the number of SIMBAD objects referenced in the paper associated with that bibcode.

At the moment, this is the best method I've come up with:

[code]

However, I would like to do this for a list of ~3,000 bibcodes, which becomes very time-consuming and is prone to breaking thanks to `ConnectionError`. I chec

[2019-06-23 19:42] keflavich commented on #1490
The SIMBAD team has said they want vectorized queries, not a large series of independent queries, but I don't know how to address this.  @aoberto, @bmatthieu3, could you assist?  Do we need to implement something new for this use case?

[2019-06-24 06:15] jd-au opened #1491 "Monkeypatching example out of date"
The Astroquery Testing page at https://astroquery.readthedocs.io/en/latest/testing.html has an example implementation for the ``patch_get`` function. However when implementing a new module I found that rather than
``mp.setattr(requests, 'get', get_mockreturn)``
I had to use
``mp.setattr(requests.Session, 'request', get_mockreturn)``

[2019-06-25 03:01] #1491 closed

[2019-06-25 21:15] theresadower commented on #1125
Hm, yes both these records exist and are findable through our keyword search and RegTAP interfaces. While I run the registry at ST, the records originally come from the VizieR registry at http://cdsweb.u-strasbg.fr/reg-bin/vizier/oai.pl and are harvested by us nightly for inclusion in search results. I'm unfamiliar with VOSDatabase.from_registry, is it possible to test this pointed at their home r

[2019-06-26 06:15] jd-au opened #1493 "New service: CASDA"
We are creating a new astroquery module for the CSIRO ASKAP Science Data Archive (CASDA). Initially this will implement the query_region method to allow retrieval of lists of data products by region.

[2019-06-26 16:27] estelleps opened #1494 "coordinates issue for query_cross_id/query_cross_id_async"
I tried to use the query_cross_id_async from the astroquery.vsa package to query the VIKING database. According to the documentation, the coordinates argument in  query_cross_id_async should be "an array of one or more astropy SkyCoord objects specifying the objects to crossmatch against" (as an example, coordinates=[SkyCoord(117, -25, unit='deg')]). However, this return "TypeError: Argument canno

[2019-06-26 20:52] aoberto commented on #1490
Hello,
First, the usage from astroquery is using Simbad script with a votable output, and unfortunately, we have not developed the way to output bibliographical information (and so, in your case, just get the number of objects).
Then, to stay with astroquery `query_bibobj` (which gives you data on all objects), in this mode, we could vectorize until 10,000 queries. But, still it would be time cons

[2019-06-26 21:07] jaladh-singhal opened #1495 "Inclusion of query tool for SVO Filter Profile Service"
Hi @keflavich & entire Astroquery team,

At [wsynphot](https://github.com/starkit/wsynphot), I and @wkerzendorf are implementing a query tool to fetch filter data from **_SVO Filter Profile Service (FPS)_** under https://github.com/starkit/wsynphot/pull/27. But we are more than happy for it to live in Astroquery.

SVO FPS is a service developed by [SVO](http://svo2.cab.inta-csic.es/svo/theory/main

[2019-06-26 21:22] bsipocz commented on #1495
Including a new service to query the filter service sounds very useful. However I think we would prefer if the API would follow the usual astroquery layout. E.g. there'll be a main class with methods rather than functions, etc. Please have a look at our current services, logically this could follow the non-archive modules (https://astroquery.readthedocs.io/en/latest/),

[2019-06-26 22:46] keflavich commented on #1494
I think a SkyCoord array should be `SkyCoord([117], [-25], unit=u.deg)` rather than `[SkyCoord(...)]`.  Other than that, I think `parse_coordinates` should be giving a more useful error message here.

[2019-06-27 09:11] ysBach opened #1496 "jplhorizons Horizons query fails when tried with many epochs"
When I query more than 419 epochs, the following error appears:
```ValueError: Query failed without error message; check URI for more information```

[code]
When I change to ``np.arange(0, 420)`` for ``epochs``, I got the above ``ValueError``. But such a "maximum" number of allowed epochs seems to change every time and I couldn't find a rule.

I experienced the issue since about a year ago when I

[2019-06-27 09:27] estelleps commented on #1494
Indeed, using arrays inside SkyCoord solve the above issue.

Unfortunately an other error is raise after. If using python 2.7 we get later `TypeError: unicode argument expected, got 'str'` from `for crd in coordinates:
                                           fh.write("{0} {1}\n".format(crd.ra.deg, crd.dec.deg))`.

If using python 3.6 the unicode error is not raise but we get at the end `NotImpl

[2019-06-27 14:48] keflavich commented on #1496
@mommermi - can you look at this?

[2019-06-27 14:50] keflavich commented on #1494
Oh no.  This unfortunately means there's a real bug we never resolved in the WFAU code for handling crossID searches.

[2019-06-27 15:40] mommermi commented on #1496
The problem is described [here](https://astroquery.readthedocs.io/en/latest/jplhorizons/jplhorizons.html#keep-queries-short): if you try to query too many epochs, the URI that is sent to the Horizons server is too long and gets truncated - and hence becomes invalid.

Since you are querying equidistant time steps, you should use `epochs={'start': 2450000, 'step': '1d', 'stop': 2450419}`. This will

[2019-06-27 16:46] jaladh-singhal commented on #1495
Thanks @bsipocz
By non-archive modules, do you mean [catalogs](https://astroquery.readthedocs.io/en/latest/#catalogs) as mentioned in docs?

[2019-06-27 17:38] bsipocz commented on #1495
no, I mean the line lists or simulations. I suspect this should be very similar in logic to the line lists (e.g. it makes no sense to have a `query_object` method, etc.

[2019-06-27 22:09] ojustino commented on #1490
Thank you for the responses. I think vectorization on `query_bibobj` and the ability to query TAP Simbad in `astroquery` would be nice, even if in a limited manner.

I had success trying @aoberto's solution through `requests`. The speed I get at the moment is about 0.6 seconds per bibcode, which is still sizable when dealing with a few thousand bibcodes. However, optimizing that is probably outsid

[2019-06-28 13:53] smoh commented on #1490
Hi,

I think a possible solution is to send ADQL query with a table using pyvo then you can query entire 3000 with one query.

[code]

[code]

[code]

[code]

    <Table masked=True length=1>
    nbobject
     int32
    --------
           5

Use synchronous ADQL with an uploaded table to query for a number of queries

I think 3000 bibcodes should be fine with synchronous. Below just try three.

[

[2019-06-28 15:43] ojustino commented on #1490
@smoh Your solution works very well for me, and it scales to 3000 with no problem. Thank you for putting it together in a notebook, too.

[2019-06-28 17:50] bsipocz commented on #1490
I think it would be useful to add this example to the narrative docs?

[2019-07-01 01:19] smoh commented on #1490
Hmm.. I don't know. I'm happy to add it to simbad.rst but I think technically it belongs more to pyvo docs? My draft for letting people know that this is available would be to add the following below "A warning about big queries" and above specific method examples:

[code]

[2019-07-01 07:49] ysBach opened #1497 "NASA_ADS Module example code not working"
The code in the [doc](https://astroquery.readthedocs.io/en/latest/nasa_ads/nasa_ads.html) is not working as is, but we need some modification to make it run properly:

[code]

I added ``'bibcode'`` to ``na.ADS.ADS_FIELDS`` and removed an erroneous `` results[0].title`` at the end of ``     around deeply embedded low-mass protostars')`` line.

[2019-07-01 22:41] bsipocz commented on #1490
Yes, you're right. Your suggestion above makes more sense at least until a tap based query will be available under the hood here (it came up before as a possible way forward).

[2019-07-03 17:33] mommermi commented on #1485
Hi @LMNT1, I checked on your issue and get the following behavior:

[code]

It returns both a `ValueError` and a table of potential objects. I am somewhat indifferent about what should really happen if the targetname is ambiguous (e.g., by using a wildcard symbol). There are the following options:
1) the current solution that raises an error and provides a human-readable description
2) no error, b

[2019-07-03 18:18] LMNT1 commented on #1485
Hi @mommermi,
since i'm using the to_pandas function 2) would be nice, but maybe in a seperate field to get it from.
Thanks

[2019-07-05 11:00] jorgehumberto commented on #1360
HI @bsipocz
I am sorry, though I had answered this already. Upgrading with `pip` solved my problem, thanks!

Cheers
Jorge

[2019-07-05 19:13] #1360 closed

[2019-07-07 05:53] ysBach opened #1502 "astroquery.vizier does not return all the columns specified"
If I specify too many (N = 16?) columns, the query returns only the first N columns and ignores the other columns:

[code]

![image](https://user-images.githubusercontent.com/17214293/60764510-56b23880-a0c6-11e9-9853-e3fe01f34bc8.png)

If I use the identical code but replacing ``columns = ["*"]`` or ``columns=["**"]``, it works as expected.

I encountered with this while doing an urgent work, and

[2019-07-07 05:57] ysBach commented on #1496
@mommermi Thanks for the reply..! I didn't see that doc in the "latest" as I recently was using the v 0.3.9. :)

But it is quite frequent to query more than hundreds of (irregularly sampled) epochs in my case for asteroids light curve analysis, I myself needed to make a simple wrapper which automatically chops the epochs into 100, query for each chunk, and combine the resulting tables.

[2019-07-07 20:18] bsipocz commented on #1496
@ysBach - for astroquery it's very much encouraged to use "latest", and do upgrade with `pip install --pre -U astroquery` regularly, as we do continuous deployment for most of the fixes.

[2019-07-07 21:16] keflavich commented on #1502
cc @bmatthieu3 is this a problem on our side or is this a limitation built in to the server?

[2019-07-09 15:19] almicol commented on #1360
Hi, a couple of comments from the ESO side on all the above.

1) Many thanks to you all for using the ESO archive, and for your contributions in making easier to access it!

2) The eso astroquery package actually hardcodes various URLs in core.py which need to be change to fully support the special access case; so, using the suggested:
Eso.QUERY_INSTRUMENT_URL = 'http://archive.eso.org/wdb/wdb/cas

[2019-07-09 21:33] #1490 closed

[2019-07-12 16:02] pllim commented on #871
On top of this, [HSC v3.1](https://archive.stsci.edu/hst/hsc/) was released on June 26, 2019. It does not have a Cone Search service URL yet, but when it does, it should be in the list.

[2019-07-12 20:14] ceb8 commented on #1487
How are you imagining searching for these products?

[2019-07-12 20:17] ceb8 commented on #1247
I believe I've fixed this problem, I now do a raise_for_status check on the server response, so it will still be limited by whatever error the server chooses to raise, but it should at least be clear that the mast servers are the origin of the error.

[2019-07-12 20:22] #1247 closed

[2019-07-12 20:31] pllim commented on #1487
Perhaps @bmorris3 or @tcjansen would have a better idea but I am imagining queries like this:

* Give me everything you have.
* Give me all the spectra in "calspec".
* Give me spectra from Phoenix models.
* Give me a specific star (e.g., Vega).

In all the above, only return the latest versions if there are multiple.

[2019-07-12 20:39] ceb8 commented on #1487
So what is the relationship between that type of query and this software: https://stsynphot.readthedocs.io/en/latest/index.html?

[2019-07-12 20:47] stscicrawford commented on #1487
Adding @gsnyder206 for comment as well.

There are multiple different atlases here though each of them has a slightly different requirements.

HST Standard Stars Atlases--these are observations of real stars and it would probably useful to have these returned as part of the regular MAST interface

Stellar Spectral Atlases--these would be useful to be able to query by atlas and stellar parameters.

[2019-07-12 20:48] pllim commented on #1487
If you have it working here, I can ask `synphot` users to use `astroquery` to get the files instead. Currently, `synphot` has its own download function to grab the data but it is pretty hacky.

[2019-07-12 20:48] pllim commented on #1487
Also there are users who want these data but do not want to use `synphot`.

[2019-07-14 23:42] bsipocz commented on #1487
is mast the primary source for these data? We already have a couple of line list services, etc and I suppose we would prefer to add the primary archive etc for e.g. the PHOENIX  model spectra.

[2019-07-16 03:01] bsipocz opened #1506 "jplhorizons epochs kwarg should accept Time objects"
`'epochs'` should be `Time` objects or at least be able to accept `Time` objects.

[2019-07-22 23:45] bsipocz commented on #938
What a useless bug report of not mentioning what the upstream issue was...

@keflavich - if this rings a bell, please let me know. Would be nice to remove the dependency.

[2019-07-22 23:49] keflavich commented on #938
That original bug report was almost certainly my doing.

Since we don't have a test... I guess we should remove it and see what happens...

[2019-07-22 23:49] bsipocz commented on #938
yeah, I'm trying to change it to a simple `Table.read` now.

[2019-07-23 00:36] #938 closed

[2019-07-24 19:30] adrn opened #1511 "Add a config option to disable caching?"
Via email, @dnidever asked me if there was a way to disable caching with astroquery. It looks like each `.query*()` method has a `cache=False` option, but is there a way to do this globally? It would be nice to add a config option to handle this, if it doesn't already exist.

[2019-07-24 19:43] dnidever commented on #1511
Thanks for opening the issue Adrian.
I'm using Vizier.query_region() and don't see a cache=False option.  I also don't see any Vizier.cache attribute only cache_location.

[2019-07-24 20:05] keflavich commented on #1511
Right, `<astroquery module>.cache_location` is the directory it writes to; a hacky workaround is to do `Vizier.cache_location = '/dev/null'`.  There should be `cache=T/F` options for every module....

[2019-07-24 20:06] keflavich commented on #1511
`query_region` accepts the `cache=<bool>` option, but it's not documented properly.

[2019-07-24 21:39] pllim opened #1512 "DOC: build_docs has warnings"
Despite the green CI, I see these warnings on `master` (https://travis-ci.org/astropy/astroquery/jobs/563161608) and when building docs locally using `python setup.py build_docs`.

[2019-07-25 05:21] mwcraig commented on #1371
Which of the AAVSO archives do you mean?

[2019-07-25 10:18] orlandogr15 commented on #1489
The website has been updated to require an account to submit simulations with the newest model version.
The old version, which I believe Astroquery uses, can still be found in this [link](http://model2003.obs-besancon.fr/).

[2019-07-25 20:56] pllim opened #1513 "MAST: Observation.get_cloud_uris() gives ClientError"
**UPDATE:** Even bypassing `get_cloud_uris()` to get the URIs manually, I still get `ClientError` when I attempt to download the file as instructed. I am beginning to think this is some problem in the data themselves?

With its current implementation, there is no option to pass in `aws_access_key_id=` and `aws_secret_access_key=` here:

https://github.com/astropy/astroquery/blob/badace6aacd493b17d

[2019-07-25 21:23] pllim commented on #1513
Temporary workaround, bypassing some kind of internal check:
[code]

[2019-07-25 21:36] eteq commented on #1511
@keflavich - isn't it also possible to have `cache_location` be ``None``?  I know there's at least *some* code that checks for that (although I'm not sure how uniformly implemented it is...)

[2019-07-25 21:36] eteq commented on #1511
(If so, I suppose it should be documented clearly, though!)

[2019-07-25 21:39] keflavich commented on #1511
Huh, yes, that's correct:
https://github.com/astropy/astroquery/blob/master/astroquery/query.py#L235

[2019-07-25 23:20] dnidever commented on #1511
Thanks.  I'll try out the cache_location=None option.  But that seems like a non-intuitive way of turning off caching to me.

[2019-07-25 23:38] keflavich commented on #1511
Can you suggest what would be most intuitive?  I agree that it's not obvious, since it's not documented at all, but that would probably have been my first suggested approach once we do document it.

[2019-07-26 01:33] dnidever commented on #1511
I find the cache=True/False option intuitive and it would be consistent
with the other query routines.

Also, I wonder if the default option should be False.  The caching filled
up my home directory and it took me quite a while to figure out what was
going on.

On Thu, Jul 25, 2019 at 5:38 PM Adam Ginsburg <notifications@github.com>
wrote:

--

Dr. David Lee Nidever

Assistant Professor

Departmen

[2019-07-26 01:53] keflavich commented on #1511
OK, that sounds good - `cache=True/False` exists and is _mostly_ documented, but some documents haven't propagated (because of the way `_async` vs `sync` functions are defined).

I'm torn about defaulting caching to `False`, since that can make a lot of potentially cheap operations very expensive.  But, I think caching in its present form isn't well enough communicated, as you point out.  Some opt

[2019-07-26 20:28] pllim commented on #1513
Turns out the instructions assumed user has `~/.aws/credentials` **and** set both `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` environment variables (the same as those in `credentials` in the EC2 instance.

[2019-07-26 20:28] #1513 closed

[2019-07-26 20:29] bsipocz commented on #1513
@pllim - PRs are welcome to improve the docs so others don't run into this.

[2019-08-05 13:43] Titanosaurus opened #1520 "Unable to make a Simbad query of a list/array of elements"
I have a list of IDs of many stars and I need to find Gaia's DR2 ID for all of them (if they have).
For that I'm doing a for loop that queries all the simbad IDs for a specific star in the list and serches for the Gaia DR2 designation.

I'm using
`tab = Simbad.query_objectids(star_list[i])`
, where i is the index of the for loop.

Is there any way to launch everything in just one query? Some way o

[2019-08-05 17:41] bsipocz commented on #1520
What is your astroquery version?

Have you tried to use `Simbadquery_objects()` instead? Vectorized queries are definitely possible with that one.

[2019-08-06 16:00] pllim opened #1521 "MAST: Allow Tesscut to download from S3 buckets"
TESS data are available on AWS S3 (see https://mast-labs.stsci.io/2018/12/tess-data-available-on-aws). However, `Tesscut` does not support S3 access. It would be nice to have that option.

https://github.com/astropy/astroquery/blob/b8b06cfaba815997ed8c8f0bd64180439a118234/astroquery/mast/tesscut.py#L76

cc @ivastar and @mustaric

[2019-08-06 21:10] bsipocz opened #1522 "vo_conesearch should return astropy Table rather than votable"

[2019-08-06 21:17] pllim commented on #1522
Can you please assign to me? I am not watching the repo, so I didn't get notified.

Note to self: Answer "does it handle vector skycoords?"

[2019-08-06 21:18] pllim commented on #1522
Short answer: "classic" API follows original `astropy` behavior. Astroquery API in `core.py` should have returned `Table`. Please post a snippet with your use case. Thanks!

[2019-08-06 21:29] bsipocz commented on #1522
[code]

[2019-08-06 21:39] bsipocz opened #1523 "vo_conesearch to more informative `"search returned no results.`"
Currently the traceback is a bit misleading, as not getting a result is totally expected (the survey doesn't cover that part of the sky). Some of the other modules are returning a NoResultWarning in these situations that is much nicer.

[code]

cc @pllim

[2019-08-07 15:24] bhilbert4 opened #1524 "GAIA queries failing with 'connection reset' error"
Gaia queries are failing for me as well as another person in my building, with a `ConnectionReset` error. I've found that if I switch mirrors, the query completes successfully:

[code]

[code]

After switching mirrors, the search completes successfully:

[code]

[2019-08-07 21:13] pllim commented on #1522
What you are using is the "classic" API. The first example in https://astroquery.readthedocs.io/en/latest/vo_conesearch/vo_conesearch.html#getting-started is the `astroquery` compliant one, and it does return `Table` but the API is not as flexible.

[2019-08-07 21:15] pllim commented on #1523
I wouldn't call it a bug? Is there an official astroquery standard on how "no results" should be handled? The current behavior is how it has always been, even since the days it was in astropy core.

[2019-08-07 22:52] bsipocz commented on #1523
No, I suppose this expectation is not documented anywhere beyond the minds of the maintainers 😅 (and that's a bug for sure).

[2019-08-07 22:55] bsipocz opened #1525 "Better document API expectations"
It came up recently that we don't document API expectations (e.g https://github.com/astropy/astroquery/issues/1523), e.g  returning `NoResultsWarning`s for empty results rather than errors, etc.

[2019-08-07 23:00] bsipocz opened #1526 "Move exceptions to utils and to the API docs"
I feel they should live under utils to mirror the namespace structure of astropy/photutils/etc.

Also, I think it wasn't a conscious decision of not documenting the exception classes, so they should be included in the API docs.

[2019-08-07 23:23] bsipocz commented on #1522
should the "classic" maybe return a warning that it's "classic"?

[2019-08-08 13:44] pllim commented on #1522
I am not convinced that everyone would notice the warning. They are already bombarded with VO table warnings because none of the services are 100% compliant.

If this really bothers you, in the next astroquery **major** release, I can change the behavior for "classic" API. Let me know when it is time to do so. Thanks!

[2019-08-08 13:45] pllim commented on #1523
As with #1522, I am willing to implement this for the next **major** release of `astroquery, because it is a none backward compatible API change. Please let me know when it is time.

[2019-08-08 16:45] bsipocz commented on #1522
Thank you @pllim. I would love it to be a Table as astropy.table.Table (as the most confusing part was that when you print a votable it says "Table" at the top, but then none of the expected behaviours work.
However I don't know whether it fully round trips for votable-Table-votable. If it's not then maybe another "output_format" kwarg, or more examples in the docs would be the solution.

[2019-08-08 16:50] pllim commented on #1522
It is completely reasonable to change the returned table to be `astropy.table.Table`, as no sane person wants to access `votable.Table` directly given the choice. Although extra option does not hurt, so I'll definitely follow your suggestion when the time comes. Thanks!

[2019-08-08 16:55] bsipocz commented on #1522
Thanks, I really appreciate it :)

[2019-08-08 19:25] bsipocz opened #1527 "Use github actions to deploy"
For our continuous deployment we most probably can use this github action:
https://github.com/marketplace/actions/publish-python-package

[2019-08-08 19:58] pllim commented on #1522
I just realized that I might have to update tutorials when these changes are in too... :grimacing:

[2019-08-08 21:01] pllim commented on #1525
Just to clarify for future reference, from what I see in the modules the expectation is something like this:

[code]

[2019-08-08 21:14] pllim commented on #1522
Actually, I take it back... The "new" API also seems to return `votable`... Ops.

[2019-08-08 21:58] pllim commented on #1048
I have decided on the former.

[2019-08-09 13:51] Titanosaurus commented on #1520
My astroquery version is 0.3.9. I've tried `Simbad.query_objects()` but I can't extract the Simbad IDs for each object of the array.

Could the `Simbad.query_objectids()` method be expanded to allow for lists as inputs so that Simbad performs just one big query instead of many smaller ones?

By the way, somehow related is the `Vizier.query_object()` method. I'm currently only allowed to use it one

[2019-08-10 02:49] pllim opened #1529 "Does vo_conesearch handle vector SkyCoord? (ANSWERED)"
In response to question from https://github.com/astropy/astroquery/issues/1522#issuecomment-518847581 by @bsipocz , the answer is no. The interface defined by http://www.ivoa.net/documents/REC/DAL/ConeSearch-20080222.html#req is to take one RA, one Dec, and one search radius per query. Thus, its interface allows search for one `SkyCoord` through multiple services, but does *not* support searching

[2019-08-10 05:30] bsipocz commented on #1529
hmm, this is not ideal I suppose, but as you say we can't do much about it.

cc @ctslater

[2019-08-12 13:12] hposborn commented on #1524
Does it give the same answer with `radius = u.Quantity(0.1, u.deg)`. I think maybe some Gaia data sources are slower than others and therefore with so many stars (1 degree is ~20000 stars) it hangs and resets the connection.

[2019-08-12 13:43] bhilbert4 commented on #1524
It does complete successfully when using 0.1 degrees. And in fact, the 1.0 degree case is also working this morning.

I'll have to put a check in my code to make sure it doesn't query too large of an area.

[2019-08-12 18:08] bsipocz opened #1531 "have timeout for cache"
Would be nice to have a mechanism to invalidate the cache. E.g. when new data is added at the serverside users should be able to automatically get access to that. Whether to achieve that with a timeout (which wouldn't work well right around when the new data is added, and would ignore cache unnecessary when there is no data added for a long time) or my some other means is up for discussion.

[2019-08-14 07:46] aoberto commented on #1520
Before calling the "query_objects" method you can customize output using :
`Simbad.add_votable_fields('ids')`
to get all identifiers, like query_objectids or
`Simbad.add_votable_fields('id(Gaia)')`
to get only Gaia identifier if exists

[2019-08-16 17:26] pllim opened #1535 "MAST: Passing one row of filtered results to download_products() crashes"
Was using `astroquery 0.3.10.dev5696`. Full reproducible snippet:

[code]

Traceback:
[code]

Workaround:
[code]

cc @ceb8

[2019-08-19 20:29] stsci-hack opened #1537 "Astropy extern.six no longer available"
Azure testing of our package (spactelescope/drizzlepac) demonstrated that the latest update to astropy causes astroquery to fail with the message:

[code]
This will need to be resolved in order for astroquery to run with astropy >3.2.1, which is currently available from github on astropy's master branch.

[2019-08-19 20:33] bsipocz commented on #1537
@stsci-hack - These are resolved on master branch for a while now, or in fact in the continuously deployed version, too (not available on conda, but can be pip installed with `pip install --pre -U astroquery`).

That being said, there is only one more blocking PR in tagging a new release here, that I expect to be cleared this week.

[2019-08-19 20:33] #1537 closed

[2019-08-20 15:19] jorgehumberto commented on #1360
Hi @almicol

Sorry for the (extremely) late reply, I missed the notification email for this thread and only now saw your comment.

Now addressing some of your questions that I can answer:

that is correct, I also have the same problem with other nights where files from wrong nights are also downloaded, or some calibrations are missing (e.g. 2018-10-27 which is missing DARK images)

@bsipocz , @sai

[2019-08-20 18:38] bsipocz commented on #1360
@almicol - that's a particularly old version, I would suggest to upgrade your astroquery. Either now with `pip install --pre -U astroquery`, or wait a few days as we're about to do a new release this week.

[2019-08-21 11:51] erwanp opened #1538 "gzip was not found on your system!"
I use `astroquery` in my infrared spectroscopy package [radis](https://github.com/radis/radis) to retrieve HITRAN data.

However, on each first import I get a printed message (originates from [astroquery.utils.system_tools.py](https://github.com/astropy/astroquery/blob/master/astroquery/utils/system_tools.py) )

On POSIX system: make sure gzip is installed and in your path!On Windows: same for 7-z

[2019-08-21 11:56] keflavich commented on #1538
Agreed, this should be changed.  A few things should happen:
(1) the print statement should be a warning (so it can be silenced)
(2) the 'gunzip' utility should be reevaluated - I'm not clear that there's any reason to use a system-wide gunzip instead of the python gzip package
(3) the warning should only be raised if a zip file is encountered, not before

[2019-08-22 19:14] Jayant98 commented on #1438
Well, this is because of the catalogue available for the API used by astroquery. The catalogue only provides the ZTF objects data table, however, for the PTF, the lightcurves data can be requested.
I've started working on a fix for this which will allow you to get the ZTF light curve data as well, will update you ASAP.

[2019-08-25 20:52] shbhuk opened #1539 "AttributeError: 'HorizonsClass' object has no attribute 'uri'"
This error displays when I run the Horizons class within the jplhorizons submodule.
[code]
OUTPUT:
`AttributeError: 'HorizonsClass' object has no attribute 'uri'
`
Astropy Version Number 3.2.1

Based on - https://astroquery.readthedocs.io/en/latest/jplhorizons/jplhorizons.html

[2019-08-25 21:42] bsipocz commented on #1539
what is your astroquery version?

[2019-08-26 00:01] shbhuk commented on #1539
0.3.8

[2019-08-27 02:59] dts350z opened #1540 "Can't import astroquery.astrometry_net no module named"
This is on windows with anaconda (python 3.7 64bit)

I did pip install --pre --upgrade  astroquery

As stated in the directions, but it gives me 0.3.10.dev0

Do I need a higher version to get to get astroquery.astrometry_net and if so how do I get it?

If not, what am I doing wrong:

from astroquery.astrometry_net import AstrometryNet

[2019-08-27 05:59] bsipocz commented on #1539
You need to upgrade then. As I see 0.3.9 already has it, but for astroquery it's actually best to go with the latest automatic release with
`pip install --pre -U astroquery`

[2019-08-27 06:02] bsipocz commented on #1540
When did you install astroquery? `astrometry_net` got included in a release made available yesterday, so if it's anything older than you might want to upgrade again.

[2019-08-28 07:17] ysBach opened #1541 "JPL SBDB query sometimes fails when ``alternate_id=True``"
While testing for random asteroids, I found KeyError happens for few cases when ``alternate_id=True`` (if I turn this off, it works fine for my test cases).

Sample code:
[code]
Error:
[code]

As seen in the error lines, I used python 3.7 and astroquery 0.3.10.dev5703.

[2019-08-28 11:49] #1540 closed

[2019-08-28 11:50] bsipocz commented on #1541
cc @mkelley @mommermi

[2019-08-28 11:53] bsipocz commented on #1539
Hmm, this doesn't seem right.

cc @mommermi

[2019-08-28 11:57] bsipocz commented on #1539
Hmm, actually looking into the details of the class, I think the `uri` is populated when you actually start doing things with the class instance. E.g.
[code]

[2019-08-28 11:57] #1539 closed

[2019-08-28 12:29] ysBach opened #1542 "JPL SBDB query fails to get proper diameter value"
I was testing SBDB module with some test cases. When I tested 1980 PA:
[code]
gives ``km`` without any value. When I searched 1980 PA on SBDB, it shows ``1.0`` (km), so I am a bit wondering that it does not understand the value ``1``.

[2019-08-28 13:57] bsipocz commented on #1542
cc @mommermi

[2019-08-30 09:21] erwanp commented on #1538
I can work on (1) and (3) but someone else must decide (2)

[2019-09-01 00:13] dts350z opened #1544 "can't suppress warnings astroquery and astrometry.net"
command line or top of code suppression of warnings still emits:

gzip was not found on your system! You should solve this issue for astroquery.eso to be at its best!
On POSIX system: make sure gzip is installed and in your path!On Windows: same for 7-zip (http://www.7-zip.org)!
WARNING: Astrometry.net API key not found in configuration file [astroquery.astrometry_net.core]
WARNING: You need to ma

[2019-09-01 00:16] dts350z opened #1545 "FR: astormetry.net Add server URL"
So you can target astormetry queries at local instances on the astrometry.net server, please consider adding the server URL so it can be localhost:8004 or whatever.

Thanks!

[2019-09-01 02:53] alexiscoutinho commented on #1351
@bsipocz What do you mean by "common astropy API"? What classes/modules?

[2019-09-01 19:02] dts350z commented on #1544
I guess I'm also stuck lacking completion of this TODO in the documentation:

"TODO: explain how to set config item for api key or how to get it into keyring."

[2019-09-01 19:06] dts350z commented on #1545
Looks like maybe this is implemented but not yet documented?

I see code in astroquery/astrometry_net/__init__.py

but don't know how the config system for Astroquery works

[2019-09-05 01:42] keflavich commented on #1545
Yeah, the URL is meant to be configurable, but it's part of state and may only be documented at the top level rather than at an individual model level.  This is a reasonable use case, though, so maybe we should consider adding that documentation specifically for astrometry.net

cc @mwcraig

[2019-09-05 01:43] keflavich commented on #1544
cc @mwcraig  - are these `log.warning`s instead of `warning.warn`s?

[2019-09-05 02:11] mwcraig commented on #1544
Yes; I gather they should be the latter?

[2019-09-10 16:04] bsipocz commented on #1531
A caching issue came up again on a twitter thread, this time regarding the jplhorizon module (where ephemeris got updated server side, yet the cached version got used in the query).

I marked both cache related issues (#1511) as critical for the next release, and I feel this should be resolved sooner rather than later.

[2019-09-10 21:51] ajtribick opened #1547 "Gaia: how to check that login was successful?"
Apologies if I've missed something obvious, but how should I check that a login, e.g. from `login_gui()` was successful? The method does not return anything to indicate success or failure.

It looks like I'd need to check `Gaia._GaiaClass__gaiatap._TapPlus__isLoggedIn`, which seems less than ideal given that it is using two levels of name-mangled "private" variables.

[2019-09-11 11:45] smoh commented on #1547
Nothing returned is the indication of 'success' because otherwise, if the returned status code is anything other than 200 (OK), it will raise an exception (code at astroquery/utils/tap/core.py Line 828). You can verify yourself by deliberately failing to login.

There is `verbose=True` option to `login_gui`, which will print out rather raw format of stuff..
[code]
 again 200 is http status code 'O

[2019-09-11 13:05] ajtribick commented on #1547
Ok the exception makes sense. Hadn't actually got as far as trying an invalid login - the first test I did was to click "cancel" from the GUI login, which does not throw an exception but silently proceeds, should have been clearer about that in the initial post.

[2019-09-16 15:05] KeithSloan opened #1549 "Query with Select on Calculated Column"
I tried unsuccesfully to run this query
`
import numpy as np
import scipy.stats as st
from astroquery.gama import GAMA
import matplotlib.pyplot as plt
# Straight line of Graph Absolute M_r versus u-r rest frame
# y = mx + c where m = -0.083 and c = 0.58
x_col = ' absmag_r, '
y_col = ' uminusr, '
y_del = ' (0.58 - absmag_r * 0.083) - uminusr as y_del '
query = 'SELECT '+x_col+y_col+y_del+' FROM Ste

[2019-09-18 01:01] wangyj28 opened #1550 "EOFError while searching the "coordinates", Irsa.query_region"
this code works perfectly
[code]

but, when
[code]
 it sudenly crashes with an EOFError.
[code]

[2019-09-18 01:03] wangyj28 commented on #1550
this code works perfectly
`from astroquery.irsa import Irsa
from astropy.coordinates import SkyCoord
import astropy.units as u

a = Irsa.query_region("m1", catalog='ptf_lightcurves',radius=1.5*u.arcsec)

print(a)`

but, when
`rsa.query_region(coordinates=SkyCoord('08:22:17.19 +21:37:38.1',unit=(u.hourangle,u.deg)), catalog='ptf_lightcurves',radius=1.5*u.arcsec)`

it suddenly crashes with an EOFErr

[2019-09-18 04:22] ysBach opened #1551 "VizieR PS1 query returns strange results at very specific random position"
I was running my photometry pipeline which worked perfectly in other cases, but I found it failed only one single image out of thousands of images I tested so far.

Sample code (I am using python 3.7.3):
[code]
As can be seen, I only added extremely small values to RA or cone radius, but the number of stars differ a lot.

For check, I plotted the location of stars:
[code]
![image](https://user-ima

[2019-09-18 16:02] keflavich commented on #1550
well that's odd.  Try running with `cache=False` and/or delete the cached file.  It looks like the caching operation failed somehow

[2019-09-18 16:25] keflavich commented on #1551
Interesting bug.  Could you try clearing the cache and re-running it, though?  Running your code, I get:
[code]

[2019-09-18 23:55] bsipocz commented on #1379
This has been done.

[2019-09-18 23:55] #1379 closed

[2019-09-19 00:14] bsipocz commented on #1440
#1507 has fixed this.

[2019-09-19 00:14] #1440 closed

[2019-09-19 00:54] ysBach commented on #1551
@keflavich Oh my..!!! Why haven't I tried that...:man_facepalming: !
Thank you so much! That resolved the problem.
Maybe there was a problem at some point by my mistake and my innocent computer utilized the cached one.

[2019-09-19 00:54] #1551 closed

[2019-09-19 01:06] wangyj28 commented on #1550
I try, but it does not work.

[2019-09-19 01:14] wangyj28 commented on #1550
how to run `cache=False`?

[2019-09-19 01:29] bsipocz commented on #1549
@KeithSloan - does the query webform returns this query without any errors? try e.g here: http://www.gama-survey.org/dr2/query/

[2019-09-19 02:32] bsipocz commented on #1281
#1307 has addressed this.

[2019-09-19 02:32] #1281 closed

[2019-09-19 02:47] bsipocz commented on #1282
This has been fixed by #1283

[2019-09-19 02:47] #1282 closed

[2019-09-19 02:52] bsipocz commented on #1269
This has been fixed by #1406

[2019-09-19 02:52] #1269 closed

[2019-09-19 03:32] bsipocz commented on #1445
#1486 has added this! 🎉

[2019-09-19 03:32] #1445 closed

[2019-09-19 03:54] #1529 closed

[2019-09-19 04:07] #1417 closed

[2019-09-19 04:10] bsipocz commented on #1340
This has been fixed in #1369

[2019-09-19 04:10] #1340 closed

[2019-09-19 04:13] bsipocz commented on #1229
I can't reproduce this, the failing example works for me locally.

Please reopen if it's still an issue with the v0.3.10 release.

[2019-09-19 04:13] #1229 closed

[2019-09-19 04:24] bsipocz commented on #890
I don't see this error any more,  so closing the issue. Feel free to reopen if it pops up again.

[2019-09-19 04:24] #890 closed

[2019-09-19 04:26] #721 closed

[2019-09-19 04:30] bsipocz commented on #1086
I'm closing this as we don't build PDF versions on RTD any more.

[2019-09-19 04:30] #1086 closed

[2019-09-19 04:34] bsipocz commented on #1013
As I see this has been resolved.

[2019-09-19 04:34] #1013 closed

[2019-09-19 04:36] bsipocz commented on #964
This has been cleaned up.

[2019-09-19 04:36] #964 closed

[2019-09-19 04:37] bsipocz commented on #1046
@eteq @astrofrog - please transfer this issue to the website repo

[2019-09-19 04:47] bsipocz commented on #1441
The example above now gives an error
[code]

Using `exec_sync` returns a Table as expected, and `create_async` an `AsyncTAPJob`. I haven't experimented with the latter, but since so much has evolved since this was opened that I would rather close this issue now as ask you to open a new one if there are still problems around.

[2019-09-19 04:47] #1441 closed

[2019-09-19 11:36] KeithSloan commented on #1549
I tried with a simpler version
This query works SELECT absmag_r, uminusr, absmag_r - uminusr FROM StellarMasses LIMIT 10
as does  SELECT absmag_r, uminusr, absmag_r - uminusr as D FROM StellarMasses LIMIT 10
but when I try with a WHERE on the calculated column I get an error.

SELECT absmag_r, uminusr, absmag_r - uminusr as D FROM StellarMasses WHERE D< 0.3 LIMIT 10
failed:
Unknown column 'D' in '

[2019-09-19 16:52] pllim commented on #1549
@KeithSloan , might be worth pinging GAMA developers at `gama[at]gama-survey.org` about this.

[2019-09-21 01:41] shbhuk opened #1555 "KeyError: 'Column already exists' when using Horizons"
Hi,
I am trying to query Horizons for a crater on the lunar surface.

[code]

I get the error

`KeyError: 'Column  already exists'`

When I do obj.uri to check if the query goes through properly I am able to get the results without error from Horizons, any idea what might be causing this?

The URI is [here.](https://ssd.jpl.nasa.gov/horizons_batch.cgi?batch=1&TABLE_TYPE=OBSERVER&QUANTITIES=%271%2C

[2019-09-22 21:47] jsuarez314 opened #1556 "Astroquery.cadc Error -> 'TAPResults' object has no attribute 'to_table'"
Recently I have used the astroquery package to access to the DB of the CADC data, the tasks that I need to complete is download some .fits files images from this DB. I have installed the astropy 1.3.3, astroquery 0.3.10 and pyvo 0.6.1 packages, but when I try to run any code block from the jupyter-notebook, the result always is

AttributeError: 'TAPResults' object has no attribute 'to_table'

For

[2019-09-22 22:03] bsipocz commented on #1556
Please do upgrade to pyvo v1.0, there are known incompatibilities with older versions.

[2019-09-23 14:37] KeithSloan opened #1558 "Unsuccessful Join."
Code is
 `
import numpy as np
import scipy.stats as st
from astroquery.gama import GAMA
import matplotlib.pyplot as plt

line1 = 'SELECT * FROM VisualMorphology vm'
line2 = ' JOIN StellarMasses sm'
line3 = ' ON vm.CATAID = sm.CATAID'
line4 = ' LIMIT 10'
query = line1 + line2 + line3 + line4
print(query)
result = GAMA.query_sql(query)
print(result)
`
Which prints query as

SELECT * FROM VisualMorph

[2019-09-23 17:20] bsipocz opened #1559 "Cleanup tags"
There are quite a few tags (>=0.4) that were inherited from the template/helpers, and that shouldn't be around. It might take some time to fully clean them up, as we need to make sure everyone with write access also deletes their local version of those to prevent their reintroduction after pushes.

[2019-09-23 17:41] KeithSloan commented on #1558
Just tried 0.3.10 but no difference

[2019-09-23 17:43] KeithSloan commented on #1549
Just tried with 0.3.10 but no change

[2019-09-23 17:58] bsipocz commented on #1558
Here is the full traceback:

[code]

The issue is that the query returns the same column, `CATAID` multiple times.

[2019-09-23 19:28] KeithSloan commented on #1558
Well both tables contain a column called CATAID and naturally that is the Column being used for a JOIN. In proper SQL where statement says ON vm.CATAID = sm.CATAID  the sm and vm indicate which table they are referring to. I don't know how astroquery works but it clearly does not correctly support SQL fully.

[2019-09-23 20:41] bsipocz commented on #1558
PRs are welcome!

[2019-09-27 12:34] jsuarez314 commented on #1556
It works for me. I have to uninstall pyvo from conda and install newly with pip.  Thanks!

[2019-09-27 17:09] bsipocz commented on #1556
Thanks for following up, I'm closing this then.

As for the conda version, something when wrong with the conda packaging, we'll remedy it.

[2019-09-27 17:09] #1556 closed

[2019-09-27 21:33] bsipocz commented on #1556
fyi the 1.0 version of pyvo should now exists on the astropy channel.

[2019-09-29 19:53] selseyastro opened #1562 "Vizier database problems.."
Vizier.query_region(coord.SkyCoord(ra=xra, dec=xde,unit=(u.deg, u.deg),frame='icrs'),width="14m",catalog=["UCAC"])

The output data only has 5 columns wide and has  ---- for missing data
also when you try to sort say ("+_r") it does not when you have specified _r as a column.
It also only outputs 10 rows and a gap ---- then the last 10 rows
I have tried limiting rows to say 30.  No impact.
This al

[2019-10-02 09:50] iskren-y-g commented on #985
Hi, it's been awhile, but has this issue been resolved? It would be nice to XMatch.query and get all columns. My current workaround is to get all columns for one of the tables (with most columns) with a Vizier query `columns=['all']` and then XMatch with the other. Somehow it seems to work ... but I've tried it only on two tables. One with 22 and the other with 145 columns. The latter I saved as a

[2019-10-03 23:54] falon3 opened #1564 "CADC get_images() or query_region() raise DALQueryError: operator does not exist: scircle && double precision[]"
I don't believe I have any syntax issues but whenever I execute a query_region, or get_images request like any of those on the documentation [page](https://astroquery.readthedocs.io/en/latest/cadc/cadc.html#module-astroquery.cadc) I get the same error:

 `raise DALQueryError(self._status[1], self._status[0], url)
pyvo.dal.exceptions.DALQueryError: ERROR: operator does not exist: scircle && double

[2019-10-04 00:06] bsipocz commented on #1564
cc @andamian

[2019-10-04 17:03] andamian commented on #1564
The problem is related to a service upgrade at the CADC that took place yesterday. We are working on a fix.

[2019-10-04 19:43] andamian commented on #1564
The service has been fixed and this should work once again. Thanks for reporting.

[2019-10-04 20:15] falon3 commented on #1564
Thanks for the info and updates!

[2019-10-04 20:15] #1564 closed

[2019-10-04 20:18] andamian opened #1565 "Authentication broken in CADC"
The `cadc` package had a work-around for allowing users to send authenticated queries to the CADC TAP service. This solution is not working anymore with the release of `pyvo-1.0` which implements its own authentication scheme.

Might take the opportunity to also re-enable listing of jobs that is now supported by `pyvo`

[2019-10-05 03:28] KeithSloan opened #1566 "Is it possible with astroquery to access Column Names and their SQL Data types?"
Is it possible with astroquery to access a tables  Column Names and their SQL Data types?

[2019-10-08 03:21] bsipocz opened #1567 "Failing docs build, numpydoc warnings"
Suddenly there are tons of API reference issues for requests, as well a couple of numpydoc warnings.

`py:obj reference target not found: requests.Response`

Close this issue only when we don't have any more issues (even if the build is not failing, we should clean up the warnings)

[2019-10-08 03:27] bsipocz commented on #1567
Apparently we don't have access to the intersphinx, I should have read the full log not just the end of it...:
[code]

[2019-10-08 03:32] bsipocz opened #1568 "Switch to requests 3.x"
As apparently requests 2.x is in maintenance-mode only (https://requests.kennethreitz.org/en/stable/). The switch maybe trivial, but it can also turn out to be painful.

[2019-10-08 05:11] #1567 closed

[2019-10-10 02:31] bsipocz opened #1572 "MNT: change single letter internal variables"
E.g.
* `c` --> `coordinate`
* `r` --> `result`

or something similar, that make sense in the actual context and not extreme abbreviation. This can be done one module at a time and is very much suitable for folks new to the package, to open source, or to python.

[2019-10-14 11:47] jt2553 commented on #1101
Was the cutout feature added to MAST and/or astroquery last quarter, or is it still in the works?

[2019-10-14 12:09] KeithSloan commented on #1566
Okay I found that if I code `from astroquery.gama import GAMA
GAMA.query_sql('SELECT * FROM StellarMasses LIMIT 5')
without assigning it to a variable then I get the column headings and datatypes displayed.
How can I access the headings and datatypes from python.

Thanks`

[2019-10-15 09:29] jt2553 opened #1573 "MAST module image cutout feature"
I thought I'd list this again, rather than try to resurrect an old thread.
 Apologies for the duplication. (https://github.com/astropy/astroquery/issues/1101)

It was previously mentioned that an image cutout feature for the MAST module was planned for earlier this year.  Has it been completed?

[2019-10-15 16:27] bsipocz commented on #1573
The other issue is still open, please refer all discussion there.

[2019-10-15 16:27] #1573 closed

[2019-10-17 08:25] dennisalp opened #1574 "Vizier not returning Tables for all catalogs (rare bug, certain coordinates?)"
coo are my coordinates:
<SkyCoord (ICRS): (ra, dec) in deg
    (280.32640233, 31.04649113)>

When I run the following, Vizierreturns 1 catalog (2MASS)
Vizier(columns=['*', '+_r'], timeout=60, row_limit=10).query_region(coo, radius=5*u.arcsec, catalog='I/345/gaia2,II/246/out,V/147/sdss12')
TableList with 1 tables:
	'0:II/246/out' with 16 column(s) and 1 row(s)

The problem is that I know there's a

[2019-10-17 09:08] dennisalp commented on #1574
Just reran the same code and it seems to work now. I guess that sometimes catalogs can be missed when querying Vizier (some sort of silent failure)?

[2019-10-17 23:09] caseyjlaw opened #1575 "heasarc table parsing needs format"
There seems to have been a change in astropy and/or astroquery that broke heasarc queries.

My setup:
[code]

My error:
[code]

[2019-10-21 23:38] caseyjlaw commented on #1575
Just an update: none of the heasarc queries in the docs work. Even `heasarc.query_mission_list()` returns a table parsing error. Perhaps there was a change on the heasarc server side?

[2019-10-21 23:42] bsipocz commented on #1575
yes, most probably, tests are failing, too (they worked at the time of v0.3.10 release)

[2019-10-22 02:16] bsipocz commented on #1575
OK, so the above query returns a 404 not found, rather than a fits file, definitely some changes upstream.

@keflavich - do we have anyone to ping, or it's a fend for ourselves situation?

[2019-10-22 02:16] keflavich commented on #1575
We might be on our own, but let's see if we can identify someone to help...

[2019-10-22 02:19] keflavich commented on #1575
Is it this? https://heasarc.gsfc.nasa.gov/docs/FTPWarning.html

[2019-10-22 02:22] bsipocz commented on #1575
Not exactly, but the gist of it is the same.

[2019-10-22 05:14] jpdeleon commented on #1225
Also relevant tutorial: https://ps1images.stsci.edu/ps1image.html

[2019-10-22 16:43] caseyjlaw commented on #1575
I see that the astroquery heasarc module defines a url ('conf') as `http://heasarc.gsfc.nasa.gov/cgi-bin/W3Browse/w3query_noredir.pl`. That page no longer exists and a message suggests contacting Stephan.Fantasia@nasa.gov.
Shall I reach out to this person?

[2019-10-22 17:08] bsipocz commented on #1225
And there are also examples in the astroquery.mast docs, so maybe we can close this issue:

https://astroquery.readthedocs.io/en/latest/mast/mast.html#catalog-queries

[2019-10-22 17:24] #1225 closed

[2019-10-23 02:41] ellot commented on #1575
I change the server as "https://heasarc.gsfc.nasa.gov/db-perl/W3Browse/w3query.pl". Then it works.

Actually, in the __init__.py file of heasarc module, it has mentioned that the old server does not work and defined the "mission_server". Modifing the "mission_server" to "server" can resolve this issue.

[2019-10-23 02:45] bsipocz commented on #1575
@ellot - since you did this investigation, would you be interested in opening a pull request to update the urls?

[2019-10-25 19:28] orionlee opened #1577 "MAST: support query result caching"
It'd be great if MAST also supports query result caching.

One use case is from `lightkurve` package: https://github.com/KeplerGO/lightkurve/issues/461

For `lightkurve` use case, query result caching is needed at
`mast.Observations.query_criteria()` function.

[2019-10-30 19:55] ceb8 commented on #1101
@jt2553 Current status of new cutout services in MAST are:
- Astrocut (https://github.com/spacetelescope/astrocut) has been updated to perform more general cutouts on fits files
- The forthcoming MAST interface for deep fields will include cutout functionality that will be accessible via a RESTful API and Astroquery (the astroquery part will come later) for Hubble deep fields

There are no current

[2019-11-06 21:51] kjbrooks opened #1580 "Get error when trying to download data using astroquery.eso"
I am attempting to use `astroquery.eso` to grab data from the ESO archive. Unfortunately, even after following the examples, I find that I get an error when I try to grab the data. There isn't much to troubleshoot with this command so I quickly got to a point where I am stuck.

I have no issues connecting to the ESO archive and receive the notification emails that I am authorized to download all t

[2019-11-06 21:56] bsipocz commented on #1580
I'm trying to reproduce, and it would be easier to do it with using the same program id. Could you share it, or it's still proprietary data? (you can also e-mail it if you like)

[2019-11-06 22:12] kjbrooks commented on #1580
The program_id is 094.C-0625(A).
Thanks!

[2019-11-07 13:51] jontxu opened #1581 "TAP/TAP+ doesn't support the MAXREC parameter"
Hello,

I am a maintainer of a TAP service, and some user has been complaining about the astroquery TAP implementation returning less rows than expected in some queries. Looking into it I saw that it lacks support for the [MAXREC parameter](http://www.ivoa.net/documents/TAP/20190927/REC-TAP-1.1.html#tth_sEc2.7.4), wherewith the user can specify the maximum number of records they want to fetch. In

[2019-11-07 14:22] bsipocz commented on #1581
the big picture plans we have is to switch to pyvo as a dependency for astroquery and deprecate the tap implementation here, and keep astroquery's focus on the user facing functionalities.  Obviously it requires some significant refactoring, so I cannot provide an ETA, @jcsegovia might be able to provide some details.

Also, a PR sounds good to patch current limitations.

[2019-11-07 17:10] bsipocz opened #1582 "Travis is on 🔥"
Locally I couldn't reproduce  the failures yet, but the travis jobs are on fire for reasons seemingly unrelated.

We should at least need to see whether it's just an infrastructure issue or is expected to affect users, too. If the latter we need to fix it asap.

[2019-11-07 17:12] keflavich commented on #1582
oh no.  I am out of 💧  (but really out of 🕐 ), so I hope this 🔥 self-douses.

This is the worst and best issue title I've seen.

[2019-11-07 17:18] pearsonkyle commented on #1371
Bump. https://www.aavso.org/vsp-api

[2019-11-07 18:07] bsipocz commented on #1582
yeah, I'm out of ⏲, too as travelling, and given that I don't see it locally, I'm not in panic mode yet.

[2019-11-08 14:15] bmatthieu3 opened #1583 "vizier.find_catalogs returns an empty dict for 2MASS"
Hi @bsipocz,

@kathl @gilleslandais -``Vizier.find_catalogs`` returns empty dictionaries for "2MASS" and "Arp Webb" inputs.

Example:
[code]
We tested on a jupyter notebook running on binder and in local on two different computers.

By checking the Vizier logs in `http://vizier.u-strasbg.fr/` we did not find anything too. Do you have more information, ideas about what is going on ? Thank you very

[2019-11-08 14:37] keflavich commented on #1583
2 cents - I was trying to search for catalogs on vizier (via the web) 2-3 days ago and got zero hits for things that should have existed.  Maybe something is broken server side?

[2019-11-08 14:46] gilleslandais commented on #1583
Can you give me the URL you started in astroquery ?

Gilles landais (CDS)

On 08/11/2019 15:37, Adam Ginsburg wrote:

[2019-11-11 08:25] jcsegovia commented on #1581
like @bsipocz has said, this module will be deprecated. For now, please, feel free to create a PR with the patch you propose.

(In any case, please, keep in mind that you can use TOP to limit the number of results, e.g.:
SELECT TOP 100 * FROM table
)

[2019-11-11 10:12] jontxu commented on #1581
Yes, that's what I understood in the IVOA Paris Interop. But a coworker has been asking for it so I can't help it. I am pushing for PyVO for that exact reason at the time being.

SELECT TOP 100 * FROM table)

This wouldn't work if the default MAXREC (an implicit `TOP <number>`, basically) is lower than the number of records the query is going to return.

[2019-11-12 20:56] stickneyar opened #1585 "astroquery"

[2019-11-12 20:57] #1585 closed

[2019-11-16 11:09] bmorris3 opened #1586 "New SkyView DSS failure"
I'm encountering a bug that I haven't yet resolved in with DSS queries via SkyView:

[code]
returns
[code]

[2019-11-16 11:31] bmorris3 commented on #1586
I get the same error with this different query:
[code]

[2019-11-16 12:26] bmorris3 commented on #1586
It looks like the issue is on `SkyView`'s side [according to their statues page](https://skyview.gsfc.nasa.gov/current/cgi/titlepage.pl). Perhaps there's a more informative error we can produce when SkyView's survices are down?

[2019-11-16 15:02] keflavich commented on #1586
Thanks for the fix.  We could, in principle, include a check that goes to their status page to query for why things are broken, but yours is good enough.  Does #1587 close this?

[2019-11-16 19:32] bmorris3 commented on #1586
Yes #1587 closes this (if you think it's good enough for now).

[2019-11-18 10:21] bmatthieu3 commented on #1583
@gilleslandais - I close the issue as it seems to work again.

[2019-11-18 10:21] #1583 closed

[2019-11-18 10:27] tboch opened #1589 "astroquery.cds.find_datasets result should respect the order of requested fields"
When asking for a specific set of fields, the resulting Astropy table has a different ordering of the columns.

Example:

[code]
returns `['hips_creator', 'ID', 'moc_access_url', 'hips_creation_date']` whereas I was expecting to get the same order as what I asked in the fields parameter.

@bmatthieu3 : could you have a look?

[2019-11-18 14:39] bmorris3 commented on #1586
Service is back!

[2019-11-19 04:15] TakuNishiumi commented on #1586
Hello.
I still have the same Error.
What should I do?

[2019-11-22 15:09] shbhuk opened #1590 "JPL Horizons' query epoch input"
Hi,
Thanks for the great API to the Horizons web interface.
One correction that should be made to the documentation is the time format the Horizon's interface likes to be queried in -

See note below -
https://ssd.jpl.nasa.gov/?horizons_doc#time
_For cartesian coordinates or osculating elements tables, only TDB may be used. For "observer tables", output may be either UT or TT. TO CHANGE THE UT DEF

[2019-11-22 16:51] kjbrooks commented on #1580
@bsipocz Is there an update on this? This is still an issue for me. Thanks!

[2019-11-29 10:49] philastrophist commented on #1502
[code]
This fails and only returns the default columns on Vizier, I need all of them!

[2019-12-01 22:25] bsipocz opened #1591 "pytest should not be required to use astroquery"
However, without pytest installed, this fails:

[code]

[2019-12-02 19:58] #1591 closed

[2019-12-02 20:02] pllim opened #1594 "MNT: Compatibility with data caching in astropy 4.0"
Monkeypatching stuff internal to `astropy.utils.data` functions have broken `astroquery` compatibility with `astropy` 4.0 and later.

See https://github.com/astropy/astroquery/pull/1588#issuecomment-555187571

https://github.com/astropy/astroquery/blob/c96d5f4f306eee44f59de96e77d6f34bc4d784bb/astroquery/utils/tests/test_utils.py#L413

Example CI log: https://travis-ci.org/astropy/astroquery/jobs/6

[2019-12-02 20:05] pllim commented on #1594
I don't know the internals of the monkeypatching effort to suggest an effective fix. I see that @keflavich , @cdeil , and @MSeifert04 had touched that piece of code in the past.

For changes on `astropy` side, it started with astropy/astropy#9182

[2019-12-02 21:40] kjbrooks commented on #1580
@bsipocz I am now getting this same error on other data as well. Here are three specific dataset IDs that fail when trying to use astroquery, but work if I try to download them from the archive directly:

- NACO.2016-09-16T08:37:27.966
- NACO.2016-09-19T01:02:27.449
- NACO.2016-03-23T03:41:53.187

Cheers!

[2019-12-02 23:57] olyoberdorf opened #1595 "Gemini support"
Just letting people know I am working on a basic first-pass for Gemini Archive support for astroquery.

Plans for the initial version are to support:

query by cone search
query by target name
query by a core set of search fields (as you see on archive.gemini.edu, the ones that are always visible)
query by flexible arguments (mimics what the website responds to in the URL, maximum flexibility)

I'

[2019-12-03 00:11] keflavich commented on #1595
If you'd like to open a "Work in progress" (WIP) pull request, we're happy to provide code reviews along the way and direct feedback on what you've written.

Your planned approach sounds good, though!

[2019-12-03 02:48] hdevillepoix opened #1597 "KeyError: 'esatapplus:flags' in standard TAP request"
I have an issue querying a TAP server using astroquery.
The server in question works with other clients (tried with topcat),
but the astroquery TAP+ method didn't work,
so I assumed the server is not TAP+ compatible.

Then tried normal TAP, but get the same error:

**KeyError: 'esatapplus:flags'**

[code]

Looks like the normal TAP method is attempting to access a Tap+ specific key.

I get the sam

[2019-12-03 03:01] bsipocz commented on #1597
Another option would be to try and use the tap implementation from pyvo, astroquery will also slowly moving towards using that one: https://pyvo.readthedocs.io/en/stable/

[2019-12-03 08:16] #1586 closed

[2019-12-09 16:34] travisthieme opened #1599 "Feature request: astroquery splatalogue filter to show astronomically observed transitions"
Hi there,

Just wanted to see if it’s possible to add an option to the Splatalogue query to only show astronomically observed transitions. Since there’s already the option to only show NRAO recommended transitions, maybe it’s simple to implement.

They have this search filter on their website (circled in red in picture below).

<img width="1681" alt="Screen Shot 2019-12-10 at 01 04 35" src="https:

[2019-12-09 16:49] keflavich commented on #1599
I believe this is already the default, but the way it is specified is not terribly obvious from the documentation.
[code]
so, in other words, the default is to do something like `Splatalogue.query_lines(..., exclude=['potential', 'atmospheric', 'probable'])`.  Could you verify whether that achieves the same results as the web form checkbox?  If not, we should investigate further.

[2019-12-09 17:06] travisthieme commented on #1599
When I use the default setting, it gives me over 100 lines instead of 3. I added a picture of part of the list after my code example.

**A working example of my code would be:**
from astroquery.splatalogue import Splatalogue,utils
from astropy import units
line_query = Splatalogue.query_lines(219.92\*units.GHz,219.98\*units.GHz,top20='ism_darkcloud',only_NRAO_recommended=True)
print ('Number of mo

[2019-12-09 17:13] travisthieme commented on #1599
Also, for another reference I checked the boxes you mentioned for the

exclude : list
    Types of lines to exclude.  Default is:
    (``'potential'``, ``'atmospheric'``, ``'probable'``)
    Can also exclude ``'known'``.
    To exclude nothing, use 'none', not the python object None, since
    the latter is meant to indicate 'leave as default'

and got 118 molecules again.

<img width="1680" alt="

[2019-12-09 17:17] keflavich commented on #1599
Yep, you're right, this is a new option we don't support yet.  See #1600.

[2019-12-09 20:30] hippke opened #1601 "Gaia results have offset from website"
I would like to obtain information from Gaia using an identifier.
The result I get is different to the one from the website. Why?

[code]
Yields one source with ID 5853498678802473344. It is the wrong source, offset by a few arcsec.

When I use the [Gaia website](https://gea.esac.esa.int/archive/) and enter "Proxima Centauri" into the field "name", I get the source ID 5853498713160606720. This is

[2019-12-09 20:40] keflavich commented on #1601
It's hard to say from a quick skim of the GAIA code (which speaks to a need to refactor), but I am pretty sure we're using the SESAME name resolver as called in astropy to convert that name to a coordinate and then searching on coordinate.  This issue highlights a need for a search-the-GAIA-archive-by-name functionality.  That may exist in another function name....

[2019-12-10 20:33] keflavich commented on #473
Closed by #1602

[2019-12-10 20:33] #473 closed

[2019-12-12 21:58] #1048 closed

[2019-12-12 21:58] #1522 closed

[2019-12-12 21:58] #1523 closed

[2019-12-13 16:38] keflavich opened #1604 "New versioning scheme"
We’ve decided to change the version numbering scheme from the “semver” approach to a “date-based” approach, since that is better aligned with the practical usage of astroquery and will help us avoid the --pre requirement.  Versions will look like `<tag number>.YYYYMMDD`.  For example, if we released one today, it would be `4.20191213`, and tomorrow would be `4.20191214`.  When we increment the tag

[2019-12-14 00:07] pllim commented on #1594
Fixed in #1603

[2019-12-14 00:07] #1594 closed

[2019-12-15 06:55] odysseus9672 commented on #1502
I'm not sure where the problem is, myself, but I can work around it with `columns=["all"]` and then deleting the columns I don't want.

[2019-12-17 16:09] keflavich commented on #1575
Closed by #1576.  Thanks @ellot and @matteobachetti

[2019-12-17 16:09] #1575 closed

[2019-12-29 01:30] bsipocz opened #1608 "CDS MOC test should use `overwrite`"
I run into this test failure locally due to the parametrization of the test.

For the test, I think we should either use `overwrite=True` or preferably a temp file, but with a very quick look in the relevant code in astroquery/cds/core.py, I find it a bit odd, too that the path for moc is created based on the current directory rather than from a kwarg in `self.path_moc_file`, resulting the test fi

[2020-01-03 04:12] Borlaff opened #1609 "Zero results with Observations.query_criteria - calib_level = 0"
Hi all,

I am unable to retrieve a list of RAW files using Observations.query_criteria. The simplest test I can provide:

[code]

I am using 0.4.dev0
[code]
I am probably missing something here. calib_level = 1 to 3 look reasonable outputs, but calib_level = 0 provide no result at all at any position in the sky. Is there a different procedure for raw files?

Thanks in advance,
Alejandro Borlaff

[2020-01-03 11:21] jaladh-singhal opened #1610 "Astropy's testing framework is not working properly with astroquery"
Hello team,
Thanks for the great work you people are doing. Lately there has been some problems when I am running tests for the [new service](https://github.com/astropy/astroquery/pull/1498) I'm adding.

Whenever I run my tests with `python setup.py test`, it fails with following error:
[code]
So I am currently using [`astropy.test()`](https://docs.astropy.org/en/stable/development/testguide.html#

[2020-01-03 20:22] keflavich commented on #1610
@bsipocz - do you have ideas on the former issue?  is that an astropy-helpers related thing (that will go away...?).

On the latter, this is clearly some kind of caching problem, but it's a weird one that I haven't yet figured out; it shouldn't look for that cache file unless that file exists.

[2020-01-04 01:12] keflavich commented on #1609
@ceb8, could you have a look?

[2020-01-04 02:52] bsipocz commented on #1610
Not sure where that's coming from, I haven't seen it elsewhere so I doubt it's helpers related. I'm rather short with time atm, but maybe I can come back to astroquery on the AAS hackday next week.

https://github.com/astropy/astroquery/pull/1607 resolves some other issues though.

[2020-01-06 16:26] erwanp commented on #1538
@keflavich do you know who could decide on (2) ?

[2020-01-06 17:00] keflavich commented on #1538
Let's just get rid of it - python's gzip is fine.

[2020-01-06 17:11] erwanp commented on #1538
Ok, i'll submit a PR sometimes in the week then!

[2020-01-07 00:22] cristianhdez opened #1611 "Issues when logging in to CosmoSim"
I'm trying to login to cosmosim from Ubuntu 18.04 using Python3.6. First, when entering my password and authenticating it would show the error message " FeatureNotFound: Couldn't find a tree builder with the features you requested: lxml. Do you need to install a parser library".  For some reason, after uninstalling and installing beautifulsoup and astroquery a couple of times, now it shows the fol

[2020-01-07 18:44] cristianhdez commented on #996
Doesn't this merge repairs esasky instead of cosmosim?

[2020-01-08 14:58] AlySpoly opened #1612 "HELP Simbad: add_votable_fields --> the columns repeat themselves"
Dear all,

I'm not sure this is the right place to ask these doubts! But I don't know who to ask.

I'm working with `astroquery.simbad`. I'm doing a research on sources which are in a circular region with a radius of 1.75 degrees from the center whose coordinates are, in my example, that of the Crab Nebula. In particular I want only sources with a B or V magnitude less than 6.
The line code is: `r

[2020-01-08 15:10] keflavich commented on #1612
You can just check whether `flux(B)` is in the fields:
[code]

[2020-01-08 20:54] ceb8 commented on #1609
Hi @Borlaff, you are encountering the difference between a "data product" and "observation." When you perform an astroquery criteria search, you are querying "observations" which encompass one or more data products. For observations the calib_level column indicates the highest calibration level for the data products within that observation, so if you do a "get_product_list" query on some of the ca

[2020-01-14 22:17] mkelley commented on #1541
Sorry for the delay.  I was on leave at the time, and for much of the fall.  Unfortunately, @mommermi is about to do the same!

The error occurs parsing the following key/value pair:

`'des_alt': [{'des': '2011 NQ'}, {'des': '2007 VB1'}, {'pri': '1984 QY1'}]`

The code is turning the value into a uniform list.  It inspects the first item for keywords, and finds one: 'des'.  However, notice that th

[2020-01-16 15:05] bmorris3 opened #1615 "How to access the MAST cache"
Repost from Slack: I have used astroquery to download and cache TESS FFI cutouts with the `TessCut` class. Is there a way to iterate over files in the astroquery-MAST cache, rather than re-querying for the cutouts with `Tesscut.get_cutouts`?

[2020-01-16 15:05] bmorris3 commented on #1615
It looks like you can force this behavior by setting:
[code]

[2020-01-17 09:10] jpdeleon opened #1616 "silence text output after import of gaia module"
How to silence the output:
[code]
after importing gaia via `from astroquery.gaia import Gaia`?

[2020-01-17 17:04] keflavich commented on #1616
This will likely have to wait on an upcoming Gaia refactor to use pyvo.

[2020-01-17 17:09] jrmusiov opened #1617 "Astroquery Spectral Type Extraction"
I'm using Vizier through Astroquery, and I'm trying to get each spectral type extracted.

So far, my code is:
Vizier.ROW_LIMIT = -1
catalogs = Vizier.get_catalogs('I/131A')
print(len(catalogs))
pd.options.display.max_rows = None
catalogs[0].pprint()

This gives me the full SAO catalog (I/131A) with 11 columns and 258,997 rows. I want to create an All-Sky map of the whole catalog, and want to extra

[2020-01-20 07:25] annmao opened #1618 "ValueError: no field of name obsID2 error with cadc.query_region"
Hi!
I copied over an example at astroquery on CADC

from astroquery.cadc import Cadc
cadc = Cadc()
coords = '01h45m07.5s +23d18m00s'
radius = '0.01 deg'
result = cadc.query_region('08h45m07.5s +54d18m00s', collection='CFHT')
print(result)

 but I am getting the following errors. Is this an issue of python2.7, or something other issues? I saw a similar issue for ticket #1564. Wondering if this has

[2020-01-20 11:10] annmao commented on #1618
Fixed - I believe it is a 2.7 issue.

[2020-01-20 11:10] #1618 closed

[2020-01-20 13:19] bmatthieu3 commented on #1617
Hi @jrmusiov,

I have seen that one column of catalogs[0] is called 'SpType', the output looks like this:
[code]
Is this what you are looking for ?

For the RA, DEC there are two columns named '_RA.icrs' and '_DE.icrs'. You can convert these columns using e.g. astropy.coordinates.Angle objects: https://docs.astropy.org/en/stable/coordinates/angles.html
[code]

[2020-01-21 15:43] jrmusiov commented on #1617
Hi @bmatthieu3,

I can see the SpType column, but when trying to print only the RA and DEC for each spectral type it's not working. I am able to print each type, but cannot isolate the coordinates.

I tried the Vizier code:
v = Vizier(columns=['_RA.icrs', '_DE.icrs', 'SpType'], column_filters={"SpType":"O*"}), but will not print more than 50 objects. I'm sure it's something simple I'm missing.

[2020-01-22 00:02] talister opened #1619 "Change in JPL HORIZONS output has broken ephemeris query"
With the January 21/Version 4.67 release of the JPL HORIZONS code/service (https://ssd.jpl.nasa.gov/?horizons_news), the output column quantities have changed and no longer match the expected value leading to a `KeyError` crash:
[code]

This produces:
[code]

The fix is simply to add the new column names in the `eph_columns` dictionary in the  `astroquery/jplhorizons/__init__.py`. I have done this

[2020-01-22 00:17] bsipocz commented on #1619
@talister - Yes, please, a PR would be very much welcome.

cc @mommermi

[2020-01-22 09:23] bmatthieu3 commented on #1617
v = Vizier(columns=['_RA.icrs', '_DE.icrs', 'SpType'], column_filters={"SpType":"O*"}), but will not print more than 50 objects. I'm sure it's something simple I'm missing.

There is the attribute ROW_LIMIT that you can set to -1 on the Vizier object you instantiated to say "I want all the rows matching this filter". So this code returns me a table with 97 rows
[code]

[2020-01-22 20:16] ceb8 commented on #1615
There isn't currently a way for the user to control this. Default astroquery caching is in place though, so your cache should be checked before it runs a query again.

[2020-01-23 18:42] #1617 closed

[2020-01-23 19:29] hover2pi opened #1621 "Simbad import broken with astropy v4.0"
Since `astropy` v4.0 removed `astropy.extern.six`, importing the `simbad` module (e.g. `from astroquery.simbad import Simbad`) throws `ModuleNotFoundError: No module named 'astropy.extern.six'`.

Any plans to update this soon so `astroquery` works with `astropy` v4.0? Thanks!

[2020-01-23 19:48] bsipocz commented on #1621
This is a duplicate of https://github.com/astropy/astroquery/issues/1537

I suspect you are not using the latest version, please update. (However a new tagged release is also in the works to ship some more new functionality).

[2020-01-23 19:48] #1621 closed

[2020-01-23 21:50] mtazzari commented on #1319
I am trying to stage data but I am getting error 500 for, apparently, maintenance server-side.
I paste below commands and full traceback.
Has this been happening only recently or is it a well known issue?
Any way to find when/whether the functionality will be restored?
Thanks!

[code]

[2020-01-23 22:00] keflavich commented on #1319
This is news to me - we may have to ask someone in the archive department at ALMA for more information.

[2020-01-23 22:04] bsipocz commented on #1319
What happens if you try the other, non eso servers?

[2020-01-23 22:05] mtazzari commented on #1319
Thanks Adam for the quick response.
Funnily enough, I get the same error if I try to download the data from the
new ALMA archive!
Ouch...
[image: image.png]

On Thu, 23 Jan 2020 at 22:00, Adam Ginsburg <notifications@github.com>
wrote:

[2020-01-23 22:05] mtazzari commented on #1319
@bsipocz How can I choose the server?

[2020-01-23 22:08] bsipocz commented on #1319
They may redirect you anyway based on your geo, but here is the list: https://astroquery.readthedocs.io/en/latest/_modules/astroquery/alma.html#Conf

[2020-01-23 22:08] bsipocz commented on #1319
new ALMA archive!

yes, that's expected.

[2020-01-23 23:02] bsipocz commented on #1595
Everything in the list above got implemented as part of https://github.com/astropy/astroquery/pull/1596, thus this can be closed.

[2020-01-23 23:02] #1595 closed

[2020-01-23 23:02] bsipocz commented on #1582
This has been fixed for a while now, so closing.

[2020-01-23 23:02] #1582 closed

[2020-01-23 23:04] bsipocz commented on #1590
cc @mommermi

[2020-01-23 23:07] bsipocz commented on #1493
Had been added in #1505

[2020-01-23 23:07] #1493 closed

[2020-01-23 23:09] bsipocz commented on #1295
#1604 is a concrete proposal of how to achieve this while also keep a way to note the automatically deployed versions. So I'm closing this now as a duplicate.

[2020-01-23 23:09] #1295 closed

[2020-01-23 23:13] teuben commented on #1319
Odd, this works for me.  I also happen to update to 4.0 a few days ago, and ran my test. Was fine.

So, in my case the NRAO version worked, the ESO version is under maintenance.Just tried that out.

data = alma.query(payload={'project_code':pid},science=True,public=True)
alma.cache_location = pwd
alma.dataarchive_url = 'https://almascience.nrao.edu.org'
alma.dataarchive_url = 'https://almascience.

[2020-01-23 23:23] johnveitch commented on #1392
I have encountered the same problem with astropy 3.2.3 from conda and was wondering if there was a fix or a workaround?
It seems like it might be a missing dependency in the conda package?

[2020-01-23 23:29] bsipocz commented on #1319
Thanks @teuben for confirming the suspicion.

[2020-01-23 23:36] johnveitch commented on #1392
In case anyone else runs into this, it is caused by stale cache files. Running `rm -r ~/.astropy/cache/` should clear it up.

[2020-01-24 10:45] mtazzari commented on #1319
Thanks for the insight, I've tried right now with the same commands I used
before and it works just fine.
It is downloading from https://almascience.eso.org/ so the ESO archive must
be working fine again.
Perhaps I've caught the archive just at the wrong time...

On Thu, 23 Jan 2020 at 23:29, Brigitta Sipőcz <notifications@github.com>
wrote:

[2020-01-24 10:56] #1319 closed

[2020-01-24 14:23] pllim commented on #871
Update on USNO catalogs that have been chronically failing for a while:

_The service you were accessing was run by the USNO's dark sky site, the Naval Observatory Flagstaff Station, in Flagstaff, AZ. I do know that much of the website that you pointed to is not actively maintained. It turns out that the part of the site that you were looking into was closed in June, 2018, which lines up with your

[2020-01-24 20:18] ceb8 opened #1622 "MAST: astroquery.mast code refactor"
Due to changes in MAST's API structure, and the need to plan for future expansion we (@ceb8  and @phicc) intend to heavily refactor the astroquery.mast codebase. These changes should be transparent to the user, but will result in fairly radical changes to the MAST module structure. I am opening this issue to solicit feedback on our proposed codebase structure, described below.

**Files with code f

[2020-01-25 00:21] bsipocz commented on #1541
Congrats! That case I stop cc-ing him, and will cc you instead if that's OK.

[2020-01-26 03:55] mommermi commented on #1541
Thanks, @bsipocz! No need to bug @mkelley about the bad code I wrote :) I can take care of this and future astroquery issues.

[2020-01-26 13:45] mkelley commented on #1541
I've got two draft fixes, but haven't decided which is the right approach.  The concern is that when the dictionaries are split into arrays by key, the assumption is that all dictionaries have all keys, therefore the arrays will all be the same length.  However, for this item (alternate designation list), it is not the case, as I pointed out above. I don't understand if other items have the same i

[2020-01-26 20:03] keflavich commented on #1541
@mkelley I can't say which is right.  Both are more suitable to different use cases.  Any idea which is more likely?  Failing a clear use case, I agree that preserving current behavior as closely as possible is best.

[2020-01-28 22:07] fraserw commented on #1619
Has this correction been pushed forward in the latest pypi version, 0.4? I was unable to recreate it using that version.

[2020-01-28 22:10] fraserw opened #1624 "jplhorizons elements broken"
Elements query is no longer functional.

Steps to reproduce, and resultant error:
[code]
Version of python 3.7.4, astroquery 0.4, installed with anaconda and pip.

[2020-01-28 22:10] fraserw commented on #1624
Sorry about the messed up formatting.

[2020-01-28 22:11] talister commented on #1619
Yes it's in 0.4, see the entry under `jplhorizons` in the `CHANGES.rst`
 @bsipocz am I supposed to close this issue now or is that a Project Thing (Tm) ?

[2020-01-28 22:27] bsipocz commented on #1619
It's just an oversight. I learnt to rely on the PRs to close the related issues, but didn't pay attention that the magic words were missing when I merged it.

[2020-01-28 22:27] #1619 closed

[2020-01-28 23:05] bsipocz commented on #1624
The real error is this one: `Cannot interpret date. Type "?!" or try YYYY-Mon-Dy {HH:MM} format.`

Passing a JD definitely worked, so I suspect this maybe part of the recent changes server side?

Either way, we need more tests as apparently this is not being picked up by the test suite.

cc @mommermi

[2020-01-28 23:13] talister commented on #1624
Isn't there one too many digits in the JD in the `epochs` being passed ? Or was this just a cut-n-paste when creating the issue ?

[2020-01-28 23:16] fraserw commented on #1624
Good catch @talister It is indeed being an order of magnitude too high on the JD. I suspect that's a problem on JPL's end with the 405 (or equivalent) ephemeris files not going up to the year 62,000. Either way, should be a pretty easy catch with astroquery in that horizons has returned garbage, which should be caught accordingly.

[2020-01-28 23:28] talister commented on #1624
The available time span seems to depend on the object. For a random NEO (35107) and Eris, the website returns:
[code]
For the Solar System Barycenter, it gave me: `BC 9998-Mar-20 to AD 9999-Dec-31 TT.` Neither corresponds to the end-dates of the DE431 ephemeris the returned table says it's using but it's presumably failing the date range validation part on the backend HORIZONS system.

[2020-01-28 23:30] fraserw commented on #1624
Well ya learn something new every day. That probably shouldn't be surprising.

I wonder if the valid date range could be returned in the exception?

[2020-01-29 00:08] bsipocz commented on #1624
Nice detective work! Nevertheless, I think we need to parse the error message and return something reasonable and human readable to give users a clue.

[2020-01-29 03:07] mommermi commented on #1624
Thanks, guys! I'll work on implementing a more useful error message.

[2020-01-29 18:59] ceb8 opened #1625 "Cache problem"
I discovered when using the service astroquery.mast.Tesscut that if I manually delete my cache I can't call Tesscut again until I restart my python kernel.  I haven't tried this with any other astroquery service that uses caching, so I can't be sure, but looking at the code it seems likely to be a problem in astroquery's caching code rather than Tesscut.

This problem requires more investigation,

[2020-01-29 20:07] bsipocz commented on #1625
This may either be astroquery or upstream, astropy.

I'm cc-ing the upstream cache experts @pllim @aarchiba

[2020-01-29 20:08] pllim commented on #1625
@ceb8 , when you reproduce it, please give some code, traceback, and version info. Thanks!

[2020-01-29 20:09] jdavidrcamacho commented on #800
Hi @bsipocz
Is it possible to retrieve the phase 3 spectral data products or` query_surveys `only works for the generic data products?

[2020-01-29 20:14] bsipocz opened #1626 "Use the pure python ascii reader to parse results"
The fast reader has more hidden bugs  than the python one (the latest one is here: https://github.com/astropy/astropy/issues/9886), and we're not really limited by the parser performance in astroquery when the data needs to be downloaded from the internet to begin with.

[2020-01-29 21:35] ceb8 commented on #1625
@pllim Will do. Unfortunately tesscut is down at the moment. 😛

[2020-01-31 18:55] pllim commented on #1125
Not sure. `from_registry` has hard-coded field names. I have a feeling that registry layouts are not uniform across the internet?

https://github.com/astropy/astroquery/blob/7cecd833bc18ebcec525709ec12d37ea9e1950d5/astroquery/vo_conesearch/vos_catalog.py#L530

[2020-01-31 19:13] pllim opened #1628 "ENH: vo_conesearch to use registry from pyvo"
xref https://github.com/astropy/astroquery/pull/1158#issuecomment-580867442

If we switch to using `pyvo` registry in validation, then maybe #1125 will be non-issue. However, this means significant refactoring in the validator's inner machinery.

[2020-01-31 21:40] mommermi commented on #1590
Thanks, @shbhuk, for pointing this out. #1629 fixes the documentation as you suggested. For the second part of your request, I would like to refer to #1506. Unfortunately, I don't have time to deal with this now...

[2020-01-31 22:11] shbhuk commented on #1590
Thanks!

[2020-02-01 21:59] Knusper commented on #1580
I get the same error when downloading MASCOT all sky images:
[code]

[2020-02-03 01:23] bsipocz opened #1630 "BUG: non-default return type is not working for vizier"
I've run into this while making a PR for #1626.
The vizier module is the only one where the fast reader was used purposefully (done in https://github.com/astropy/astroquery/pull/526), but I wanted to make sure that it makes sense there timing wise. As it seems the `asu-tsv` return type is not working at all, and the tests don't seem to cover any of the non default return types.

[code]

[2020-02-03 02:06] Knusper commented on #1357
This error still exists.

[2020-02-03 02:28] Knusper opened #1631 "Eso: Have an option to prevent automatically unzipping of files."
Currently the ESO download method always unzips zipped files download from the archive.  Given that most of the FITS reading software (including astropy) can deal well with zipped fits files this is a waste of space (and computing resources) in the downloading process.

The `retrieve_data` method currently does this:

[code]

I propose to have an user option (`unzip=True`) as an additional paramet

[2020-02-03 02:45] bsipocz commented on #1357
@Knusper - If an issue is open, it's likely it's still relevant. PRs are welcome.

[2020-02-03 04:26] Knusper commented on #1357
It seems the issue is in astropy.utils where the spinner is drawn. I will
investigate as I didn't see an issue (neither open or closed) in their
bugtracker.

On Sun, Feb 2, 2020, 23:45 Brigitta Sipőcz <notifications@github.com> wrote:

[2020-02-03 04:54] bsipocz commented on #1630
OK, so under the bytes/string issue, the main one here is with the duplicate column names. It came up before elsewhere, so ideally the same solutions can be used.

[2020-02-04 10:04] MarcoMuellner opened #1633 "Error when querying mast catalog using TIC ID"
Hi everyone!

Yesterday, the following snippet worked perfectly:

[code]
The same query fails today, giving the following error:

[code]

Using the name of the object still works:
[code]
results in:
[code]
Which is exactly the wished result. I am using astroquery==0.4 for this.

Can anybody help me with this?

Marco

[2020-02-04 14:46] ceb8 commented on #1633
Hello @MarcoMuellner, yesterday MAST's resolver, the thing that takes a TIC ID and figures out what RA/Dec it corresponds to, went down for a time. It's back up now, and I have verified that your query works again. Let me know if you continue to have problems.

[2020-02-04 15:37] MarcoMuellner commented on #1633
Wondeful, everything working perfectly! Thanks for the help!

[2020-02-04 15:37] #1633 closed

[2020-02-05 17:25] caseyjlaw commented on #1630
I'm seeing a potentially related issue with the heasarc query_region. If I query for a region that has no data, it returns a table that cannot be parsed (I've tested by querying on area I know has and as no coverage).
E.g., python 3.6 and astropy 3.2.2 and astroquery 0.4.

[code]

[2020-02-05 17:54] bsipocz commented on #1630
interesting. could you open a separate issue for that? I think a big cleanup is more than due, and these cobwebs might be dealt with naturally with a proper python2 removal.

[2020-02-05 20:00] bsipocz opened #1635 "Generalize the case of dealing with duplicated column names"
We now have multiple modules that have to deal with a csv/other ascii output that has the same column name for multiple columns. Currently we have a workaround implemented in xmatch, but ideally it should be in utils (and refactored to make it work according to the relevant discussions) and to be reused by any modules needing the functionality.

[2020-02-05 20:01] bsipocz commented on #1635
long term the solution needs to be upstream, see https://github.com/astropy/astropy/issues/8471

[2020-02-06 01:32] shbhuk opened #1636 "Gaia cone search fails"
Running sample script for Gaia cone search from docs -
https://astroquery.readthedocs.io/en/latest/gaia/gaia.html

[code]
I get the error shown below.

[code]

Any idea what might be causing this emergent error?

numpy = 1.17.2
astropy = 3.2.3
astroquery = 0.3.10.dev0

[2020-02-06 02:37] bsipocz commented on #1636
cc @jcsegovia

[2020-02-06 16:13] caseyjlaw opened #1637 "bytes/str issue for heasarc.query_region() in python3.6"
I'm using latest builds on python 3.6:
[code]

And when querying a heasarc catalog in a region with *no* survey data, I get this:
[code]

[code]

Setting the coordinate to a region that know has data returns data as expected.

[2020-02-10 14:25] alipnicky opened #1640 "WARNING: ALMA's archive system is going to change 11 March"
I am a member of the North American ALMA Science Center who uses the astroquery.alma() interface daily. This week (on Wednesday, Feb. 12) ALMA is planning on updating their current archive request handler to a new version that will break astroquery.alma's ability to access the archive. This new request handler simplifies the download links to a format like

https://[archive-URL]/dataPortal/[filena

[2020-02-10 14:49] keflavich commented on #1640
I've done some initial investigation, and it seems that the problem is that the metadata about the request number is now more difficult to find.  However, maybe that's not needed any longer.

[2020-02-10 15:00] keflavich commented on #1640
Any idea if there's a good way to test whether the server is pre- or post- update?  Does it return some sort of version number so users can be smoothly transitioned from one to the other?

[2020-02-10 16:19] alipnick commented on #1640
Hmmm... not that I know of.

[2020-02-10 18:38] shbhuk commented on #1636
Just checking if there's any update?

[2020-02-10 19:43] keflavich commented on #1640
What URL do you need to use to get a list of files now?  I'm trying to fix up the `stage_data` component, and I'm stuck at retrieving that list, which now seems to be executing a series of javascript commands.  Those are reproducible, but only with a large effort.

[2020-02-10 19:47] keflavich commented on #1640
@alipnick regarding your original issue, about `login` not carrying the credentials - the problem appears to be in the URL construction.  For example, this proprietary data set:
`https://almascience.nrao.edu/dataPortal/sso/2016.1.00620.S_uid___A001_X879_X14e_auxiliary.tar`
will work just fine with the above URL (in the new system), while this one:
`https://almascience.nrao.edu/dataPortal/2016.1.00

[2020-02-10 21:20] alipnick commented on #1640
Ah, I see, the `sso` appears to be necessary, I had missed that. When you request the downloads via a download script from the archive, the list of files to download gets put in the top of the script. Based on those links, I did not see the `sso` part of the URL. I agree that the URL construction is really the issue here.

[2020-02-10 22:31] davidthomas5412 commented on #1636
I think this is a broader issue. Old Gaia scripts of mine are failing even though code/versions haven't changed. In fact, even simple Gaia queries (from read the docs)[https://astroquery.readthedocs.io/en/latest/gaia/gaia.html] are failing.

[code]

gives

[code]

python=3.5.4
astropy=2.0.2
astroquery=0.3.8

[2020-02-10 22:34] bsipocz commented on #1636
Please do upgrade your versions, astroquery 0.3.8 is very old.

With the latest, the query works for me:
[code]

[2020-02-10 22:40] bsipocz commented on #1636
@shbhuk - your example code also works for me (the only change I did is to run for a smaller radius, as 1deg was running forever).
So for the solution, please, upgrade your astroquery version.

[2020-02-10 22:40] #1636 closed

[2020-02-10 22:50] davidthomas5412 commented on #1636
Awesome, thank you for the quick response and suggestion @bsipocz, upgrading to astroquery=4.0 resolved the issue.

[2020-02-11 02:02] keflavich commented on #1640
I still can't figure out a way to get the URLs.  The browser loads this page (for example):
https://almascience.nrao.edu/rh/requests/keflavich/1651800637126
from a post request, then populates the page with some autogenerated javascript queries.  If someone can help point me in the right direction, it will be quick work, but right now I have to reverse-engineer the internal API to get these URLs,

[2020-02-11 12:07] odysseus9672 opened #1643 "SkyView.get_image_list returning a list of bad URLs for a very specific coordinate"
I have no idea what is going wrong here. I suspect that the problem might by on NASA SkyView's end, but I do not know how to get the relevant information out of AstroQuery to report the issue to them. Regardless, I have a very specific query that isn't working in Astroquery 0.4. The code to reproduce it is:
[code]
Then wait for the query to complete. When I try to use any of the items in `URLs` to

[2020-02-11 14:24] keflavich commented on #1643
Almost certainly this is a caching problem; I was able to access the files from that query without difficulty.  Try deleting the contents of `~/.astropy/cache/astroquery/SkyView/`.

[2020-02-11 14:46] alipnick commented on #1640
It looks like the deployment will be delayed by a few months, that should give plenty of time for figuring this out.

[2020-02-11 15:30] odysseus9672 commented on #1643
Indeed, that sorted the issue. These files should have been pretty old. Doesn't AstroQuery have a timeout/staleness algorithm to clean out old caches?

[2020-02-11 15:31] keflavich commented on #1643
No, unfortunately; see https://github.com/astropy/astroquery/issues/1531

[2020-02-11 15:31] #1643 closed

[2020-02-11 15:32] keflavich commented on #1531
We have yet another affected module.

Much as I love caching, maybe we need to start defaulting it to 'off' to circumvent these issues?

[2020-02-11 20:40] bsipocz commented on #1531
@ceb8 has resurrected the old cache timeout PR in #1634, I'll try to review what she has there soonish instead of changing the defaults.

[2020-02-12 10:21] BisariaUtkarsh commented on #226
Hello
Is this project going to be taken up for gsoc 2020??

[2020-02-12 15:20] alipnick commented on #1640
March 11 is the new date for this update to occur.

[2020-02-12 16:59] alipnick opened #1646 "alma.login doesn't work"
During the update to ALMA's various systems today, it looks like CAS was changed (asa.alma.cl/cas) such that Alma.login() no longer works. It seems that the hidden metadata that is needed is now different.

[code]

[2020-02-12 17:30] bsipocz commented on #226
No, there won't be any astroquery gsoc projects this year.

[2020-02-12 18:49] bholler opened #1647 "Additional decimal places in sub-obs lat & long in JPL Horizons breaks astroquery.jplhorizons parser"
**Summary**: Additional decimal places were added to the sub-observer latitude and longitude for JPL Horizons ephemerides, resulting in errors when using the jplhorizons routine.

**Description**: I received the following email from the ssd-announce listserv, which may now be sending emails for updates that typically make it into the JPL Horizons systems news (however, at the time of submitting th

[2020-02-12 23:24] bsipocz commented on #1647
cc @mommermi

[2020-02-13 15:16] shbhuk commented on #1636
Got it. Thank you, the documentation for the cone search should probably also be changed to reduce the cone radius from 1 degree to something smaller.

Any idea why it no longer works for the older versions of Astropy and Astroquery?

[2020-02-13 22:01] bsipocz commented on #1636
@shbhuk - when there are upstream changes on the server side, the old versions naturally break. I suspect this case was due to switching from http to https. Either case, you can do nothing but upgrade (upgrade astroquery, older astropy should still be ok), as there are not multiple versions of the server running.

[2020-02-13 22:18] bsipocz commented on #1646
fixed by #1648

[2020-02-13 22:18] #1646 closed

[2020-02-14 20:28] mommermi commented on #1647
... @bholler ... always causing trouble... :)

This should be fixed with #1650. Thanks for pointing out the error and the solution!

[2020-02-14 21:15] falon3 opened #1651 "cadc.get_images() or cadc.query_region() times out"
When I do the same request from my local machine it times out, versus the same request made from our remote server which returns successfully. I have no idea why this would be the case since I have not changed anything on my end or the remote server end. I can make requests successfully to other astroquery libraries, just not Cadc.

Error trace:
[code]

[2020-02-14 22:55] bsipocz commented on #1651
cc @andamian

[2020-02-14 23:04] #1647 closed

[2020-02-15 23:43] mkelley commented on #1624
Is this solved?  Independent of how astroquery handles the error, Horizons should be more clear.  Did anyone contact JPL about their error message?  If no, I can do that.

[2020-02-17 18:43] andamian commented on #1651
@falon3 - we (CADC) have experienced some network problems recently, which now have been fixed. Please give it another try and let me know if problems persist.

Thank you.

[2020-02-18 13:44] alipnick commented on #1640
@keflavich requested that I send some of my standard testing that I perform:
[code]
This standard download process usually hits all the break points that I encounter. The first sticking point is logging in. If that works, the next sticking point is retrieving the links. If I can retrieve the links, it's never failed after that point (besides timeouts).

[2020-02-19 04:16] kumkee opened #1652 "JPL Horizons: there is no time steps in seconds"
In the [HorizonClass constructor](https://astroquery.readthedocs.io/en/latest/api/astroquery.jplhorizons.HorizonsClass.html#astroquery.jplhorizons.HorizonsClass), the 'step' take ns as an argument.
However, second doesn't exist in the JPL HORIZONS system. If you try to push 1s, for example, to HORIZONS, it will return an error. Here is an example:
[code]

returns an error

If you change '1s' into

[2020-02-19 10:44] kumkee commented on #1652
I just found a way to submit an equal-interval step query.
[code]

[code]

So you might only want to update your documentation, removing the 's' time-step unit and adding the unitless equal-interval one.

[2020-02-19 20:52] jmangum opened #1653 "ALMA user authentication fails"
When trying to authenticate ALMA data to allow for proprietary data access, encounter an error.  Latest astroquery installed:
[code]

[2020-02-19 20:57] keflavich commented on #1653
I suspect this is an issue with our deployment rather than with the ALMA module, at least for today.

[2020-02-19 20:59] keflavich commented on #1653
https://github.com/astropy/astroquery/issues/1646

[2020-02-19 20:59] bsipocz commented on #1653
What is the astroquery version used?

[2020-02-19 21:02] jmangum commented on #1653
astroquery-0.4

[2020-02-19 21:47] bsipocz commented on #1653
hmm, I suppose we need push that release then. Closing this as a duplicate and as the dev version is fixed.

[2020-02-19 21:47] #1653 closed

[2020-02-22 11:18] odysseus9672 opened #1654 "Feature Request: add support for cross-matching to `astroquery.mast.Catalogs`."
Bulk cross-matching is an important feature to allow users to minimize the load they place on catalog servers. Right now the [`astroquery.VizieR`](https://astroquery.readthedocs.io/en/latest/vizier/vizier.html#query-with-table) api supports cross-matching by the simple method of feeding it a table of coordinates with columns `"_RAJ2000"` and `"_DEJ2000"`. Since [MAST's API](https://catalogs.mast.s

[2020-02-24 20:02] #1631 closed

[2020-02-25 21:16] alipnick commented on #1640
While testing the new core.py in the above commit, I keep running into a couple of issues. My first issue is a requests error
[code]
which may just be an issue with the test system that is currently setup and not an astroquery issue.

If I ignore trying to log in and attempt to stage data (proprietary or non-proprietary), I get an error message related to `dataarchive_url`:
[code]
From how I see i

[2020-02-26 20:04] keflavich commented on #1371
Maybe we should have tagged this as a GSOC project...

[2020-02-26 20:16] bsipocz commented on #1371
If you have capacity to mentor this summer, it's still not late to propose it, but I don't have any free cycles left myself.

[2020-02-28 19:33] olyoberdorf opened #1658 "Gemini: Pass down additional arguments and kw/value arguments to low level raw query"
This allows people to use the helper method while still adding in any extra parameters they may want to pass to the web API.

[2020-02-28 20:45] alipnick commented on #1640
A new development server has been setup for testing the new archive architecture. Using the latest commit for this issue (https://github.com/astropy/astroquery/pull/1644/commits/b514addebde0472c130e9d69e901444cb5b45212), I'm still having issues getting proprietary data to download. I can now login and get the new URLs successfully, but when I try to download the files using alma.download_files() I

[2020-02-28 20:54] keflavich commented on #1640
is it possible that's a server-side error?  i.e., that the new dev server
isn't synced to the login server?  Can you verify that you're able to
download proprietary data via the web interface?
--
Adam

[2020-02-28 21:10] alipnick commented on #1640
I can confirm that it works from a web browser. In fact, if I take the same link as provided in the Traceback above and put it in my browser it starts downloading the data.

[2020-02-28 21:41] alipnick commented on #1640
Maybe I spoke too soon. Let me trouble shoot with IT here. It seems to be very inconsistent from the web.

[2020-02-28 21:45] bsipocz opened #1660 "Switch to use @pytest.mark.remote_data rather than @remote_data"
We should switch to use the remote_data pytest plugin directly, rather than through astropy

[2020-03-02 19:00] alipnick commented on #1640
It does not seem to be an issue here, it seems to be the original issue from above with URL construction missing the `sso` for proprietary data. When requesting proprietary data from astroquery, a list of links are provided that when used throw a 403 response due to missing credentials. Modifying the URL to include the `sso` string also fails with a `Too Many Redirects` Error. However, running it

[2020-03-03 09:47] JFerreira1994 opened #1662 "MPC format issue with satellites"
Hello,

I was re-directed here from the astropy github with an issue I had using an astroquery package:

I was performing a task that required grabbing the MPC observations of several asteroids. I requested that the MPC format was maintained, as this was necessary for me, but there seems to be a bug with the way astropy parses satellite observations within these files. Rather than having one line

[2020-03-03 19:22] bsipocz commented on #1662
Could you please report the versions of astroquery and astropy used, as well as a full minimal failing example to help us reproduce the issue?

cc @mommermi

[2020-03-04 09:06] JFerreira1994 commented on #1662
The versions were Astropy 3.0 and Astroquery 0.3.10.

An example:

from astroquery.mpc import MPC

obs = MPC.get_observations(8,get_mpcformat=True)

obs.to_csv('mpcobs2/8' + '.obs', index=False,
                   header=False)

I chose here 8 as the asteroid number, because it's the first asteroid on the catalogues that I used for my work.

João Ferreira

[2020-03-04 09:14] JFerreira1994 commented on #1662
2 notes to my previous comment:

1 - upgrading astropy to 4.0 and astroquery to 0.4 did not fix this bug, and I forgot one step in the code. Here is the correct version:

from astroquery.mpc import MPC

obs = MPC.get_observations(8,get_mpcformat=True)
obs = obs.to_pandas()
obs.to_csv('mpcobs2/8' + '.obs', index=False,
header=False)

João Ferreira

[2020-03-04 19:29] bsipocz commented on #1662
Hmm, this seems to be an upstream bug as there are certainly dubious lines in the raw data returned (a total of 111 for this asteroid), e.g.:
[code]
So as a workaround for now we could easily just ignore these lines when outputing the mpc formated strings.

However @mommermi might have ways to report the issue upstream to MPC

[2020-03-05 09:23] JFerreira1994 commented on #1662
I found a workaround by splitting the concerned lines in half, but my concern was on correcting this bug for future uses of MPC and for people unaware of it (I wasn't aware until someone else pointed it out to me).

I would like to know if any change is made in this regard. Thank you.

[2020-03-05 14:34] keflavich opened #1664 "ALMA bug reports"
On test servers:

 * `tbl = alma.stage_data(['uid://A001/X13d5/X1d','uid://A002/X3216af/X31','uid://A001/X12a3/X240'])` results in a table concatenation failure because of 'object' types in columns
* Some attempted downloads result in .html files instead of the appropriate tarballs.  No specifics were given.
* Report that `/sso` in data URLs is unsupported

[2020-03-05 15:08] pllim opened #1666 "Compatibility with votable bytes/unicode in PY3"
Some code change on this side is needed to be compatible with astropy/astropy#9505

(You can assign this to me.)

[2020-03-05 15:30] pllim commented on #1660
I gotta run a bunch of remote data tests for #1666, so I'll fold this into my PR for that.

[2020-03-05 15:35] pllim commented on #1637
This might be fixed by  astropy/astropy#9505

[2020-03-05 15:39] pllim opened #1667 "MNT: Remove Python 2 code"
Things like `from __future__ import ...`, `six`, `class MyClass(object)`, and so on.

p.s. I thought we had an issue for this but I cannot find it. If this is a duplicate, feel free to close.

[2020-03-05 15:40] pllim opened #1668 "Apply APE 17"
See http://docs.astropy.org/projects/package-template/en/latest/ape17.html

[2020-03-05 16:37] bsipocz commented on #1667
I started to work on it locally, ETA is for 4.0 when we switch infrastructure. Hopefully sooner, but we definitely need to get it done by 4.0

[2020-03-05 16:39] pllim commented on #1667
You mean 1.0?

[2020-03-05 16:40] bsipocz commented on #1668
This is part of https://github.com/astropy/astroquery/issues/1604

Basically the new versioning scheme is the only motivation I have for putting in any work for APE17 as otherwise things are working, and I'm somewhat worried about the issues around the version stings not being updated in `versions.py`, that will be a show stopper for us (even though I know the deployments are done on CI from a cle

[2020-03-05 16:41] bsipocz commented on #1667
no, we agreed to call it 4.0 :)

see #1604

[2020-03-05 16:49] bsipocz commented on #1660
for that module or for everything else, too? Would be nice to keep the rest separate if the PR is otherwise conesearch specific

[2020-03-05 16:50] bsipocz commented on #1666
Part of this is in #1669, but I only tended the 🔥s without looking under the hood of the modules.

[2020-03-05 16:54] bsipocz commented on #1637
I still see this error, and arguably I'm on top of astropy master.

[2020-03-05 19:23] pllim commented on #1660
As discussed on Slack, I put just the remote data changes in #1670. It touches all affected modules.

[2020-03-05 20:40] #1660 closed

[2020-03-06 15:49] pllim commented on #1401
I came across this while investigating #1672. Here is more info:

[code]
[code]

The output is obviously CSV, not JSON, but because of the `len` mismatch, you get this error. Hope this helps.

[2020-03-06 15:59] pllim opened #1674 "Simbad query_region time out"
While investigating #1672, I noticed this and I can reproduce this time out locally.
[code]

This is the request payload:
[code]

[2020-03-06 22:39] pllim commented on #1637
Okay, I don't think this is related to the astropy PR. The offending line is

https://github.com/astropy/astroquery/blob/f34e6c92c2cbc44af719a1e1beb578fe4c9de5df/astroquery/heasarc/core.py#L192

It needs to be

[code]

because `content` is `bytes`. The code got here in `_fallback` because this failed

https://github.com/astropy/astroquery/blob/f34e6c92c2cbc44af719a1e1beb578fe4c9de5df/astroquery/he

[2020-03-06 22:49] pllim opened #1675 "MAST: Remote data test failures"
I think some results have changed? cc @ceb8

[code]
[code]

[2020-03-07 01:45] pllim commented on #1675
For `test_catalogs_query_hsc_matchid`, this is what I get locally:
[code]

For `test_tesscut_get_sectors`, the "This should always return no results" is no longer true:
[code]

[2020-03-07 02:20] pllim commented on #1651
While investigating #1672 , I see a similar problem that affects one of the `cadc` remote data tests. I can reproduce it locally like this but not consistently:
[code]
[code]

I was using `pyvo` 1.0 along with dev versions of `astropy` and `astroquery`.

[2020-03-07 20:15] hamogu commented on #1502
I've independently found this, too. The limit seems to be 14 columns.
[code]

[2020-03-08 23:21] Knusper opened #1677 "AtomicLineList query spams UserWarnings about html parser in BeautifulSoup"
Doing atomic line list queries results in a lot of spam output:

Test:

[code]

Results in

and much more like this... and then comes the result...

[2020-03-09 13:05] ceb8 commented on #1675
Yup, I made some bad assumptions about results stability in those tests. This PR addresses the problems: https://github.com/astropy/astroquery/pull/1645/, but also your test fix PR works.

[2020-03-09 13:09] pllim commented on #1675
@ceb8, if #1645 is going to take a while to get merged, I would recommend separate out your test fix as a separate PR and merge that first, if possible. You can close my #1676 as duplicate if that is not the exact fix you are looking for. Thanks!

[2020-03-09 13:10] ceb8 commented on #1675
@pllim OK will do! Yeah, I would prefer my fixes because (fingers crossed) they should be more robust against future changes.

[2020-03-11 21:07] keflavich commented on #1664
ALMA proprietary data download is broken as of today.  The only known solution is to pass auth data with each download file request, which we are not willing to support.

[2020-03-11 21:38] keflavich commented on #1664
Followup: auth-per-query also doesn't work

[2020-03-14 16:50] #1664 closed

[2020-03-18 15:31] PhilippeSalome opened #1681 "stage_data - March 2020 ALMA archive staging modifications"
It seems that the stage_data command does no longer give access to individual fits files as it used to do before.

For example, now, after a stage_data, among the different files returned, one only sees 2018.1.01750.S_uid___A001_X133d_X405e_001_of_001.tar in the example below. But when looking at the ESO/NRAO web interface, this «File»  in fact a directory (not a single file). Inside this director

[2020-03-18 17:07] Titanosaurus opened #1682 "Missmatch between Vizier in Astroquery and real Vizier"
According to Vizier, the _Cntr_ parameter in the 2MASS Catalog, for the star 2MASS J02592142+0018056, is **1139104663**, as can be seen [here](https://vizier.u-strasbg.fr/viz-bin/VizieR-5?-ref=VIZ5e7247cf1643&-out.add=.&-source=II/246/out&2MASS===02592142%2b0018056&-out.orig=o).

If I want to search this value from python using astroquery I would assume that this code would suffice:

[code]
But th

[2020-03-18 17:12] keflavich commented on #1682
Are you certain this `Cntr` number is meant to be consistent between versions of the catalog and is not something internal?

cc @gilleslandais , maybe others from CDS?

[2020-03-18 17:24] Titanosaurus commented on #1682
This `Cntr` number is the unique source identifier in the 2MASS catalogue. I think it has to be somewhere in the Vizier query I did but even enableing all columns I'm unable to find any number that matches with that value.

[2020-03-18 21:30] bsipocz commented on #1682
The issue is that the `Cntr` column is dtyped as int16, and is overflow. So this is definitely a bug.
[code]

Thanks @Titanosaurus for reporting!

[2020-03-18 21:48] mmarsset commented on #1619
Hello, I have installed the latest version (0.4) of astroquery and still get some errors for some ephemeris parameters such as ObsSub-LON.

[2020-03-18 22:17] bsipocz commented on #1619
please reinstall it with `pip install --pre -U astroquery`

[2020-03-19 02:31] mmarsset commented on #1619
Thank you very much, that worked !

[2020-03-19 22:32] Titanosaurus commented on #1682
I'm happy that this was indeed something worth pointing out. Thank you for your work as always.
One last question: is there a way to overcome this issue now? Any advice or idea as to how I should proceed until this is fixed?

[2020-03-20 00:57] bsipocz commented on #1682
I  haven't got the time to look into the details, and could be surprised if there is an easier workaround than fixing the parsing itself.
If you would like to dig into the code, a PR would be welcome!

[2020-03-22 15:27] Gabriel-p opened #1684 "Add constraints (or column_filters) keyword to query_region()"
I was wondering if I could request a *region with constraints* using the [VizierClass](https://astroquery.readthedocs.io/en/latest/api/astroquery.vizier.VizierClass.html). Apparently it can not be done? There is the `query_constraints()` method which queries a *catalog* with constraints, and the `query_region` which queries a region without constraints.

Am I missing something and this in fact can

[2020-03-22 16:03] keflavich commented on #1684
I'm not sure immediately - if it can be done in the web interface, it can be done here, but I'm not sure it can.

[2020-03-23 12:54] Gabriel-p commented on #1684
I checked and indeed it *can* be done using Vizier's interface. For example you can query a region here:

https://vizier.u-strasbg.fr/viz-bin/VizieR-3?-source=I/345/gaia2

and use the constraint `<19.0` for the `Gmag` column. It works as expected as far as I can see. Can this be done with `query_region()`?

[2020-03-23 13:15] keflavich commented on #1684
I think no.  You can query _any catalog_ with constriants:
`Vizier.query_constraints(catalog='I/345/gaia2', Gmag='>19')`

You can query a square region in the catalog:
`Vizier.query_constraints(catalog='I/345/gaia2', Gmag='>19', RA_ICRS='>41.0 & <42.0', DEC_ICRS='>6.0 & <7.0')`

You can query a region in the catalogs without constraints:
`Vizier.query_region(coordinates.SkyCoord.from_name('M81'),

[2020-03-23 13:29] Gabriel-p commented on #1684
Querying a square region of the catalog with `query_constraints()` is as far as I can see identical to querying a square region with `query_region()`. In this case then this feature is already present, right?

[2020-03-23 13:41] keflavich commented on #1684
Yeah, but I don't know if you can query a circular region with the constraints approach.  Also, the keywords you use aren't uniform - they change from catalog to catalog.

[2020-03-25 05:42] ysBach opened #1686 "CompositeUnit from SBDB"
I wanted to query some information for many asteroids and make a DataFrame, but found it very annoying as astroquery uses CompositeUnit:

[code]
The ``df`` looks like this:
![image](https://user-images.githubusercontent.com/17214293/77504930-12a9d280-6ea5-11ea-8cf8-00bc7bef830c.png)

It's fine until here, but I cannot extract the diameters as **useful** numpy ndarray. I tried ``diams.values``, but

[2020-03-26 23:06] bsipocz commented on #1686
Hmm, it should really return a `Table` rather than a dict. Also there seems to be issues with the parsing, as the values shouldn't come up as composite units rather than `Quantity` objects.

@mommermi - can you recall why we are not having a Table, even though the docstring says the return will be a Table, and also whether to be able to look at the parsing issue?

@ysBach - There seems to be legit

[2020-03-27 11:18] iskren-y-g opened #1687 "Can't XMatch two local tables/files"
Hi,

I want to XMatch two local files, or two astropy Tables, however, it seems that cat2 is always expected from a remote url (request)? I tried to set XMatch.URL='file:///path/to/my/file/' or just to provide an astropy table as input to cat2, but neither worked. I get
"No connection adapters were found for ... "

Is there a way around this?

Thanks!

[2020-03-31 12:46] agallenne opened #1690 "load_data don't load"
Hi,

Since about 3 days, the "load_data" function of the Gaia module is not working anymore, it is just stuck or waiting for something. Here is an example:

from astroquery.gaia import Gaia
Gaia.load_data(ids="4085919765884068736", retrieval_type="epoch_photometry")

I have updated the Astroquery package and the Gaia servers are all back up.

[2020-03-31 23:18] timstone-astro opened #1691 "Pull table from Vizier catalog with specific columns request"
Attempting to pull spectrum information from Vizier catalog VI/69. The following code works, but does not return the columns I need:

[code]

When adding columns to the Vizier instantiation:

[code]

Perhaps I'm doing this incorrectly, but fiddler shows the response with the votable coming back with the specified columns. The failure is down in astropy votable parsing. I've given it a half day of

[2020-04-01 15:45] keflavich commented on #1691
This looks like it could be a problem in the underlying votable; we've encountered such issues before.

[2020-04-01 15:48] keflavich commented on #1691
This is the response you got:
[code]

This looks like a problem with the underlying table.

[2020-04-01 15:51] keflavich commented on #1691
Huh, no, it looks like there are duplicate columns being requested...

[2020-04-01 16:08] keflavich commented on #1691
There is an astroquery bug here, but fixing said bug (#1692) doesn't solve the issue; it looks like a real problem with the table.

[2020-04-01 17:02] timstone-astro commented on #1691
I concluded it was likely a problem in the returned table, but couldn't isolate the problem. I've worked around by invoking the web service directly and getting a tsv rather than a votable back.

[2020-04-03 00:48] bsipocz opened #1694 "vectorize Vizier.query_object"
Currently only `query_region` supports vectorized inputs

[2020-04-03 00:50] bsipocz opened #1695 "Add support for names rather than coordinates for Vizier.query_region"
Currently one has to do the name--coordinate resolution outside of the module, would be nice if the method accepts name input (similarly `query_object()`).

However, the Sesame name resolution happens on the server side for `query_object()`, if passing object names via the API, then we can still build in a Simbad query before running the vizier one.

[2020-04-03 01:04] bsipocz commented on #604
Hmm, I've just wanted to open an issue for this for Simbad... Would be very very nice if we were to return coordinates, quantities, tables when it's reasonable

[2020-04-03 01:05] bsipocz commented on #604
(and agree with Tom, that this is purely an astroquery issue, we need to parse the responses into those mixins ourselves here in astroquery)

[2020-04-03 01:51] bsipocz commented on #1687
Does the web interface lets you match two uploaded tables?

[2020-04-03 10:21] iskren-y-g commented on #1687
Yes it does: http://cdsxmatch.u-strasbg.fr/
You just have to upload the tables in their "Tables management" tab, and then select them from the "My store" in the main X-Match tab.
One can always write a function that uses two coordinate columns from two input tables to calculate the distance and given the choice of matching radius make a new table, but why reinventing the wheel ...

[2020-04-03 10:22] taldcroft commented on #604
And of course it will be a good thing if returning a coordinate mixin instead of plain float columns does not break using Table operations like join, vstack etc. => https://github.com/astropy/astropy/pull/9857.  😼

[2020-04-03 16:34] bsipocz commented on #604
oh, I'm certain the astropy PR will be long resolved by the time we get the bottom of this here.

[2020-04-06 05:11] jpdeleon opened #1696 "importing syntax for simbad"
I have a simple question about importing.

Why
[code]
results in `AttributeError: module 'astroquery' has no attribute 'simbad'`,

whereas
[code]
works fine?

I follow the first format and it works fine for e.g. `aq.vizier.Vizier` & `aq.mast.Observations` but does not for `aq.simbad.Simbad`.

[2020-04-06 06:30] bsipocz commented on #1696
The main namespace is not populated, and I'm fairly certain that neither of those you list should work as you suggest.
Please follow the guidelines from the docs of importing the classes that you use explicitly, in this case:
`from astroquery.simbad import Simbad`

[2020-04-07 01:20] jpdeleon commented on #1696
Oh you're right. Thank you. I will follow the importing guideline.

[2020-04-07 01:20] #1696 closed

[2020-04-09 15:33] ceb8 commented on #604
I'll take a stab at this (look out for a WIP PR).

[2020-04-14 14:13] HaralDev commented on #1647
For clarity, this can be fixed by upgrading to the latest astroquery with:

[From #1650](https://github.com/astropy/astroquery/pull/1650#issuecomment-602894197)

[2020-04-16 06:49] #1538 closed

[2020-04-17 08:24] jwoillez commented on #1682
It looks like the this is an upstream issue. The returned votable has the following specification for the `Cntr` column, which explains `dtype=int16`.

    <FIELD name="Cntr" ucd="meta.id;meta.table" datatype="short" width="10">
      <DESCRIPTION>(pts_key) Unique source identifier in catalogue</DESCRIPTION>
    </FIELD>

@gilleslandais Could you please check on your side that `datatype="int"` is

[2020-04-17 09:25] jwoillez commented on #1690
@agallenne Works for me now. Do you confirm?

[2020-04-17 10:05] gilleslandais commented on #1682
Hi...
it is a problem specific to the 2MASS catalogue.
It has been fixed now.

Regards
Gilles Landais (CDS)

Le 17/04/2020 à 10:24, Julien Woillez a écrit :

[2020-04-17 10:18] jwoillez commented on #1682
@Titanosaurus Fixed confirmed for

    from astroquery.vizier import Vizier
    id =  'J02592142+0018056'
    t = Vizier(columns = ['2MASS', 'Cntr']).query_object(id, catalog = ['II/246/out'])[0]
    print(t[t['_2MASS'] == id[1:]]['Cntr'][0])

@gilleslandais Thank you!

@bsipocz @keflavich We can close the issue.

[2020-04-17 10:57] jwoillez commented on #1684
@Gabriel-p @keflavich You can actually do it with the following somewhat terrible syntax:

    v = Vizier(catalog='I/345/gaia2', column_filters={'Gmag': '<19'})
    tables = v.query_region(coordinates.SkyCoord.from_name('M81'), radius=10*u.arcmin)

The documentation can be found there: https://astroquery.readthedocs.io/en/latest/vizier/vizier.html#specifying-keywords-output-columns-and-constraints

[2020-04-17 11:04] jwoillez commented on #1562
@selseyastro This is how astropy tables are printed by default. If you want to see everything in a table use `tbl.pprint(max_width=-1, max_lines=-1)`.

@bsipocz Not a bug, can be closed.

[2020-04-17 11:43] jwoillez commented on #1237
@bsipocz I cannot reproduce this bug with the current version. Close?

[2020-04-17 12:54] #1682 closed

[2020-04-17 12:55] keflavich commented on #1684
Ah, thanks @jwoillez, that's a great example use.  And, yes, we should support this approach - I'll leave this issue open as a feature request.

[2020-04-17 12:56] #1562 closed

[2020-04-17 12:56] keflavich commented on #1237
Closing.  Please open a new issue if you encounter this behavior again.

[2020-04-17 12:56] #1237 closed

[2020-04-17 13:14] agallenne commented on #1690
@jwoillez Yes, with some new warnings, but it works. The problem was apparently generated by the connection to the Gaia cluster database, and not to the python module.

[2020-04-17 15:36] jwoillez commented on #1690
@keflavich @bsipocz Issue can be closed.

[2020-04-17 15:38] #1690 closed

[2020-04-17 17:34] jwoillez commented on #1580
@kjbrooks @Knusper Does clearing your cache at `~/.astropy/cache/astroquery/Eso` help?

[2020-04-17 18:30] Knusper commented on #1580
I have tried other requests recently and it works fine, but I have not actively cleared any cache.  Anyway,  if cache is related,  I might have requested a dataset here for which I previously did not complete the full download... I can try to recreate such a scenario...

[2020-04-17 18:57] saimn commented on #1580
When looking at this piece of code, it seems to me that the `length = None` case is badly handled and can certainly break as shown in the traceback above:
https://github.com/astropy/astroquery/blob/52b490c10074d45f0ed84990fd6cfc07a833ccd4/astroquery/query.py#L286-L308

[2020-04-18 19:32] iamabhishek0 opened #1703 "Incosistency in SBDB.query"
Some of the elements are not converted properly to Units objects and are returned as string objects. For ex- In case of `Ceres` it returns an Unit object and that's what it should be but in case of `2I/Borisov` and `C/1980 E1` it return `str` objects.
[code]

[2020-04-19 02:17] bsipocz commented on #1703
cc @mommermi

[2020-04-19 16:10] PhilippeSalome opened #1704 "ALMA : Stage_data -- pb : retrieve all mousId instead of the specified one"
The case is the following : when there are several MousId in a  GroupOusId; like in the example below, the astroquery stage_data retrieves the products of all the mousId (not only the requested one).

The command below is suppose to grab 'uid://A001/X1354/X5a0’ only, but it lists all the products of the MousId X5a2 and X5a4 too (while this was not requested).

In [5]: from astroquery.alma import A

[2020-04-20 03:05] jd-au opened #1705 "CASDA: Stage and download data products"
Extend the `astroquery.casda` module to add the ability for users to use the returned query (datalinks) to download data.

New functions:
- filter_out_unreleased - Return a subset of the table which only includes released (public) data.
- stage_data - Request access to a set of data files.
- download_files - Download a series of files

[2020-04-20 15:58] keflavich opened #1707 "ALMA: Supports proprietary check now"
From Felix, the ALMA archive has a new feature (not yet deployed):
ICT-16525:getting the proprietary state of an MOUS
[code]

[2020-04-22 07:39] #1684 closed

[2020-04-22 08:00] jwoillez commented on #604
I find this very interesting. The use case for `(_RAJ2000, _DEJ2000)` is obvious. But what about wanting to use e.g. Gaia (http://vizier.u-strasbg.fr/viz-bin/VizieR-3?-source=I/345/gaia2) to populate a table of `SkyCoord` with parallax and proper motions included, taking into account the 2015.5 epoch? There is also this http://cdsweb.u-strasbg.fr/UCD/ functionality provided by Vizier that gives me

[2020-04-22 08:18] bsipocz commented on #604
We can start this gradually with the easy, unambigous cases, e.g simbad always returns ra and dec but as float columns while ideally it should be a SkyCoord, that then can feed into other modules.

[2020-04-22 10:16] jwoillez commented on #1691
Catalog `VI/69` contains two tables: `VI/69/catalog` and `VI/69/refs`. Both tables are filtered to only return the columns specified. Since only `VI/69/catalog` contains these columns, the table returned for `VI/69/refs` has no columns at all, and the parsing by `astropy.table.Table` goes wrong. Per the VOTable standard a table cannot have zero column. See "An empty table without any FIELD/PARAM s

[2020-04-22 12:51] keflavich commented on #1691
I don't know... it would be good if we could catch these cases based on their metadata before sending them to astropy's table parsing to fail.  That's a lot of work for this corner, though.

[2020-04-23 12:08] jwoillez commented on #1691
As you can see, I'm trying a trivial workaround in the votable parser of astropy. Let's see how this is received.

[2020-04-23 19:47] ceb8 opened #1708 "Remove MAST deprecations"
The MAST module includes a number of deprecation warnings that have been around long enough they can be removed entirely.

[2020-04-24 19:34] #1691 closed

[2020-04-26 16:53] jwoillez commented on #1630
@bsipocz Looks like we are waiting on #1635 to progress on this one, correct?

[2020-04-26 17:02] jwoillez commented on #1574
I could not reproduce with the following:

    coo = SkyCoord(280.32640233, 31.04649113, unit='deg')
    Vizier(columns=['*', '+_r'], timeout=60, row_limit=10).query_region(coo, radius=5*u.arcsec, catalog='I/345/gaia2,II/246/out,V/147/sdss12')

Note the `'*'` for one of the columns specifiers.

@bsipocz Should we keep open?

[2020-04-28 13:43] cosmicpudding commented on #968
Just encountered this again, glad to see it is a known issue! In my case I was trying to access "J/MNRAS/485/1188/acccat", which is on Vizier but reports not available on XMatch. Is there a time delay for new catalogues before they are integrated into XMatch and set to available, or are some catalogues missing for some reason?

[2020-04-28 17:24] sbussard opened #1709 "Add PDS support"
NASA PDS has a wealth of planetary data, please add if possible

[2020-04-29 02:55] bsipocz commented on #1709
@sbussard - Thanks for the suggestion. This is not on the roadmap for the near future, but we'll look into how feasible adding support for planetary science data on the longer term.

[2020-04-29 03:00] sbussard commented on #1709
PDS hosts all NASA mission data inside the solar system, excluding Earth.
http://pds.nasa.gov

ESA Planetary Science Archive is also a good resource

[2020-04-29 23:29] #1481 closed

[2020-04-30 00:18] adrn commented on #604
I love this idea!

[2020-05-01 00:19] bsipocz opened #1713 "Add pyvo as dependency"
At this point I think it's clear that pyvo is well maintained and more of our modules will rely on it. So to make life easier, I suggest to make it a required dependency. (We originally said to make that move once the `utils.tap` is factored out and `gaia` will use it, too, but maybe it's not necessarily to stick to that timeline.)

cc @keflavich @ceb8

[2020-05-02 16:41] astrobatty opened #1714 "MAST: Kepler FFIs cannot be found"
I don't know if this issue is related to `astroquery` or MAST API, but Kepler FFIs cannot be downloaded from the location which is given by MAST API.

If I want to access an FFI

[code]
I get the following HTTPError:

![image](https://user-images.githubusercontent.com/45241990/80869887-2d8d1500-8ca3-11ea-92bc-39fbf8ce7268.png)

However, FFIs are available [here]( https://archive.stsci.edu/pub/kepl

[2020-05-04 15:01] ceb8 commented on #1713
I think that sounds reasonable. It will also be a good indication that pyvo is the preferred VO interface for new modules that use VO protocols.

[2020-05-07 16:55] keflavich commented on #800
@jwoillez any ideas on this one, or on who we should contact to find out more?  I don't have time to dig in deeply, and it seems like it needs expert attention from the ESO side.

https://twitter.com/exoplaneteer/status/1258406057552068608 raised this as a still-outstanding issue.

[2020-05-07 18:32] gellule commented on #800
@keflavich I'll have a look tonight, or over the week-end.

[2020-05-07 18:33] jwoillez commented on #800
@keflavich Let me have a look tonight, or over the week-end.

[2020-05-07 19:44] jwoillez commented on #800
For me, the following works:

    from astroquery.eso import Eso

    eso = Eso()
    tbl = eso.query_surveys('HARPS', target="HD203608")
    filenames = eso.retrieve_data(tbl['ARCFILE'][:2])

It is just a matter of documentation.

[2020-05-07 19:55] ntessore opened #1715 "missing column names for SDSS SQL queries to old DRs"
Queries to old SDSS DRs return results where the column names are taken from the first row of data. This happens because the response text in the old DRs does not start with a commented `#Table` line, but rather has the column names on line 1. The first line, however, is skipped by `genfromtxt` in [sdss/core.py:864](https://github.com/astropy/astroquery/blob/cfabf3a3d2de515b851730f26825f961d2bbc2d

[2020-05-07 20:00] ntessore commented on #1715
difference in behaviour:

[code]

[2020-05-07 20:11] jwoillez commented on #800
@keflavich Can you tweet back and see if this explanation is enough, or if we are missing a functionality?

[2020-05-08 16:42] #800 closed

[2020-05-08 16:43] jwoillez commented on #800
FYI, the use case described by @dfm there: https://github.com/astropy/astroquery/pull/1716#issuecomment-625767213 indeed does not work with the current astroquery.

[2020-05-08 16:44] jwoillez commented on #800
@keflavich Should we open a specific issue with @dfm 's use case?

[2020-05-08 16:56] keflavich commented on #800
Sure, that's a good idea - @dfm, would you like to do that?  Is it clearly distinct from this one?

[2020-05-08 17:01] jdavidrcamacho commented on #800
I've been working in a way of searching and downloading reduces spectra using astroquery, you can find it here:
https://github.com/jdavidrcamacho/StarSearch

Its still a work in progress but I'm getting there

[2020-05-08 19:17] scfleming commented on #1714
This is a MAST problem and not an astroquery issue.  I have made a change that should restore access to Kepler FFI's through astroquery.  If you can confirm, then this can be closed.

[2020-05-08 19:29] astrobatty commented on #1714
It works now. Thanks!

[2020-05-08 19:29] #1714 closed

[2020-05-08 20:50] cmillion commented on #1709
This is, in fact, quite difficult for many reasons.

[2020-05-08 21:38] bsipocz commented on #1709
@cmillion @sbussard - Yes, it's indeed extremely difficult, but not impossible (for the very long term).
In my view this cannot be provided and supported with our current development model, but has to come as a contribution either directly from the PDS archive team or by people directly hired by the astroquery team to do the implementation and support (for which we don't have resources, neither aw

[2020-05-08 21:42] cmillion commented on #1709
@bsipocz - I agree with you.

[2020-05-08 21:50] sbussard commented on #1709
What's the usual approach for getting data, and what makes PDS especially difficult?

[2020-05-09 18:18] cmillion commented on #1709
You have asked two extraordinarily complicated questions in remarkably few words.

[2020-05-14 04:52] andamian opened #1719 "More robust file download mechanism in cadc"
If present, the mechanism will use the `content-MD5` or `contentLength` headers to check if file needs to be downloaded and to check the integrity of the downloaded data. It will also implement some basic re-trials on transient HTTP errors.

If it proves generic enough it could be considered for the generic `commons` module.

[2020-05-14 20:42] ceb8 commented on #1714
Hi @astrobatty, sorry to take so long to respond to this. Can you try your code again? I was able to download the file just fine with your code snippet so I think you had the bad luck to try it while the download server was down.

[2020-05-18 14:19] #1174 closed

[2020-05-20 07:57] #1565 closed

[2020-05-20 16:40] Nat1405 commented on #1719
Hi @andamian, you mentioned this might be a particularly tricky fix. I thought it would be a good learning experience to dive into Astropy so I've split the solution up into an `Astropy` [PR](https://github.com/Nat1405/astropy/pull/1) and an `astroquery` [PR](https://github.com/Nat1405/astroquery/pull/1). This felt natural because Astropy already supports file-size based checking and does an md5 h

[2020-05-21 19:02] profjsb opened #1722 "Default to verbose=False upon TapPlus instantiation"
When instantiating a subclass of the `TapPlus` class (e.g. `GaiaClass`), the connection info is printed to stdout:
[code]
Since `Gaia = GaiaClass` and `GaiaClass` is a subclass of `TapPlus` this import statement appears to establish the relevant connections and show them using the default `verbose=True` for `TapPlus`. Since verbose-by-default statements can pollute log files which capture stdout,

[2020-05-21 19:53] bsipocz commented on #1722
I would support this proposal, but let's ping the gaia folks @jcsegovia for their insight

[2020-05-21 19:58] bsipocz commented on #1722
(We have the switch to use tap from pyvo on the roadmap, so some behaviour change will definitely happen)

[2020-05-27 20:55] pllim opened #1725 "TST: I think PEP 8 test now fails"
I noticed it while working on #1724 (though you no longer see it there due to force push after I remove that job because it was out of scope).

I think `flake8` had a new release out that is stricter. Should be easy enough to check locally by using the latest release and run that on the package.

[2020-05-29 00:39] migueldvb opened #1726 "jplhorizons remote tests fail"
The remote tests have been failing for a few days. It seems related with the new ObsSub lon and lat headers, and maybe others too, that where introduced for observer tables recently and cannot be found. I've been in contact with JPL people and will try to figure out what happened.

[2020-05-29 21:46] #1725 closed

[2020-05-30 10:29] PhilippeSalome opened #1730 "alma.stage_data : isProprietary - always True ?"
It seems that the stage_data returns a line with the variable isProprietary = True even when the file is no longer proprietary. Check done : it is indeed possible to download the file from the ASA.

[code]

returns (file line):
[code]

[2020-06-01 11:16] sofiapasquini opened #1731 "HTTP Error 404 For SDSS.get_spectra on BOSS spectra"
Hello!
I am tying to use Astropy.astroquery in a project in order to download spectra from the SDSS database. I am getting the error : HTTP Error 404: Not Found whenever I try to use SDSS.get_spectra() on the matches that I get from query_region() which are spectra taken with the BOSS spectrograph. The code has no problem returning matches from the query, or downloading spectra using SDSS.get_spec

[2020-06-02 17:05] martinBanda opened #1732 "Error in astroquery.mpc"
Hello,
I am trying to use MPC library from astroquery.mpc to get all reported observations (in Minor Planet Center) for the asteroid 137295 (1999 RB216).
The result is different when the asteroid's name (result=38 lines) is used instead of the number (result=333 lines). Could anyone please check if this problem is really happening? if yes, what would be the solution?

[2020-06-05 23:06] bsipocz commented on #1732
Could you please include a complete example of code that would reproduce the issue? Also, please report your astropy and astroquery versions.
Is the main MPC webpage works as you expect for these two cases?

[2020-06-06 00:21] martinBanda commented on #1732
astropy: 4.0
astroquery: 0.4.1.dev0

Below an example:

from astroquery.mpc import MPC

number, name = 137295, '1999 RB216'

obs = MPC.get_observations(number, get_mpcformat=True)
obs2 = MPC.get_observations(name, get_mpcformat=True)

print(len(obs))   #output: 333
print(len(obs2))  #output: 38

There are 333 observations, according the main MPC webpage:
https://minorplanetcenter.net/db_search/sho

[2020-06-08 15:41] keflavich commented on #1730
Well this is strange.  It looks like all of the contents of the tarball are _not_ proprietary, but the parent UID is?  that makes no sense.

[code]

So, this is a real issue, but it's at least partly upstream.  I hope we can circumvent this with the ALMA refactor in #1689

[2020-06-08 15:44] keflavich commented on #1707
This is implemented (#1664, #1665) but broken (#1730)

[2020-06-08 15:44] #1707 closed

[2020-06-08 15:56] PhilippeSalome commented on #1730
Hi,

Thanks for your answer ! This is all very strange. I was wondering whether it could be due to the extension of the proprietary period that ALMA has decided. Maybe ESO/NRAO have changed something in the flags that unexpectedly induces this strange behavior. I was waiting for the end of the period to do the test again and come back to you.

Cheers,
Philippe

[2020-06-08 16:55] Blitzman opened #1735 "ValueError in launch_job"
Hi!

I am launching the following simple query:

[code]

to only fetch 50000 random stars with positive parallax and radial velocity present. I get the following error:

[code]

and I have no clue of what can be going on after a few searches. However, it seems to happen randomly when I request more than 40000 stars.

[2020-06-08 18:50] keflavich commented on #1735
My guess is that there is some missing data in the returned table - or it's an empty table - and we're not catching it neatly.   It might just be a temporary server issue, though.

cc @jcsegovia could you help, or identify the right person to help?

[2020-06-09 03:04] prmaynard opened #1736 "Astroquery appears to have issues with AWS sagemaker"
Hello,
I am currently working on a us-east sagemaker jupyternotebook. Unfortunately I keep running into the same error,

The following throws the error below,

`from astroquery.mast import Observations`

---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
<ipython-input-17-cb5bb4d21530> in <module>

[2020-06-09 11:29] keflavich commented on #1736
Well, that's pretty interesting!  No home directory!

I think this is a more generic astropy issue, though.  @ceb8 , do you have experience w/this from setting up amazon things for MAST?

[2020-06-09 13:40] mjastro opened #1737 "HTTPError: 404 Client Error: for ALMA astroquery"
Hi,

recently somehow alma astroquery doesn't work properly with the following commands,
[code]

all give the following error message :

[code]

"uids" is obtained by doing
[code]
where
[code]

I wonder how I can fix the problem. I am using astroquery 0.4. Severl months ago, with 0.3, it certainly worked though... Thank you in advance for your help!

[2020-06-09 14:30] keflavich commented on #1737
Could you please specify what `**specfied_keywords**` are?  We can't debug this without knowing what parameters cause the problem.

The ALMA remote tests are presently (mostly) passing, so unless the ESO mirror was down, there's no obvious issue here.

Make sure you're on the latest version of astroquery - if you're using a version more than about a month old, it is likely that the ALMA archive in

[2020-06-09 14:32] keflavich opened #1738 "ALMA remote tests: more files disappeared"
One of the ALMA remote tests is now failing because two more files disappeared out of the archive:
[code]

note the frustrated comment above the failing line.  I'll just change this number, but I'm seriously concerned about what this implies for the stability of archival data.

[2020-06-09 15:04] ceb8 commented on #1736
Hmmmmm, that is interesting. I haven't seen this, but I've only ever been working on platforms where the user does have a home directory. Maybe @mustaric has experiences this.

[2020-06-09 15:36] mustaric commented on #1736
I once wrote a AWS lambda function which similarly didn't have a home directory.  I didn't need any of the information that astropy was writing to that directory because I was just using the fits.io.  So I did the following in my import statements:

import warnings
from astropy.utils.data import CacheMissingWarning
from astropy.config import ConfigurationMissingWarning
from astropy.config import I

[2020-06-09 15:39] mustaric commented on #1736
This page might be of some use.
https://docs.astropy.org/en/stable/config/
set the XDG_CONFIG_HOME and XDG_CACHE_HOME to something else, if that is possible.

[2020-06-09 16:25] mjastro commented on #1737
Thanks, I thought that I was on the very latest version, but I was not (0.4). With the 0.4.1.dev0, it worked well. I think this can be closed.

[2020-06-09 16:25] #1737 closed

[2020-06-09 17:01] prmaynard commented on #1736
So I can import get_config_dir but when I run,

`get_config_dir()`

I get back another error message saying it can't find my home directory

![image](https://user-images.githubusercontent.com/55207569/84176517-82b10900-aa4f-11ea-8a64-0b4f6fe2d88c.png)

Admittedly I don't know much about file systems so please forgive any unintended ignorance I have working with UNIX. Here is a bit of the directori

[2020-06-09 19:36] prmaynard commented on #1736
**The resolution for future reference**

Never mind, as it turns out and as @mustaric pointed out, the section from the astropy documentation is prepared for exactly this situation where the home directory is not accessible. For anyone who might come across this in the future I am using amazon sagemaker studio and this is how I was able to use astropy:

1. Create a directory to store the libraries

[2020-06-09 19:36] #1736 closed

[2020-06-12 03:27] bsipocz commented on #1738
This also comes up on the webquery right? So it's more like a serious reproducible issue on the archive side rather than something we can do anything about on our end. So maybe we should just simply require it to be between 150 and 171; report is upstream and call it a day?

[2020-06-12 03:40] #1666 closed

[2020-06-12 03:40] #1471 closed

[2020-06-12 06:37] bsipocz commented on #1110
as pointed out in https://github.com/astropy/astroquery/pull/1649,  the `astrometry_net` module needs to be cleaned up of prints, too.

[2020-06-12 12:13] keflavich commented on #1738
yes, this is upstream.   I want to change it to 169 so we have a log over the years of disappearing data.

[2020-06-14 23:32] crhea93 commented on #1550
Hi,
 I too am getting this problem. I've tried adding `cache=False`, but it isn't changing anything... Has there been any progress on this?

[2020-06-15 14:17] mjastro opened #1740 "ALMA query : "product files" not searched and ReadTimeout problem"
Hi,

 when I tried to download all relevant files for the following ALMA project with Alma.query, I was not able to get 'product' tar files (which are accessible through the original archive portal). Only raw data are downloaded. I was wondering whether this is a problem with the following searching method or not. If I need to specify more options or need to take different commands, could you plea

[2020-06-15 15:13] keflavich commented on #1740
Should that be `2011.0.00064.S`?

Try
[code]

I think this is an issue specific to cycle 0 data, in which the data products distributed are labeled differently from other cycles.

The timeout error is an upstream issue.  You can try increasing the `Alma.TIMEOUT` value, but likely if it doesn't work in 60s, there is simply a connection problem with the ESO servers.

[2020-06-16 06:39] mjastro commented on #1740
Oh, yes, it should be with '.S'.

 Downloading worked with the expand_tarfiles option and by modifying TIMEOUT, thank you so much. I'll close it.

[2020-06-16 06:39] #1740 closed

[2020-06-16 13:17] Blitzman commented on #1735
Bumping this issue up! We also get the same error when requesting <40.000 stars but only sporadically (very uncommon). Thanks!

[2020-06-16 14:19] pllim commented on #1735
Hack the code so that it saves whatever it gets back as plain text file rather than trying to parse. Then see why it is not parsing.

[2020-06-17 14:13] michaelaye opened #1741 "doc example fails with KeyError 'ObsSub-LON'"
[code]
[code]
astroquery version 0.4

[2020-06-17 14:17] michaelaye opened #1742 "Wrong id_type assigned"
[code]
[code]
Should be "majorbody" for a planet according to docs. Or was Venus demoted as well?? ;)

v 0.4

[2020-06-17 14:17] bsipocz commented on #1741
I'll tag a new release later this week week, in the meantime please upgrade astroquery to 0.4.1 as there has been some serverside changes in Horizon meaning v0.4 is not expected to work any more.

``pip install --pre -U astroquery``

[2020-06-17 14:22] michaelaye commented on #1741
Works with 0.4.1.dev0, thanks!

[2020-06-17 14:22] #1741 closed

[2020-06-17 14:24] bsipocz commented on #1742
I'm not sure it ever worked, we don't seem to have a test for it. Might

cc @mkelley

[2020-06-17 14:27] bsipocz opened #1743 "add a note about v0.4 incompability with current jplhorizons server"
v0.4 is not expected to work due to upstream changes. Given that we have a large number of user reports about it, adding a highly visible note box on top of the docs page suggesting updating the version might be helpful.

[2020-06-17 14:51] mkelley commented on #1742
There is no checking of the ID names.  `Horizons(id='Venus', id_type='smallbody')` searches for asteroids named Venus.  `Horizons(id='Venus', id_type='majorbody')` should find the planet.  A major issue with divining `id_type` from `id` is that there is a Jovian satellite (Horizons major body) and an asteroid named Io.  Maybe there are other examples.

[2020-06-17 14:52] michaelaye commented on #1742
i just realized that there is a logic flow bias towards small bodies. It's first trying smallbody, but when I force "majorbody", it replies as designed with confusion info.

[2020-06-17 14:56] mkelley commented on #1742
By number the solar system is biased to small bodies :)  But I concede that major bodies dominate by mass.  Do you recommend a documentation change, changing `id_type` to required, nothing, or something else?

[2020-06-17 16:51] michaelaye commented on #1742
hm, i'd think that searching for an asteroid by default is confusing for a general JPL Horizons tool (which is how this looks from the docs, even so it was funded by sbpy).
I'd wish for it to be neutral, could it not simply return the potentially confusing items always, like it does when I provide "Venus" with id_type="majorbody":

[code]
So, to keep id_type optional, one could return this list wi

[2020-06-17 16:56] bsipocz commented on #1742
Maybe having this brief explanation https://github.com/astropy/astroquery/issues/1742#issuecomment-645423229 would be enough for the docs?

[2020-06-17 18:59] michaelaye commented on #1742
sure, if you want to leave it biased as it is. it will avoid the confusion of what's happening. Doesn't remove the surprise though that a general Horizons interface prefers small bodies?

[2020-06-17 23:46] stargaser commented on #1735
I have seen this `ValueError` before! I think what may be happening is reaching a limit on the number of rows that the service provides as a synchronous query.

I ran your query successfully as an asynchronous query.
[code]
Note that you can get the URL for the job after it finishes, with `job.remoteLocation`, and you can open that up in a web browser...then in a shell you can use `curl` or `wget`

[2020-06-17 23:51] mkelley commented on #1742
@michaelaye I agree that the default of smallbody isn't the best for a general tool.  I'd rather not make immediate breaking change.  @bsipocz, if we go that route would astroquery be OK with a deprecation warning?

Regarding the search, the results you got for Venus are all provided via JPL Horizons via the search query.  I don't think we should go beyond reflecting the Horizons interface functio

[2020-06-18 00:09] michaelaye commented on #1742
i'm not following what happens when you set id_type='majorbody'.
In Horizons (telnet), when i type in "Venus" without anything else, i get what i pasted above. Shouldn't this Horizons interface behave the same?

[2020-06-18 00:15] michaelaye commented on #1742
obviously one shouldn't making breaking changes because one lonely user demands it ;) I'm just thinking what's best for the future. I am teaching REU students this summer and am pushing more and more people to use standardized tools like astropy and what I and others develop around planetarypy, so we are discussing a lot about interfaces to existing web tools these days. and then a Horizons interf

[2020-06-18 00:28] bsipocz commented on #1742
of course, that sounds great. If a quick PR is possible I would wait for it for 0.4.1, which I'm planning to tag today (pending merging and fixing a few stuff).

[2020-06-18 00:29] bsipocz commented on #1742
👍

[2020-06-18 01:00] michaelaye commented on #1742
i agree, but i hope we agree that it currently does NOT reflect the Horizons interface functionality.

[2020-06-18 02:13] bsipocz opened #1744 "vo_conesearch test seemingly runs forever"
The slow one is``astroquery/vo_conesearch/validator/tests/test_validate.py::test_tstquery``. It either needs a fix or to be removed/commented out as in the current form it's blocking the testrun to finish.

I've cancelled it after more than an hour, possibly much longer (at that point all the remote tests were running for 2:02:39)

Edit: Running the tests only for the module the problem is still a

[2020-06-18 02:13] bsipocz commented on #1744
cc @pllim

[2020-06-18 02:32] bsipocz commented on #1726
I suppose we better go ahead with the PR. Please get back to this issue if/when there is any conclusion from talking with the JPL folks.

E.g. the new name output looks a bit weird, will that be the case from now on that named asteroids (and when one queries using the name only) refers back to the temporary designations?

Also, I would keep this issue open even after merging the PR as there are tw

[2020-06-18 02:44] bsipocz opened #1745 "cds tests should not fail without mocpy"
mocpy is an optional dependency, so the cds tests should not fail when it's not available, but should be skipped.

I open the issue as a reminder, as this is not release critical and I might not get to this today before tagging 0.4.1

[2020-06-18 14:17] pllim commented on #1744
An hour?! I thought I have the timeout set to much shorter. Hmm. I'll have a look. Thanks for reporting this and pinging me.

[2020-06-18 18:10] bsipocz opened #1746 "Use keyword only arguments"
Many functionalities in astroquery have numerous arguments. Many of those are optional kwarg atm, and I propose to switch to to be kwarg only. I think that would help

We've seen several cases in the past where adding new kwargs ended in awkwardness as they needed to be added to the last position to keep the API backwards compatible for position arg usage.

- [x] astroquery/alfalfa #2661
- [x] ast

[2020-06-18 20:02] pllim commented on #1744
Are you sure this is the offending test? It is instantaneous locally. And even on Travis, it is not listed. The slowest one reported for this module (and not the slowest overall even) is:
[code]

Locally, here are the top 20 slowest for the `vo_conesearch` module only and the whole suite for that module never exceeded one minute.
[code]

If you have a log of this taking over an hour, can you pleas

[2020-06-18 20:09] bsipocz commented on #1744
is this for remote tests?

[2020-06-18 20:10] pllim commented on #1744
Yes. I ran `pytest astroquery/vo_conesearch/ --remote-data --durations=20`

[2020-06-18 20:11] bsipocz commented on #1744
OK, I'm running it now.

[2020-06-18 20:19] pllim commented on #1744
For the record, I was using astropy 4.0.1.post1, pytest 5.4.1, pytest-remotedata 0.3.2, Python 3.7.7 on Linux. If there is another combo I should try, please let me know. Thanks!

[2020-06-18 20:37] bsipocz commented on #1744
ok, so I've cancelled the run now, meaning it at least took 20-25 mins (no timing info due to the cancelling).
Versions:
[code]

[2020-06-18 20:41] bsipocz commented on #1744
Removing that last test, I have these four failures, too:

[code]

[2020-06-18 20:46] pllim commented on #1744
Can't reproduce it with astropy dev. Creating Python 3.8 env now. But while I do that, just in case you have outdated cache, would you mind removing astroquery cache and run the tests again? Thanks.

[2020-06-18 20:55] bsipocz opened #1748 "Rename and deprecate Observations and ObservarionsClass"
These classes are way to generic, ideally the class name should keep some reference for the module they are coming from.
It currently affects 2 modules, mast and gemini.

[2020-06-18 21:04] bsipocz commented on #1744
hmm, interesting. Now it was still seemingly stuck (see the `^C` in the line, but no failures, and it looks everything was run):
[code]

[2020-06-18 21:04] pllim commented on #1744
Still cannot reproduce it. I cleared the cache, did a fresh env trying to match to yours (not exactly but hopefully close enough, can't change OS though), run with `setup.py test` instead of `pytest`, and still no timeout or failure.

[code]

[2020-06-18 21:18] pllim commented on #1744
Let's try to run the actual code in that reportedly problematic test. Here is what I get:
[code]

Or maybe also see if this URL actually returns anything to your browser:
[code]

You should get a `TapResults.xml` file that you can download. And it should look like this:
[code]

[2020-06-18 21:38] bsipocz commented on #1744
Hmm, now I cannot reproduce. I suppose I might have been on the wrong branch? The seemingly stuck status is still present, but control+C gets back the full status as above, with no failures.

[2020-06-18 21:44] pllim commented on #1744
That's very weird. The only thing I cannot match is the OS and for that, you might need to find another Mac user. 😕

[2020-06-18 21:44] bsipocz commented on #1744
yeah, not a release blocker though, so I'm putting it to the back burner.

[2020-06-18 22:14] bsipocz commented on #1744
hmm, at least it's not just me imaging things, pytest also notice it:
[code]

[2020-06-18 23:56] pllim commented on #1744
I really cannot think of why it would be so slow. It is one simple call to VAO server as I have shown above. And if you cannot reproduce it outside the testing environment, it is even more bizarre.

[2020-06-19 00:02] bsipocz commented on #1744
Outside of tests, your snippet worked as expected

[2020-06-19 00:06] pllim commented on #1744
I also noticed that our astropy_helpers versions are different but that shouldn't matter.

You do have a `hypothesis profile 'default' -> database=DirectoryBasedExampleDatabase('.../.hypothesis/examples')` in your test header and I don't. What does that do? Do you think `hypothesis` is doing something funky with that test function somehow?

[2020-06-19 00:07] pllim commented on #1744
You can also try to run just that one test... though I suspect it won't make a difference.

[2020-06-19 00:43] bsipocz commented on #1744
Yes, the helpers is still on the 2.0.x branch, the python2 cleanup is tbd

[2020-06-19 07:07] #1743 closed

[2020-06-21 20:51] vedantchandra commented on #1731
+1, I have the exact same issue on MacOS, using the latest version of astroquery. I can't seem to download any BOSS spectra.

[2020-06-21 20:58] keflavich commented on #1731
Could you provide a minimum working example?  It seems like an upstream issue, possibly a changed URL.

[2020-06-21 22:58] vedantchandra commented on #1731
Sure, here's the relevant code I use:

[code]

This raises an error at the ``SDSS.get_spectra`` step, saying ``HTTPError: HTTP Error 404: Not Found``

[2020-06-21 22:59] keflavich commented on #1731
what is `table` in this context?

[2020-06-21 23:01] keflavich commented on #1731
I'm asking because I need code I can actually run to test this; I don't know what `obj['plate']`, `obj['mjd']`, or `obj['fiber']` should be to reproduce your specific error.

[2020-06-21 23:03] vedantchandra commented on #1731
Of course, my mistake for not providing a runnable example. This exact code reproduces the error:

[code]

[2020-06-21 23:14] keflavich commented on #1731
The problem here appears to be that BOSS is renamed EBOSS.  However, it looks like the server is returning the wrong data.

As a hack around this, try:
[code]

However, there's not too much we can do about this here, as it is related to an incorrect instrument name in the data returned by `query_specobj`.

[2020-06-22 09:53] vedantchandra commented on #1731
@keflavich That workaround works perfectly! Thank you very much.

[2020-06-22 13:56] smoh commented on #1735
Synchronous queries time out after 30 seconds and currently returns nothing if it fails in that time (which is undesirable but nothing a user can fix). The simplest solution is to run it as async as mentioned above. The randomness probably is dependent on whether it just finishes or not.

I queried the Gaia Helpdesk about this and suggested some error message be returned but I guess it has not bee

[2020-06-23 14:33] PhilippeSalome commented on #1730
Hi,

Just to keep you posted : the extent of the ALMA proprietary period is now over. And unfortunately, the pb remains. I am afraid, you were right. There is a strange proprietary flag value that is returned but not consistent with the real status of the data.

Cheers,
Philippe

[2020-06-24 13:31] mkelley commented on #1742
Let me propose we change the default `id_type` to `None` but keep the same behavior (default is a small-body search).  We also raise a `DeprecationWarning` indicating that this behavior will change in the future to match Horizons: "The system will then try to match against the major body list. If a match is found among the list of major bodies, it will be displayed. If no match is found among the

[2020-06-25 16:31] jvines opened #1752 "Error 500 on Gaia launch_job_async"
Hi!

I've been using astroquery on a project of mine and until yesterday the connection to Gaia was working fine, but now I consistently get an error 500 when trying to use it. I tried reproducing this with [this](https://gea.esac.esa.int/archive-help/tutorials/python_cluster/index.html#Gaia-Python-Tutorial:-Cluster-Analysis) example and the same happened. Is something wrong with the Gaia TAP??

T

[2020-06-25 18:46] afkowalski commented on #1752
I get the same error!

[2020-06-25 18:47] afkowalski opened #1753 "astroquery issue for Gaia cone search"
the Gaia cone search query no longer works. It worked fine yesterday. I've updated all astropy and astroquery packages.
Here's the error resulting from the example provided by astropy's Gaia query:

import astropy.units as u

from astropy.coordinates import SkyCoord

from astroquery.gaia import Gaia

​

coord = SkyCoord(ra=280, dec=-60, unit=(u.degree, u.degree), frame='icrs')

width = u.Quantity(

[2020-06-25 20:56] jvines commented on #1752
@afkowalski seems to be a problem with Gaia TAP itself, as trying to query with the adql directly on the DR2 archive doesn't work

[2020-06-25 21:15] bsipocz commented on #1752
cc @jcsegovia

[2020-06-25 21:37] bsipocz commented on #1753
cc @jcsegovia

[2020-06-29 23:23] Mucephie opened #1754 "SDSS takes specobj_fields but does not query SpecObj"
In the SDSS core class, methods like _query_crossid_async()_ take _specobj_fields_ as an input which consequentially breaks the function as it only searches _PhotObj_ table. _field_names.py_ has default retrieval quantities that include _specobj_ and are read into _sdss.core_ but they too break these methods.

The _query_crossid_async()_  should be finished to utilize the _specobj_fields_ input by

[2020-07-01 13:19] ccossou opened #1755 "Observation.download_product: Unable to use the curl_flag option"
To replicate this bug, I try to download all products of a given proposal:
[code]

The error I get is:
[code]

The file only contain the following value:
[code]

I could download the files directly so I think this is related to the script generation/download process and not the files I query directly.

[2020-07-01 15:15] AllenDowney opened #1756 "Gaia TAP+ documentation out of date?"
I was just working through the examples at

https://astroquery.readthedocs.io/en/v0.3.9/gaia/gaia.html

and it looks like some parts of the API might have changed.

Specifically, in this example:

[code]

It looks like the `get_columns()` method has been replaced with a `columns` property and `get_name()` has been replaced with `name`

So this works for me:

[code]

[2020-07-01 15:26] keflavich commented on #1756
Thanks @AllenDowney.  If I'm reading this right, it's a documentation issue - we'd welcome a pull request to fix it!

[2020-07-01 15:40] AllenDowney commented on #1756
Done: https://github.com/astropy/astroquery/pull/1757

[2020-07-03 08:52] jmontillaud opened #1758 "Failed query depending on field order in astroquery"
Hi,

   I am using astroquery to query Gaia data as follows:

[code]

With this code, I get:

But if I invert the bp and rp bands in the "v1 = ..." line, I get this:

Of course I could just use the order that works, but it depends on the line of sight, so in a loop, sometimes it works, sometimes it does not, and I did not figure out the underlying logic.

Am I doing something wrong or is there som

[2020-07-03 08:54] jmontillaud commented on #1758
Here is the answer kindly provided by Adam Ginsburg (I had initially posted this question on the astropy mailing list):

 Thanks for raising this issue and giving a complete minimum working example.  It would be better posted as an issue on our issue tracker:
https://github.com/astropy/astroquery/issues

That said, I can't reproduce the problem - I get good results with either order.  I suspect yo

[2020-07-03 08:55] jmontillaud commented on #1758
Indeed, removing files from the cache solves the problem.

Thanks !

[2020-07-03 08:56] #1758 closed

[2020-07-06 15:05] lib-j opened #1760 "GaiaClass.ROW_LIMIT prevents effective searching"
The GaiaClass.ROW_LIMIT put in from this PR:
https://github.com/astropy/astroquery/pull/1641

Now limits all queries to return only the top 50 objects. There is no way to adjust this row limit without breaking python conventions over class attributes.

A better solution would be to use this attribute (set to unlimited) as a default to all the search methods, with a parameter to these methods for o

[2020-07-06 15:16] keflavich commented on #1760
What do you mean "breaking python conventions over class attributes"?

You should use a pattern like:
[code]
in the present implementation.

I think I follow the general premise here, and it would be nice to have Gaia behave like Vizier, e.g.:
[code]
but that is presently not implemented.

Note that we will not consider changes to set defaults to "unlimited", as that is more likely to result in da

[2020-07-06 15:40] lib-j commented on #1760
I understand the worries about large queries overloading the servers. However at minimum it should be made clear to the user in the documentation that a default is set and how to override this easily. The current default number being limited to 50 is far too small for general users.

This made understanding the results from your documented examples harder to understand as they return more sources

[2020-07-06 15:47] keflavich commented on #1760
OK, there's a very good point here that the documentation has not kept up with code changes.  There should have been accompanying documentation changes in #1641 that were left out.

Re: constants, it's not clear to me that we violate PEP8; these are class attributes, not global constants.  I've seen class-level constants used in this way in other parts of the python ecosystem, but if we are in vio

[2020-07-06 16:29] lib-j commented on #1760
I wasn't intending to do any documentation PR's; I was only looking through the code to try an understand why my search results were not producing the expected values or the same as what the examples returned, hence raising this issue to prevent other users loosing time trying to figure this out.

On the class attributes they are commonly not capitalised as stated in the PEP8 link.

Cheers for loo

[2020-07-07 05:23] jvines opened #1761 "Vizier.query_region returns an empty table"
Hi,

Something weird is happening, I'm trying to run the following:
[code]
But it keeps returning an empty list, whereas if I change use another set of ra/dec it works correctly. If I use query_region_async I see an error regarding no server found. What could be happening??

Thank you.

[2020-07-07 12:01] odysseus9672 opened #1762 "Ukidss multiple target query_region"
One of the most useful features of the Astroquery Vizier module is the ability to search for multiple targets simultaneously, since it minimizes network traffic/server load. Having a similar capability in the Ukidss module would be very helpful to add, assuming the WFCAM Science Archive supports multi-target searches.

[2020-07-07 12:08] keflavich commented on #1761
This is possibly a case of a bad cached query.

You can try clearing the cache with:
https://docs.astropy.org/en/stable/api/astropy.utils.data.clear_download_cache.html

or by removing files in
~/.astropy/cache/astroquery/Vizier/
(which is the default cache directory)

If that doesn't fix it, please show the exact exception you received.

[2020-07-07 15:46] jvines commented on #1761
Hi @keflavich ,

You're a life saver! Removing the files fixed the problem for me :D
Thank you very very much!

[2020-07-07 18:07] ceb8 commented on #1760
While the capital letter convention does not strictly follow pep8 it is common enough throughout the python ecosystem that I am comfortable leaving it as is. Strict best practice would be to add a getter, but that also seems minor.

The lack of documentation is important, and ideally the function would produce a warning if results have been truncated due to hitting the row limit.

[2020-07-08 06:11] odysseus9672 opened #1763 "Ukidss.list_databases() fails"
When trying to use the `list_databases` method of `Ukidss` I get the following error.

[code]

Both the underlying `all_databases` member and `_get_databases` method are working. The problem appears to be that the `_get_databases` member is returning a list. This should be fixable by replacing line 676 of `wfau/core.py` with:
[code]
or
[code]
This is with Python 3.6 and 3.7 using astroquery 0.4 an

[2020-07-08 08:00] odysseus9672 opened #1764 "Missing import in mast/services.py in astroquery 0.4.1"
Line 207 in the file `mast/services.py` is
[code]
when the code reaches this line it leads to an error:
[code]

`services.py` is missing the `import warnings` line that was in `mast/core.py` for `astroquery` 0.4.

[2020-07-08 12:32] odysseus9672 opened #1765 "Mast: Add column filtering to astroquery.mast.Catalog.query_region"
The `astroquery.mast.Catalogs.query_region` function does not respond to the `columns` keyword argument to allow the user to select a subset of, or different set, of columns to download. Fixing this inconsistency would, hopefully, also allow the user to download data that isn't currently exposed (for example `nuv_fluxerr_auto`). Ideally, it should be possible to get every column described in the <

[2020-07-08 13:48] keflavich commented on #1763
Yep.... this is indeed a bug.  If you want to submit this change as a pull request - ideally with some test coverage, it would be welcome!

[2020-07-08 16:53] Mucephie commented on #1754
For those who are looking for a quick work around, use sdss.query_region() with the appropriate arguments to achieve the same goal of returning both spectro and photometric values, be sure to set 'spectro=True' to ensure a match between spectro and photometric objects.

(https://astroquery.readthedocs.io/en/latest/api/astroquery.sdss.SDSSClass.html#astroquery.sdss.SDSSClass.query_region)

[2020-07-10 07:27] DoctorCronut commented on #1764
Hi @odysseus9672, I'm a university student new open source contributions. Can I pick this one up?

[2020-07-10 13:48] odysseus9672 commented on #1764
@DoctorCronut Sure. I don't care, as long as it gets fixed.

[2020-07-10 16:45] ceb8 commented on #1765
The API which Astroquery uses to query the GALEX catalog does not allow the specification of columns and returns a fixed set of columns. So unfortunately this enhancement is not currently possible.

[2020-07-10 16:45] #1765 closed

[2020-07-10 17:22] bsipocz commented on #1764
@DoctorCronut - 👋 thanks for your interest. #1768 already fixes this issue, so I would suggest to browse the issues for something else to fix. We have a long backlog, so even old issues are still relevant. If you have any question about contributing feel free to ask, or consult the docs we have on contributing (the docs certainly is not complete, so indeed feel free to ask): https://docs.astropy.o

[2020-07-11 16:53] laserkelvin commented on #423
I can take a crack at this!

[2020-07-11 17:34] bsipocz commented on #423
Please do! and feel free to ping me on scipy slack. I'm sprinting with other project today, but happy to help here if there are any issues, questions.

[2020-07-12 15:44] ViviCoder opened #1773 "NASA Exoplanet Archive: test_all_tables fails on 32-bit Debian architectures"
When running tests on a 32-bit architecture, the test `test_all_tables` from `nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive.py` fails.
An exception `OverflowError: Python int too large to convert to C long` is raised and handled during the execution, but it results in an `AstropyWarning`.
Because the test is marked with `@pytest.mark.filterwarnings("error")`, this warning is considered

[2020-07-12 19:41] bsipocz opened #1774 "MNT: switch the linter to flake8"
flake8 is checking for far more things than pycodestyle, we should use it

e.g. it would have picked up #1764

[2020-07-14 08:41] keithini opened #1775 "Parsing non-ascii astroquery.simbad.query_bibcode crashes"
[Edit]: We should be able to parse non-ascii `astroquery.simbad.query_bibcode` results. E.g. `2019PASJ...71...55K`

The original issue reported below has been fixed.

----------------
I have used this function successfuly many times. However it repeatedly crashes when presented with the above bibcode. It reported 👎

[code]
[code]

[2020-07-14 21:33] bsipocz commented on #1775
Interesting, thanks for the report @keithini! I see the same failure, while the payload looks to be a valid script (http://simbad.u-strasbg.fr/simbad/sim-script?submit=submit+script&script=query+bibcode++2019RAA...19..138A)

` '\u2013'` is en dash, and not yet clear how it comes into the picture.

[2020-07-15 09:12] aoberto commented on #1775
Hi, the dash was in the DOI, so I have corrected this in SIMBAD. Anyway, data in SIMBAD are in UTF-8 because we have some greek letters sometimes. For instance, the 2019PASJ...71...55K article got a "alpha" in the title, so all the query methods should be prepared to get UTF-8 data in texts.

[2020-07-16 04:32] odysseus9672 commented on #1762
The task could be done by wrapping the CrossID form on the WFCAM Science Archive: http://wsa.roe.ac.uk:8080/wsa/crossID_form.jsp .

[2020-07-16 17:17] keflavich commented on #1763
Closed by #1766

[2020-07-16 17:17] #1763 closed

[2020-07-16 17:18] keflavich commented on #1764
Closed by #1768

[2020-07-16 17:18] #1764 closed

[2020-07-16 17:19] keflavich commented on #1775
It looks like this was solved upstream, thanks @aoberto.

[2020-07-16 17:21] bsipocz commented on #1775
Keep this open. The one entry has been fixed manually, but the parsing issue @aoberto raised is still valid and is a bug in astroquery.

[2020-07-16 17:21] keflavich commented on #1760
To summarize the current state of this issue:

- [ ] Gaia documentation doesn't clearly specify how you should change the `ROW_LIMIT`
- [ ] Gaia documentation has examples that don't match default behaviors
- [ ] A more convenient mechanism to change the `ROW_LIMIT` would be helpful

[2020-07-18 21:33] jvines commented on #1752
Hi, has there been any progress or development with this? I'm still getting Error 500 from Gaia, apparently from a timeout

This is the stack
[code]

And this is the query
`select gaia.parallax, gaia.parallax_error, gaia.teff_val, gaia.teff_percentile_lower, gaia.teff_percentile_upper, gaia.radius_val, gaia.radius_percentile_lower, gaia.radius_percentile_upper, gaia.lum_val, gaia.lum_percentile_lo

[2020-07-20 20:05] keflavich commented on #1465
notes for future:
[code]

[2020-07-20 20:28] keflavich opened #1777 "XMatch: use votable return"
XMatch provides a votable return type that includes units.  We should default to that.

Example (that doesn't work but conveys the idea):
[code]

[2020-07-22 00:20] olyoberdorf opened #1778 "Gemini: add ability to create a logged in session"
The GOA has user accounts.  It would be helpful to have a login() feature to allow people to use their account when accessing the GOA via astroquery.

[2020-07-22 00:24] olyoberdorf commented on #1778
I am implementing this via a login() method that will add your credentials to the session. This uses the same _login() approach as other modules in astroquery.

For example:

`gemini.Observations.login('someuser', 'somepassword')`

[2020-07-22 02:56] eloubrown opened #1781 "simbad.query_object returns only first row in votable field "fe_h""
I am looking at a large sample of several thousand stars and gathering stellar parameters from GAIA and Pastel databases. For stars not included in those datasets I am using astroquery.simbad to gather data – specifically metallicities. I have added the votable field "fe_h". astroquery.simbad.query_object(target) only returns the first row of the Fe_H catalogue data (Teff, log(g) and Fe/H), even w

[2020-07-24 11:15] jaladh-singhal commented on #1495
Now SVO FPS is included by merging #1498 - thanks to the hard work of @keflavich & @ceb8 on that PR :tada:

[2020-07-24 11:15] #1495 closed

[2020-07-24 14:52] KaraMelih opened #1783 "NED broken connection"
I am trying to query the objects using astroquery.ned and I always get a broken connection error as soon as I go over 0.5 degree radius.

`
from astroquery.ned import Ned
import astropy.units as u
Ned.TIMEOUT=10000000
from astropy.coordinates import SkyCoord

co = SkyCoord(ra=95, dec=-52,  unit=(u.deg, u.deg), frame='fk5')
table = Ned.query_region(co, radius=1*u.deg)
`

I always get the following

[2020-07-24 20:24] #1622 closed

[2020-07-27 10:02] aoberto commented on #1781
Hello,
From SIMBAD, It is quite difficult to give, and parse a list of data (that could have different fields), inside a list of objects. So we have decided, by construction, that SIMBAD will only give the latest entry when querying objects in Votable. I understand, that in your case, it is not very convenient, and It will surely evolve in the future. So I could suggest to use TAP through http://s

[2020-07-29 00:08] Uendert opened #1785 "Querying SDSS galaxy catalogs"
Hi all,

Could someone clarify how to load sdss galaxy catalog?
I just saw examples of loading things like spectra or imagens via matches regions. However, what I want is to load a specific catalog like:
**galaxy_DR12v5_CMASS_North.fits.gz,
random0_DR12v5_CMASS_North.fits.gz.**

Those catalogs can be found in the _SDSS-IV Science Archive Server (SAS)_  (here:https://data.sdss.org/sas/dr12/boss/lss

[2020-07-30 11:13] skiehl opened #1786 "Parsing tables for XMatch not working"
The method `_prepare_sending_table()` in `XMatchClass()` is supposed to convert an astropy.Table input to a CSV-type string. This method is executed by `_query_async()` two times, once for each input table, with i=1 the first time and i=2 the second time. The result should be save accordingly, but the second execution is overwriting the results of the first.

This bug is easy to fix. Lines 126 and

[2020-07-30 11:26] skiehl commented on #1786
The bug fix suggested above actually is not sufficient. The second execution will still overwrite the dictionary saved under `kwargs['files']` during the first execution of the method. `kwargs['files']` has to be set to a dictionary in `_query_async()` before `_prepare_sending_table()` is called. Lines 126 and 129 need to be changed to:
`kwargs['files'][catstr] = ('cat1.csv', fp.read())`
This way

[2020-07-31 15:27] pllim opened #1787 "ENH: Add linkcheck to CI"
As suggested by @bsipocz in https://github.com/astropy/astroquery/pull/1784#discussion_r463344856 .

Might need pinning like https://github.com/astropy/astropy/blob/d9ad8d486e6f792595f7d40bc9951389e5e57992/tox.ini#L82-L86 and then do https://github.com/astropy/astropy/blob/d9ad8d486e6f792595f7d40bc9951389e5e57992/tox.ini#L115 in the `docs` directory. Adapt those to however the CI is set up if you

[2020-08-05 10:14] kpfrang opened #1789 "Vizier.query_constraints fails for uint8"
When trying to select rows based on a column of unsigned integers in `Vizier.query_constraints` it fails. I tested this for the KIC where it always returns an empty `TableList` even if the value definitely exists
[code]
Not selecting based any unsigned integer works fine though as
[code]
gives this result:
[code]

[2020-08-05 14:03] keflavich commented on #1789
@kpfrang does this query work properly in the Vizier web interface?

cc @aoberto this is either something upstream or a problem in how we're sending the constraint.

[2020-08-05 14:13] kpfrang commented on #1789
Yes, I'm able to do this query in the web interface.

[2020-08-07 12:32] mjastro opened #1792 "Alma.query_region can't find some projects"
Hi,

 I guess I am currently using up-to-date the astroquery version (0.4.2.dev0), and I find a little difficulty in finding specific ALMA project that observed a target of interest using astroquery. I could find a project from the latest ALMA archive on the web, with the following searching information of the position and searching radius:
356.6203971  12.7926505, 0.3
which returns me one ALMA pr

[2020-08-07 12:59] keflavich commented on #1792
Thanks for the report @mjastro.  ALMA just changed their archives dramatically last week, and we pushed out a new version to meet their new interface, but there do appear to be bugs.

@andamian can you check this out too?

[2020-08-07 18:15] andamian commented on #1792
Looking into it now.

[2020-08-07 20:21] pllim opened #1793 "Revisit the need for and usage of FileContainer"
As discussed in #1791, there is a need to:

* Revisit the necessity of `FileContainer`. Is there a reason to not just use built-in `astropy.utils.data` functions directly in the query modules?
* Why is the usage of `FileContainer` inconsistent between the different modules in the package?

[2020-08-07 20:38] bsipocz commented on #1793
I take the second question as a rhetoric one, there is a certain level of heterogeneity in the package, and this is not at all an outlier.

[2020-08-10 15:14] privong commented on #1792
I've also been having ALMA archive query issues. But in contrast to @mjastro, issuing the same query (or an analogous one for my source coordinates) fails completely (below I show the same test as @mjastro):

The first invocation returns:
[code]

And repeating the query gives:
[code]

I installed `astroquery` with: ` pip install astroquery==0.4.2.dev6278`

[2020-08-10 15:22] keflavich commented on #1792
@privong you're two versions out of date; you should have `0.4.2.dev6280` .   I'm pretty sure that's the cause of your issue.

[2020-08-10 15:31] privong commented on #1792
@keflavich okay. not sure how i got two versions old since I just updated it before posting. But i upgraded to `dev6280` and am now getting the same issue as @mjastro reported initially (many results in excess of what the web reports).

[2020-08-10 15:59] andamian commented on #1792
`astroquery.alma` is using the ALMA TAP service underneath and I can confirm there's a problem with the spatial querying on that system.

While we are fixing it, you could get access to the data by issuing a direct TAP query (using `query_tap` method). The query that works is: `select proposal_id, s_region, s_ra, s_dec from ivoa.obscore WHERE s_ra < 356.62 + 0.0005 and s_ra > 356.62-0.0005 AND s_d

[2020-08-10 16:53] andamian opened #1794 "Fix utils functions in the alma module"
`astroquery.alma` has been re-factored to use the new TAP services at ALMA but there was not time or resources available to update the functions in `utils` module so this has become a technical debt.

`test_alma_utils.test_make_finder_chart` should be re-enabled when this is fixed.

[2020-08-10 20:15] jbkalmbach opened #1795 "Querying Solar System Object Image Search"
It would be nice to have a new module to access the [Solar System Object Image Search](http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/en/ssois/index.html) service provided by the CADC. Here is some API documentation (https://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/en/ssois/apidoc.html).

[2020-08-10 21:35] bsipocz commented on #1795
cc @andamian and @mommermi

[2020-08-11 01:39] bsipocz opened #1796 "Investigate the usage of github secrets as archive logins"
I think we can use those to store test logins, but it needs to be investigated.

Also, it would be better if it was a login for a test account on the other side, giving only some limited access for testing purposes.

[2020-08-11 22:34] #1785 closed

[2020-08-12 17:14] profjsb commented on #1722
Just a ping on this, @jcsegovia. Switching the default to `False` is still of interest.

[2020-08-14 21:51] andamian commented on #1792
@mjastro & @privong - I've informed ALMA about the problem and I'm waiting to hear from them on the resolution.

[2020-08-17 08:26] gbrammer opened #1797 "mast.Observations.get_product_list returning parent_obsid = 0"
The ``get_product_list`` method of ``astroquery.mast.Observations`` seems to be returning an empty column lately, which breaks the connection between associations(e.g., ``query_object``) and data products (``get_product_list``).  For example:

[code]

I get the same result when I run the direct ``mastQuery`` function described at https://masttest.stsci.edu/api/v0/pyex.html, so it seems to be more

[2020-08-20 08:38] XaviTorello opened #1799 "RTS ONLY for JPL Horizons"
Will be great if the JPL Horizons Ephemerides could deal with RTS (rise-transit-set only)

The CGI uses the `rts_flag` property, but the batch processor seems to need the `R_T_S_ONLY` param.

More details at https://ssd.jpl.nasa.gov/?horizons_doc#rts

[2020-08-20 09:17] XaviTorello opened #1801 "Add optional_settings param to JPL Horizon Ephemerides"
Will be great if we could get some way to inject params to our Ephemerides request.

The goal will be able to change request settings without the need of touching any line of code just passing the desired properties to the Ephemerides request.

I.e will be useful to quickly change the time precision (time digits) to output seconds or fractions of second with just one setting.

It will also support

[2020-08-21 01:18] bsipocz opened #1803 "Change warning to error for authentication failure"
Currently a warning is raised if authentication is failed, but that should be an error.

[2020-08-21 01:53] bsipocz opened #1804 "shapely 1.7.1 causing windows CI failures"
The windows CI install is failing with the following error, while it was working before. The package is pulled in as an indirect dependency, I'll scale back or pin the version umber for the windows testing as a workaround.

shapely 1.7.1 was released today

[code]

[2020-08-21 04:35] bsipocz commented on #1804
Upstream release of windows wheels has fixed this.

[2020-08-21 04:35] #1804 closed

[2020-08-24 18:18] amanpkaur commented on #1087
@keflavich , I am using the latest version of astroquery (0.4.2.dev6304) and I am getting an error similar to @elinor-lev :
`IORegistryError: Format could not be identified based on the file name or contents, please provide a 'format' argument.
'`
The relevant code is:
`mission = 'swiftuvlog'
`
`coords = SkyCoord(ra=107.18696, dec=-70.5000, unit="deg")
`
`table = heasarc.query_region(coords, missi